{% extends 'base.html' %}
{% load text_filters %}
{% load humanize %}

{# this could mirror the titles of yahoo, google and bing more closely, if we want. #}
{% block title %} CourtListener.com / Results / {{ query }} /
    {% if results.paginator.num_pages %}
    Page / {{ results.number }} of {{ results.paginator.num_pages }}
    {% endif %}
{% endblock %}



{% block head %}    
    <link rel="alternate" type="application/rss+xml" title="CourtListener.com search atom feed" href="/feed/search/?q={{ query }}" />
    <link rel="canonical" href="http://courtlistener.com/search/results/{% if query %}?q={{ query }}{% endif %}" />
{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/media/js/jquery-1.6.2.min.js"><\/script>')</script>
    <script type="text/javascript">
       $(document).ready(function() {
           $('.auto-focus:first').focus();
           $('.sidebar-section h3').click(function() {
               $(this).next('.hidden').toggle('fast');
               $(this).next('.shown').toggle('fast');
               $(this).toggleClass('arrow-right-before');
               $(this).toggleClass('arrow-down-before');
           });
           $('#id_sort').change(function() {
               // Makes the sort drop down work when changed.
               $('#search-form').submit();
           });
           $('#id_sort').appendTo('#result-order-chooser-placeholder');
           $('#id_sort').show();
           $('#extra-sidebar-fields').prependTo('#sidebar-facet-placeholder');
           $('#extra-sidebar-fields').show();
           $('#search-form,#sidebar-search-form').submit(function(e){
               // Overrides the submit buttons so that they gather the correct
               // form elements before submission.
               e.preventDefault();
               var refine = $('input[name=refine]:checked').val();
               if (refine == 'new') {
                   // If it's a new query, we only perist the sort order.
                   gathered = $('#id_sort');
               }
               else {
                   // Otherwise, all form fields are persisted.
                   gathered = $('.external-input:not([type=checkbox]),.external-input:checked'); 
               }
               gathered.each(function() {
                  var el = $(this);
                  $('<input type="hidden" name="' + el.attr('name') + '" />')
                      .val(el.val())
                      .appendTo('#search-form');
               });
               document.location = '?' + $('#search-form').serialize();
           });
           $('#id_court_all').click(function() {
               // Makes the check all box (un)check the other boxes
               $("input.court-checkbox:not(:disabled)").attr('checked', $('#id_court_all').is(':checked'));
           });
           $("input.court-checkbox").click(function(){
               if ($('input.court-checkbox:not(:disabled)').not(':checked').length == 0) {
                    // If all checkboxes will be checked once this is checked, check the check all box.
                    $("#id_court_all").attr('checked', true);
               } else {
                   // Else, uncheck the check all.
                   $("#id_court_all").attr('checked', false);
               }
           });
       });
       Modernizr.load({
           // Sets up HTML5 input placeholders in browsers that don't support them.
           test: Modernizr.placeholder,
           nope: '/media/js/placeholder-1.8.6.min.js',
           complete: function () { $('input, textarea').placeholder(); }
       });
    </script>
{% endblock %}


{% block sidebar %}
    <div class="span-5 append-2" id="sidebar">
        {% if not error %}
        <div class="sidebar-section">
            <h3 class="pointer arrow-right-before">Create alert</h3>
            <div id="hidden-create-alert" class="hidden">
                {% if query %}
                   {% if user.is_authenticated %}
                        {% if alertForm.errors %}
                            <div class="span-4 error">
                                <p class="bottom">Please fix the errors below.</p>
                            </div>
                        {% endif %}

                        <form action="" method="post">{% csrf_token %}
                            <p>
                                <label for="id_alertText">Alert query</label>
                                {% if alertForm.alertText.errors %}
                                    <br><span class="errortext">
                                        {% for error in alertForm.alertText.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </span>
                                {% endif %}<br>
                                {{ alertForm.alertText }}
                            </p>
                            <p>
                                <label for="id_alertName">Give the alert a name</label>
                                {% if alertForm.alertName.errors %}
                                    <br><span class="errortext">
                                        {% for error in alertForm.alertName.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {{ alertForm.alertName }}
                            </p>
                            <p>
                                <label for="id_alertFrequency">How often should we notify you</label>
                                {% if alertForm.alertFrequency.errors %}
                                    <br><span class="errortext">
                                        {% for error in alertForm.alertFrequency.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </span>
                                {% endif %}<br>
                                {{ alertForm.alertFrequency }}
                            </p>
                            <p>
                                {{ alertForm.alertPrivacy }}
                                <label for="id_alertPrivacy">This alert is private</label>
                                <label style="color:#000099; font-weight:normal;" title=" - In the future, we may allow users to share their public alerts." href="#" id="q" class="help">[?]</label>
                                {% if alertForm.alertPrivacy.errors %}
                                    <span class="errortext">
                                        {% for error in alertForm.alertPrivacy.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </span>
                                {% endif %}<br>

                            </p>
                            <p>
                                {{ alertForm.sendNegativeAlert }}
                                <label for="id_alertName">Send me an email even when there are no hits</label>
                                {% if alertForm.sendNegativeAlert.errors %}
                                    <span class="errortext">
                                        {% for error in alertForm.sendNegativeAlert.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </span>
                                {% endif %}<br>
                            </p>
                            <button type="submit" class="button title" name="alertSave">Create alert</button>
                        </form>

                    {% else %}
                        {# User is not authenticated #}
                        <p>To get daily alerts for this search, <a href="{%url sign-in%}?next={{request.path}}?q={{query}}&page={{results.number}}">sign in</a> or
                        <a href="{%url register%}?next={{request.path}}?q={{query}}&page={{results.number}}">register</a> as a new user.</p>
                    {% endif %}
                {% else %}
                    {# no query was placed #}
                    <p>To create an alert, place a query or filter the results.</p>
                {% endif %}
            </div>
        </div>

        <div class="sidebar-section">
            <h3 class="pointer arrow-down-before">Refine your search</h3>
            <div class="shown">
                <form action="." method="get" id="sidebar-search-form">
                    <div class="shown" id="sidebar-facet-placeholder"></div>
                  <hr class="space">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}


{% block content %}
    <div class="span-17 last">
        {% if messages %}
            {# TODO: Make sure this works and looks right #}
            <div class="span-17 last">
                {% for message in messages %}
                    <p class="bottom {{message.tags}}">{{message|safe}}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if results.paginator.count > 0 %}
            <h2 id="result-count">{{ results.paginator.count|intcomma }} Result{{ results.paginator.count|pluralize }}</h2>
            <div id="result-order-chooser-placeholder"></div>
            <hr class="space"/>
            {% for result in results.object_list %}
                <article>
                    {% if result.status = "Published" %}
                        <div class="green-circle" title="This is a {{ result.status }} opinion"></div>
                    {% else %} 
                        {% if result.status = "Unpublished" or result.status = "Errata" or result.status = "In-chambers" or result.status = "Relating-to" %}
                            <div class="red-circle" title="This is a {{ result.status }} opinion"></div>
                        {% else %}
                            <div class="orange-circle" title="The status of this opinion is unknown"></div>
                        {% endif %}
                    {% endif %}

                    <h3 class="bottom serif">
                        <a href="{{ result.absolute_url }}?{{ request.META.QUERY_STRING }}" class="visitable">
                            {{ result.solr_highlights.caseName.0|safe }},
                            {% if result.solr_highlights.westCite.0 != '' and result.solr_highlights.westCite.0 != None %}
                                {{ result.solr_highlights.westCite.0 }}
                            {% else %}
                                {{ result.solr_highlights.docketNumber.0 }}
                            {% endif %}
                            ({% if result.court_id != 'scotus' %}{{ result.solr_highlights.court_citation_string.0|safe|nbsp }}&nbsp;{% endif %}{{ result.dateFiled|date:"Y" }})
                        </a>
                    </h3>

                    <p class="bottom">
                        {% if result.download_url or result.local_path %}
                            {% if result.source != 'R' %}
                                <span class="meta-data-header">View Original:</span>
                                <span class="meta-data-value">
                                    {% if result.download_url %}
                                        <a href="{{ result.download_url }}" class="visitable" rel="external noreferrer">From the court</a>
                                    {% endif %}
                                    {% if result.download_url and result.local_path %}
                                        &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {% endif %}
                                    {% if result.local_path %}
                                        <a href="/{{ result.local_path }}" class="visitable">Our backup</a>
                                    {% endif %}
                                </span>
                            {% else %}
                                <span class="meta-data-value"><strong>No downloadable versions.</strong></span>
                            {% endif %}
                        {% else %}
                            <span class="meta-data-value"><strong>No downloadable versions.</strong></span>
                        {% endif %}

                        <span class="meta-data-header">Date Filed:</span>
                        <time class="meta-data-value" datetime="{{ result.dateFiled|date:'Y-m-d'}}" pubdate>
                            {% if result.dateFiled %}
                                {{result.dateFiled|date:"l, F jS, Y"}}
                            {% else %}
                                Unknown date
                            {% endif %}
                        </time>
                    </p>
                    <p class="bottom">
                        {% if result.solr_highlights.westCite.0 != '' and result.solr_highlights.westCite.0 != None and result.solr_highlights.docketNumber.0 %}
                            <span class="meta-data-header">Docket Number:</span>
                            <span class="meta-data-value">{{ result.solr_highlights.docketNumber.0 }}</span>
                        {% endif %}
                    </p>
                    <p>
                        &hellip;{% for frag in result.solr_highlights.text %}
                           {{ frag|safe|underscore_to_space }}&hellip;
                        {% endfor %}
                    </p>
                </article>
            {% endfor %}
        {% else %}
            {% if not error %}
                <h2 class="alt">Your search &mdash; <strong>{{ query }}</strong> &mdash; had no results.</h2>
                <p class="bottom">Search tips:</p>
                <ul>
                    <li>Check your spelling</li>
                    <li>Try fewer filters</li>
                    <li>Remove quotes if you used them</li>
                </ul>
                <p>Did you expect more results than this? If so, <a href="/contact/">let us know</a>! We value your feedback.</p>
            {% else %}
                <h2 class="alt">Your search &mdash; <strong>{{ query }}</strong> &mdash; encountered a <strong>deadly</strong> error.</h2>
                <p class="bottom">This could be because:</p>
                <ul>
                    <li>CourtListener couldn't make sense of your query</li>
                    <li>Our system is down and can't respond</li>
                    <li>Some other reason</li>
                </ul>
                <p>We log these errors and work to resolve them, but if you think we can benefit from your experience, don't hesitate to <a href="/contact/">let us know</a>! We value your feedback.</p>                
            {% endif %}
        {% endif %}

        {% if results.has_previous or results.has_next %}
            <div class="box">
                <div id="pagination-left">
                    {% if results.has_previous %}
                        <h3 class="bottom arrow-left-before">
                            <a href="?{{ get_string }}page={{ results.previous_page_number }}" rel="prev">
                                Previous
                            </a>
                        </h3>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div id="pagination-right">
                    {% if results.has_next %}
                        <h3 class="bottom arrow-right-after">
                            <a href="?{{ get_string }}page={{ results.next_page_number }}" rel="next">Next</a>
                        </h3>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div id="pagination-center">
                    <h3 class="bottom">
                        Page {{ results.number }} of {{ results.paginator.num_pages }}
                    </h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}