{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    {% if request.GET.q %}
        Search Results for {{ request.GET.q }}
    {% else %}
        Free Legal Search Engine and Alert System
    {% endif %} - CourtListener.com
{% endblock %}

{% block head %}
    {% if not error %}
        {% if get_string %}
            <link rel="alternate" type="application/rss+xml" title="CourtListener.com search atom feed" href="/feed/search/?{{ get_string }}" />
        {% endif %}
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for all courts" href="/feed/court/all/">
{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript">
       $(document).ready(function() {
           $('.auto-focus:first').focus();
           $('#id_order_by').change(function() {
               // Makes the sort drop down work when changed.
               $('#search-form').submit();
           });
           $('#id_order_by').appendTo('#result-order-chooser-placeholder');
           {% if results.paginator.count == 0 %}
               {# Hide the ordering drop down if no results #}
               $('#id_order_by').hide();
           {% endif %}
       });
    </script>
{% endblock %}


{% block sidebar %}
    <div class="span-6 append-1 search-page" id="sidebar">
        <div class="sidebar-section" id="source-switcher">
            <h3>
                <label for="id_source_0" class="pointer
                       {% if search_form.source.value == 'o' %}
                            selected
                       {% endif %}">
                    <input {% if search_form.source.value == 'o' %}
                                checked="checked"
                           {% endif %}
                           class="external-input"
                           id="id_source_0"
                           name="source"
                           value="o"
                           type="radio">Opinions</label>
            </h3>
            <h3>
                <label for="id_source_1" class="pointer
                       {% if search_form.source.value == 'oa' %}
                           selected
                       {% endif %}">
                    <input {% if search_form.source.value == 'oa' %}
                               checked="checked"
                           {% endif %}
                           class="external-input"
                           id="id_source_1"
                           name="source"
                           value="oa"
                           type="radio">Oral Arguments</label>
            </h3>
        </div>

        {% if not error %}
        <hr>
        <div class="sidebar-section">
            <h3><span>Refine Your Query</span></h3>
            <form action="/" method="get" id="sidebar-search-form">
                <div id="sidebar-facet-placeholder">
                    {% if not error %}
                        <div id="extra-search-fields">
                            {% include "includes/order_by_dropdown.html" %}
                            <div id="extra-sidebar-fields">
                                {#  Modal is at bottom of results, so it loads last. #}
                                <div class="pointer"
                                     data-toggle="modal"
                                     data-target="#court-picker">
                                    <h4 class="bottom">
                                        Select Jurisdictions <i class="gray fa fa-external-link"></i>
                                    </h4>

                                    <p class="bottom"><span id="jurisdiction-count">{{ court_count_human }}</span>
                                        jurisdictions selected</p>
                                </div>
                                <hr class="space">
                                <h4 class="bottom">Case Name</h4>

                                <p class="bottom span-6">{{ search_form.case_name }}</p>
                                <h4 class="bottom">Judge</h4>

                                <p class="bottom span-6">{{ search_form.judge }}</p>

                                {% if search_form.source == 'o' %}
                                    <hr class="space">
                                    <h4 class="bottom">Precedential Status</h4>
                                    {% for status in status_facets %}
                                        <div class="sidebar-checkbox">
                                            <input
                                                    id="id_{{ status.1 }}"
                                                    type="checkbox"
                                                    name="{{ status.1 }}"
                                                    class="external-input status-checkbox left"
                                                    {% if status.3 %}checked="checked"{% endif %}>
                                            <label
                                                    for="id_{{ status.1 }}"
                                                    class="pointer {% if status.2 == 0 %}gray{% endif %}">
                                                <div>{{ status.0 }}&nbsp;<span
                                                        class="gray small">({{ status.2|intcomma }})</span></div>
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <hr class="space">

                                    <h4 class="bottom">Filed After</h4>
                                    <p class="bottom span-6">{{ search_form.filed_after }}</p>

                                    <h4 class="bottom">Filed Before</h4>
                                    <p class="bottom span-6">{{ search_form.filed_before }}</p>

                                    <hr class="space">

                                    <h4 class="bottom">Citation</h4>
                                    <p class="bottom">{{ search_form.citation }}</p>

                                    <h4 class="bottom">Neutral Citation</h4>
                                    <p class="bottom">{{ search_form.neutral_cite }}</p>
                                {% elif search_form.source == 'oa' %}
                                    <h4 class="bottom">Argued After</h4>
                                    <p class="bottom span-6">{{ search_form.argued_after }}</p>

                                    <h4 class="bottom">Argued Before</h4>
                                    <p class="bottom span-6">{{ search_form.argued_before }}</p>
                                {% endif %}

                                <h4 class="bottom">Docket Number</h4>
                                <p class="bottom">{{ search_form.docket_number }}</p>


                                {% if search_form.source == 'o' %}
                                    <div class="span-5">
                                        {{ search_form.cited_gt }}
                                        {{ search_form.cited_lt }}
                                        <h4 class="bottom inline">Citation Count</h4>
                                        <span type="text" id="citation-count" class="gray small bottom">(Any)</span>
                                    </div>
                                    <div id="slider-range" class="span-5 bottom"></div>
                                {% endif %}

                                <button type="submit"
                                        class="button title span-5"
                                        name="search"><i class="fa fa-search"></i>&nbsp;Search
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
              <hr class="space">
            </form>
        </div>

        <div class="sidebar-section">
            <h3 id="create-alert-header">
                {% if request.GET.edit_alert %}
                    <span>Edit Your Alert</span> <i class="fa fa-pencil gray"></i>
                {% else %}
                    <span>Create an Alert</span> <i class="fa fa-bell gold"></i>
                {% endif %}
            </h3>
            {% if user.is_authenticated %}
                {% if get_string %}
                    {% if not request.GET.edit_alert %}
                        <p>Get regular notifications about this query by creating an alert.</p>
                    {% endif %}
                    <form action="" method="post">{% csrf_token %}
                        {{ alert_form.alertText }}
                        <p class="span-6 append-1">
                            <label for="id_alertName">Give the alert a name</label>
                            {% if alert_form.alertName.errors %}
                                <br><span class="errortext">
                                    {% for error in alert_form.alertName.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            {{ alert_form.alertName }}
                        </p>
                        <p>
                            <label for="id_alertFrequency">How often should we notify you?</label>
                            {% if alert_form.alertFrequency.errors %}
                                <br><span class="errortext">
                                    {% for error in alert_form.alertFrequency.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </span>
                            {% endif %}<br>
                            {{ alert_form.alertFrequency }}
                        </p>
                        <p>
                            {{ alert_form.sendNegativeAlert }}
                            <label for="id_sendNegativeAlert">Send me an email even if there are no new hits</label>
                            <br>
                        </p>
                        {% if request.GET.edit_alert %}
                            {# Used when editing an alert. Because it has class external-input it will get gathered by the JS#}
                            <input class="external-input"
                                   type="hidden"
                                   value="{{ request.GET.edit_alert }}"
                                   name="edit_alert">
                        {% endif %}
                        <button type="submit" class="button title span-5" name="alertSave">
                            {% if request.GET.edit_alert %}Edit Alert{% else %}Create Alert{% endif %}
                        </button>
                        <p class="gray">Some jurisdictions do not yet support alerts. Check
                            <a href="/coverage/#scraped-jurisdictions">our list</a> to be
                            sure your query is supported.</p>
                    </form>
                {% else %}
                    <p>To create an alert, place a query.</p>
                {% endif %}
            {% else %}
                {# User is not authenticated #}
                <p>To get daily alerts for this search, <a href="{% url "sign-in" %}?next={{ request.path }}?{{ get_string|urlencode }}page={{ results.number }}">sign in</a> or
                <a href="{% url "register" %}?next={{ request.path }}?next={{ request.path }}?{{ get_string|urlencode }}page={{ results.number }}">register</a> as a new user.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}


{% block content %}
    <div class="span-17 last search-page">
        {% if messages %}
            <div class="span-17 last">
                {% for message in messages %}
                    <p class="bottom {{message.tags}}">{{message|safe}}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if alert_form.errors %}
            <div class="span-16 last error">
                <p class="bottom">There was an error creating your alert. Please <a href="#create-alert-header">see
                    below</a>.</p>
            </div>
        {% endif %}
        {% if request.GET.edit_alert %}
            <div class="span-16 last notice">
                <p class="bottom span-10">You are currently editing your alert,
                    "<strong>{{ alert_form.alertName.value }}</strong>".</p>
                <p class="bottom span-6 last right"><a href="?{{ get_string_sans_alert }}"><i
                        class="gray fa fa-times" title="Cancel editing and redo the search"></i></a></p>
            </div>
        {% endif %}

        {% if results.paginator.count > 0 %}
            <h2 id="result-count" class="bottom">{{ results.paginator.count|intcomma }} Result{{ results.paginator.count|pluralize }}</h2>
            <div id="result-order-chooser-placeholder"></div>
            <span class="small gray span-17 last top">{{ results.object_list.QTime }}ms</span>
            <hr class="space"/>
            {% include "includes/search_result.html" %}
        {% else %}
            {% if not error %}
                <h2 class="alt">Your search
                    {% if request.GET.q != "" %}
                        &mdash; <strong>{{ request.GET.q }}</strong> &mdash;
                    {% endif %}
                    had no results.</h2>
                <p class="bottom">Search tips:</p>
                <ul>
                    <li>Check your spelling</li>
                    <li>Try fewer filters</li>
                    <li>Remove quotes if you used them</li>
                </ul>
                <p>Our <a href="/coverage/">coverage page</a> details which cases we
                have. If you expected more results than this, <a href="/contact/">let us know</a>!
                We value your feedback.</p>
            {% else %}
                <h2 class="alt">Your search
                    {% if request.GET.q %}
                        &mdash; <strong>{{ request.GET.q }}</strong> &mdash;
                    {% endif %}
                    encountered a <strong>deadly</strong> error.</h2>
                <p class="bottom">This could be because:</p>
                <ul>
                    <li>CourtListener couldn't make sense of your query</li>
                    <li>Our system is down and can't respond</li>
                    <li>Some other reason</li>
                </ul>
                <p>We log these errors and work to resolve them, but if you think we can benefit from your experience, don't hesitate to <a href="/contact/">let us know</a>! We value your feedback.</p>
            {% endif %}
        {% endif %}

        {% if results.has_previous or results.has_next %}
            <div class="box">
                <div id="pagination-left">
                    {% if results.has_previous %}
                        <h3 class="bottom arrow-left-before">
                            <a href="?{{ get_string }}page={{ results.previous_page_number }}" rel="prev">
                                Previous
                            </a>
                        </h3>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div id="pagination-right">
                    {% if results.has_next %}
                        <h3 class="bottom arrow-right-after">
                            <a href="?{{ get_string }}page={{ results.next_page_number }}" rel="next">Next</a>
                        </h3>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div id="pagination-center">
                    <h3 class="bottom">
                        Page {{ results.number }} of {{ results.paginator.num_pages }}
                    </h3>
                </div>
            </div>
        {% endif %}
        {% include "includes/jurisdiction_picker_modal.html" %}
    </div>


{% endblock %}
