{% load humanize %}
{% load widget_tweaks %}

<form action="/" method="get" id="search-form">
    <div id="search-container">
        <table>
            <tbody>
            <tr>
                <td>
                    <input class="{% if count == 0 or error %}auto-focus{% endif %} wide-title"
                           value="{{ search_form.q.value|default:'' }}"
                           name="q"
                           id="id_q"
                           autocomplete="off"
                           type="text"
                           tabindex="5">
                </td>
                <td>
                    <button type="submit"
                            class="button title"
                            name="search"
                            id="search-button"
                            tabindex="6">Search
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="left">
                        <a href="/search/advanced-techniques/" id="advanced" tabindex="8">Advanced</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        {% if not error %}
            <div id="extra-search-fields">
                {{ search_form.sort }}
                <div id="extra-sidebar-fields">
                    <h4 class="bottom">Case name</h4>
                    <p class="bottom span-6">{{ search_form.case_name }}</p>
                    <h4 class="bottom">Judge</h4>
                    <p class="bottom span-6">{{ search_form.judge }}</p>
                    <hr class="space">
                    <h4 class="bottom">United States Courts</h4>

                    <div class="sidebar-checkbox">
                        {{ search_form.court_all }}
                        <label
                                for="id_court_all"
                                class="pointer {% if count == 0 %}gray{% endif %}">
                            {{ search_form.court_all.label }}&nbsp;<span
                                class="gray small">({{ count|intcomma }})</span>
                        </label>
                    </div>

                    <div id="modal-rel">
                        <script>
                            $(function() {
                                $( "#tabs" ).tabs();
                            });
                        </script>
                        <div id="modal-select-jurisdictions" class="span-22">
                            <h2 class="bottom">Select a Jurisdiction</h2>
                            <input type="text" placeholder="Filter jurisdictions">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-1">Federal</a></li>
                                    <li><a href="#tabs-2">State</a></li>
                                    <li><a href="#tabs-3">Bankruptcy</a></li>
                                    <li><a href="#tabs-4">Specialty</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <p><input type="checkbox">First Circuit</p>
                                    <p><input type="checkbox">Second Circuit</p>
                                    <p><input type="checkbox">Third Circuit</p>
                                    <p><input type="checkbox">Fourth Circuit</p>
                                    <p><input type="checkbox">Fifth Circuit</p>
                                    <p><input type="checkbox">Sixth Circuit</p>
                                    <p><input type="checkbox">Seventh Circuit</p>
                                </div>
                                <div id="tabs-2">
                                    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                                </div>
                                <div id="tabs-3">
                                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                                </div>
                                <div id="tabs-4">
                                    <p>More check boxes here.</p>
                                </div>
                            </div>
                            <div class="right">
                                <button>Apply</button>
                            </div>
                        </div>
                    </div>


                    {% for court in court_facets %}
                        <div class="sidebar-checkbox">
                            <input
                                    id="id_{{ court.1 }}"
                                    type="checkbox"
                                    name="{{ court.1 }}"
                                    class="external-input court-checkbox left"
                                    {% if court.3 %}checked="checked"{% endif %}>
                            <label
                                    for="id_{{ court.1 }}"
                                    class="pointer {% if court.2 == 0 %}gray{% endif %}">
                                {{ court.0 }}&nbsp;<span class="gray small">({{ court.2|intcomma }})</span>
                            </label>
                        </div>
                    {% endfor %}

                    <hr class="space">
                    <h4 class="bottom">Precedential Status</h4>
                    {% for status in status_facets %}
                        <div class="sidebar-checkbox">
                            <input
                                    id="id_{{ status.1 }}"
                                    type="checkbox"
                                    name="{{ status.1 }}"
                                    class="external-input status-checkbox left"
                                    {% if status.3 %}checked="checked"{% endif %}>
                            <label
                                    for="id_{{ status.1 }}"
                                    class="pointer {% if status.2 == 0 %}gray{% endif %}">
                                <div>{{ status.0 }}&nbsp;<span class="gray small">({{ status.2|intcomma }})</span></div>
                            </label>
                        </div>
                    {% endfor %}
                    <hr class="space">
                    <h4 class="bottom">Filed From</h4>
                    <p class="bottom span-6">{{ search_form.filed_after }}</p>
                    <h4 class="bottom">Filed To</h4>
                    <p class="bottom span-6">{{ search_form.filed_before }}</p>

                    <hr class="space">
                    <h4 class="bottom">Citation</h4>
                    <p class="bottom">{{ search_form.citation }}</p>
                    <h4 class="bottom">Neutral Citation</h4>
                    <p class="bottom">{{ search_form.neutral_cite }}</p>
                    <h4 class="bottom">Docket Number</h4>
                    <p class="bottom">{{ search_form.docket_number }}</p>

                    <div class="span-5">
                        {{ search_form.cited_gt }}
                        {{ search_form.cited_lt }}
                        <h4 class="bottom inline">Citation Count</h4>
                        <span type="text" id="citation-count" class="gray small bottom">(Any)</span>
                    </div>
                    <div id="slider-range" class="span-5 bottom"></div>

                    <button type="submit"
                            class="button title span-5"
                            name="search">Search</button>
                </div>
            </div>
        {% endif %}
        {# search_form #}
    </div>
</form>
