# Run using `docker-compose up`
version: "3.7"
volumes:
  cl-judge-pics:
  cl-seal-rookery:
networks:
    cl_net_overlay:
        driver: bridge
        external: true
services:
    # Redis for caching
    cl-redis:
        container_name: cl-redis
        image: redis
        ports:
            - "6379:6379"
        networks:
            - cl_net_overlay

    # Database (postgresql)
    # During tests this will be automatically migrated for you, but in regular
    # use, you will have ot migrate it yourself. See DEVELOPING.md
    cl-postgresql:
        container_name: cl-postgres
        ports:
            - "5432:5432"
        image: postgres:11-alpine
        environment:
            POSTGRES_USER: "postgres"
            POSTGRES_PASSWORD: "postgres"
            POSTGRES_DB: "courtlistener"
        networks:
            - cl_net_overlay

    # Search engine
    cl-solr:
        container_name: cl-solr
        image: freelawproject/solr:latest
        ports:
            - "8983:8983"
        # needs chmod 777
        volumes:
            - ${CL_SOLR_CODE_DIR:-../../../courtlistener-solr-server}/data:/var/opt/solr/indices
            - ${CL_SOLR_CODE_DIR:-../../../courtlistener-solr-server}/solr/cores/:/etc/opt/solr:ro
        networks:
            - cl_net_overlay

    # Task Server
    cl-celery:
        container_name: cl-celery
        image: freelawproject/task-server:poetry-bte-wp-1
        depends_on:
            - cl-postgresql
            - cl-redis
            - cl-binary-transformers-and-extractors
            - cl-judge-pics
        volumes:
            - ${CL_BASE_DIR:-../..}/cl:/opt/celery/cl:ro
            - ${CL_POSTGRES_RUN_DIR:-/var/run/postgresql}:/var/run/postgresql
            - ${CL_BASE_DIR:-../..}/cl/assets/media:/opt/celery/cl/assets/media
            - cl-judge-pics:${PYTHON_PACKAGES}/judge_pics
        networks:
            - cl_net_overlay

    cl-django:
        container_name: cl-django
        image: freelawproject/courtlistener-django:poetry-bte-wp-1
        depends_on:
            - cl-postgresql
            - cl-redis
            - cl-celery
            - cl-solr
            - cl-selenium
            - cl-binary-transformers-and-extractors
            - cl-judge-pics
        ports:
            - "8000:8000"
        volumes:
            - ${CL_BASE_DIR:-../../../courtlistener}:/opt/courtlistener
            - ${CL_POSTGRES_RUN_DIR:-/var/run/postgresql}:/var/run/postgresql
            - cl-judge-pics:${PYTHON_PACKAGES}/judge_pics
        networks:
            - cl_net_overlay
        command: >
            bash -c "python /opt/courtlistener/manage.py migrate
            && python /opt/courtlistener/manage.py createcachetable
            && python /opt/courtlistener/manage.py runserver 0.0.0.0:8000"

    cl-selenium:
        container_name: cl-selenium
        image: selenium/standalone-chrome-debug
        ports:
            - 4444:4444  # Selenium
            - 5900:5900  # VNC server
        volumes:
            - ${CL_SHM_DIR:-/dev/shm}:/dev/shm
        networks:
            - cl_net_overlay

    cl-binary-transformers-and-extractors:
        image: freelawproject/binary-transformers-and-extractors:latest
        container_name: "cl-binary-transformers-and-extractors"
        depends_on:
          - cl-seal-rookery
        ports:
          - "5050:5050"
        networks:
          - cl_net_overlay
        volumes:
          - cl-seal-rookery:${PYTHON_PACKAGES}/seal_rookery

    cl-judge-pics:
        image: freelawproject/judge-pics:latest
        container_name: "cl-judge-pics"
        volumes:
          - cl-judge-pics:${PYTHON_PACKAGES}/judge_pics

    cl-seal-rookery:
        image: freelawproject/seal-rookery:latest
        container_name: "cl-seal-rookery"
        volumes:
          - cl-seal-rookery:${PYTHON_PACKAGES}/seal_rookery
