@import 'fonts.css';

@tailwind base;

@layer base {
  :root {
    --nav-menu-width: 222px;
    --profile-menu-width: 228px;
    --mobile-main-padding: theme(spacing.4);
    --padded-full-width: calc(100vw - (2 * var(--mobile-main-padding)));
    --corpus-search-height: theme(spacing.12);
  }
  code {
    @apply font-sans text-sm bg-brand-100 text-brand-600 border border-brand-300 rounded-[2px] px-1;
  }
  select {
    @apply border bg-white py-3 px-3.5 rounded-[10px] text-sm font-medium text-greyscale-900;
  }
  h1 {
    @apply font-cooper text-display-sm font-semibold md:text-display-lg;
  }
  h2 {
    @apply text-display-xs font-semibold text-greyscale-900;
  }
  h3 {
    @apply text-xl font-semibold text-greyscale-900;
  }
  h4 {
    @apply text-lg font-semibold text-greyscale-900;
  }
  ul {
    @apply list-disc pl-6;
  }
  ol {
    @apply list-decimal pl-6;
  }
  blockquote {
    @apply border-l-4 border-l-greyscale-200 pl-6 py-2 text-xl font-normal first-of-type:mt-2 [&_blockquote:last-of-type]:-mb-2;
  }
  table {
    @apply table;
  }
  tr {
    @apply has-[th[scope="col"]]:bg-greyscale-100 has-[th[scope="col"]]:rounded-lg w-full border-b border-greyscale-200 text-sm font-normal;
  }
  th {
    @apply p-2 text-start text-greyscale-700 font-normal;
  }
  td {
    @apply p-2;
  }
  [x-cloak] {
    display: none !important;
  }
  input[type="checkbox"] {
    @apply relative appearance-none flex-shrink-0 w-5 h-5 rounded border border-greyscale-300 bg-white;
    @apply checked:border-primary-600 checked:bg-primary-600 indeterminate:border-primary-600 indeterminate:bg-primary-600;
    @apply focus-visible:outline focus-visible:outline-[3px] focus-visible:outline-offset-4 focus-visible:outline-primary-600/60;
    @apply disabled:border-greyscale-300 disabled:bg-greyscale-100 disabled:checked:bg-greyscale-100 forced-colors:appearance-auto;
    @apply before:absolute before:inset-0 before:m-auto before:w-4 before:h-4;
    @apply before:bg-white before:scale-0 checked:before:scale-100 before:transform before:duration-150;
  }
  input[type="checkbox"]::before {
    mask: url("/static/svg/check_thick.svg") no-repeat center/contain;
  }
}

@tailwind components;

@layer components {
  .btn {
    @apply py-2.5 px-3.5 rounded-lg w-fit text-sm font-normal flex gap-1 items-center;
  }
  .btn-primary {
    @apply btn text-white bg-primary-600 hover:bg-primary-700 outline-none focus-visible:ring-4 focus-visible:ring-primary-300 disabled:bg-primary-100 disabled:text-primary-400;
  }
  .btn-outline {
    @apply btn text-greyscale-700 hover:bg-greyscale-100 border outline-none border-greyscale-300 focus-visible:ring-4 focus-visible:ring-greyscale-200 disabled:border-greyscale-200 disabled:text-greyscale-400;
  }
  .btn-dark {
    @apply btn text-white bg-greyscale-900 hover:bg-greyscale-800 outline-none focus-visible:ring-4 focus-visible:ring-greyscale-400 disabled:bg-greyscale-400 disabled:text-greyscale-200;
  }
  .btn-ghost {
    @apply btn hover:bg-greyscale-100 focus-visible:ring-4 focus-visible:ring-greyscale-200 disabled:text-greyscale-400;
  }
  .btn-grey {
    @apply btn bg-greyscale-100 hover:bg-greyscale-200 focus-visible:ring-4 focus-visible:ring-greyscale-200 disabled:text-greyscale-400 disabled:bg-greyscale-50;
  }
  .banner {
    @apply flex flex-col gap-4 rounded-2xl bg-greyscale-100 border-2 border-greyscale-200 justify-between;
  }
  .textbox {
    @apply text-md font-normal py-3 px-4 rounded-[10px] border border-greyscale-300;
  }
  .skip-link {
    @apply transition-[opacity,transform] ease-in-out pointer-events-none focus-visible:pointer-events-auto top-0 left-0 bg-primary-600 text-white absolute p-2 m-2 -translate-y-24 focus-visible:translate-y-0 focus-visible:opacity-100 opacity-0 focus-visible:ring focus-visible:ring-primary-900 focus-visible:outline focus-visible:outline-primary-900 z-50;
  }
  .input-text {
    @apply border border-greyscale-200 rounded-lg h-10 py-2.5 px-3;
  }
}

@tailwind utilities;

@layer utilities {
  .btn-xl {
    @apply py-3 px-4.5 text-md;
  }
  .lead {
    @apply text-xl text-greyscale-700 font-normal;
  }
  .focus-container {
    @apply [&:has(*:focus)]:outline [&:has(*:focus)]:outline-2 [&:has(*:focus)]:outline-primary-600 flex;
  }
}
