/*Disclosure Table Viewer CSS*/

.disclosure-page .fa-exclamation-triangle {
  font-size: 100px;
}

.search-panel-table {
  position: absolute;
  z-index: 9;
  background: white;
  padding: 10px;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 6px #8b8b8b;
}

.table-parent {
  position: relative;
}

/*Disclosure List Homepage CSS*/
.judge-pic {
  margin-top: 10px;
  min-width: 64px;
  min-height: 64px;
  max-width: 250px;
}

.tr-results {
  padding: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid lightgrey;
  border-radius: 10px;
}

.tr-results:last-child {
  border-bottom: 0;
}

.table-instant-results {
  position: absolute;
  z-index: 9;
  box-shadow: 3px 3px 6px #8b8b8b;
  margin-top: 42px;
  width: 100%;
}

#main-query-box .table-instant-results {
  border-radius: 10px;
  background: white;
  width: 100%;
}

#main-query-box {
  text-align: center;
}

#id_disclosures_search {
  border-radius: 4px;
}

.table-parent .table-instant-results {
  border-radius: 10px;
  background: white;
}

.table-instant-results > tbody {
  background: white;
  border-radius: 10px;
}

tr.tr-results:hover {
  background-color: whitesmoke;
  border-radius: 10px !important;
}

tr.tr-results > td {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}

.table-row-link {
  text-decoration: none;
  color: black;
}

.table-instant-results {
  border-radius: 10px;
  background: white;
}

.table-instant-results > tbody {
  background: rgba(255, 255, 255, 0);
}

td.table-data-portrait {
  max-height: 50px;
}

.missing-judge {
  font-size: 40px;
  border: 1px solid;
  margin: 0;
  padding: 12px;
}

.judge-name {
  font-size: 20px;
}

.search-input-judges {
  width:75%;
}

.sidebar-search > #main-query-box > form > #search-container > .search-input-judges {
  width: 100%;
}

.sidebar-search > #main-query-box > form > #search-container > .search-input-judges > table{
  margin-top: 32px;
}

.sidebar-search > #main-query-box {
  margin-top: 0;
}

#update_page_size {
  padding-left: 16.6%
}

#loader {
  text-align: center;
  display: block;
}
