{% if rd.is_sealed %}
  <div class="col-sm-12 alert-danger alert">
    <p class="bottom">
      <i class="fa fa-ban"></i> This item is unavailable in PACER. This is usually caused by the court sealing the document.
    </p>
  </div>
{% else %}
  <div id="doc-no-available-warning" class="flex flex-column flex-sm-row row-gap-3 alert-warning alert justify-content-between">
    <div class="col-sm-12">
      <p class="bottom">This item is not yet in the RECAP collection.
      </p>
    </div>
    <div class="col-sm-12 flex flex-row gap-2 justify-content-end">
      {% if rd.pacer_url %}
        <a class="btn btn-primary btn-sm"
           href="{{ rd.pacer_url }}"
           rel="nofollow noopener noreferrer"
           target="_blank"><i class="fa fa-dollar"></i>&nbsp;Buy on PACER</a>
      {% endif %}
      {% if not request.COOKIES.recap_install_plea %}
        <a href="https://free.law/recap/"
           class="btn btn-success btn-sm recap_install_plea">Install RECAP</a>
      {% endif %}
      <div class="prayer-button">
        {% include "includes/pray_and_pay_htmx/pray_button.html" with prayer_exists=rd.prayer_exists document_id=rd.id count=rd.prayer_count regular_size=True%}
      </div>
    </div>
  </div>
{% endif %}
