{% load text_filters %}

<ul>
  {% for authority in authorities %}
  <li>
    {% if docket %}
    <a href="/?type=r&q=docket_id%3A{{ docket.pk }}%20AND%20cites%3A({{ authority.cited_opinion.cluster.sub_opinions.all|OR_join }})">
    {% endif %}
      {{ authority.depth }} reference{{ authority.depth|pluralize }}
    {% if docket %}
    </a>
    {% endif %}
    to
    <a href="{{ authority.cited_opinion.cluster.get_absolute_url }}{% querystring %}" {% if authority.blocked %}rel="nofollow" {% endif %}>
      {{ authority.cited_opinion.cluster.caption|safe|v_wrapper }}
    </a>
    <br />
    <span class="bullet-tail">{{ authority.cited_opinion.cluster.docket.court }}</span>
    <span class="bullet-tail">{{ authority.cited_opinion.cluster.date_filed }}</span>
  </li>
  {% endfor %}
</ul>
