<div id="modal-note-illinois-court"
     class="modal hidden-print"
     role="dialog"
     aria-hidden="true"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="alert-heading text-center">A Note on Illinois&nbsp;Opinions</h2>
        <p class="bottom text-justify">Illinois opinions may be withdrawn after publication. Although this is rarely done, we recommend reviewing <a class="alert-link" href="https://www.illinoiscourts.gov/top-level-opinions/#opinionCaution">the court website</a> if you need to verify that this opinion has not been withdrawn.</p>
        <br />
        <div class="clearfix">
          <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
