{% load extras %}
{# show the admin tools if applicable #}
{% if perms.search.view_docket or perms.search.change_docket or perms.search.delete_docket or perms.search|has_any_perm:admin_perm_names.entry or perms.search|has_any_perm:admin_perm_names.document %}
  <div class="sidebar-section">
    <h3><span>Admin</span></h3>
    <p>
      {% if d %}
        {% if perms.search.view_docket or perms.search.change_docket or perms.search.delete_docket %}
          <a
            href="{% url 'admin:search_docket_change' d.pk %}"
            class="btn btn-primary btn-xs">Docket</a>
        {% endif %}
      {% endif %}
      {% if de %}
        {% if perms.search|has_any_perm:admin_perm_names.entry %}
          <a
            href="{% url admin_url_names.entry de.pk %}"
            class="btn btn-primary btn-xs">Docket Entry</a>
        {% endif %}
      {% endif %}
      {% if rd %}
        {% if perms.search|has_any_perm:admin_perm_names.document %}
          <a href="{% url admin_url_names.document rd.pk %}"
             class="btn btn-primary btn-xs">{{ admin_document_label }}</a>
        {% endif %}
      {% endif %}
    </p>
  </div>
{% endif %}
