{# show the admin tools if applicable #}
{% if perms.search.view_recapdocument or perms.search.change_recapdocument or perms.search.delete_recapdocument or perms.search.view_docketentry or perms.search.change_docketentry or perms.search.delete_docketentry or perms.search.view_docket or perms.search.change_docket or perms.search.delete_docket %}
  <div class="sidebar-section">
    <h3><span>Admin</span></h3>
    <p>
      {% if d %}
        {% if perms.search.view_docket or perms.search.change_docket or perms.search.delete_docket %}
          <a
            href="{% url 'admin:search_docket_change' d.pk %}"
            class="btn btn-primary btn-xs">Docket</a>
        {% endif %}
      {% endif %}
      {% if de %}
        {% if perms.search.view_docketentry or perms.search.change_docketentry or perms.search.delete_docketentry %}
          <a
            href="{% url 'admin:search_docketentry_change' de.pk %}"
            class="btn btn-primary btn-xs">Docket Entry</a>
        {% endif %}
      {% endif %}
      {% if rd %}
        {% if perms.search.view_recapdocument or perms.search.change_recapdocument or perms.search.delete_recapdocument %}
          <a href="{% url 'admin:search_recapdocument_change' rd.pk %}"
             class="btn btn-primary btn-xs">RECAP Document</a>
        {% endif %}
      {% endif %}
    </p>
  </div>
{% endif %}
