<div class="btn-group v-offset-below-3 v-offset-above-1">
  {% if document.is_available %}
    <a href="/{{ document.filepath_local }}"
       role="button"
       class="btn btn-primary">Download PDF&nbsp;<i
      class="fa fa-file-pdf-o"></i>
    </a>
    <button type="button"
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="/{{ document.filepath_local }}">From
          CourtListener</a>
      </li>
      {% if document.filepath_ia %}
        <li>
          <a href="{{ document.filepath_ia }}">From
            Internet Archive</a>
        </li>
        <li role="separator" class="divider"></li>
      {% endif %}
      {% if document.pacer_url %}
        <li>
          <a href="{{ document.pacer_url }}"
             target="_blank"
             rel="nofollow">Buy on PACER</a>
        </li>
      {% endif %}
    </ul>
  {% else %}
    {# We don't have it #}
    {% if document.is_sealed %}
      <span class="btn btn-primary disabled">This Item is Sealed</span>
    {% else %}
      {% if document.pacer_url %}
        <a href="{{ document.pacer_url }}"
           class="btn btn-primary"
           target="_blank"
           rel="nofollow"><i class="fa fa-external-link"></i> Buy on PACER</a>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
