<div class="btn-group">
  {% if rd.is_available %}
    <a href="{{ rd.filepath_local.url }}"
       role="button"
       class="btn btn-primary">Download PDF&nbsp;<i
      class="fa fa-file-pdf-o"></i>
    </a>
    <button type="button"
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ rd.filepath_local.url }}">From
          CourtListener</a>
      </li>
      {% if rd.filepath_ia %}
        <li>
          <a href="{{ rd.filepath_ia }}">From
            Internet Archive</a>
        </li>
        <li role="separator" class="divider"></li>
      {% endif %}
      {% if rd.pacer_url or '-' in rd.pacer_doc_id%}
        <li>
            <a href="{{ rd.pacer_url }}"
              {% if '-' in rd.pacer_doc_id %}
                data-toggle="modal" data-target="#modal-buy-acms"
                class="open_buy_acms_modal"
              {% elif not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
                data-toggle="modal" data-target="#modal-buy-pacer"
                class="open_buy_pacer_modal"
              {% endif %}
              target="_blank"
              rel="nofollow">
              {% if '-' in rd.pacer_doc_id %}Direct Link Unavailable{% else %}Buy on PACER{% endif %}
            </a>
        </li>
      {% endif %}
    </ul>
  {% else %}
    {# We don't have it #}
    {% if rd.is_sealed %}
      <span class="btn btn-primary disabled">This Item is Sealed</span>
    {% else %}
      {% if rd.pacer_url or '-' in rd.pacer_doc_id%}
        <a href="{{ rd.pacer_url }}"
          {% if '-' in rd.pacer_doc_id %}
            data-toggle="modal" data-target="#modal-buy-acms"
            class="disabled open_buy_acms_modal btn btn-primary"
            style="pointer-events: all;"
          {% elif not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
            data-toggle="modal" data-target="#modal-buy-pacer"
            class="open_buy_pacer_modal btn btn-primary"
          {% else %}
            class="btn btn-primary"
          {% endif %}
          target="_blank"
          rel="nofollow">
          <i class="fa fa-external-link"></i>
          {% if '-' in rd.pacer_doc_id %}Direct Link Unavailable{% else %}Buy on PACER{% endif %}
        </a>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
