<h3>
  {% if rd.description %}{{ rd.description }}
    <span class="gray">&mdash;</span>
  {% endif %}
  Document #{{ rd.document_number }}{% if rd.document_type == rd.ATTACHMENT %}, Attachment #{{ rd.attachment_number }}{% endif %}
</h3>
<h4>{{ rd.docket_entry.docket.court }}</h4>
<p class="bottom">
  <span class="meta-data-header">Docket Number:</span>
  <span class="meta-data-value">
    <a href="{{ rd.docket_entry.docket.get_absolute_url }}">
        {{ rd.docket_entry.docket.docket_number }}
    </a>
  </span>
</p>
{% if rd.docket_entry.date_filed %}
<p class="bottom">
  <span class="meta-data-header">Date Filed:</span>
  <span class="meta-data-value">
    {{ rd.docket_entry.date_filed|date:"F jS, Y" }}
  </span>
</p>
{% endif %}
{% if rd.date_upload %}
<p class="bottom">
  <span class="meta-data-header">Uploaded:</span>
  <span class="meta-data-value">
      {{ rd.date_upload|date:"F jS, Y" }}
  </span>
</p>
{% endif %}

<div class="v-offset-below-3 v-offset-above-1">
  <div class="btn-group">
    <button id="add-note-button"
     class="btn {% if note_form.instance.recap_doc_id %}btn-warning{% else %}btn-success{% endif %} pointer hidden-print"
     data-toggle="modal"
     data-target="#modal-save-note, #modal-logged-out"
     title="{% if note_form.instance.recap_doc_id %}Edit this note{% else %}Save this record as a note in your profile{% endif %}">
      <i class="fa fa-bookmark "></i> <span>{% if note_form.instance.recap_doc_id %}Edit Note{% else %}Add Note{% endif %}</span></button>
  </div>
  {% include "includes/rd_download_button.html" %}
  {% include "includes/rd_doc_search_button.html" %}
</div>
