{% extends "base.html" %}
{% load humanize %}
{% load partition_util %}
{% load cache %}
{% load static %}
{% load waffle_tags %}

{% block title %}
    Judicial Financial Disclosures Database – CourtListener.com
{% endblock %}
{% block og_title %}
    Judicial Financial Disclosures Database – CourtListener.com
{% endblock %}
{% block description %}
    The Judicial Financial Disclosures Database at CourtListener.com contains {{ disclosure_count|intcomma }} financial disclosure forms and is the largest collection online.
{% endblock %}
{% block og_description %}
    The Judicial Financial Disclosures Database at CourtListener.com contains {{ disclosure_count|intcomma }} financial disclosure forms and is the largest collection online.
{% endblock %}

{% block navbar-fd %}active{% endblock %}

{% block footer-scripts %}

  <script type="text/javascript"
          src="{% static "js/react/main.js" %}"></script>
  <script type="text/javascript"
          src="{% static "js/react/vendor.js" %}"></script>

{% endblock %}

{% block content %}
    <div id="financial_disclosures_homepage" class="col-xs-12 v-offset-above-4">
    {% flag "financial-disclosures" %}
      <div id="react-root"></div>
    {% else %}
      <h1 class="text-center">Judicial Financial Disclosures Database</h1>
      <h3 class="text-center v-offset-below-2">Coming soon. <i class="fa fa-gift"></i></h3>
      <p class="text-center v-offset-below-7"> <a href="https://free.law/2021/09/28/announcing-federal-financial-disclosures/" class="btn btn-default ">Learn More</a> </p>
    {% endflag %}
    </div>
{% endblock %}
