{% extends "base.html" %}
{% load humanize %}
{% load partition_util %}
{% load cache %}
{% load static %}
{% load waffle_tags %}

{% block title %}
    Judicial Financial Disclosures Database – CourtListener.com
{% endblock %}
{% block og_title %}
    Judicial Financial Disclosures Database – CourtListener.com
{% endblock %}
{% block description %}
    The Judicial Financial Disclosures Database at CourtListener.com contains {{ disclosure_count|intcomma }} financial disclosure forms and is the largest collection online.
{% endblock %}
{% block og_description %}
    The Judicial Financial Disclosures Database at CourtListener.com contains {{ disclosure_count|intcomma }} financial disclosure forms and is the largest collection online.
{% endblock %}

{% block navbar-fd %}active{% endblock %}

{% block footer-scripts %}

  <script type="text/javascript"
          src="{% static "js/react/main.js" %}"></script>
  <script type="text/javascript"
          src="{% static "js/react/vendor.js" %}"></script>

{% endblock %}

{% block content %}
    <div id="financial_disclosures_homepage" class="col-xs-12 v-offset-above-4">
      <div id="react-root"></div>
    </div>
{% endblock %}
