{% extends "base.html" %}
{% load extras %}
{% load admin_urls %}
{% load staticfiles %}

{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block og_title %}{{ title }} – CourtListener.com{% endblock %}
{% block description %}{{ title }} – CourtListener.com{% endblock %}
{% block og_description %}{{ title }} – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock sidebar %}

{% block search-form %}
    {% include "includes/main_query_box.html" with homepage=False type="p" %}
{% endblock %}

{% block content %}
    <div class="col-xs-12">
         <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                {% if person.has_photo %}
                    <h2>
                    {% with "judge_pics/"|add:person.name_last|add:"-"|add:person.name_first|lower as img_path %}
                        {% if person.date_dob %}
                            <img src="{% static img_path %}-{% granular_date person 'date_dob' default="" iso=True %}.jpeg"
                        {% else %}
                            <img src="{% static img_path %}.jpeg"
                        {% endif %}
                         alt="Portrait of {{ person.name_full }}"
                         width="256"
                         class="img-responsive v-offset-above-2"
                        />
                    {% endwith %}
                    </h2>
                {% else %}
                    <div class="well">
                        <p class="text-center v-offset-above-3">Have a portrait of {{ person.name_full }} {{ person.name_suffix }}you can share?
                        </p>
                        <p class="text-center v-offset-above-3 v-offset-below-6">
                            <a href="https://github.com/freelawproject/judge-pics/blob/master/README.md" class="btn btn-primary">Send It In</a>
                        </p>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-9">
                <h2 class="bottom">
                    {{ title }}
                    {% if perms.people_db.change_person %}
                        <p class="float-right">
                            <a href="{% url 'admin:people_db_person_change' person.id %}"
                               class="btn btn-primary btn-xs">Edit&nbsp;Person&nbsp;<i
                                    class="fa fa-pencil"></i>
                            </a>
                        </p>
                    {% endif %}
                </h2>
                <span class="small gray top">
                    CourtListener ID: {{ person.cl_id }}{% if person.fjc_id %}, FJC ID: <a href="http://www.fjc.gov/servlet/nGetInfo?jid={{ person.fjc_id }}">{{ person.fjc_id }}</a>{% endif %}
                </span>

                <div class="row v-offset-below-3">
                    <div class="col-xs-12">
                        <h3><i class="gray fa fa-info"></i> Biographical Information</h3>
                        <hr class="top">
                    </div>
                    {% if person.date_dob or person.dob_city or person.dob_state or person.date_dod or person.dod_city or person.dod_state%}
                    <div class="col-xs-12 col-md-4">
                        {% if person.date_dob or person.dob_city or person.dob_state %}
                        <p>
                            <span class="meta-data-header">Born:</span>
                            <span class="meta-data-value">
                                {% granular_date person 'date_dob' default="On an unknown date " %}
                                {% spaceless %}
                                    {% if person.dob_city or person.dob_state %}
                                        <span class="gray">in </span>
                                        {% if person.dob_city %}
                                            <a href="{% url "show_results" %}?type=p&amp;dob_city=&quot;{{ person.dob_city }}&quot;">{{ person.dob_city }}</a>
                                        {% endif %}
                                        {% if person.dob_city and person.dob_state %}
                                            <span class="gray">, </span>
                                        {% endif %}
                                        {% if person.dob_state %}
                                            <a href="{% url "show_results" %}?type=p&amp;dob_state={{ person.dob_state }}">{{ person.dob_state }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endspaceless %}
                            </span>
                        </p>
                        {% endif %}
                        {% if person.date_dod or person.dod_state or person.dod_city %}
                        <p>
                            <span class="meta-data-header">Died:</span>
                            <span class="meta-data-value">
                                {% granular_date person 'date_dod' default="On an unknown date " %}
                                {% spaceless %}
                                    {% if person.dod_city or person.dod_state %}
                                        <span class="gray">in </span>
                                        {% if person.dod_city %}
                                            <span>{{ person.dod_city }}</span>
                                        {% endif %}
                                        {% if person.dod_city and person.dod_state %}
                                            <span class="gray">, </span>
                                        {% endif %}
                                        {% if person.dod_state %}
                                            <span>{{ person.dod_state }}</span>
                                        {% endif %}
                                    {% endif %}
                                {% endspaceless %}
                            </span>
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if person.race.count > 0 or person.gender or person.religion %}
                    <div class="col-xs-12 col-md-4">
                        {% if person.race.count > 0 %}
                        <p>
                            <span class="meta-data-header">Race{{ person.race.count|pluralize }}:</span>
                            <span class="meta-data-value">
                                {% for race in person.race.all %}{% if not forloop.first %}, {% endif %}{{ race.get_race_display }}{% endfor %}
                            </span>
                        </p>
                        {% endif %}
                        {% if person.gender %}
                        <p>
                            <span class="meta-data-header">Gender:</span>
                            <span class="meta-data-value">
                                {{ person.get_gender_display }}
                                {% if person.gender == 'm' %}
                                    <i class="fa fa-mars gray"></i>
                                {% elif person.gender == 'f' %}
                                    <i class="fa fa-venus gray"></i>
                                {% elif person.gender == 'o' %}
                                    <i class="fa fa-transgender gray"></i>
                                {% endif %}
                            </span>
                        </p>
                        {% endif %}
                        {% if person.religion %}
                        <p>
                            <span class="meta-data-header">Religion:</span>
                            <span class="meta-data-value">{{ person.religion }}</span>
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if person.aliases.count > 0 or aba_ratings.count > 0 %}
                    <div class="col-xs-12 col-md-4">
                        {% if aba_ratings.count > 0 %}
                        <p>
                            <span class="meta-data-header">
                                <abbr title="American Bar Association">ABA</abbr> Ratings:
                            </span>
                            {% for rating in aba_ratings.all %}{% if not forloop.first %}, {% endif %}{{ rating.get_rating_display }}{% if rating.year_rated %} ({{ rating.year_rated }}){% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                        {% if person.aliases.count > 0 %}
                        <p>
                            <span class="meta-data-header">Alias{{ person.aliases.count|pluralize:"es" }}:</span>
                            {% for alias in person.aliases.all %}
                                {% if not forloop.first %}, {% endif %}
                                {{ alias.name_full }}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


        {% if political_affiliations.count > 0 or educations.count > 0%}
        <div class="row v-offset-below-3">
            {% if political_affiliations.count > 0 %}
            <div class="col-xs-12 col-md-5">
                <h3><i class="fa fa-umbrella gray"></i> Political Affiliations</h3>
                <p class="gray">Affiliations have been gathered from ballots, appointments, and original research.
                </p>
                <hr class="top">
                <ul>
                {% for pa in political_affiliations %}
                    <li>
                        {% if pa.date_start and pa.date_end %}
                            From
                            {% granular_date pa 'date_start' %}
                            to
                            {% granular_date pa 'date_end' %}:
                        {% elif not pa.date_start and pa.date_end %}
                            Until
                            {% granular_date pa 'date_end' %}:
                        {% elif pa.date_start and not pa.date_end %}
                            Beginning
                            {% granular_date pa 'date_start' %}:
                        {% elif not pa.date_start and not pa.date_end %}
                            {# pass - no data #}
                        {% endif %}
                        <a href="{% url "show_results" %}?type=p&amp;political_affiliation={{ pa.political_party }}">{{ pa.get_political_party_display }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if educations.count > 0 %}
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <h3><i class="gray fa fa-graduation-cap"></i> Education History</h3>
                <hr class="top">
                <ul>
                    {% for e in educations %}
                        <li>
                            Attended
                            <a href="{% url "show_results" %}?type=p&amp;school=&quot;{{ e.school.name }}&quot;">{{ e.school.name }}</a>
                            {% if e.degree_detail or e.degree_level or e.degree_year %}
                                and received a
                                {% if e.degree_level %}
                                    {{ e.get_degree_level_display }}
                                {% else %}
                                    {{ e.degree_detail }}
                                {% endif %}
                                {% if e.degree_year %}
                                    in {{ e.degree_year }}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if positions %}
        <div class="row v-offset-below-3">
            <div class="col-xs-12">
                {% for p in positions %}
                    {% ifchanged p.is_judicial_position %}
                        {% if p.is_judicial_position %}
                            <h3 class="bottom">
                                <i class="gray fa fa-balance-scale"></i> Judicial
                                Positions
                            </h3>
                        {% else %}
                            <h3 class="bottom">
                                <i class="gray fa fa-briefcase"></i> Non-Judicial Positions
                            </h3>
                            <p class="gray">Includes a variety of positions such as governor,
                                president, clerk, practitioner, public defender,
                                attorneys general, and professor.</p>
                        {% endif %}
                        <hr class="top">
                    {% endifchanged %}
                    <div class="row v-offset-below-3">
                        <div class="col-xs-12">
                            <h4 class="text-uppercase">
                                {{ p.html_title|safe }}
                            </h4>
                        </div>
                        {% if p.appointer or p.supervisor or p.predecessor %}
                            <div class="col-xs-4">
                                {% if p.appointer %}
                                <p>
                                    <span class="meta-data-header">Appointed By:</span>
                                    <span class="meta-data-value">
                                        <a href="{{ p.appointer.person.get_absolute_url }}">{{ p.appointer.person.name_full }}</a>
                                    </span>
                                </p>
                                {% endif %}
                                {% if p.supervisor %}
                                    <p>
                                        <span class="meta-data-header">Supervisor:</span>
                                        <span class="meta-data-value">
                                            <a href="{{ p.supervisor.get_absolute_url }}">{{ p.supervisor.name_full }}</a>
                                        </span>
                                    </p>
                                {% endif %}
                                {% if p.predecessor %}
                                    <p>
                                        <span class="meta-data-header">Predecessor:</span>
                                        <span class="meta-data-value">
                                            <a href="{{ p.predecessor.get_absolute_url }}">{{ p.predecessor.name_full }}</a>
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if p.nomination_process or p.how_selected or p.date_recess_appointment %}
                            <div class="col-xs-4">
                                {% if p.how_selected %}
                                    <p>
                                        <span class="meta-data-header">Selected By:</span>
                                        <span class="meta-data-value">
                                            <a href="{% url "show_results" %}?type=p&amp;selection_method={{ p.how_selected }}">{{ p.get_how_selected_display }}</a>
                                            {% if p.date_elected %}
                                                <span class="alt">on</span> {{ p.date_elected|default:"" }}
                                            {% elif p.date_nominated %}
                                                <span class="alt">on</span> {{ p.date_nominated|default:"" }}
                                            {% endif %}
                                        </span>
                                    </p>
                                {% endif %}
                                {% if p.nomination_process %}
                                    <p>
                                        <span class="meta-data-header">Nomination Process:</span>
                                        <span class="meta-data-value">{{ p.get_nomination_process_display }}</span>
                                    </p>
                                {% endif %}
                                {% if p.date_recess_appointment %}
                                    <p>
                                        <span class="meta-data-header">Recess Appointment Date:</span>
                                        <span class="meta-data-value">{{ p.date_recess_appointment }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if p.date_referred_to_judicial_committee or p.date_judicial_committee_action or p.judicial_committee_action %}
                            <div class="col-xs-4">
                                {% if p.date_referred_to_judicial_commitee %}
                                    <p>
                                        <span class="meta-data-header">Judicial Committee Referral Date:</span>
                                        <span class="meta-data-value">{{ p.date_referred_to_judicial_committee }}</span>
                                    </p>
                                {% endif %}
                                {% if p.date_judicial_committee_action %}
                                    <p>
                                        <span class="meta-data-header">Judicial Committee Action Date:</span>
                                        <span class="meta-data-value">{{ p.date_judicial_committee_action }}</span>
                                    </p>
                                {% endif %}
                                {% if p.judicial_committee_action %}
                                    <p>
                                        <span class="meta-data-header">Judicial Committee Action:</span>
                                        <span class="meta-data-value">{{ p.get_judicial_committee_action_display }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if p.date_hearing or p.date_confirmation or p.vote_string %}
                            <div class="col-xs-4">
                                {% if p.date_hearing %}
                                    <p>
                                        <span class="meta-data-header">Nomination Hearing Date:</span>
                                        <span class="meta-data-value">{{ p.date_hearing }}</span>
                                    </p>
                                {% endif %}
                                {% if p.date_confirmation %}
                                    <p>
                                        <span class="meta-data-header">Confirmation Date:</span>
                                        <span class="meta-data-value">{{ p.date_confirmation }}</span>
                                    </p>
                                {% endif %}
                                {% if p.vote_string %}
                                    <p>
                                        <span class="meta-data-header">Vote Info:</span>
                                        <span class="meta-data-value">
                                            {{ p.vote_string|safe }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if p.termination_reason or p.date_retirement %}
                            <div class="col-xs-4">
                                {% if p.termination_reason %}
                                    <p>
                                        <span class="meta-data-header">Termination Reason:</span>
                                        <span class="meta-data-value">{{ p.get_termination_reason_display }}</span>
                                    </p>
                                {% endif %}
                                {% if p.date_retirement %}
                                    <p>
                                        <span class="meta-data-header">Retirement Date:</span>
                                        <span class="meta-data-value">{{ p.date_retirement }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if p.appointed_positions.count %}
                            <div class="col-xs-12">
                                <h4>Judicial Positions Appointed</h4>
                                <ul>
                                    {% for ap in p.appointed_positions.all %}
                                        <li>
                                            <p>
                                                <a href="{{ ap.person.get_absolute_url }}">{{ ap.person.name_full }}</a><br>{{ ap.html_title|safe }}
                                            </p>
                                        </li>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if p.retention_events.count %}
                            <div class="col-xs-12">
                                <h4>Retention Events for this Position</h4>
                                <ul>
                                    {% for e in p.retention_events.all %}
                                        <li>
                                            {% if e.won %}
                                                <span class="text-uppercase bold">
                                                {{ e.won|yesno:"Won,Lost" }}:
                                            </span>
                                            {% endif %}
                                            {% if e.retention_type %}
                                                {{ e.get_retention_type_display }}
                                            {% endif %}
                                            {% if e.date_retention %}
                                                <span class="alt">on</span> {{ e.date_retention }}
                                            {% endif %}
                                            {% if e.votes_yes %}
                                                <span class="alt">with</span> {{ e.votes_yes }} in favor
                                                <span class="alt">and</span> {{ e.votes_no }} opposed
                                            {% endif %}
                                            {% if e.unopposed %}
                                                (unopposed)
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <p class="gray">Sources: <a href="http://www.elliottash.com">Elliott Ash</a>, Princeton University and University of Warwick; Bentley MacLeod, Columbia University; Federal Judicial Center.
                </p>
            </div>
        </div>

    </div>
{% endblock %}
