{% extends "base.html" %}
{% load extras %}
{% load admin_urls %}
{% load humanize %}
{% load text_filters %}
{% load waffle_tags %}

{% block canonical %}{% get_canonical_element %}{% endblock %}
{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block og_title %}{{ title }} – CourtListener.com{% endblock %}
{% block description %}{{ title }} – CourtListener.com{% endblock %}
{% block og_description %}{{ title }} – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock sidebar %}
{% block navbar-p %}active{% endblock %}


{% block footer-scripts %}
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
$(document).ready(function(){
  $(".show-all-appointments").on("click", function (event) {
    var button = $(this);
    button.addClass('hidden');
    button.siblings('ul').children('li').removeClass('hidden');
  });
});
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "honorificPrefix": "Judge",
  "familyName": "{{ person.name_last }}",
  "givenName": "{{ person.name_first }}",
  "gender": "{% if person.gender == 'm' %}http://schema.org/Male{% else %}http://schema.org/Female{% endif %}",
  "nationality": {
    "@type": "Country",
    "name": "United States of America"
  },
  {% if img_path %}
  "image": "{{ img_path }}",
  {% endif %}
  {% if person.date_dob %}
  "birthDate": "{% granular_date person 'date_dob' iso=True %}",
  {% endif %}
  {% if person.dob_city or person.dob_state %}
  "birthPlace": {
    "@type": "{% if person.dob_city %}City{% else %}State{% endif %}",
    "name": "{% if person.dob_city %}{{ person.dob_city }}, {% endif %}{{ person.dob_state }}"
  },
  {% endif %}
  {% if person.date_dod %}
  "deathDate": "{% granular_date person 'date_dod' iso=True %}",
  {% endif %}
  {% if person.dod_city or person.dod_state %}
  "deathPlace": {
    "@type": "{% if person.dod_city %}City{% else %}State{% endif %}",
    "name": "{% if person.dod_city %}{{ person.dod_city }}, {% endif %}{{ person.dod_state }}"
  },
  {% endif %}
  {% if political_affiliations.count > 0 %}
  "affiliation": [{% for pa in political_affiliations %}
    {
      "@type":"Organization",
      "name": "{{ pa.get_political_party_display }}"
    }{%if not forloop.last%},{%endif%}
  {% endfor %}],
  {% endif %}
  {% if educations.count > 0 %}
  "alumniOf": [{% for e in educations %}
    {
      "@type": "OrganizationRole",
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "{{ e.school.name }}"
      }
      {% if e.degree_year %}
      ,"startDate": "{{ e.degree_year }}"
      {% endif %}
    }{%if not forloop.last%},{%endif%}
  {% endfor %}]
  {% endif %}
}
</script>
{% endblock %}


{% block content %}
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
        {% if img_path %}
          <h2>
            <img src="{{ img_path }}"
                 alt="Portrait of {{ person.name_full }}"
                 width="256"
                 class="img-responsive v-offset-above-2"
            />
          </h2>
        {% else %}
          <div class="well">
            <p class="text-center v-offset-above-3">Have a portrait of {{ person.name_full }} you can share?
            </p>
            <p class="text-center v-offset-above-3 v-offset-below-6">
              <a href="https://github.com/freelawproject/judge-pics/blob/main/README.md" class="btn btn-primary">Send It In</a>
            </p>
          </div>
        {% endif %}
      </div>
      <div class="col-xs-6 col-sm-8 col-md-8 col-lg-9">
        <h2 class="bottom">
          {{ title }}
          {% if perms.people_db.change_person %}
            <p class="float-right">
              <a href="{% url 'admin:people_db_person_change' person.id %}"
                 class="btn btn-primary btn-xs">Edit&nbsp;Person&nbsp;<i
                   class="fa fa-pencil"></i>
              </a>
            </p>
          {% endif %}
        </h2>
        <span class="small gray top">
          {% if person.fjc_id %}FJC ID:
            {% filter lower %}
            {% if person.name_middle %}
              {% if person.name_suffix %}
                <a href="http://www.fjc.gov/history/judges/{{ person.name_last }}-{{ person.name_first }}-{{ person.name_middle }}-{{ person.name_suffix|cut:"." }}">{{ person.fjc_id }}</a>
              {% else %}
                <a href="http://www.fjc.gov/history/judges/{{ person.name_last }}-{{ person.name_first }}-{{ person.name_middle }}">{{ person.fjc_id }}</a>
              {% endif %}
            {% else %}
              {% if person.name_suffix %}
                <a href="http://www.fjc.gov/history/judges/{{ person.name_last }}-{{ person.name_first }}-{{ person.name_suffix|cut:"." }}">{{ person.fjc_id }}</a>
              {% else %}
                <a href="http://www.fjc.gov/history/judges/{{ person.name_last }}-{{ person.name_first }}">{{ person.fjc_id }}</a>
              {% endif %}
            {% endif %}
            {% endfilter %}
          {% endif %}
        </span>

        <div class="row v-offset-below-3">
          <div class="col-xs-12">
              <h3><i class="gray fa fa-info"></i> Biographical Information</h3>
              <hr class="top">
          </div>
          {% if person.date_dob or person.dob_city or person.dob_state or person.date_dod or person.dod_city or person.dod_state%}
          <div class="col-xs-12 col-md-4">
            {% if person.date_dob or person.dob_city or person.dob_state %}
            <p>
              <span class="meta-data-header">Born:</span>
              <span class="meta-data-value">
                {% granular_date person 'date_dob' default="On an unknown date " %}
                {% spaceless %}
                  {% if person.dob_city or person.dob_state %}
                    <span class="gray">in </span>
                    {% if person.dob_city %}
                      <a href="{% url "show_results" %}?type=p&amp;dob_city=&quot;{{ person.dob_city }}&quot;">{{ person.dob_city }}</a>
                    {% endif %}
                    {% if person.dob_city and person.dob_state %}
                      <span class="gray">, </span>
                    {% endif %}
                    {% if person.dob_state %}
                      <a href="{% url "show_results" %}?type=p&amp;dob_state={{ person.dob_state }}">{{ person.get_dob_state_display }}</a>
                    {% endif %}
                  {% endif %}
                {% endspaceless %}
              </span>
            </p>
            {% endif %}
            {% if person.date_dod or person.dod_state or person.dod_city %}
            <p>
              <span class="meta-data-header">Died:</span>
              <span class="meta-data-value">
                {% granular_date person 'date_dod' default="On an unknown date " %}
                {% spaceless %}
                  {% if person.dod_city or person.dod_state %}
                    <span class="gray">in </span>
                    {% if person.dod_city %}
                      <span>{{ person.dod_city }}</span>
                    {% endif %}
                    {% if person.dod_city and person.dod_state %}
                      <span class="gray">, </span>
                    {% endif %}
                    {% if person.dod_state %}
                      <span>{{ person.get_dod_state_display }}</span>
                    {% endif %}
                  {% endif %}
                {% endspaceless %}
              </span>
            </p>
            {% endif %}
          </div>
          {% endif %}

          {% if person.race.count > 0 or person.gender or person.religion %}
          <div class="col-xs-12 col-md-4">
            {% if person.race.count > 0 %}
            <p>
              <span class="meta-data-header">Race{{ person.race.count|pluralize }}:</span>
              <span class="meta-data-value">
                {% for race in person.race.all %}{% if not forloop.first %}, {% endif %}{{ race.get_race_display }}{% endfor %}
              </span>
            </p>
            {% endif %}
            {% if person.gender %}
            <p>
              <span class="meta-data-header">Gender:</span>
              <span class="meta-data-value">
                {{ person.get_gender_display }}
                {% if person.gender == 'm' %}
                  <i class="fa fa-mars gray"></i>
                {% elif person.gender == 'f' %}
                  <i class="fa fa-venus gray"></i>
                {% elif person.gender == 'o' %}
                  <i class="fa fa-transgender gray"></i>
                {% endif %}
              </span>
            </p>
            {% endif %}
            {% if person.religion %}
            <p>
              <span class="meta-data-header">Religion:</span>
              <span class="meta-data-value">{{ person.get_religion_display }}</span>
            </p>
            {% endif %}
          </div>
          {% endif %}

          {% if person.aliases.count > 0 or aba_ratings.count > 0 %}
          <div class="col-xs-12 col-md-4">
            {% if aba_ratings.count > 0 %}
            <p>
              <span class="meta-data-header">
                <abbr title="American Bar Association">ABA</abbr> Ratings:
              </span>
              {% for rating in aba_ratings.all %}{% if not forloop.first %}, {% endif %}{{ rating.get_rating_display }}{% if rating.year_rated %} ({{ rating.year_rated }}){% endif %}
              {% endfor %}
            </p>
            {% endif %}
            {% if person.aliases.count > 0 %}
            <p>
              <span class="meta-data-header">Alias{{ person.aliases.count|pluralize:"es" }}:</span>
              {% for alias in person.aliases.all %}
                {% if not forloop.first %}, {% endif %}
                {{ alias.name_full }}
              {% endfor %}
            </p>
            {% endif %}
          </div>
          {% endif %}
        </div>

        <div class="row v-offset-below-3">
          {% if person.ftm_eid %}
          <div class="col-xs-12">
            <h3><i class="gray fa fa-usd"></i> Campaign Finance</h3>
            <hr class="top">
          </div>
          <div class="col-xs-12">
            <h4 class="text-uppercase top">{{ person.name_full }} <span class="alt text-lowercase">has received</span> ${{ person.ftm_total_received|floatformat:"0"|intcomma }}
              <span class="alt text-lowercase">in</span> campaign finance
              <span class="alt text-lowercase">for</span> Supreme
              Court positions
              <span class="alt text-lowercase">as of</span> {{ ftm_last_updated|date|nbsp }}.
            </h4>
            <p>
              <a href="https://www.followthemoney.org/show-me?f-core=1&c-r-ot=J&c-t-eid={{ person.ftm_eid }}#[{1|gro=s,y,d-eid"
                 class="btn btn-primary"
                 target="_blank">View Details on Follow the Money <i
                   class="fa fa-external-link"></i></a>
            </p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>


    {% if political_affiliations.count > 0 or educations.count > 0%}
    <div class="row v-offset-below-3">
      {% if political_affiliations.count > 0 %}
      <div class="col-xs-12 col-md-5">
        <h3><i class="fa fa-umbrella gray"></i> Political Affiliations</h3>
        <p class="gray">Affiliations have been gathered from ballots, appointments, and original research.
        </p>
        <hr class="top">
        <ul>
        {% for pa in political_affiliations %}
          <li>
            {% if pa.date_start and pa.date_end %}
              From
              {% granular_date pa 'date_start' %}
              to
              {% granular_date pa 'date_end' %}:
            {% elif not pa.date_start and pa.date_end %}
              Until
              {% granular_date pa 'date_end' %}:
            {% elif pa.date_start and not pa.date_end %}
              Beginning
              {% granular_date pa 'date_start' %}:
            {% elif not pa.date_start and not pa.date_end %}
              {# pass - no data #}
            {% endif %}
            <a href="{% url "show_results" %}?type=p&amp;political_affiliation={{ pa.political_party }}">{{ pa.get_political_party_display }}</a>
            {% if pa.source and pa.source != 'o' %}
              (via {{ pa.get_source_display|lower }})
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-1">
        {# Create a space between columns at larger sizes, but only #}
        {# if we have political affiliations. #}
      </div>
      {% endif %}

      {% if educations.count > 0 %}
      <div class="col-xs-12 col-md-6">
        <h3><i class="gray fa fa-graduation-cap"></i> Education History</h3>
        <hr class="top">
        <ul>
          {% for e in educations %}
            <li>
              Attended
              <a href="{% url "show_results" %}?type=p&amp;school=&quot;{{ e.school.name }}&quot;">{{ e.school.name }}</a>
              {% if e.degree_detail or e.degree_level or e.degree_year %}
                and received a
                {% if e.degree_level %}
                  {{ e.get_degree_level_display }}
                {% else %}
                  {{ e.degree_detail }}
                {% endif %}
                {% if e.degree_year %}
                  in {{ e.degree_year }}
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if positions %}
    <div class="row v-offset-below-3">
      <div class="col-xs-12">
        {% for p in positions %}
          {% ifchanged p.is_judicial_position %}
            {% if p.is_judicial_position %}
              <h3 class="bottom">
                <i class="gray fa fa-balance-scale"></i> Judicial
                  Positions
              </h3>
            {% else %}
              <h3 class="bottom">
                  <i class="gray fa fa-briefcase"></i> Non-Judicial Positions
              </h3>
              <p class="gray">Includes a variety of positions such as governor,
                  president, clerk, practitioner, public defender,
                  attorneys general, and professor.</p>
            {% endif %}
            <hr class="top">
          {% endifchanged %}
          <div class="row v-offset-below-2">
            <div class="col-xs-12">
              <h4 class="text-uppercase">
                {{ p.html_title|safe }}
                {% if p.has_inferred_values %}
                  <i class="fa fa-warning red cursor-help"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="To have the most complete database possible, the information in this section was generated by inspecting CourtListener data. As a result, it may not be exact."></i>
                {% endif %}
              </h4>
            </div>
            {% if p.appointer or p.supervisor or p.predecessor %}
              <div class="col-xs-4">
                {% if p.appointer %}
                <p>
                  <span class="meta-data-header">Appointed By:</span>
                  <span class="meta-data-value">
                      <a href="{{ p.appointer.person.get_absolute_url }}">{{ p.appointer.person.name_full }}</a>
                  </span>
                </p>
                {% endif %}
                {% if p.supervisor %}
                  <p>
                    <span class="meta-data-header">Supervisor:</span>
                    <span class="meta-data-value">
                        <a href="{{ p.supervisor.get_absolute_url }}">{{ p.supervisor.name_full }}</a>
                    </span>
                  </p>
                {% endif %}
                {% if p.predecessor %}
                  <p>
                    <span class="meta-data-header">Predecessor:</span>
                    <span class="meta-data-value">
                      <a href="{{ p.predecessor.get_absolute_url }}">{{ p.predecessor.name_full }}</a>
                    </span>
                  </p>
                {% endif %}
              </div>
            {% endif %}

            {% if p.nomination_process or p.how_selected or p.date_recess_appointment %}
              <div class="col-xs-4">
                {% if p.how_selected %}
                  <p>
                    <span class="meta-data-header">Selected By:</span>
                    <span class="meta-data-value">
                      <a href="{% url "show_results" %}?type=p&amp;selection_method={{ p.how_selected }}">{{ p.get_how_selected_display }}</a>
                      {% if p.date_elected %}
                          <span class="alt">on</span> {{ p.date_elected|default:"" }}
                      {% elif p.date_nominated %}
                          <span class="alt">on</span> {{ p.date_nominated|default:"" }}
                      {% endif %}
                    </span>
                  </p>
                {% endif %}
                {% if p.nomination_process %}
                  <p>
                    <span class="meta-data-header">Nomination Process:</span>
                    <span class="meta-data-value">{{ p.get_nomination_process_display }}</span>
                  </p>
                {% endif %}
                {% if p.date_recess_appointment %}
                  <p>
                    <span class="meta-data-header">Recess Appointment Date:</span>
                    <span class="meta-data-value">{{ p.date_recess_appointment }}</span>
                  </p>
                {% endif %}
              </div>
            {% endif %}

            {% if p.date_referred_to_judicial_committee or p.date_judicial_committee_action or p.judicial_committee_action %}
              <div class="col-xs-4">
                {% if p.date_referred_to_judicial_commitee %}
                  <p>
                    <span class="meta-data-header">Judicial Committee Referral Date:</span>
                    <span class="meta-data-value">{{ p.date_referred_to_judicial_committee }}</span>
                  </p>
                {% endif %}
                {% if p.date_judicial_committee_action %}
                  <p>
                    <span class="meta-data-header">Judicial Committee Action Date:</span>
                    <span class="meta-data-value">{{ p.date_judicial_committee_action }}</span>
                  </p>
                {% endif %}
                {% if p.judicial_committee_action %}
                  <p>
                    <span class="meta-data-header">Judicial Committee Action:</span>
                    <span class="meta-data-value">{{ p.get_judicial_committee_action_display }}</span>
                  </p>
                {% endif %}
              </div>
            {% endif %}

            {% if p.date_hearing or p.date_confirmation or p.vote_string %}
              <div class="col-xs-4">
                {% if p.date_hearing %}
                  <p>
                    <span class="meta-data-header">Nomination Hearing Date:</span>
                    <span class="meta-data-value">{{ p.date_hearing }}</span>
                  </p>
                {% endif %}
                {% if p.date_confirmation %}
                  <p>
                    <span class="meta-data-header">Confirmation Date:</span>
                    <span class="meta-data-value">{{ p.date_confirmation }}</span>
                  </p>
                {% endif %}
                {% if p.vote_string %}
                  <p>
                    <span class="meta-data-header">Vote Info:</span>
                    <span class="meta-data-value">
                      {{ p.vote_string|safe }}
                    </span>
                  </p>
                {% endif %}
              </div>
            {% endif %}

            {% if p.termination_reason or p.date_retirement %}
              <div class="col-xs-4">
                {% if p.termination_reason %}
                  <p>
                    <span class="meta-data-header">Termination Reason:</span>
                    <span class="meta-data-value">{{ p.get_termination_reason_display }}</span>
                  </p>
                {% endif %}
                {% if p.date_retirement %}
                  <p>
                    <span class="meta-data-header">Senior Status Date:</span>
                    <span class="meta-data-value">{{ p.date_retirement }}</span>
                  </p>
                {% endif %}
              </div>
            {% endif %}

            {% if p.appointed_positions.count %}
              <div class="col-xs-12">
                <h4>Judicial Appointments ({{ p.appointed_positions.count|intcomma}})</h4>
                <ul>
                  {% for ap in p.sorted_appointed_positions %}
                    <li {% if forloop.counter >= 10 %}class="hidden"{% endif %}>
                      <p>
                        <a href="{{ ap.person.get_absolute_url }}">{{ ap.person.name_full }}</a><br>{{ ap.html_title|safe }}
                      </p>
                    </li>
                  {% endfor %}
                </ul>
                {% if p.appointed_positions.count > 10 %}
                  <p class="btn btn-primary show-all-appointments">
                    Show All Appointments
                  </p>
                {% endif %}
              </div>
            {% endif %}

            {% if p.retention_events.count %}
              <div class="col-xs-12">
                <h4>Retention Events for this Position</h4>
                <ul>
                  {% for e in p.retention_events.all %}
                    <li>
                      {% if e.won %}
                        <span class="text-uppercase bold">
                        {{ e.won|yesno:"Won,Lost" }}:
                      </span>
                      {% endif %}
                      {% if e.retention_type %}
                        {{ e.get_retention_type_display }}
                      {% endif %}
                      {% if e.date_retention %}
                        <span class="alt">on</span> {{ e.date_retention }}
                      {% endif %}
                      {% if e.votes_yes %}
                        <span class="alt">with</span> {{ e.votes_yes }} in favor
                        <span class="alt">and</span> {{ e.votes_no }} opposed
                      {% endif %}
                      {% if e.unopposed %}
                        (unopposed)
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if disclosures %}
    <div class="row v-offset-below-3">
      <div class="col-xs-12">
        <h3 id="disclosures">
          <i class="gray fa fa-file-text-o"></i> Financial Disclosures ({{ disclosures|length }})
        </h3>
        <p class="gray">Annual financial disclosure records filed by Federal judges, magistrates and clerks of the court.</p>
        <hr class="top">
        <div class="row">
          {% for disclosure in disclosures %}
            <div class="col-xs-3">
              <h4 class="text">
                <a href="{% url 'financial_disclosures_viewer' person.id disclosure.id person.slug %}">{{ disclosure.year }}</a>
              </h4>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if authored_opinions.result.numFound > 0 %}
    <div class="row v-offset-below-3">
      <div class="col-xs-12">
        <h3 id="authored-opinions">
          <i class="fa-file-text-o fa gray"></i>
          Case Law Authored by {{ person.name_last }} ({{ authored_opinions.result.numFound|intcomma }})
          {% if not person.date_dod and not person.dod_state and not person.dod_city %}
            <a href="/feed/search/?type=o&q=author_id%3A{{ person.pk }}+OR+panel_ids%3A{{ person.pk }}">
              <i class="gray fa fa-rss"
                 title="Subscribe to a feed of {{ person.name_last }}'s latest cases"></i>
            </a>
          {% endif %}
        </h3>
        <p class="gray">Includes case law for which {{ person.name_full }} was on the panel, ordered by <a href="https://free.law/2013/11/12/citegeist/">CiteGeist</a> relevance.</p>
        <hr class="top">

        {% for o in authored_opinions %}
        <div class="row">
        <div class="col-xs-12">
          <article class="v-offset-below-2">
          <h4 class="bottom">
            <a href="{{ o.absolute_url }}">
              {{ o.caseName|safe|v_wrapper }}
              ({% if o.court_id != 'scotus' %}{{ o.court_citation_string|nbsp|safe }}&nbsp;{% endif %}{{ o.dateFiled|date:"Y" }})
            </a>
          </h4>
          <div class="inline nowrap">
            <span class="meta-data-header">Date Filed:</span>
            <time class="meta-data-value"
                datetime="{{ o.dateFiled|date:'Y-m-d' }}">
              {% if o.dateFiled %}
                {{ o.dateFiled|date:"F jS, Y" }}
              {% else %}
                Unknown Date
              {% endif %}
            </time>
          </div>
          <div class="inline nowrap">
            <span class="meta-data-header">Status:</span>
            <span class="meta-data-value">{{ o.status }}</span>
          </div>
          {% if o.citation %}
            <div class="inline nowrap">
              <span class="meta-data-header">Citations: </span>
              <span class="meta-data-value">{{ o.citation|safeseq|join:", " }}</span>
            </div>
          {% endif %}
          {% if o.docketNumber %}
            <div class="inline nowrap">
              <span class="meta-data-header">Docket Number:</span>
              <span class="meta-data-value select-all">{{ o.docketNumber|safe }}</span>
            </div>
          {% endif %}
          {% if o.citeCount > 0 %}
            <div class="bottom" class="inline nowrap">
            <span class="meta-data-value">
              <a href="/?q=cites%3A({{ o.sibling_ids|join:" OR " }})"
                 rel="nofollow"
              >Cited {{ o.citeCount|intcomma }} time{{ o.citeCount|pluralize }}</a>
            </span>
            </div>
          {% endif %}
          </article>
        </div>
        </div>
        {% endfor %}
        <p>
            <a href="/?type=o&q=author_id%3A{{ person.pk }}+OR+panel_ids%3A{{ person.pk }}&stat_Precedential=on&stat_Non-Precedential=on&stat_Errata=on&stat_Separate%20Opinion=on&stat_In-chambers=on&stat_Relating-to%20orders=on&stat_Unknown%20Status=on"
               rel="nofollow"
               class="btn btn-primary"
            >Search for All Case Law Authored by {{ person.name_last }} in CourtListener</a>
        </p>
      </div>
    </div>
    {% endif %}

  {% if recap_cases_assigned|length > 0 %}
    <div class="row v-offset-below-3">
      <div class="col-xs-12">
        <h3 id="assigned-cases">
          <i class="fa-gavel fa gray"></i>
          Cases Assigned or Referred to {{ person.name_last }} ({{ recap_cases_assigned|length|intcomma }})
        </h3>
        <hr class="top">

        {% for result in recap_cases_assigned %}
        <div class="row">
          <div class="col-xs-12">
          <article class="v-offset-below-2">
          {% with doc0=result.doclist.docs.0 %}
            <h4 class="bottom">
              <a href="{{ doc0.docket_absolute_url }}">
                {{ doc0.caseName|safe|v_wrapper }}
                ({% if doc0.court_id != 'scotus' %}{{ doc0.court_citation_string|nbsp|safe }}&nbsp;{% endif %}{{ doc0.dateFiled|date:"Y" }})
              </a>
            </h4>
            <div class="inline nowrap">
              <span class="meta-data-header">Date Filed:</span>
              <time class="meta-data-value"
                  datetime="{{ doc0.dateFiled|date:'Y-m-d' }}">
                {% if doc0.dateFiled %}
                  {{ doc0.dateFiled|date:"F jS, Y" }}
                {% else %}
                  Unknown Date
                {% endif %}
              </time>
            </div>
            {% if doc0.docketNumber %}
              <div class="inline nowrap">
                <span class="meta-data-header">Docket Number:</span>
                <span class="meta-data-value select-all">{{ doc0.docketNumber|safe }}</span>
              </div>
            {% endif %}
          {% endwith %}
          </article>
        </div>
        </div>
        {% endfor %}
        <p>
            <a href="/?type=r&q=(assigned_to_id:{{person.pk}} OR referred_to_id:{{person.pk}})&order_by=score%20desc"
               rel="nofollow"
               class="btn btn-primary"
            >Search for All Cases Assigned/Referred to {{ person.name_last }} in RECAP</a>
        </p>
      </div>
    </div>
    {% endif %}

    {% if oral_arguments_heard.result.numFound > 0 %}
    <div class="row v-offset-below-3">
      <div class="col-xs-12">
        <h3 id="oral-arguments-heard">
          <i class="fa-volume-up fa gray"></i>
          Most Recent Oral Arguments Heard by {{ person.name_last }} ({{ oral_arguments_heard.result.numFound|intcomma }})
          {% if not person.date_dod and not person.dod_state and not person.dod_city %}
            <a href="/feed/search/?type=oa&q=panel_ids%3A{{ person.pk }}">
              <i class="gray fa fa-podcast"
                 title="Subscribe to a podcast of {{ person.name_last }}'s latest cases"></i>
            </a>
          {% endif %}
        </h3>
        <p class="gray">Includes oral arguments for which {{ person.name_full }} was on the judicial panel, ordered by date.</p>
        <hr class="top">

        {% for oa in oral_arguments_heard %}
        <div class="row">
        <div class="col-xs-12">
          <article class="v-offset-below-2">
          <h4 class="bottom">
            <a href="{{ oa.absolute_url }}">
                {{ oa.caseName|safe|v_wrapper }}
                ({% if oa.court_id != 'scotus' %}{{ oa.court_citation_string|nbsp|safe }}&nbsp;{% endif %}{{ oa.dateArgued|date:"Y" }})
            </a>
          </h4>
          <div class="inline nowrap">
            <span class="meta-data-header">Date Argued:</span>
            <time class="meta-data-value"
                  datetime="{{ oa.dateArgued|date:'Y-m-d' }}">
              {% if oa.dateArgued %}
                {{ oa.dateArgued|date:"F jS, Y" }}
              {% else %}
                Unknown Date
              {% endif %}
            </time>
          </div>
          {% if oa.docketNumber %}
            <div class="inline nowrap">
              <span class="meta-data-header">Docket Number:</span>
              <span class="meta-data-value select-all">{{ oa.docketNumber|safe }}</span>
            </div>
          {% endif %}
          </article>
        </div>
        </div>
        {% endfor %}

        <p>
          <a href="/?type=oa&q=panel_ids%3A{{ person.pk }}" class="btn btn-primary"
             rel="nofollow"
          >Search for All Oral Arguments Heard by {{ person.name_last }}</a>
        </p>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-xs-12">
        <p class="text-right">Something isn't right? <a href="{% url "contact" %}">Get in touch with a correction</a>.
        </p>
        <p class="text-right">Curious about our sources? <a href="https://free.law/projects/judge-db/">Learn more</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
