# Ignore everything...
*

# Except a few things...
!cl
!poetry.lock
!pyproject.toml
!docker
!manage.py

# But no matter what, ignore these things.
cl/assets/static
cl/assets/media
cl/node_modules
*.secrets
*.env.dev
*.env
