# Ignore everything...
*

# Except a few things...
!.circleci
!cl
!poetry.lock
!pyproject.toml
!docker
!manage.py
!*/assets/media/test/*

# But no matter what, ignore these things.
*/node_modules
*/settings/05-private.py
*/settings/.secrets
*.env.dev