# no compiled files!
*.class
*.pyc
*~
*.iml

# Downloaded and generated assets
alert/assets/media/html
alert/assets/media/pdf
alert/assets/media/txt
alert/assets/media/wpd
alert/assets/media/sitemaps
alert/assets/media/doc
alert/assets/media/dumps

# Audio
alert/assets/media/mp3
alert/assets/media/wav
alert/assets/media/wma

# Generated static content
alert/assets/static

# Solr
Solr/data

# IntelliJ IDEA files
.idea
