# no compiled files!
*.class
*.pyc
*~
*.iml

# Downloaded and generated assets
alert/assets/media/doc/
alert/assets/media/bulk-data/
alert/assets/media/html/
alert/assets/media/mp3/
alert/assets/media/pdf/
alert/assets/media/sitemaps/
alert/assets/media/txt/
alert/assets/media/wma/
alert/assets/media/wpd/
alert/assets/static/

# Solr
Solr/data/
Solr/data_audio/

# IntelliJ IDEA files
.idea
