# Prevent Windows git clients for goofing up files that must run on Linux
* text eol=lf

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary

# Audio files
*.wma binary
*.mp3 binary

# Compressed files
*.jar binary
*.exe binary
*.bz2 binary
*.gz binary
*.zip binary

# Fonts
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

# File formats
*.ods binary
*.pdf binary
*.xls binary
*.wpd binary
