[tool.poetry]
authors = ["Mike Lissner <mike@free.law>"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "License :: OSI Approved :: GNU Affero General Public License v3",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.10",
  "Intended Audience :: Developers",
  "Intended Audience :: Legal Industry",
]
description = "A free and powerful system for awareness and research of the American judicial system."
documentation = "https://github.com/freelawproject/courtlistener/wiki"
homepage = "https://www.courtlistener.com/"
include = ["manage.py"]
keywords = ["legal", "courts", "databases", "judiciary", "laws"] # Max: 5
license = "AGPL-3.0" # Should be spdx ID: https://spdx.org/licenses/
maintainers = ["Mike Lissner <mike@free.law>"]
name = "cl"
readme = "README.md"
repository = "https://github.com/freelawproject/courtlistener"
version = "0.14.24"

[tool.poetry.scripts]
cl-manage = "manage:main"

[tool.poetry.dependencies]
argparse = "*"
beautifulsoup4 = "==4.11.*"
boto3 = "^1.17.19"
celery = "^5.3.0"
certifi = "^2023.7.22"
courts-db = "^0.10.9"
disposable-email-domains = "*"
Django = "^4.2.3"
django-cache-memoize = "==0.*"
django-cors-headers = "^3.14.0"
django-csp = "^3.7.0"
django-extensions = "^3.2.1"
django-filter = "^2.4.0"
django-localflavor = "^3.1"
django-markdown-deux = "^1.0.6"
django-mathfilters = "*"
django-pghistory = "^2.7.0"
django-ratelimit = "^4.0.0"
django-storages = "^1.13.2"
djangorestframework = "^3.14.0"
djangorestframework-xml = "^2.0.0"
drf-dynamic-fields = "*"
feedparser = "^6.0.8"
httplib2 = "^0.22.0"
igraph = "^0.10.4"
internetarchive = "^3.3.0"
ipaddress = "^1.0.16"
itypes = "^1.1.0"
kombu = "^5.3.0"
lxml = "==4.*"
markdown2 = "==2.4.*"
natsort = "^8.3.1"
ndg-httpsclient = "^0.5.1"
networkx = "^3.1"
nose = "*"
openapi-codec = "^1.3.1"
pandas = "^1.5.0"
pillow = "*"
pycparser = "^2.21"
pyopenssl = "*"
pyparsing = "^3.1.0"
python = ">=3.11, <3.12"
python-dateutil = "^2.8.1"
python-magic = "^0.4.21"
pytz = "*"
pyyaml = "^6.0"
redis = "^3.5.3"
requests = "^2.31.0"
simplejson = "^3.18.3"
stripe = "^5.2.0"
timeout-decorator = "*"
tldextract = "^3.4.0"
unidecode = "*"
usaddress = "^0.5.10"
scorched = {git = "https://github.com/freelawproject/scorched.git", branch="main"}
djangorestframework-filters = "1.0.0.dev2"
gunicorn = "^20.0.4"
django-hCaptcha = "^0.2.0"
reporters-db = "^3.2.36"
django-waffle = "^3.0.0"
nameparser = "^1.1.1"
eyecite = "^2.3.0"
scipy = "^1.10.1"
scikit-learn = "^1.2.1"
numpy = "^1.24.2"
datasketch = "^1.5.7"
PyStemmer = "^2.0.1"
factory-boy = "^3.2.1"
django-elasticsearch-dsl = "^7.3"
django-override-storage = "^0.3.2"
django-ses = {extras = ["events"], version = "^3.3.0"}
django-environ = "^0.8.1"
judge-pics = "^2.0.1"
django-admin-cursor-paginator = "^0.1.2"
sentry-sdk = "^1.14.0"
selenium = "^4.9.1"
ipython = "^8.10.0"
time-machine = "^2.9.0"
dateparser = "1.1.8"
types-dateparser = "^1.1.4.6"
uvicorn = {extras = ["standard"], version = "^0.22.0"}
daphne = "^4.0.0"
psycopg2 = "^2.9.6"
juriscraper = "^2.5.51"
httpx = {extras = ["http2"], version = "^0.24.1"}
django-model-utils = "^4.3.1"


[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.1"
types-redis = "^4.5.4.1"
pylint = "^2.17.3"
pytest = "^7.3.1"
pytest-django = "^4.5.2"
flake8 = "^6.0.0"
exrex = "^0.11.0"
tblib = "^1.7.0"
flynt = "^0.78"
mypy = "^1.2.0"
types-python-dateutil = "^2.8.19.12"
types-requests = "^2.29.0.0"
django-stubs = "^4.2.0"
djangorestframework-stubs = "^3.14.0"
black = "^23.3.0"
types-simplejson = "^3.19.0.0"
lxml-stubs = "^0.4.0"
django-debug-toolbar = "^4.0.0"

[tool.black]
include = '''
(
    cl         # Just include a few directories for now
)*\.pyi?$
'''
exclude = '''
(
      \.eggs
    | .*\.egg-info
    | .*migrations.*
    | \.mypy_cache
    | __pycache__
    | \.venv
)
'''
line-length = 79

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 79
skip_glob = "*/migrations/*.py"

[tool.pylint.messages_control]
disable = "C0330, C0326"

[tool.pylint.format]
max-line-length = "79"

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
