[tool.poetry]
authors = ["Mike Lissner <mike@free.law>"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "License :: OSI Approved :: GNU Affero General Public License v3",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.12",
  "Intended Audience :: Developers",
  "Intended Audience :: Legal Industry",
]
description = "A free and powerful system for awareness and research of the American judicial system."
documentation = "https://github.com/freelawproject/courtlistener/wiki"
homepage = "https://www.courtlistener.com/"
include = ["manage.py"]
keywords = ["legal", "courts", "databases", "judiciary", "laws"] # Max: 5
license = "AGPL-3.0" # Should be spdx ID: https://spdx.org/licenses/
maintainers = ["Mike Lissner <mike@free.law>"]
name = "cl"
readme = "README.md"
repository = "https://github.com/freelawproject/courtlistener"
version = "0.14.24"

[tool.poetry.scripts]
cl-manage = "manage:main"

[tool.poetry.dependencies]
argparse = "*"
beautifulsoup4 = "==4.12.*"
boto3 = "^1.34.17"
celery = "^5.3.6"
certifi = "^2024.2.2"
courts-db = "*"
disposable-email-domains = "*"
Django = "^5.0.3"
django-cache-memoize = "==0.*"
django-cors-headers = "^4.3.1"
django-csp = "^3.7.0"
django-extensions = "^3.2.3"
django-filter = "^23.5"
django-localflavor = "^4.0"
django-markdown-deux = "^1.0.6"
django-mathfilters = "*"
django-pghistory = "^2.9.0"
django-ratelimit = "^4.1.0"
django-storages = "^1.14.2"
djangorestframework = {git = "https://github.com/encode/django-rest-framework.git", rev = "cc3c89a11c7ee9cf7cfd732e0a329c318ace71b2"}
djangorestframework-xml = "^2.0.0"
drf-dynamic-fields = "*"
feedparser = "^6.0.10"
httplib2 = "^0.22.0"
igraph = "^0.11.3"
internetarchive = "^3.6.0"
ipaddress = "^1.0.16"
itypes = "^1.1.0"
kombu = "^5.3.2"
lxml = "^5.1.0"
markdown2 = "==2.4.*"
natsort = "^8.4.0"
ndg-httpsclient = "^0.5.1"
networkx = "^3.2.1"
nose = "*"
pandas = "^2.1.4"
pillow = "*"
pycparser = "^2.21"
pyopenssl = "*"
pyparsing = "^3.1.1"
python = ">=3.12, <3.13"
python-dateutil = "^2.8.1"
python-magic = "^0.4.27"
pytz = "*"
pyyaml = "^6.0.1"
redis = "^5.0.1"
requests = "^2.31.0"
simplejson = "^3.19.2"
timeout-decorator = "*"
unidecode = "*"
usaddress = "^0.5.10"
scorched = {git = "https://github.com/freelawproject/scorched.git", branch="main"}
djangorestframework-filters = "1.0.0.dev2"
gunicorn = "^22.0.0"
django-hCaptcha = "^0.2.0"
reporters-db = "*"
django-waffle = "^4.1.0"
nameparser = "^1.1.3"
eyecite = "*"
scipy = "^1.11.4"
scikit-learn = "^1.4.0"
numpy = "^1.26.3"
datasketch = "^1.6.0"
PyStemmer = "^2.2.0.1"
factory-boy = "^3.3.0"
django-elasticsearch-dsl = "^8.0"
django-override-storage = "^0.3.2"
django-ses = {extras = ["events"], version = "^3.5.2"}
django-environ = "^0.11.2"
judge-pics = "^2.0.5"
django-admin-cursor-paginator = "^0.1.5"
sentry-sdk = {extras = ["celery", "django"], version = "^1.39.2"}
selenium = "^4.16.0"
ipython = "^8.20.0"
time-machine = "^2.14.1"
dateparser = "1.2.0"
types-dateparser = "^1.1.4.20240106"
uvicorn = {extras = ["standard"], version = "^0.27.1"}
daphne = "^4.1.0"
psycopg = {extras = ["binary"], version = "^3.1.17"}
httpx = {extras = ["http2"], version = "^0.26.0"}
django-model-utils = "^4.3.1"
django-permissions-policy = "^4.19.0"
juriscraper = "^2.6.0"
tiktoken = "^0.6.0"
hyperscan = "^0.7.7"


[tool.poetry.group.dev.dependencies]
pre-commit = "^3.7.0"
types-redis = "^4.6.0.20240106"
pylint = "^3.0.3"
pytest = "^8.0.0"
pytest-django = "^4.5.2"
flake8 = "^7.0.0"
exrex = "^0.11.0"
tblib = "^3.0.0"
flynt = "^1.0.1"
mypy = "^1.8.0"
types-python-dateutil = "^2.8.19.20240106"
types-requests = "^2.31.0.20240106"
django-stubs = "^4.2.7"
djangorestframework-stubs = "^3.14.5"
black = "^23.12.1"
types-simplejson = "^3.19.0.2"
lxml-stubs = "^0.5.1"
django-debug-toolbar = "^4.2.0"

[tool.black]
include = '''
(
    cl         # Just include a few directories for now
)*\.pyi?$
'''
exclude = '''
(
      \.eggs
    | .*\.egg-info
    | .*migrations.*
    | \.mypy_cache
    | __pycache__
    | \.venv
)
'''
line-length = 79

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 79
skip_glob = "*/migrations/*.py"

[tool.pylint.messages_control]
disable = "C0330, C0326"

[tool.pylint.format]
max-line-length = "79"

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
