[tool.poetry]
authors = ["Mike Lissner <mike@free.law>"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "License :: OSI Approved :: GNU Affero General Public License v3",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Intended Audience :: Developers",
  "Intended Audience :: Legal Industry",
]
description = "A free and powerful system for awareness and research of the American judicial system."
documentation = "https://github.com/freelawproject/courtlistener/wiki"
homepage = "https://www.courtlistener.com/"
include = ["manage.py"]
keywords = ["legal", "courts", "databases", "judiciary", "laws"] # Max: 5
license = "AGPL-3.0" # Should be spdx ID: https://spdx.org/licenses/
maintainers = ["Mike Lissner <mike@free.law>"]
name = "cl"
readme = "README.md"
repository = "https://github.com/freelawproject/courtlistener"
version = "0.14.24"

[tool.poetry.scripts]
cl-manage = "manage:main"

[tool.poetry.dependencies]
argparse = "*"
beautifulsoup4 = "==4.9.*"
boto3 = "^1.17.19"
celery = "^4.3.0"
certifi = "^2020.12.5"
courts-db = "^0.9.46"
disposable-email-domains = "*"
Django = "^3.1.14"
django-cache-memoize = "==0.*"
django-cors-headers = "^3.7.0"
django-extensions = "^3.1.1"
django-filter = "^2.4.0"
django-localflavor = "^3.0.1"
django-markdown-deux = "*"
django-mathfilters = "*"
django-ratelimit = "==3.0.*"
django-redis-cache = "^3.0.0"
django-storages = "^1.11.1"
djangorestframework = "3.12.*"
djangorestframework-xml = "^2.0.0"
drf-dynamic-fields = "*"
feedparser = "^6.0.8"
httplib2 = "*"
internetarchive = "*"
ipaddress = "^1.0.16"
itypes = "^1.1.0"
kombu = "^4.6.4"
lxml = "==4.*"
markdown2 = "==2.4.*"
ndg-httpsclient = "^0.4.0"
networkx = "^2.7"
nose = "*"
openapi-codec = "^1.3.1"
pandas = "^1.1.2"
pillow = "*"
psycopg2 = "^2.8.6"
pycparser = "^2.14"
pyopenssl = "*"
pyparsing = "^2.4.2"
pypdf2 = "^1.26.0"
python = ">=3.8, <3.11"
python-dateutil = "^2.8.1"
python-igraph = "0.9.1"
python-magic = "^0.4.21"
pytz = "*"
pyyaml = "^5.3.1"
redis = "^3.5.3"
requests = "^2.20.0"
selenium = "4.0.0a6.post2"
sentry-sdk = "^1.0.0"
simplejson = "*"
stripe = "^2.55.2"
timeout-decorator = "*"
tldextract = "*"
unidecode = "*"
usaddress = "*"
juriscraper = "2.4.10"
scorched = {git = "https://github.com/freelawproject/scorched.git", branch="main"}
djangorestframework-filters = "1.0.0.dev2"
ipython = "^7.31.1"
gunicorn = "^20.0.4"
django-hCaptcha = "^0.1.0"
reporters-db = "^3.2.17"
django-waffle = "^2.1.0"
nameparser = "^1.0.6"
eyecite = "^2.3.0"
scipy = "^1.8.0"
numpy = "^1.22.2"
datasketch = "^1.5.7"
PyStemmer = "^2.0.1"

[tool.poetry.dev-dependencies]
pylint = "^2.7.2"
pytest = "==4.4.*,>=4.4.0"
pytest-django = "==3.10.*"
black = {version = "21.6b0", allow-prereleases = true}
flake8 = "^3.9.0"
mypy = "^0.812"
exrex = "^0.10.5"
djangorestframework-stubs = "^1.4.0"
django-stubs = "^1.7.0"
lxml-stubs = "^0.1.1"
tblib = "^1.7.0"
pre-commit = "^2.13.0"
flynt = "^0.65"

[tool.poetry.extras]
flp = ["reporters-db", "juriscraper"]

[tool.black]
include = '''
(
    cl         # Just include a few directories for now
)*\.pyi?$
'''
exclude = '''
(
      \.eggs
    | .*\.egg-info
    | .*migrations.*
    | \.mypy_cache
    | __pycache__
    | \.venv
)
'''
line-length = 79

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 79
skip_glob = "*/migrations/*.py"

[tool.pylint.messages_control]
disable = "C0330, C0326"

[tool.pylint.format]
max-line-length = "79"

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
