ansible
anyjson==0.3.3
argparse==1.2.1
astroid==1.3.6
beautifulsoup4==4.8.0
cchardet==2.1.1
# Before upgrading, note: https://github.com/celery/celery/issues/4878
celery~=4.3.0
certifi
chardet==3.0.4
coreapi==2.3.0
coreschema==0.0.4
# Unfortunately, higher versions emit an insane Python 2.7 error EVERYWHERE.
# Once we have py3, we can upgrade: https://stackoverflow.com/q/51778764/64911
cryptography==2.2.2
datadiff==1.1.5
defusedxml==0.5.0
disposable-email-domains
Django~=1.11.0
django-cors-headers~=2.5
django-debug-toolbar==1.3.2
django-extensions==1.6.1
django-filter==1.1
django-localflavor==1.1
django-mathfilters
django-markdown-deux
django-ratelimit~=2.0.0
django-redis-cache~=2.0.0
djangorestframework==3.6.2
djangorestframework-filters~=0.11.0
django-rest-swagger==2.1.2
djangorestframework-xml==1.4.0
docutils==0.12
drf-dynamic-fields
enum34==1.1.2
eyeD3==0.7.11
feedparser==5.2.1
geonamescache==0.20
gevent<1.3
google-cloud-storage==1.6.0
google-api-python-client==1.6.4
hiredis==0.2.0
internetarchive
ipaddress==1.0.16
ipython==3.2.0
itypes==1.1.0
logilab-common==0.63.2
lxml==3.5.0
Markdown~=2.6
markdown2~=2.3.0
mock
ndg-httpsclient==0.4.0
networkx==1.10
nose
openapi-codec==1.3.1
pandas==0.18.1
Pillow~=3.3
psycopg2>=2.7,<2.8 --no-binary psycopg2
pycparser==2.14
pydot==1.1.0
pyinotify==0.9.6; sys_platform != 'darwin'
pylint==1.4.3
pyOpenSSL
pyparsing==2.4.2
PyPDF2==1.26.0
python-dateutil==2.5.0
python-igraph
python-mimeparse==0.1.4
pytz
redis~=3.2.0
requests==2.20.0
scorched==0.11.0
seal_rookery
selenium==2.53.6
simplejson
six
sqlparse==0.1.15
stripe==1.22.3
timeout-decorator
tldextract
usaddress
wsgiref==0.1.2
xlrd
unidecode
django-storages==1.7.1
boto3==1.9.38
