amqp==1.4.9
ansible
anyjson==0.3.3
argparse==1.2.1
astroid==1.3.6
beautifulsoup4==4.4.1
billiard==3.3.0.21
cchardet==2.1.1
celery==3.1.19
certifi
chardet==3.0.4
coreapi==2.3.0
coreschema==0.0.4
cryptography
datadiff==1.1.5
defusedxml==0.5.0
disposable-email-domains
Django~=1.8.0
django-cors-headers==1.1.0
django-debug-toolbar==1.3.2
django-extensions==1.6.1
django-filter==0.15.3
django-localflavor==1.1
django-mathfilters
django-markdown-deux
django-ratelimit
django-redis-cache==1.6.5
djangorestframework==3.6.2
djangorestframework-filters==0.9.1
django-rest-swagger==2.1.2
djangorestframework-xml==1.3.0
docutils==0.12
drf-dynamic-fields
enum34==1.1.2
eyeD3==0.7.11
feedparser==5.2.1
geonamescache==0.20
google-cloud-storage==1.6.0
google-api-python-client==1.6.4
hiredis==0.2.0
internetarchive
ipaddress==1.0.16
ipython==3.2.0
itypes==1.1.0
juriscraper
kombu==3.0.35
logilab-common==0.63.2
lxml==3.5.0
Markdown~=2.6
markdown2~=2.3.0
mock
ndg-httpsclient==0.4.0
networkx==1.10
nose
openapi-codec==1.3.1
pandas==0.18.1
Pillow~=3.3
psycopg2>=2.7,<2.8 --no-binary psycopg2
pycparser==2.14
pydot==1.1.0
pyinotify==0.9.6; sys_platform != 'darwin'
pylint==1.4.3
pyOpenSSL
pyparsing==2.1.10
PyPDF2==1.26.0
python-dateutil==2.5.0
python-igraph
python-mimeparse==0.1.4
pytz==2015.7
redis==2.10.5
requests==2.18.4
reporters-db
scorched==0.11.0
seal_rookery
selenium==2.53.6
simplejson
six
sqlparse==0.1.15
stripe==1.22.3
timeout-decorator
tldextract
usaddress
wsgiref==0.1.2
xlrd
unidecode
