<div class="clearfix"></div>
<div class="well v-offset-above-5">
  <h3 class="top text-center">Support Services Like this One</h3>
  <p>CourtListener is sponsored by <a href="https://free.law/">Free Law Project</a>, a 501(c)(3) non-profit created to make high quality legal data widely available.  Alerts like these take time and energy to create and maintain, and we are only able to offer this service through your generous support.
  </p>
  <p>Will you support us today with a donation?</p>
  <div class="row">
    <div class="hidden-xs col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <p class="text-center">
        <a href="https://donate.free.law/forms/supportflp" class="btn btn-lg btn-block btn-danger"><i class="fa fa-heart-o"></i> Donate Now</a>
      </p>
    </div>
  </div>
</div>
