<tr id='alert-row-{{ alert.id }}' hx-swap-oob="true">
  <td>
    <p class="bottom">
      {% if alert.alert_type == "o" %}
        Case Law
      {% else %}
        Oral Argument
      {% endif %}
    </p>
  </td>
  <td>
    <p class="bottom">
      {{ alert.name }}
    </p>
  </td>
  <td>{{ alert.get_rate_display }}</td>
  <td class="right">
    <div class="flex justify-content-end">
      <div data-loading-states>
        <button
          id='btn-remove-{{ alert.id }}'
          class="btn {% if alert.rate == "off" %} btn-secondary {% else %} btn-danger {% endif %} btn-xs"
          hx-delete="{% url "htmx_disable_alert" alert.secret_key %}"
          data-loading-disable
          {% if alert.rate == "off" %} disabled {% endif %}>
          &nbsp;Disable
          <i data-loading class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  </td>
</tr>
