{% load text_filters %}
<ul>
  {% for docket in dockets %}
    <li><p style="font-weight: inherit; font-family: inherit; border: 0; vertical-align: baseline; font-style: inherit; margin: 0 0 1.5em; padding: 0;">
      <a href="https://www.courtlistener.com{{ docket.get_absolute_url }}">
        {{ docket|best_case_name|safe }}
        {% if docket.docket_number %}
          ({{ docket.docket_number }})
        {% endif %}
      </a>
      <br>{{ docket.court }}
      <br>Terminated: {{ docket.date_terminated|date:"M j, Y" }}
      {% if docket.date_last_filing %}<br>Last Entry: {{ docket.date_last_filing|date:"M j, Y" }}{% endif %}
    </p></li>
  {% endfor %}
</ul>
