<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th class="text-center">Opinions</th>
            <th class="text-center">RECAP Archive</th>
            <th class="text-center">Oral Arguments</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>id</code></td>
            <td>The ID of the item in the CourtListener system.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>docket_id</code></td>
            <td>The ID of the docket that the item is associated with.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>docket_entry_id</code></td>
            <td>The ID of the docket entry that the item is associated with.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>scdb_id</code></td>
            <td>The ID of an opinion in the <a href="http://scdb.wustl.edu/">Supreme
                Court Database</a>.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>cluster_id</code></td>
            <td>A single case can have dissents, concurrences and other types of
                opinions. We call these "clusters". This is the ID of the
                cluster that an opinion is part of. See also:
                <code>sibling_ids</code>.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>sibling_ids</code></td>
            <td>The ID of other opinions within a cluster.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>court_id</code></td>
            <td>This is the abbreviated court ID associated with the item. See
                the <a
                        href="{% url "court_index" %}">jurisdictions page</a>
                for a current list of abbreviations. For judge search, see the
                court field for an alternate approach.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>

        <tr>
            <td><code>party</code></td>
            <td>The name of the parties in a PACER case. Can have multiple
                values.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>

        <tr>
            <td><code>attorney</code></td>
            <td>The name of the attorneys in a PACER case. Can have multiple
                values.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>firm_id</code></td>
            <td>The ID of a firm in a PACER case. Can have multiple values.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>firm</code></td>
            <td>The name of a firm in a PACER case. Can have multiple values.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>author_id</code></td>
            <td>The ID of the judge that authored an opinion.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>panel_ids</code></td>
            <td>The IDs of the judges on a panel for a case.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>joined_by_ids</code></td>
            <td>The IDs of the judges joining an author in an opinion.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>assigned_to_id</code></td>
            <td>The ID of the judge a case is assigned to. See also: <code>assignedTo</code>.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>referred_to_id</code></td>
            <td>The ID of the judge a case is referred to. See also: <code>referredTo</code>.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>assignedTo</code></td>
            <td>A full-text searchable field containing the judge name a case
                was assigned to. This can be useful for judges that do not yet
                have an ID in our database.
                See also: <code>assigned_to_id</code>.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>referredTo</code></td>
            <td>A full-text searchable field containing the judge name a
                case was referred to. This can be useful for judges that do
                not yet have an ID in our database. See also: <code>referred_to_id</code>.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>judge</code></td>
            <td>A full-text searchable field containing the judge name, if
                known. This can be useful for judges that do not yet have an
                ID in our database.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>per_curiam</code></td>
            <td>Whether an opinion was written per curiam.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>dateFiled</code></td>
            <td>The date that a case or opinion was filed in the court.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>entry_date_filed</code></td>
            <td>The date of a document entry in the PACER docket.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>dateArgued</code></td>
            <td>The date that a case was first argued.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>dateReargued</code></td>
            <td>The date that a case was reargued.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>dateReargumentDenied</code></td>
            <td>The date a that a motion for reargument was denied.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>dateTerminated</code></td>
            <td>The date that a case was terminated in PACER.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>caseName</code></td>
            <td>The name of the case.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>docketNumber</code></td>
            <td>The docket number for a case.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
        </tr>
        <tr>
            <td><code>citation</code></td>
            <td>An all-encompassing field containing all of the citations for an
                opinion.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>neutralCite</code></td>
            <td>The neutral citation for an opinion, if known.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>lexisCite</code></td>
            <td>The citation for a case within LexisNexis's database.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>suitNature</code></td>
            <td>The nature of suit for a case.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>citeCount</code></td>
            <td>The number of times an opinion has been cited. This field can
                accept range queries.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>status</code></td>
            <td>The precedential status of a case. Valid entries for this field
                are <code>u</code> for Unpublished, <code>p</code> for
                published, <code>r</code> for relating-to, and <code>i</code>
                for in chambers opinions.
            </td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>cites</code></td>
            <td>All of the item IDs that cite an opinion.</td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>document_type</code></td>
            <td>Whether an item in the RECAP Archive is a document or an
                attachment. Allowed values are <code>PACER Document</code> or
                <code>Attachment</code>
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>document_number</code> and <code>attachment_number</code>
            </td>
            <td>The document and attachment numbers of the item on the PACER
                docket.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>is_available</code></td>
            <td>Whether a document is in the RECAP Archive.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>page_count</code></td>
            <td>The number of pages in a PACER document.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>description</code></td>
            <td>The description of a PACER document from the docket entry.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>short_description</code></td>
            <td>The short description of a PACER document from the download
                document page.
            </td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>cause</code></td>
            <td>The cause of action for a case in PACER.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        <tr>
            <td><code>juryDemand</code></td>
            <td>The jury demand for a case in PACER.</td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
            <td class="text-center"><i
                    class="fa fa-check-circle green"></i></td>
            <td class="text-center"><i
                    class="fa fa-times red"></i></td>
        </tr>
        </tbody>
    </table>

    <p>Judge search has the following fields:</p>

    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>id</code></td>
            <td>The ID of the judge in the CourtListener system.</td>
        </tr>
        <tr>
            <td><code>fjc_id</code></td>
            <td>The ID of a judge in the Federal Judicial Center's database
                of judges.
            </td>
        </tr>
        <tr>
            <td><code>cl_id</code></td>
            <td>The ID of a judge as in our internal system.</td>
        </tr>
        <tr>
            <td><code>name</code></td>
            <td>A judge's full name.</td>
        </tr>
        <tr>
            <td><code>races</code></td>
            <td>The races that are known for a judge.</td>
        </tr>
        <tr>
            <td><code>gender</code></td>
            <td>The gender that a judge is known to identify with.</td>
        </tr>
        <tr>
            <td><code>religion</code></td>
            <td>A judge's religion, if known.</td>
        </tr>
        <tr>
            <td><code>dod</code> and <code>dob</code></td>
            <td>The date of death and date of birth for a judge.</td>
        </tr>
        <tr>
            <td><code>dob_city</code>, <code>dob_state</code>, and <code>dob_state_id</code>
            </td>
            <td>The birth city, state, and state abbreviation for a judge.</td>
        </tr>
        <tr>
            <td><code>court</code></td>
            <td>The courts where a judge has held positions.</td>
        </tr>
        <tr>
            <td><code>position_type</code></td>
            <td>The titles that a judge has held, such as "Special Chariman",
                "Chief Judge", "Acting Judge", etc.
            </td>
        </tr>
        <tr>
            <td><code>appointer</code>, <code>supervisor</code>, <code>predecessor</code>
            </td>
            <td>The full name of the appointer, supervisor, and predecessor of a
                judge while in a position.
            </td>
        </tr>
        <tr>
            <td><code>date_nominated</code></td>
            <td>The date a judge was nominated to a position.</td>
        </tr>
        <tr>
            <td><code>date_elected</code></td>
            <td>If an elected judge, this is the date the judge was elected to
                their position.
            </td>
        </tr>
        <tr>
            <td><code>date_recess_appointment</code></td>
            <td>If a judge was appointed while congress was in recess, this is
                the date of that appointment.
            </td>
        </tr>
        <tr>
            <td><code>date_referred_to_judicial_committee</code></td>
            <td>The date that a federal judge nomination was referred to the
                judicial committee.
            </td>
        </tr>
        <tr>
            <td><code>date_judicial_committee_action</code></td>
            <td>The date that the judicial committee took action on a judicial
                nomination.
            </td>
        </tr>
        <tr>
            <td><code>date_hearing</code></td>
            <td>The date of a judicial hearing for a federal judge.</td>
        </tr>
        <tr>
            <td><code>date_confirmation</code></td>
            <td>The date a federal judge is confirmed by the Senate.</td>
        </tr>
        <tr>
            <td><code>date_start</code></td>
            <td>The date that a judge starts a position.</td>
        </tr>
        <tr>
            <td><code>date_retirement</code></td>
            <td>The date a judge retires from a position.</td>
        </tr>
        <tr>
            <td><code>date_termination</code></td>
            <td>The date a judge ends active duty in a position. The compliment
                to <code>date_start</code></td>
        </tr>
        <tr>
            <td><code>termination_reason</code></td>
            <td>The reason a judge was terminated from a position.</td>
        </tr>
        <tr>
            <td><code>judicial_committee_action</code></td>
            <td>The action taken by the Judicial Committee in response to a
                nomination. Possible values: "Not Reported", "Reported with
                Recommendation", "Reported without Recommendation",
                "Recommendation Postponed", or "Recommended Unfavorably".
            </td>
        </tr>
        <tr>
            <td><code>nomination_process</code></td>
            <td>The process by which a person was nominated into this a
                position. Possible values: "U.S. Senate", "State Senate",
                "Primary Election", or "Merit Commission".
            </td>
        </tr>
        <tr>
            <td><code>selection_method</code></td>
            <td>How the judge was selected for a position. Possible values:
                "Partisan Election", "Non-Partisan Election", "Appointment
                (President)", "Appointment (Governor)", or "Appointment
                (Legislature)".
            </td>
        </tr>
        <tr>
            <td><code>school</code></td>
            <td>The name of the school attended by a judge.</td>
        </tr>
        <tr>
            <td><code>political_affiliation</code></td>
            <td>The political affiliation of a juge.</td>
        </tr>
        <tr>
            <td><code>aba_rating</code></td>
            <td>The American Bar Association rating of a judge.</td>
        </tr>
        </tbody>
    </table>
</div>
