<div id="versions">
  <h3>Other Versions</h3>

  <p>Earlier versions of these policies can be found in the following locations:</p>
  <ul>
    <li><a href="{% url 'old_terms' '17' %}" rel="nofollow">Between July 7, 2022 and February 8, 2023</a></li>
    <li><a href="{% url 'old_terms' '16' %}" rel="nofollow">Between June 15, 2022 and July 7, 2022</a></li>
    <li><a href="{% url 'old_terms' '15' %}" rel="nofollow">Between March 14, 2022 and June 15, 2022</a></li>
    <li><a href="{% url 'old_terms' '14' %}" rel="nofollow">Between March 30, 2021 and March 14, 2022</a></li>
    <li><a href="{% url 'old_terms' '13' %}" rel="nofollow">Between June 11, 2020 and March 30, 2021</a></li>
    <li><a href="{% url 'old_terms' '12' %}" rel="nofollow">Between May 29, 2020 and June 11, 2020</a></li>
    <li><a href="{% url 'old_terms' '11' %}" rel="nofollow">Between July 17, 2019 and May 29, 2020</a></li>
    <li><a href="{% url 'old_terms' '10' %}" rel="nofollow">Between July 31, 2018 and July 17, 2019</a></li>
    <li><a href="{% url 'old_terms' '9' %}" rel="nofollow">Between August 24, 2017 and July 31, 2018</a></li>
    <li><a href="{% url 'old_terms' '8' %}" rel="nofollow">Between February 22, 2016 and August 24, 2017</a></li>
    <li><a href="{% url 'old_terms' '7' %}" rel="nofollow">Between December 14, 2015 and February 22, 2016</a></li>
    <li><a href="{% url 'old_terms' '6' %}" rel="nofollow">Between January 2, 2013 and December 14, 2015</a></li>
    <li><a href="{% url 'old_terms' '5' %}" rel="nofollow">Between May 7, 2012 and January 2, 2013</a></li>
    <li><a href="{% url 'old_terms' '4' %}" rel="nofollow">Between January 20, 2012 and May 7, 2012</a></li>
    <li><a href="{% url 'old_terms' '3' %}" rel="nofollow">Between March 16, 2011 and January 20, 2012</a></li>
    <li><a href="{% url 'old_terms' '2' %}" rel="nofollow">Between February 17, 2011 and March 16, 2011</a></li>
    <li><a href="{% url 'old_terms' '1' %}" rel="nofollow">Prior to February 17, 2011</a></li>
  </ul>
  <p>Thank you for using CourtListener.com.</p>
</div>
