{% load svg_tags %}

<c-vars
  tag="a"
  href=""
  disabled
  icon=""
  icon_class="text-greyscale-500"
  item_class="px-4 py-2 text-sm text-greyscale-800 flex flex-row justify-start items-center gap-2 w-full"
  li_class="hover:bg-greyscale-100"
  aria_label=""
/>

<li role="none" class="{{ li_class }}">
  {% if tag == "button" %}
    <button x-menu:item type="button" class="{{ item_class }}" {{ attrs }}>
      {% if icon %}{% svg icon aria_hidden="true" class=icon_class %}{% endif %}
      {{ slot }}
    </button>
  {% else %}
    <a x-menu:item href="{{ href }}" class="{{ item_class }}" {{ attrs }}>
      {% if icon %}{% svg icon aria_hidden="true" class=icon_class %}{% endif %}
      {{ slot }}
    </a>
  {% endif %}
</li>
