{% load static %}

{% if DEBUG %}
    <script src="{% static "js/d3.js" %}"></script>
    <script src="{% static "js/plottable.js" %}"></script>
    <script src="{% static "js/jquery.bootstrap-growl.js" %}"></script>
{% else %}
    <script src="{% static "js/d3.min.js" %}"></script>
    <script src="{% static "js/plottable.min.js" %}"></script>
    <script src="{% static "js/jquery.bootstrap-growl.min.js" %}"></script>
{% endif %}

<script src="{% static "js/visualization_tools.js" %}"></script>
<script src="{% static "js/scotus_map.js" %}"></script>

{% include "includes/filters.svg" %}
