{% if DEBUG %}
    <script src="{{ STATIC_URL }}js/d3.js"></script>
    <script src="{{ STATIC_URL }}js/plottable.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bootstrap-growl.js"></script>
{% else %}
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    <script src="{{ STATIC_URL }}js/plottable.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bootstrap-growl.min.js"></script>
{% endif %}

{# <script src="{{ STATIC_URL }}js/scotus_map.js"></script> #}
<script src="{{ STATIC_URL }}js/scotus_map.mlr.js"></script>
<script src="https://rawgit.com/jraller/citegraph/master/app/scripts/scotus_map.js"></script>

<style type="text/css">
    /*
        Has to be here b/c if it's in the CSS file, Firefox looks for this
        relative to the CSS file, not relative to the HTML document.
    */
    .label-area .text-line {
        filter: url(#whitefade);
    }
</style>

{% include "includes/filters.svg" %}
