<div class="form-group date-filter-mode">
  <div>
    <label>Date Filed:</label>
    <label class="radio-inline">
      <input type="radio" name="date-mode" value="calendar"
        {% if not request.GET.filed_after or "/" in request.GET.filed_after %}
          checked
        {% endif %}
      > Calendar
    </label>
    <label class="radio-inline">
      <input type="radio" name="date-mode" value="relative"
        {% if request.GET.filed_after and not "/" in request.GET.filed_after %}
          checked
        {% endif %}
      > Relative
    </label>
  </div>

  <div class="date-calendar-fields
    {% if request.GET.filed_after and not "/" in request.GET.filed_after %}
      hidden
    {% endif %}">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group{% if search_form.filed_after.errors %} has-error{% endif %}">
          <input
              type="text"
              name="filed_after"
              value="{% if '/' in request.GET.filed_after %}{{ request.GET.filed_after }}{% else %}{% endif %}"
              placeholder="Filed After"
              class="external-input form-control datepicker"
              autocomplete="off"
              id="id_filed_after">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group{% if search_form.filed_before.errors %} has-error{% endif %}">
          <input
              type="text"
              name="filed_before"
              value="{% if '/' in request.GET.filed_before %}{{ request.GET.filed_before }}{% else %}{% endif %}"
              placeholder="Filed Before"
              class="external-input form-control datepicker"
              autocomplete="off"
              id="id_filed_before">
        </div>
      </div>
    </div>
  </div>

  <div class="date-relative-fields
    {% if not request.GET.filed_after or "/" in request.GET.filed_after %}
     hidden
    {% endif %}">
    <div class="form-group{% if search_form.filed_after.errors %} has-error{% endif %}">
      <div class="relative-select">
        <input
          type="text"
          id="id_filed_after_relative"
          name=""
          class="external-input form-control"
          placeholder="------------"
          value="{% if not '/' in request.GET.filed_after %}{{ request.GET.filed_after }}{% else %}{% endif %}"
          autocomplete="off">
        <button
          type="button"
          class="btn btn-default btn-dropdown-toggle"
          aria-label="Toggle options">
         <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul class="relative-options-list dropdown-menu">
          <li data-value="1d ago">Past Day</li>
          <li data-value="7d ago">Past Week</li>
          <li data-value="14d ago">Past 2 Weeks</li>
          <li data-value="-1m ago">Past Month</li>
          <li data-value="-3m ago">Past 3 Months</li>
          <li data-value="-6m ago">Past 6 Months</li>
          <li data-value="-1y ago">Past Year</li>
        </ul>
      </div>
      <p class="text-right"><a href="{% url "relative_dates" %}">Help</a></p>
    </div>
  </div>
</div>
