{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {% if proxy_events_url %}
    <li>
      <a class="historylink" href="{{ proxy_events_url }}">
        UserProxy Events
      </a>
    </li>
  {% endif %}
  {% if profile_events_url %}
    <li>
      <a class="historylink" href="{{ profile_events_url }}">
        UserProfile Events
      </a>
    </li>
  {% endif %}
  {% if search_queries_url %}
    <li>
      <a class="historylink" href="{{ search_queries_url }}">
        Search Queries
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock object-tools-items %}
