{% load partition_util %}

<div class="modal" id="court-picker" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="modal-court-picker">
        <form id="court-picker-search-form" method="get" action="/">
            <div class="modal-content">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <h2 class="top">Select&nbsp;Jurisdictions</h2>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <div class="btn-group btn-group-xs">
                                     <button type="button"
                                             class="btn btn-default"
                                             id="check-all"
                                             tabindex="220">Check All</button>
                                     <button type="button"
                                             class="btn btn-default"
                                             id="clear-all"
                                             tabindex="221">Clear All</button>
                                    {% if search_form.type.value == 'o' or not request.GET.type %}
                                        <button type="button"
                                                class="btn btn-default"
                                                id="check-current"
                                                tabindex="222">Check Current Tab</button>
                                        <button type="button"
                                                class="btn btn-default"
                                                id="clear-current"
                                                tabindex="223">Clear Current Tab</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-2 right">
                        <a class="close float-right pointer"
                           data-dismiss="modal" aria-hidden="true">&times;</a>
                    </div>
                </div>
                <label class="sr-only"
                       for="court-filter">Select Jurisdictions by Typing</label>
                <input id="court-filter"
                       type="text"
                       placeholder="Select Jurisdictions by Typing"
                       autocomplete="off"
                       class="hidden-xs"
                       tabindex="200"/>
                <ul class="nav nav-tabs" id="court-picker-tabs">
                    <li class="active">
                        <a href="#tab-federal-appellate"
                           data-toggle="tab"
                           tabindex="210">
                            <span class="hidden-xs hidden-sm">Federal Appellate</span>
                            <span class="hidden-md hidden-lg">Fed App</span>
                        </a>
                    </li>
                    {%  if search_form.type.value == 'o' or not request.GET.type %}
                        <li>
                            <a href="#tab-federal-district"
                               data-toggle="tab"
                               tabindex="211">
                                <span class="hidden-xs hidden-sm">Federal District</span>
                                <span class="hidden-md hidden-lg">Fed Dist</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-bankruptcy"
                               data-toggle="tab"
                               tabindex="212">
                                <span class="hidden-xs hidden-sm">Bankruptcy</span>
                                <span class="hidden-md hidden-lg">Bankr</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-state"
                               data-toggle="tab"
                               tabindex="213">State</a>
                        </li>
                        <li>
                            <a href="#tab-special"
                               data-toggle="tab"
                               tabindex="214">Special</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-federal-appellate">
                        <div class="row">
                            {% for row in courts.federal|rows:4 %}
                                <div class="col-sm-3">
                                    {% for court in row %}
                                        {% if search_form.type.value == 'o' or not request.GET.type %}
                                            <div class="checkbox">
                                                <label for="id_{{ court.pk }}">
                                                    <input
                                                        id="id_{{ court.pk }}"
                                                        name="{{ court.pk }}"
                                                        {% if court.checked %}checked="checked"{% endif %}
                                                        type="checkbox"
                                                        class="external-input court-checkbox">
                                                    {{ court.short_name }}
                                                </label>
                                            </div>
                                        {% elif search_form.type.value == 'oa' and court.has_oral_argument_scraper %}
                                            <div class="checkbox">
                                                <label for="id_{{ court.pk }}">
                                                    <input
                                                        id="id_{{ court.pk }}"
                                                        name="{{ court.pk }}"
                                                        {% if court.checked %}checked="checked"{% endif %}
                                                        type="checkbox"
                                                        class="external-input court-checkbox">
                                                    {{ court.short_name }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if search_form.type.value == 'o' or not request.GET.type %}
                        <div class="tab-pane" id="tab-federal-district">
                            <div class="row">
                                {% for row in courts.district|rows:4 %}
                                    <div class="col-sm-3">
                                        {% for court in row %}
                                            <div class="checkbox">
                                                <label for="id_{{ court.pk }}">
                                                <input
                                                        id="id_{{ court.pk }}"
                                                        name="{{ court.pk }}"
                                                        {% if court.checked %}checked="checked"{% endif %}
                                                        type="checkbox"
                                                        class="external-input court-checkbox">
                                                    {{ court.short_name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-bankruptcy">
                            {% for bank_bundle in courts.bankruptcy %}
                                <h4 class="bottom inline">
                                    {% if forloop.counter == 1 %}
                                        Bankruptcy Appellate Panels
                                    {% else %}
                                        Bankruptcy District Courts
                                    {% endif %}
                                </h4>
                                <div class="row">
                                    {% for row in bank_bundle|rows:4 %}
                                        <div class="col-sm-3">
                                            {% for court in row %}
                                                <div class="checkbox">
                                                    <label for="id_{{ court.pk }}">
                                                    <input
                                                            id="id_{{ court.pk }}"
                                                            name="{{ court.pk }}"
                                                            {% if court.checked %}checked="checked"{% endif %}
                                                            type="checkbox"
                                                            class="external-input court-checkbox">
                                                        {{ court.short_name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="tab-state">
                            <div class="row">
                                {% for col_bundle in courts.state %}
                                    <div class="col-sm-4">
                                        {% for court_bundle in col_bundle %}
                                            {% for court in court_bundle %}
                                                <div class="checkbox {% if court.jurisdiction == 'SA' or court.jurisdiction == 'SS' or court.jurisdiction == 'ST' %}appeals-court{% endif %}">
                                                    <label for="id_{{ court.pk }}">
                                                    <input
                                                            id="id_{{ court.pk }}"
                                                            name="{{ court.pk }}"
                                                            {% if court.checked %}checked="checked"{% endif %}
                                                            type="checkbox"
                                                            class="external-input court-checkbox">
                                                        {{ court.short_name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-special">
                            <div class="row">
                                {% for row in courts.special|rows:3 %}
                                    <div class="col-sm-4">
                                        {% for court in row %}
                                            <div class="checkbox">
                                                <label for="id_{{ court.pk }}">
                                                <input
                                                        id="id_{{ court.pk }}"
                                                        name="{{ court.pk }}"
                                                        {% if court.checked %}checked="checked"{% endif %}
                                                        type="checkbox"
                                                        class="external-input court-checkbox">
                                                    {{ court.short_name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </form>
    </div>
</div>
