{% load humanize %}

{% if results.has_previous or results.has_next %}
    <div class="well v-offset-above-3">
        <div class="row">
            <div class="col-xs-3">
                {% if results.has_previous %}
                    <div class="large text-left">
                        <a href="?{{ get_string }}page={{ results.previous_page_number }}"
                           rel="prev">
                            <i class="gray fa fa-caret-left no-underline"></i>
                            <span class="hidden-xs hidden-sm">Previous</span>
                            <span class="hidden-xs hidden-md hidden-lg">Prev.</span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <div class="text-center large">
                    Page {{ results.number|intcomma }} of {{ results.paginator.num_pages|intcomma }}
                </div>
            </div>
            <div class="col-xs-3">
                {% if results.has_next %}
                    <div class="large text-right">
                        <a href="?{{ get_string }}page={{ results.next_page_number }}"
                           rel="next">
                            <span class="hidden-xs">Next</span>
                            <i class="gray fa fa-caret-right no-underline"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
