{% extends "base.html" %}

{% block title %}Forgot password – CourtListener.com{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.auto-focus:first').focus();
        });
     </script>
{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        {% if validlink %}

            <div class="well">
                <h2>Enter New Password</h2>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <p class="bottom">There were errors in your submission.</p>
                    </div>
                {% endif %}

                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <p class="help-block">
                                {% for error in form.new_password1.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <p class="help-block">
                                {% for error in form.new_password2.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>

                  <button type="submit" class="btn btn-primary">Reset My Password</button>
                </form>
            </div>

        {% else %}
            <h2>Password reset unsuccessful.</h2>
            <p>The password reset link was invalid, possibly because it has already
                been used.  Please <a href="{% url "password_reset" %}">try again</a> or
                <a href="{% url "contact" %}">contact us for assistance</a>.</p>
        {% endif %}
    </div>
    <div class="col-sm-3"></div>
{% endblock %}
