You're receiving this email because you requested a password reset for your account at {{ site_name }}.

Please go to the following page and choose a new password:
{{protocol}}://{{domain}}{% url "django.contrib.auth.views.password_reset_confirm" uidb64=uid token=token %}

Your username, in case you've forgotten it is: {{ user.username }}

Thanks for using our site!

~{{ site_name }}

If you did not initiate this reset, do not be concerned. Simply ignore this email, and the password reset will not occur.
