{% extends "base.html" %}

{% block title %}Forgot password - CourtListener.com{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript">
	    $(document).ready(function() {
		    $('.auto-focus:first').focus();
	    });
     </script>
{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2>Reset Your Password</h2>

        {% if form.errors %}
            <div class="alert alert-danger">
                <p>That e-mail address doesn't have an associated
                    user account.</p>
                <p>Are you sure you've <a href="/register/">registered</a>?</p>
            </div>
        {% endif %}
        <p>Enter your email address and we will send you the username on the account
            and instructions for resetting your password.</p>

        <form action="" method="post">{% csrf_token %}
            <div class="input-group">
                <label class="sr-only" for="email">Email address</label>
                {{ form.email }}
                <span class="input-group-btn">
                    <button type="submit"
                            class="btn btn-primary btn-lg">Submit</button>
                </span>
            </div>
        </form>


        <p class="v-offset-above-2">If you are unable to reset your account,
            please <a href="{% url "contact" %}">contact us for assistance</a>.</p>
    </div>
    <div class="col-sm-3"></div>
{% endblock %}
