{% extends "base.html" %}
{% load auth %}
{% load static %}
{% load waffle_tags %}

{% block title %}
  Decisions for {{ court }} – CourtListener.com
{% endblock %}
{% block og_title %}
  Decisions for {{ court }} – CourtListener.com
{% endblock %}
{% block description %}
  Search and read decisions from the {{ court }}
{% endblock %}
{% block og_description %}
  Search and read decisions from the {{ court }}
{% endblock %}

{% block navbar-o %}active{% endblock %}
{% block sidebar %}{% endblock %}


{% block footer-scripts %}
  <script src="{% static "js/jquery.bootstrap-growl.js" %}"></script>

{% endblock %}

{% block content %}
  <div id="court_homepage" class="col-md-12">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <img src="{{ court_seal }}" class="img-responsive" width="128" height="128">
      </div>
      <div class="col-md-8">
        <h1>Decisions of the {{ court }}
        </h1>
        {% if pk == "me" %}
          <div class="lead gray">
            <p>The Supreme Judicial Court of Maine has partnered with the non-profit organization, Free Law Project, to host its court decisions on CourtListener.com. Free Law Project is proud to support this partnership and makes the decisions available online as they are released by the court.</p>
          </div>
        {% endif %}
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row" id="main-query-box">
      <form action="/?" method="get" id="court-search-form" class="form-inline" role="form">
        <div id="search-container" class="text-center">
          <div class="input-group">
            <input class="form-control input-lg"
                   value=""
                   name="q"
                   id="id_q"
                   autocomplete="off"
                   type="text">
            <div class="hidden">
              <label for="id_{{ pk }}">
                <input id="id_{{ pk }}" name="court_{{ pk }}" checked="checked" type="checkbox">
              </label>
            </div>

            <span class="input-group-btn">
              <button type="submit"
                      class="btn btn-primary btn-lg"
                      name="search"
                      id="search-button"><i class="fa fa-search"></i>&nbsp;Search
              </button>
            </span>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Recent Decisions of the&nbsp;{{ court }} <i class="gray fa fa-file-text-o"></i></h3>
        {% if request.user|in_group:"uploaders_{{ pk }}" %}
          <p><a href="{% url "court_publish_page" pk=pk %}"
              class="btn btn-default"><i class="fa fa-upload"></i>&nbsp;Upload New {{ court }} Decision</a></p>
        {% endif %}
        {% if results.paginator.count > 0 %}
          {% flag "o-es-active" %}
            {% include "includes/search_result.html" with results=results type_override=SEARCH_TYPES.OPINION simple=True %}
          {% else %}
            {% include "includes/search_result_solr.html" with results=results type_override=SEARCH_TYPES.OPINION simple=True %}
          {% endflag %}

          <p class="left">
            <a href="/?court_{{ pk }}=on&order_by=dateFiled+desc&court={{ pk }}"
               class="btn btn-default btn-lg v-offset-above-2"
               rel="nofollow"
            >See More Recent Opinions</a>
          </p>
        {% else %}
          <p>No cases yet.</p>
        {% endif %}
      </div>
      {% if pk == "me" %}
        <div class="col-md-4">
        <h3>About the Court</h3>
          <p>The Supreme Judicial Court of Maine is the highest court in the state of Maine. It is made up of a chief justice and six associate justices who are appointed by the governor and confirmed by the Maine Senate. The court has general appellate jurisdiction and is responsible for interpreting the state's laws and constitution. It also has the power to issue advisory opinions on matters of law to the governor and the state's legislature.</p>
        <hr>
        <h3>Neutral Citations</h3>
          <p>Supreme Judicial Court of Maine court uses neutral citations to cite its opinions.</p>
        <p>Citations to the {{ court }} take the form:</p>
        <pre>[YEAR] ME [#]</pre>
        <p>In this cases, the format begins with the year, then an abbreviation for the court (ME), and finishes with a serial number indicating the decision number.</p>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
