{% extends "docket_tabs.html" %}

{% block title %}Parties for {{ title }} – CourtListener.com{% endblock %}
{% block og_title %}Parties for {{ title }} - CourtListener.com{% endblock %}
{% block description %}Parties for {{ title }} — Brought to you by the RECAP
  Initiative and Free Law Project, a non-profit dedicated to creating high
  quality open legal information.{% endblock %}
{% block og_description %}Parties for {{ title }} — Brought to you by the RECAP
  Initiative and Free Law Project, a non-profit dedicated to creating high
  quality open legal information.{% endblock %}

{% block nav-parties %}active{% endblock %}

{% block tab-content %}
<div class="visible-md visible-lg col-md-1 col-lg-2"></div>
<div class="col-xs-12 col-md-10 col-lg-8">
    {% for party_dict in parties %}
        <h3><i class="fa fa-user gray"></i>&nbsp;{{ party_dict.party_type_name }}</h3>
        <hr class="top">
        {% for party_type in party_dict.party_type_objects %}
            <div class="row v-offset-above-2">
                {% with party=party_type.party %}

                {# party names #}
                <div class="col-xs-5">
                    <h4 class="bottom">{{ party.name|safe }}
                        {% if perms.people_db.change_party %}
                            <a href="{% url 'admin:people_db_party_change' party.id %}"><i class="fa fa-pencil gray"></i>
                            </a>
                        {% endif %}
                    </h4>
                    {% if party_type.date_terminated %}
                      <p><em>Terminated ({{ party_type.date_terminated }})</em></p>
                    {% endif %}
                </div>
                {% regroup party_type.party.roles.all|dictsort:"attorney.name" by attorney as attorney_list %}
                {% if attorney_list %}
                <div class="col-xs-3">
                    <p class="alt text-uppercase right representation">Represented&nbsp;by</p>
                </div>

                {# Attorneys #}
                <div class="col-xs-4">
                    {% for a in attorney_list %}
                        <div class="v-offset-below-1">
                        <h4 class="bottom">{{ a.grouper.name|safe }}
                            {% if perms.people_db.change_attorney %}
                                <a href="{% url 'admin:people_db_attorney_change' a.grouper.id %}"><i class="fa fa-pencil gray"></i>
                                </a>
                            {% endif %}
                        </h4>
                        {% if a.grouper.phone or a.grouper.fax %}
                            <p class="bottom">
                                {% if a.grouper.phone %}
                                    <i class="fa fa-phone gray"
                                       title="Phone"></i>&nbsp;&nbsp;{{ a.grouper.phone }}<br>
                                {% endif %}
                                {% if a.grouper.fax %}
                                    <span class="gray">Fax:</span>&nbsp;{{ a.grouper.fax }}<br>
                                {% endif %}
                            </p>
                        {% endif %}
                        {% for f in a.grouper.firms_in_docket %}
                            <p class="bottom">
                                {% if perms.people_db.change_attorneyorganization %}
                                    <a href="{% url 'admin:people_db_attorneyorganization_change' f.id %}"><i class="fa fa-pencil gray"></i>
                                    </a>
                                {% endif %}
                                {% if f.name %}
                                    {{ f.name }}<br>
                                {% endif %}
                                {% if f.address1 %}
                                    {{ f.address1 }}<br>
                                {% endif %}
                                {% if f.address2 %}
                                    {{ f.address2 }}<br>
                                {% endif %}
                                {% if f.city or f.state or f.zip_code %}
                                    {{ f.city }},&nbsp;{{ f.state }}&nbsp;{{ f.zip_code }}
                                {% endif %}
                            </p>
                        {% endfor %}
                        {% for role in a.list %}
                            {% if role.role != role.UNKNOWN %}
                            <p class="bottom"><em>
                              {% if role.role_raw %}
                                {{ role.role_raw }}&nbsp;{% if role.date_action %}({{ role.date_action }}){% endif %}
                              {% else %}
                                {{  role.get_role_display }}&nbsp;{% if role.date_action %}({{ role.date_action }}){% endif %}
                              {% endif %}<br>
                            </em></p>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="clearfix"></div>
                {% endwith %}

                {# Criminal Data as sub-row #}
                {% if party_type.highest_offense_level_opening or party_type.highest_offense_level_terminated or party_type.criminal_counts.all or party_type.complaints.all %}
                  <div class="col-xs-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-condensed bottom">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Description</th>
                            <th>Disposition</th>
                          </tr>
                        </thead>
                        {% for count in party_type.criminal_counts.all %}
                          <tr>
                            <td><strong>{{ count.get_status_display }}&nbsp;Count</strong></td>
                            <td>{{ count.name }}</td>
                            <td>{{ count.disposition|default:"None" }}</td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td><strong>Pending&nbsp;Count</strong></td>
                            <td>None</td>
                            <td>None</td>
                          </tr>
                          <tr>
                            <td><strong>Terminated&nbsp;Count</strong></td>
                            <td>None</td>
                            <td>None</td>
                          </tr>
                        {% endfor %}
                        {% for complaint in party_type.criminal_complaints.all %}
                          <tr>
                            <td><strong>Complaint</strong></td>
                            <td>{{ complaint.name }}</td>
                            <td>{{ complaint.disposition|default:"None" }}</td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td><strong>Complaint</strong></td>
                            <td>None</td>
                            <td>None</td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <p class="bottom">
                      <span class="meta-data-header">Highest Offense Level (Opening):</span>
                      <span class="meta-data-value">{{ party_type.highest_offense_level_opening|default:"None" }}</span>
                    </p>
                    <p class="bottom">
                      <span class="meta-data-header">Highest Offense Level (Terminated):</span>
                      <span
                        class="meta-data-value">{{ party_type.highest_offense_level_terminated|default:"None" }}</span>
                    </p>
                  </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
