{% extends "base.html" %}
{% load extras %}
{% load humanize %}
{% load static %}
{% load text_filters %}
{% load tz %}


{% block canonical %}{% get_canonical_element %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}{% endblock %}

{% block navbar-r %}active{% endblock %}


{% block footer-scripts %}
    <script defer type="text/javascript"
            src="{% static "js/jquery.NobleCount.min.js" %}"></script>
    <script src="{% static "js/jquery.bootstrap-growl.min.js" %}"></script>
    <script defer type="text/javascript"
            src="{% static "js/save-notes.js" %}"></script>
    {% if request.user.is_authenticated %}
      <script defer type="text/javascript"
              src="{% static "js/toggle_settings.js" %}"></script>
    {% endif %}
    {% if request.user.is_staff %}
        <script defer type="text/javascript"
                src="{% static "js/admin_tools.js" %}"></script>
    {% endif %}

    <script type="text/javascript">
      // Set this variable for the docket alerts script to find
      var userAlertAcount = {{ user.docket_alerts.subscriptions.count|default:"0" }};
    </script>

    <script defer type="text/javascript"
            src="{% static "js/docket_alerts.js" %}"></script>
    <script defer type="text/javascript"
            src="{% static "js/buy_pacer_modal.js" %}"></script>

    {% include "includes/buy_pacer_modal.html" %}
    {% include "includes/date_picker.html" %}

    <script type="text/javascript"
            src="{% static "js/react/main.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/react/vendor.js" %}"></script>

{% endblock %}

{% block nav %}
  <div class="col-xs-12">
    {% if perms.search.change_docket %}
      <p class="float-right">
        <a href="{% url 'admin:search_docket_change' docket.id %}"
           class="btn btn-primary btn-xs">Edit&nbsp;Docket&nbsp;({{ docket.view_count }} views)&nbsp;<i class="fa fa-pencil"></i>
        </a>
        {% if request.user.is_superuser %}
          {% if private %}
            &nbsp;<span class="btn btn-danger btn-xs">Blocked <i
              class="fa fa-ban"></i></span>
          {% else %}
            <a class="btn btn-success btn-xs block-item"
               data-id="{{ docket.pk }}"
               data-type="docket">Block This Docket <i class="fa fa-ban"></i>
            </a>
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
    <h1 class="bottom inline" data-type="search.Docket" data-id="{{ docket.pk }}">
      {{ docket|best_case_name|safe|v_wrapper }}
      {% if docket.docket_number %}
        (<span class="select-all">{{ docket.docket_number }}</span>)
      {% endif %}
    </h1>
    {% include "includes/notes_modal.html" %}
    {% include "includes/docket_alerts_modal.html" %}

    <h2>{{ docket.court }}</h2>

    {% if docket.pacer_docket_url or docket_entries %}
      <div class="v-offset-above-2">
        {% include "includes/add_note_button.html" with form_instance_id=note_form.instance.docket_id %}
        <div class="btn-group"
             id="react-root"
             data-docket="{{ docket.id }}"
             data-user-id="{% if user.is_authenticated %}{{ user.pk }}{% endif %}"
             data-user-name="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}"
             data-authenticated="{% if user.is_authenticated %}{{ user.pk }}:{{ user.get_username }}{% endif %}"
             data-edit-url="{% url "tag_list" request.user %}"
             data-is-page-owner=""
        ></div>
        <div class="btn-group">
          {% include "includes/docket_alerts_button.html" %}
          <a class="btn {% if has_alert %}btn-danger{% else %}btn-success{% endif %} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url "docket_feed" docket.pk %}" rel="nofollow"><i class="fa fa-rss fa-fw gray"></i> Subscribe with RSS</a>
            </li>
            <li>
              <a href="{% url "new_docket_alert" %}?pacer_case_id={{ docket.pacer_case_id }}&court_id={{ docket.court_id }}"
                rel="nofollow"><i class="fa fa-share-alt fa-fw gray"></i> Share Alert Link</a>
            </li>
            <li>
              <a href="{% url "alert_help" %}#recap-alerts"><i class="fa fa-question-circle-o fa-fw gray"></i> Learn More</a>
            </li>
          </ul>
        </div>
        {% include "includes/pacer_links_dropdown.html" %}
      </div>
    {% endif %}

    {% if docket.source in docket.RECAP_SOURCES %}
      <p class="bottom">
        <span class="meta-data-header">Last Updated:</span>
        <span class="meta-data-value cursor-help dotted"
              data-toggle="tooltip"
              data-placement="right"
              data-html="true"
              title="This docket was collected as part of the RECAP Project. Therefore, it is updated when users of the RECAP Extension download the docket from PACER. To see the most up to date version of this docket, click the button above to &quot;View on PACER.&quot; The date shown here is <strong>not</strong> the date of the latest filing in this case.">{{ docket.date_modified|timezone:timezone }}</span>
      </p>
    {% endif %}

    {% with og_info=docket.originating_court_information %}
    {% with bankr_info=docket.bankruptcy_information %}
    {% if docket.panel_str %}
      <p class="bottom">
        <span class="meta-data-header">Panel:</span>
        <span class="meta-data-value">{{ docket.panel_str }}</span>
      </p>
    {% endif %}

    {% if docket.assigned_to or docket.assigned_to_str %}
      <p class="bottom">
        <span class="meta-data-header">Assigned To:</span>
        <span class="meta-data-value">
          {% if docket.assigned_to %}
            <a href="{{ docket.assigned_to.get_absolute_url }}">{{ docket.assigned_to.name_full }}</a>
          {% elif docket.assigned_to_str %}
            <a href="/?type=r&amp;assigned_to=&quot;{{ docket.assigned_to_str }}&quot;"
               rel="nofollow"
            >{{ docket.assigned_to_str }}</a>
          {% endif %}
        </span>
      </p>
    {% endif %}

    {% if docket.referred_to or docket.referred_to_str %}
      <p class="bottom">
        <span class="meta-data-header">Referred To:</span>
        <span class="meta-data-value">
          {% if docket.referred_to %}
            <a href="{{ docket.referred_to.get_absolute_url }}">{{ docket.referred_to.name_full }}</a>
          {% elif docket.referred_to_str %}
            <a href="/?type=r&amp;referred_to=&quot;{{ docket.referred_to_str }}&quot;"
               rel="nofollow"
            >{{ docket.referred_to_str }}</a>
          {% endif %}
        </span>
      </p>
    {% endif %}

    {% if docket.date_cert_granted %}
      <p class="bottom">
        <span class="meta-data-header">Date Certiorari Granted:</span>
        <span class="meta-data-value">{{ docket.date_cert_granted }}</span>
      </p>
    {% endif %}

    {% if docket.cert_denied %}
      <p class="bottom">
        <span class="meta-data-header">Date Certiorari Denied:</span>
        <span class="meta-data-value">{{ docket.date_cert_denied }}</span>
      </p>
    {% endif %}

    {% if docket.date_argued %}
      <p class="bottom">
        <span class="meta-data-header">Date Argued:</span>
        <span class="meta-data-value">{{ docket.date_argued }}</span>
      </p>
    {% endif %}
    {% include "includes/citation.html" with obj=docket %}
    {% if docket.date_reargued %}
      <p class="bottom">
        <span class="meta-data-header">Date Reargued:</span>
        <span class="meta-data-value">{{ docket.date_reargued }}</span>
      </p>
    {% endif %}

    {% if docket.date_reargument_denied %}
      <p class="bottom">
        <span class="meta-data-header">Date Reargument Denied:</span>
        <span class="meta-data-value">{{ docket.date_reargument_denied }}</span>
      </p>
    {% endif %}

    {% if docket.date_filed %}
      <p class="bottom">
        <span class="meta-data-header">Date Filed:</span>
        <span class="meta-data-value">{{ docket.date_filed }}</span>
      </p>
    {% endif %}

    {% if docket.date_terminated %}
      <p class="bottom">
        <span class="meta-data-header">Date Terminated:</span>
        <span class="meta-data-value">{{ docket.date_terminated }}</span>
      </p>
    {% endif %}

    {% if docket.date_last_filing %}
      <p class="bottom">
        <span class="meta-data-header">Date of Last Known Filing:</span>
        <span class="meta-data-value">{{ docket.date_last_filing }}</span>
      </p>
    {% endif %}

    {% if docket.cause %}
      <p class="bottom">
        <span class="meta-data-header">Cause:</span>
        <span class="meta-data-value">
          <a href="/?type=r&amp;cause=&quot;{{ docket.cause }}&quot;"
             rel="nofollow"
          >{{ docket.cause }}</a>
        </span>
      </p>
    {% endif %}

    {% if docket.nature_of_suit %}
        <p class="bottom">
          <span class="meta-data-header">Nature of Suit:</span>
          <span class="meta-data-value">
            <a href="/?type=r&amp;nature_of_suit=&quot;{{ docket.nature_of_suit }}&quot;"
               rel="nofollow"
            >{{ docket.nature_of_suit }}</a>
          </span>
        </p>
    {% endif %}

    {% if docket.jury_demand %}
      <p class="bottom">
        <span class="meta-data-header">Jury Demand:</span>
        <span class="meta-data-value">
          <a href="/?type=r&amp;q=juryDemand:&quot;{{ docket.jury_demand }}&quot;"
             rel="nofollow"
          >{{ docket.jury_demand }}</a>
        </span>
      </p>
    {% endif %}

    {% if docket.jurisdiction_type %}
      <p class="bottom">
        <span class="meta-data-header">Jurisdiction Type:</span>
        <span class="meta-data-value">{{ docket.jurisdiction_type }}</span>
      </p>
    {% endif %}

    {% if docket.mdl_status %}
      <p class="bottom">
        <span class="meta-data-header">MLD Status:</span>
        <span class="meta-data-value">{{ docket.mdl_status }}</span>
      </p>
    {% endif %}

    {% if docket.appellate_fee_status %}
      <p class="bottom">
        <span class="meta-data-header">Fee Status:</span>
        <span class="meta-data-value">{{ docket.appellate_fee_status }}</span>
      </p>
    {% endif %}

    {% if docket.appellate_case_type_information %}
      <p class="bottom">
        <span class="meta-data-header">Case Type Information:</span>
        <span class="meta-data-value">{{ docket.appellate_case_type_information }}</span>
      </p>
    {% endif %}

    {% if bankr_info %}
      <h3 class="v-offset-above-3">Bankruptcy Information</h3>
      <hr class="top">
      {% if bankr_info.date_converted %}
        <p class="bottom">
          <span class="meta-data-header">Date Converted:</span>
          <span class="meta-data-value">{{ bankr_info.date_converted|date:"N j, Y" }}</span>
        </p>
      {% endif %}
      {% if bankr_info.date_last_to_file_claims %}
        <p class="bottom">
          <span class="meta-data-header">Last Date to File Claims:</span>
          <span
              class="meta-data-value">{{ bankr_info.date_last_to_file_claims|date:"N j, Y" }}</span>
        </p>
      {% endif %}
      {% if bankr_info.date_last_to_file_govt %}
        <p class="bottom">
          <span class="meta-data-header">Last Date to File Claims (Gov't):</span>
          <span
              class="meta-data-value">{{ bankr_info.date_last_to_file_govt|date:"N j, Y" }}</span>
        </p>
      {% endif %}
      {% if bankr_info.date_debtor_dismissed %}
        <p class="bottom">
          <span class="meta-data-header">Date Debtor Dismissed:</span>
          <span
              class="meta-data-value">{{ bankr_info.date_debtor_dismissed|date:"N j, Y" }}</span>
        </p>
      {% endif %}
      {% if bankr_info.chapter %}
        <p class="bottom">
          <span class="meta-data-header">Chapter:</span>
          <span
              class="meta-data-value">{{ bankr_info.chapter }}</span>
        </p>
      {% endif %}
      {% if bankr_info.trustee_str %}
        <p class="bottom">
          <span class="meta-data-header">Trustee:</span>
          <span
              class="meta-data-value">{{ bankr_info.trustee_str }}</span>
        </p>
      {% endif %}
    {% endif %}

    {% if og_info %}
      <h3 class="v-offset-above-3">Originating Court Information</h3>
      <hr class="top">
      {% if docket.appeal_from or docket.appeal_from_str %}
        <span class="meta-data-header">Appealed From:</span>
        <span class="meta-data-value">
          {% if docket.appeal_from %}
            {{ docket.appeal_from.short_name }}
          {% elif docket.appeal_from_str %}
            {{ docket.appeal_from_str }}
          {% endif %}
            {% if og_info.docket_number %}
              {% if docket.appeal_from %}
                (<a
                href="/?type=r&amp;docket_number={{ og_info.docket_number }}&amp;court={{ docket.appeal_from.pk }}"
                rel="nofollow"
                data-toggle="tooltip"
                data-placement="right"
                title="Search for this docket number in the RECAP Archive.">{{ og_info.docket_number }})</a>
              {% else %}
                ({{ og_info.docket_number }})
              {% endif %}
            {% endif %}
        </span>
      {% endif %}

      {% if og_info.court_reporter %}
        <p class="bottom">
          <span class="meta-data-header">Court Reporter:</span>
          <span class="meta-data-value">{{ og_info.court_reporter }}</span>
        </p>
      {% endif %}
      {% if og_info.assigned_to or og_info.assigned_to_str %}
        <p class="bottom">
          <span class="meta-data-header">Trial Judge:</span>
          <span class="meta-data-value">
            {% if og_info.assigned_to %}
              <a href="{{ og_info.assigned_to.get_absolute_url }}">{{ og_info.assigned_to.name_full }}</a>
            {% elif og_info.assigned_to_str %}
              <a href="/?type=r&amp;assigned_to=&quot;{{ og_info.assigned_to_str }}&quot;"
                 rel="nofollow"
              >{{ og_info.assigned_to_str }}</a>
            {% endif %}
          </span>
        </p>
      {% endif %}

      {% if og_info.ordering_judge or og_info.ordering_judge_str %}
        <p class="bottom">
          <span class="meta-data-header">Ordering Judge:</span>
          <span class="meta-data-value">
            {% if og_info.ordering_judge %}
              <a
                href="{{ og_info.ordering_judge.get_absolute_url }}">{{ og_info.ordering_judge.name_full }}</a>
            {% elif og_info.assigned_to_str %}
              <a href="/?type=r&amp;assigned_to=&quot;{{ og_info.ordering_judge_str }}&quot;"
                 rel="nofollow"
              >{{ og_info.ordering_judge_str }}</a>
            {% endif %}
          </span>
        </p>
      {% endif %}
    {% endif %}

    {% if og_info.date_filed %}
      <p class="bottom">
        <span class="meta-data-header">Date Filed:</span>
        <span class="meta-data-value">{{ og_info.date_filed }}</span>
      </p>
    {% endif %}

    {% if og_info.date_judgment %}
      <p class="bottom">
        <span class="meta-data-header">Date Order/Judgment:</span>
        <span class="meta-data-value">{{ og_info.date_judgment }}</span>
      </p>
    {% endif %}
    {% if og_info.date_judgment_eod %}
      <p class="bottom">
        <span class="meta-data-header">Date Order/Judgment EOD:</span>
        <span class="meta-data-value">{{ og_info.date_judgment_eod }}</span>
      </p>
    {% endif %}
    {% if og_info.date_filed_noa %}
      <p class="bottom">
        <span class="meta-data-header">Date NOA Filed:</span>
        <span class="meta-data-value">{{ og_info.date_filed_noa }}</span>
      </p>
    {% endif %}
    {% if og_info.date_received_coa %}
      <p class="bottom">
        <span class="meta-data-header">Date Rec'd COA:</span>
        <span class="meta-data-value">{{ og_info.date_received_coa }}</span>
      </p>
    {% endif %}
    {% endwith %}{# No more bankr_info variable #}
    {% endwith %}{# No more og_info variable #}
  </div>


  {% if docket.clusters.count %}
    <div class="col-xs-6">
      <h3>Opinions Outside of RECAP Collection</h3>
      <hr class="top">
      <ul>
        {% for cluster in docket.clusters.all %}
          <li>
            <a href="{{ cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                {{ cluster.caption|safe|v_wrapper }}
            </a>
            {% if perms.search.change_document %}
              <a href="{% url 'admin:search_opinioncluster_change' cluster.pk %}"
                 class="btn btn-primary btn-xs">Edit</a>
            {% endif %}
            <br/>
            {{ cluster.date_filed }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if docket.audio_files.count %}
    <div class="col-xs-6">
      <h3>Oral Argument Recordings</h3>
      <hr class="top">
      <ul>
        {% for af in docket.audio_files.all %}
          <li>
            <a href="{{ af.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                {{ af|best_case_name|safe|v_wrapper }}
            </a>
            {% if perms.audio.change_audio %}
              <a href="{% url 'admin:audio_audio_change' af.pk %}"
                 class="btn btn-primary btn-xs">Edit</a>
            {% endif %}
            <br/>
            {{ af.docket.date_argued|default_if_none:"" }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if docket_entries or parties or docket.idb_data %}
    <div class="col-xs-12">
      <ul class="nav nav-tabs v-offset-below-2 v-offset-above-3" role="tablist">
        <li class="{% block nav-de %}inactive{% endblock %}"
            role="presentation">
          <a href="{{  docket.get_absolute_url }}"><i
                  class="fa fa-th-list gray"></i>&nbsp;Docket Entries
              {% if docket_entries.paginator.num_pages > 1 %}
                (Page {{ docket_entries.number|intcomma }} of
                {{ docket_entries.paginator.num_pages|intcomma }})
              {% endif %}
          </a>
        </li>

        {% if parties %}
        <li class="{% block nav-parties %}inactive{% endblock %}"
            role="presentation">
          <a href="{% url "docket_parties" docket_id=docket.pk slug=docket.slug %}"><i class="fa fa-users gray"></i>&nbsp;Parties and Attorneys</a>
        </li>
        {% endif %}

        {% if docket.idb_data %}
        <li class="{% block nav-idb %}inactive{% endblock %}"
            role="presentation">
          <a href="{% url "docket_idb_data" docket_id=docket.pk slug=docket.slug %}"><i class="fa fa-info-circle"></i>&nbsp;FJC Integrated Database
          </a>
        </li>
        {% endif %}
      </ul>
      {% block tab-content %}{% endblock %}
    </div>
  {% endif %}
{% endblock %}
