{% extends "docket_tabs.html" %}
{% load extras %}
{% load admin_urls %}
{% load static %}

{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block og_title %}{{ title }} - CourtListener.com{% endblock %}
{% block description %}Docket for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}
{% block og_description %}Docket for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}

{% block head %}
  {% if DEBUG %}
    <link rel="stylesheet"
          href="{% static "css/bootstrap-datepicker3.css" %}"/>
  {% else %}
    <link rel="stylesheet"
          href="{% static "css/bootstrap-datepicker3.min.css" %}"/>
  {% endif %}
  <link rel="alternate"
        type="application/rss+xml"
        title="Atom Feed for this Docket"
        href="{% url "docket_feed" docket.pk %}" />
{% endblock %}

{% block nav-de %}active{% endblock %}
{% block tab-content %}
{% if docket_entries.paginator.count %}
  {% include "includes/de_filter.html" %}
  {% include "includes/de_list.html" %}
{% else %}
  <div class="row">
    <div class="col-sm-8">
      <p class="lead">There are no entries for this docket in the RECAP Archive. Please download the latest from PACER while using the RECAP Extension.
      </p>
    </div>
    {% if docket.pacer_docket_url %}
      <div class="col-sm-4 right">
        <p>
          {% if not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
            <a href="{{ docket.pacer_docket_url }}"
            data-toggle="modal" data-target="#modal-buy-pacer"
            class="open_buy_pacer_modal btn btn-lg btn-primary"
            target="_blank"
            rel="nofollow"><i class="fa fa-external-link"></i>&nbsp;Buy Docket on PACER</a>
          {% else%}
            <a href="{{ docket.pacer_docket_url }}"
            class="btn btn-lg btn-primary"
            target="_blank"
            rel="nofollow"><i class="fa fa-external-link"></i>&nbsp;Buy Docket on PACER</a>
          {% endif %}

        </p>
      </div>
    {% endif %}
  </div>
{% endif %}

{% if docket_entries.has_other_pages %}
  <div class="col-xs-12" >
    {% include "includes/pagination.html" with page_obj=docket_entries %}
  </div>
{% endif %}
{% endblock %}
