{% extends "base.html" %}
{% load text_filters %}
{% load cache %}
{% load partition_util %}

{% block sidebar %}{% endblock %}

{% block navbar-o %}active{% endblock %}

{% block title %}
     Several Opinions Found – CourtListener.com
{% endblock %}

{% block og_title %}
    {{ citation_str }}: Several Opinions Found – CourtListener.com
{% endblock %}

{% block description %}
  Found multiple opinions that match the partial URL provided.
{% endblock %}

{% block og_description %}
  Found multiple opinions that match the partial URL provided.
{% endblock %}

{% block content %}
    <div class="col-md-3"></div>
    <div class="col-md-6" id="citation-redirect">
            <h1 class="v-offset-below-2">Found More than One Result for "{{ slug_str|nbsp }}"</h1>
            <ul>
                {% for cluster in clusters %}
                    <li>
                        <a href="{{ cluster.get_absolute_url }}">{{ cluster.caption|safe|v_wrapper }}</a>
                        <br>
                        {{ cluster.docket.court }} |
                        {{ cluster.date_filed }}
                    </li>
                {% endfor %}
            </ul>
    </div>
    <div class="col-md-3"></div>
{% endblock %}
