{% extends "base.html" %}
{% load extras %}
{% load humanize %}
{% load text_filters %}

{% block canonical %}{% get_canonical_element %}{% endblock %}
{% block title %}Summaries of {{ title }} – CourtListener.com{% endblock %}
{% block og_title %}Summaries of {{ title }} – CourtListener.com{% endblock %}
{% block description %}Summaries of {{ title }}{% endblock %}
{% block og_description %}
  {% if summaries_count > 0 %}
    {{ summaries_count|intcomma }} summaries were extracted from other cases — {{ parenthetical_groups.0.representative.text|capfirst }}{% else %}No summaries found for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endif %}
{% endblock %}

{% block navbar-o %}active{% endblock %}

{% block sidebar %}
  <div class="col-sm-3" id="sidebar">
    <div class="sidebar-section">
      <h4 class="bottom">
        <i class="fa fa-arrow-circle-o-left gray"></i>
        <a href="{{ cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}"
           {% if cluster.blocked %}rel="nofollow"{% endif %}>Back to Opinion</a>
      </h4>
    </div>
  </div>
{% endblock sidebar %}

{% block content %}
  <div class="col-sm-9">
    <h2>
      <a href="{{ cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}"
         class="black-link no-underline"
         {% if cluster.blocked %}rel="nofollow"{% endif %}>{{ caption|safe|v_wrapper }}</a>
    </h2>

    <div id="all-summaries">
      <h3>{{ summaries_count|intcomma }} judge-written summar{{ summaries_count|pluralize:"y,ies" }} of this opinion
        from other cases.</h3>
      {% if summaries_count > 0 %}
        <p>We looked through our complete case law collection for parenthetical summaries of this case and
          organized them into {{ parenthetical_groups|length }}
          group{{ parenthetical_groups|length|pluralize }}.</p>
      {% endif %}
      <hr>
      <ul>
        {% for group in parenthetical_groups %}
          {% with representative=group.representative %}
            {% with representative_cluster=representative.describing_opinion.cluster %}
              <li class="v-offset-below-2">
                {{ representative.text|capfirst }}
                <br/>
                <div class="summary-group-metadata">
                  <span class="bullet-tail">{{ representative_cluster.date_filed }}</span>
                  <span class="bullet-tail">
                    <a href="{{ representative_cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                        {{ representative_cluster|best_case_name|safe }}
                    </a>
                  </span>
                  <span class="bullet-tail">{{ representative_cluster.docket.court }}</span>
                  {% if group.size > 1 %}
                    <button class="toggle-group-summaries btn btn-link" type="button" data-toggle="collapse"
                            aria-expanded="false" aria-controls="group-summaries"
                            data-target="#group-summaries-{{ representative.pk }}">
                      <span class="collapsed">Show all {{ group.size|intcomma }} summaries like this</span>
                      <span class="expanded">Hide similar summaries</span>
                    </button>
                  {% endif %}
                </div>
              </li>
              <ul class="group-summaries collapse" id="group-summaries-{{ representative.pk }}">
                {% for summary in group.parentheticals.all %}
                  {% with describing_cluster=summary.describing_opinion.cluster %}
                    {# Don't duplicate the representative cluster in the nested group #}
                    {% if summary != representative %}
                      <li class="v-offset-below-1">
                        {{ summary.text|capfirst }}
                        <br/>
                        <span class="bullet-tail">{{ describing_cluster.date_filed }}</span>
                        <span class="bullet-tail">
                          <a href="{{ describing_cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                              {{ describing_cluster|best_case_name|safe }}
                          </a>
                        </span>
                        <span class="bullet-tail">{{ describing_cluster.docket.court }}</span>
                      </li>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              </ul>
            {% endwith %}
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
