{% extends "base.html" %}
{% load extras %}
{% load humanize %}
{% load static %}
{% load text_filters %}


{% block canonical %}{% get_canonical_element %}{% endblock %}
{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block og_title %}{{ title }} – CourtListener.com{% endblock %}
{% block description %}Opinion for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}
{% block og_description %}{{ cluster|best_case_name }}{% if summaries_count > 0 %} — {{ top_parenthetical_groups.0.representative.text|capfirst }}{% else %} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endif %}
{% endblock %}

{% block navbar-o %}active{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for cases citing {{cluster|best_case_name|truncatewords:10}}" href="/feed/search/?q=cites:({{ cluster.sub_opinions.all|OR_join }})">
{% endblock %}

{% block footer-scripts %}
    <script defer type="text/javascript" src="{% static "js/jquery.NobleCount.min.js" %}"></script>
    <script defer type="text/javascript" src="{% static "js/save-notes.js" %}"></script>
    {% if request.user.is_staff %}
        <script defer type="text/javascript" src="{% static "js/admin_tools.js" %}"></script>
        {% if DEBUG %}
            <script src="{% static "js/jquery.bootstrap-growl.js" %}"></script>
        {% else %}
            <script src="{% static "js/jquery.bootstrap-growl.min.js" %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}


{% block sidebar %}
    <div class="col-sm-3" id="sidebar">
        {# show the admin tools if applicable #}
        {% if perms.search.change_docket or perms.search.change_opinioncluster or perms.search.change_citation %}
            <div class="sidebar-section">
                <h3><span>Admin</span></h3>
                <p>
                    {% if perms.search.change_docket %}
                        <a href="{% url 'admin:search_docket_change' cluster.docket.pk %}"
                           class="btn btn-primary btn-xs">Docket</a>
                    {% endif %}
                    {% if perms.search.change_opinioncluster %}
                        <a href="{% url 'admin:search_opinioncluster_change' cluster.pk %}"
                           class="btn btn-primary btn-xs">Cluster</a>
                    {% endif %}
                    {% if perms.search.change_opinion %}
                        {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                            <a href="{% url 'admin:search_opinion_change' sub_opinion.pk %}"
                               class="btn btn-primary btn-xs">{{ sub_opinion.type }} opinion</a>
                        {% endfor %}
                    {% endif %}
                    {% if request.user.is_superuser %}
                        {% if private %}
                            <div class="btn btn-danger btn-xs">Blocked <i
                                    class="fa fa-ban"></i></div>
                        {% else %}
                            <div class="btn btn-success btn-sm block-item"
                                 data-id="{{ cluster.pk }}"
                                 data-type="cluster">Block Cluster and Docket <i
                                    class="fa fa-ban"></i></div>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        {% endif %}

        {# show this div if it is a note, otherwise, put it in place, in anticipation of it becoming one. #}
        <div class="{% if not note_form.instance.cluster_id %}hidden{% endif %} sidebar-section" id="sidebar-notes">
            <div>
                <h3 class="inline"><span>Your Notes</span></h3>
                <p class="inline" data-toggle="modal" data-target="#modal-save-note">
                    (<a href="#note-editor">edit</a>)
                     <i class="fa fa-pencil gray pointer"></i>
                </p>
                <p id="sidebar-notes-text">
                    {{ note_form.instance.notes|default:"(none)" }}
                </p>
            </div>
        </div>

        {% if summaries_count > 0  %}
        <div id="summaries" class="sidebar-section">
          <h3><span>Summaries ({{ summaries_count|intcomma }})</span></h3>
          <p class="bottom">Judge-written summaries of this case:</p>
          <ul>
            {% for group in top_parenthetical_groups %}
              {% with summary=group.representative %}
              <li>
                {{ summary.text|truncatewords:50|capfirst }}
                  (from {{ group.size|intcomma }} case{{ group.size|pluralize }})
              </li>
              {% endwith %}
            {% endfor %}
          </ul>
          <h4>
            <a href="{% url "view_summaries" pk=cluster.pk slug=cluster.slug %}?{{ request.META.QUERY_STRING }}"
               class="btn btn-default">
              View All Summaries
            </a>
          </h4>
        </div>
        {% endif %}

        <div id="cited-by" class="sidebar-section">
          <h3>
            <span>Cited By ({{ citing_cluster_count|intcomma }}) <a
              href="/feed/search/?type=o&q=cites%3A({{ cluster.sub_opinions.all|OR_join }})"
              rel="nofollow">
                <i class="gray fa fa-rss"
                   title="Subscribe to a feed of citations to this case."></i>
              </a>
            </span>
          </h3>
          {% if citing_cluster_count > 0 %}
            <p class="bottom">This case has been cited by other opinions:</p>
            <ul>
              {% for citing_cluster in citing_clusters %}
                <li>
                  <a href="{{ citing_cluster.absolute_url }}?{{ request.META.QUERY_STRING }}">{{ citing_cluster.caseName|safe|truncatewords:12|v_wrapper }} ({{ citing_cluster.dateFiled|date:"Y" }})</a>
                </li>
              {% endfor %}
            </ul>
            <p>
              <a href="/?q=cites%3A({{ cluster.sub_opinions.all|OR_join }})"
                 rel="nofollow"
                 class="btn btn-default"
              >View Citing Opinions</a>
            </p>
          {% else %}
            <p>This case has not yet been cited in our system.</p>
          {% endif %}
          <div class="btn-group">
            <a href="/?show_alert_modal=yes&q=cites%3A({{ cluster.sub_opinions.all|OR_join }})"
               rel="nofollow"
               class="btn btn-primary"
            ><i class="fa fa-bell-o"></i> Get Citation Alerts</a>
            <a class="btn btn-primary dropdown-toggle"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url "alert_help" %}#citation-alerts">Learn More</a></li>
            </ul>
          </div>
        </div>


        {# Show cases this case cites #}
        {% if authorities_count > 0  %}
            <div id="authorities" class="sidebar-section">
                <h3><span>Authorities ({{ authorities_count|intcomma }})</span></h3>
                <p class="bottom">This opinion cites:</p>
                <ul>
                    {% for authority in top_authorities %}
                        <li>
                            <a href="{{ authority.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                                {{ authority.caption|safe|truncatewords:10|v_wrapper }}
                            </a>
                            {% if authority.citation_depth %}
                              <span class="small gray">({{ authority.citation_depth }}&nbsp;time{{ authority.citation_depth|pluralize }})</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <h4>
                    <a href="{% url "view_authorities" pk=cluster.pk slug=cluster.slug %}?{{ request.META.QUERY_STRING }}"
                       class="btn btn-default">
                        View All Authorities
                    </a>
                </h4>
            </div>
        {% endif %}

        {# Related opinions #}
        {% if related_clusters %}
            <div id="recommendations" class="sidebar-section">
                <h3><span>Related Opinions</span></h3>

                <p class="bottom">The following opinions cover similar topics:</p>

                {% url 'show_results' as show_results_url %}

                {% with sub_opinion_ids_list=sub_opinion_ids|join:',' pk_str=cluster.pk|stringformat:"s" %}
                {% with event_category='clickRelated' event_action='clickRelated_'|add:related_algorithm|add:'_seed'|add:pk_str %}
                {% with opinions=related_clusters full_list_url=show_results_url|add:"?q=related:"|add:sub_opinion_ids_list|add:related_search_params %}

                  {% include 'includes/opinions_sidebar.html' %}

                {% endwith %}{% endwith %}{% endwith %}
            </div>
        {% endif %}

        {# Visualizations #}
        {% if cluster.top_visualizations %}
            <div id="visualizations" class="sidebar-section">
                <h3><span>Visualizations</span></h3>
                {% url "cluster_visualizations" pk=cluster.pk slug=cluster.slug as cluster_visualizations_url %}

                {% with opinions=cluster.top_visualizations|slice:":5" full_list_url=cluster_visualizations_url|add:"?q"|add:request.META.QUERY_STRING %}
                    {% include 'includes/opinions_sidebar.html' %}
                {% endwith %}
            </div>
        {% endif %}

        {% include "includes/social_links.html" %}
        {% include "includes/donate_sidebar.html" with referrer="o-donate-now" %}

        {# Sponsored by #}
        {% if sponsored %}
            <div id="sponsored-by" class="sidebar-section">
                <h3>
                  <span>Sponsored By</span>
                </h3>
                <p>This opinion added to CourtListener with support from v|Lex.</p>
                <a href="https://www.vlex.com" rel="sponsored" target="_blank">
                    <img id="vlex" src="{% static "img/vlex-logo-150-75.png" %}" alt="v|lex logo" class="img-responsive" width="150" height="75" >
                </a>
            </div>
        {% endif %}

    </div>
{% endblock %}


{% block content %}
    <article class="col-sm-9">
        {% with opinion_count=cluster.sub_opinions.all.count %}
            <h2 class="inline">{{ cluster.caption|safe|v_wrapper }}</h2>
            {% include "includes/notes_modal.html" %}

            <h3>{{ cluster.docket.court }}</h3>
            <p>
              <button id="add-note-button"
               class="btn {% if note_form.instance.cluster_id %}btn-warning{% else %}btn-success{% endif %} pointer hidden-print"
               data-toggle="modal"
               data-target="#modal-save-note, #modal-logged-out"
               title="{% if note_form.instance.cluster_id %}Edit this note{% else %}Save this record as a note in your profile{% endif %}">
                <i class="fa fa-bookmark "></i> <span>{% if note_form.instance.cluster_id %}Edit Note{% else %}Add Note{% endif %}</span></button>
            </p>
            {% if cluster.syllabus %}
                <div class="well well-sm">
                    <h4>Summary of Opinion</h4>
                    <p>{{ cluster.syllabus | safe }} </p>
                </div>
            {% endif %}

            <p class="bottom">
                <span class="meta-data-header">Filed{% if cluster.date_filed_is_approximate %} Approximately{% endif %}:</span>
                <span class="meta-data-value">
                    {{cluster.date_filed|date:"F jS, Y"}}
                    {% if cluster.date_filed_is_approximate %}
                        <i class="fa fa-question-circle gray cursor-help"
                           data-toggle="tooltip"
                           data-placement="right"
                           title="This filing date was gathered by an automated tool and is not exact. In general approximated dates are within a month of the correct date."></i>
                    {% endif %}
                </span>
            </p>
            <p class="bottom">
                <span class="meta-data-header">Precedential Status:</span>
                <span class="meta-data-value">
                    {{cluster.get_precedential_status_display|default:'Unknown'}}
                    {% if cluster.docket.court_id == 'ill' or cluster.docket.court_id == 'illappct' %}
                    <i class="fa fa-warning gray"
                        data-toggle="modal"
                        data-target="#modal-note-illinois-court"
                        title="A Note on Illinois Opinions"></i>
                    {% endif %}
                </span>
            </p>
            {% if cluster.docket.court_id == 'ill' or cluster.docket.court_id == 'illappct' %}
              {% include "includes/note_illinois_court_modal.html" %}
            {% endif %}
            <p class="bottom">
                <span class="meta-data-header">Citations:</span>
                <span class="meta-data-value">
                    {{ cluster.citation_string|default:"None known" }}
                </span>
            </p>
            {% if cluster.docket.court_id != "olc" %}
                <p class="bottom">
                    <span class="meta-data-header">Docket Number:</span>
                    <span class="meta-data-value">
                        {{ cluster.docket.docket_number|default:"Unknown" }}
                    </span>
                </p>
            {% endif %}
            {% if cluster.docket.court_id == 'scotus' %}
            <p class="bottom">
                <span class="meta-data-header">Supreme Court Database ID:</span>
                <span class="meta-data-value">
                    {% if cluster.scdb_id %}
                        <a href="http://scdb.wustl.edu/analysisCaseDetail.php?cid={{ cluster.scdb_id }}-01" target="_blank">
                        {{ cluster.scdb_id }}
                        </a><i class="gray fa fa-external-link"></i>
                    {% else %}
                        Unknown
                    {% endif %}
                </span>
            </p>
            {% endif %}
            {% if cluster.panel.all.count > 0 %}
                <p class="bottom">
                    <span class="meta-data-header">Panel:</span>
                    {% for p in cluster.panel.all %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if cluster.non_participating_judges.all.count > 0 %}
                <p class="bottom">
                    <span class="meta-data-header">Non-Participating Judges:</span>
                    {% for p in cluster.non_participating_judges.all %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if opinion_count == 1 %}
                {% with opinion=cluster.sub_opinions.all.0 %}
                {% if opinion.author %}
                    <p class="bottom">
                        <span class="meta-data-header">Author:</span>
                        <span class="meta-data-value">
                            <a href="{{ opinion.author.get_absolute_url }}">{{ opinion.author.name_full }}</a>
                        </span>
                    </p>
                {% elif opinion.author_str %}
                    <p class="bottom">
                        <span class="meta-data-header">Author:</span>
                        <span class="meta-data-value">{{ opinion.author_str }}</span>
                    </p>
                {% elif cluster.judges %}
                    <p class="bottom">
                        <span class="meta-data-header">Judges:</span>
                        <span class="meta-data-value">{{ cluster.judges }}</span>
                    </p>
                {% endif %}

                {% if opinion.joined_by.all.count > 0 %}
                <p class="bottom">
                    <span class="meta-data-header">Joined By:</span>
                    {% for p in opinion.joined_by.all %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                {% endwith %}
            {% endif %}

            {% if cluster.nature_of_suit %}
            <p class="bottom">
                <span class="meta-data-header">Nature of suit:</span>
                <span class="meta-data-value">{{ cluster.nature_of_suit }}</span>
            </p>
            {% endif %}

            {# Download original? #}
            {% if 'C' in cluster.source and has_downloads or 'D' in cluster.source%}
                <div class="btn-group v-offset-below-3 v-offset-above-1">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Download Original <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                            {% if sub_opinion.local_path %}
                                <li>
                                    <a href="{{ sub_opinion.local_path.url }}"
                                       rel="nofollow">
                                        {{ sub_opinion.get_type_display }} from
                                        our Backup
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                            {% if sub_opinion.download_url %}
                                {% if forloop.counter == 1 %}
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ sub_opinion.download_url }}"
                                       rel="nofollow">
                                        {{ sub_opinion.get_type_display }} from
                                        the Court
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <br>

            {# Only display tabs and make panels if more than one sub-opinion. #}
            {% if opinion_count > 1 %}
                <ul class="nav nav-tabs v-offset-below-1" role="tablist">
                    {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                        <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
                            <a href="#{{ sub_opinion.type }}{{ forloop.counter }}"
                               aria-controls="{{ sub_opinion.type }}{{ forloop.counter }}"
                               role="tab"
                               data-toggle="tab">{{ sub_opinion.get_type_display }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="tab-content">
                {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                    <div {% if opinion_count > 1 %}
                            role="tabpanel"
                            class="tab-pane {% if forloop.first %}active{% endif %}"
                        {% endif %}
                            id="{{ sub_opinion.type }}{{ forloop.counter }}">
                        {% if opinion_count > 1 %}
                            {% if sub_opinion.author %}
                                <p class="bottom">
                                    <span class="meta-data-header">Author:</span>
                                    <span class="meta-data-value">
                                        <a href="{{ sub_opinion.author.get_absolute_url }}">{{ sub_opinion.author.name_full }}</a>
                                    </span>
                                </p>
                            {% elif sub_opinion.author_str %}
                                <p class="bottom">
                                    <span class="meta-data-header">Author:</span>
                                    <span class="meta-data-value">{{ sub_opinion.author_str }}</span>
                                </p>
                            {% elif cluster.judges %}
                                <p class="bottom">
                                    <span class="meta-data-header">Judges:</span>
                                    <span class="meta-data-value">{{ cluster.judges }}</span>
                                </p>
                            {% endif %}

                            {% if sub_opinion.joined_by.all.count > 0 %}
                                <p class="bottom">
                                    <span class="meta-data-header">Joined By:</span>
                                    {% for p in sub_opinion.joined_by.all %}
                                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>
                                        {% if not forloop.last %},
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endif %}
                        {% if sub_opinion.extracted_by_ocr %}
                            <div class="col-sm-12 alert-warning alert v-offset-above-2">
                                <p class="bottom">The text of this document was obtained by analyzing a scanned document and may have typos.
                                  {% if sub_opinion.download_url %}
                                    You may prefer <a href="{{ sub_opinion.download_url }}"
                                                      class="visitable"
                                                      rel="nofollow">reading the original</a>.
                                  {% endif %}
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        {% endif %}
                        {% if 'Z' in cluster.source %}
                        <div id="columbia-text" class="v-offset-above-2">
                        {% elif 'L' in cluster.source %}
                        <div id="lawbox-text" class="v-offset-above-2">
                        {% elif 'R' in cluster.source %}
                        <div id="resource-org-text" class="v-offset-above-2">
                        {% else %}
                        <div id="default-text" class="v-offset-above-2">
                        {% endif %}
                            <div id="opinion-content"> {# used by Zotero, Juris-M #}
                                {% if sub_opinion.html_with_citations %}
                                  {% if cluster.source == "C" %}
                                    {# It's a PDF with no HTML enrichment #}
                                    <div class="plaintext">{{ sub_opinion.html_with_citations|safe }}</div>
                                  {% else %}
                                    <div class="serif-text">{{ sub_opinion.html_with_citations|safe }}</div>
                                  {% endif %}
                                {% elif sub_opinion.html_columbia %}
                                  <div class="serif-text">{{ sub_opinion.html_columbia|safe }}</div>
                                {% elif sub_opinion.html_lawbox %}
                                  <div class="serif-text">{{ sub_opinion.html_lawbox|safe }}</div>
                                {% elif sub_opinion.xml_harvard %}
                                  <div class="serif-text">{{ sub_opinion.xml_harvard|safe }}</div>
                                {% elif sub_opinion.html_anon_2020 %}
                                  <div class="serif-text">{{ sub_opinion.html_anon_2020|safe }}</div>
                                {% elif sub_opinion.html %}
                                  <div class="serif-text">{{sub_opinion.html|safe}}</div>
                                {% else %}
                                    <pre>{{sub_opinion.plain_text}}</pre>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endwith %}
    </article>
{% endblock %}
