{% extends "recap_document.html" %}
{% load humanize %}

{% block nav-pdf %}{% endblock %}
{% block content-pdf %}{% endblock %}
{% block nav-authorities %}active{% endblock %}

{% block tab-content %}
  <div role="tabpanel" class="tab-pane active" id="text">
    <div id="authorities">
      <h3>This {{authorities_context.doc_type}} cites {{ authorities_context.total_authorities_count|intcomma }} opinion{{ authorities_context.total_authorities_count|pluralize }}</h3>
      <hr>
      {# Westlaw's metadata organization: Checkbox, Treatment, Name + citation + summary, Date, Type, Depth #}
      {% include 'includes/authorities_list.html' with authorities=authorities_context.full_list_authorities %}
    </div>
  </div>

{% endblock %}
