{% extends "base.html" %}
{% load auth %}
{% load static %}
{% load waffle_tags %}

{% block title %}
  Decisions for Tennessee Workers' Compensation Courts – CourtListener.com
{% endblock %}
{% block og_title %}
  Decisions for Tennessee Workers' Compensation Courts – CourtListener.com
{% endblock %}
{% block description %}
  Search and read decisions from the Tennessee Court of Workers' Compensation Claims and Tennessee Workers' Compensation Appeals Board
{% endblock %}
{% block og_description %}
  Search and read decisions from the Tennessee Court of Workers' Compensation Claims and Tennessee Workers' Compensation Appeals Board
{% endblock %}

{% block navbar-o %}active{% endblock %}
{% block sidebar %}{% endblock %}


{% block footer-scripts %}
  <script src="{% static "js/jquery.bootstrap-growl.js" %}"></script>

  <script type="text/javascript" nonce="{{ request.csp_nonce }}">
    $(document).ready(function () {
      $('#tenn-search-form').on("submit", function (e) {
        let checkboxes = $('input:checkbox');
        let unCheckedCheckboxes = $('input:checkbox:not(:checked)');
        if (checkboxes.length === unCheckedCheckboxes.length){
          // All checkboxes are unchecked
          e.preventDefault();
          $.bootstrapGrowl(
            "Please select at least one court",
              {
                type: "danger",
                align: "center",
                width: "auto",
                delay: 2000,
                allow_dismiss: false,
                offset: {from: 'top', amount: 80}
              }
          );
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div id="court_homepage" class="col-xs-12">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2">
        <img src="{{ court_seal }}" class="img-responsive" width="128" height="128">
      </div>
      <div class="col-xs-8">
        <h1>Decisions for the Tennessee Court of Workers' Compensation Claims and Tennessee Workers' Compensation Appeals&nbsp;Board
        </h1>
        <div class="lead gray">
          <p>Free Law Project, the non-profit sponsor of CourtListener.com, is proud to partner with the Tennessee Bureau of Workers’ Compensation to host the decisions of its courts. In this capacity, we make the decisions available as they are uploaded by the courts.</p>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
    </div>


    <div class="row" id="main-query-box">
      <form action="/" method="get" id="tenn-search-form" class="form-inline" role="form">
        <div id="search-container" class="text-center">
          <div class="input-group">
            <input class="form-control input-lg"
                   value=""
                   name="q"
                   id="id_q"
                   autocomplete="off"
                   type="text">
            <span class="input-group-btn">
              <button type="submit"
                      class="btn btn-primary btn-lg"
                      name="search"
                      id="search-button"><i class="fa fa-search"></i>&nbsp;Search
              </button>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="input-group">
            <div class="sidebar-checkbox inline-block">
              <label for="id_tennworkcompcl">
                <input id="id_tennworkcompcl" name="court_tennworkcompcl" checked="checked" type="checkbox"> Include CWCC Cases
              </label>
            </div>
            <div class="sidebar-checkbox inline-block">
              <label for="id_tennworkcompapp">
                <input id="id_tennworkcompapp" name="court_tennworkcompapp" checked="checked" type="checkbox"> Include Appeals Board Cases
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class="row v-offset-above-6">
      <div class="col-xs-4">
        <h3>Recent CWCC&nbsp;Decisions&nbsp;<i class="gray fa fa-file-text-o"></i></h3>
        {% if request.user|in_group:"tenn_work_uploaders" %}
          <p><a href="{% url "court_publish_page" pk="tennworkcompcl" %}"
                class="btn btn-default">Upload New CWCC Decision</a></p>
        {% endif %}
        {% if results_tennworkcompcl.paginator.count > 0 %}
          {% flag "o-es-active" %}
            {% include "includes/search_result.html" with results=results_tennworkcompcl type_override=SEARCH_TYPES.OPINION simple=True %}
          {% else %}
            {% include "includes/search_result_solr.html" with results=results_tennworkcompcl type_override=SEARCH_TYPES.OPINION simple=True %}
          {% endflag %}
          <p class="right">
            <a href="/?court_tennworkcompcl=on&order_by=dateFiled+desc&court=tennworkcompcl"
               class="btn btn-default btn-lg v-offset-above-2"
               rel="nofollow"
            >See Recent Opinions</a>
          </p>
        {% else %}
          <p>No cases yet.</p>
        {% endif %}
      </div>
      <div class="col-xs-4">
        <h3>Recent Appeals Board&nbsp;Decisions&nbsp;<i class="gray fa fa-file-text-o"></i></h3>
        {% if request.user|in_group:"tenn_work_uploaders" %}
          <p><a href="{% url "court_publish_page" pk="tennworkcompapp" %}"
                class="btn btn-default">Upload New Appeals Board Decision</a></p>
        {% endif %}
        {% if results_tennworkcompapp.paginator.count > 0 %}
          {% flag "o-es-active" %}
            {% include "includes/search_result.html" with results=results_tennworkcompapp type_override=SEARCH_TYPES.OPINION simple=True %}
          {% else %}
            {% include "includes/search_result_solr.html" with results=results_tennworkcompapp type_override=SEARCH_TYPES.OPINION simple=True %}
          {% endflag %}
          <p class="right">
            <a href="/?court_tennworkcompapp=on&order_by=dateFiled+desc&court=tennworkcompapp"
               class="btn btn-default btn-lg v-offset-above-2"
               rel="nofollow"
            >See Recent Opinions</a>
          </p>
        {% else %}
          <p>No cases yet.</p>
        {% endif %}

      </div>
      <div class="col-xs-4">
        <h3>Neutral Citations</h3>
        <p>Beginning on January 1st, 2020 the Tennessee Court of Workers’ Compensation Claims and the Appeals Board will accept pleadings, briefs, and other filings that include <a href="{% url "faq" %}#explain-neutral-citations">vendor neutral citations</a> to prior decisions as discussed below. All previous decisions have been retroactively assigned such a citation. These citations are created for each decision by the court itself instead of by a third party publisher. As a result, they can be cited immediately when the decision is published by the court.
        </p>
        <h4>Format</h4>
        <p>Citations to the Claims Court take the form:</p>
        <pre>[YEAR] TN WC [#]</pre>
        <p>Citations to the Appeals Board take the form:</p>
        <pre>[YEAR] TN WC App. [#]</pre>
        <p>In both cases, the format begins with the year, then an abbreviation for the court, and finishes with a serial number indicating the decision number.</p>
      </div>
    </div>
  </div>

{% endblock %}

