{% extends "new_base.html" %}
{% load extras component_tags svg_tags %}

{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block og_title %}{{ title }} - CourtListener.com{% endblock %}
{% block description %}Docket for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}
{% block og_description %}Docket for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}
{% block canonical %}{% get_canonical_element %}{% endblock %}

{% block content_wrapper %}
<div class="bg-greyscale-100">
  <div class="capped-width px-4 lg:px-10 xl:px-0 pt-4 md:pt-20 pb-35">
    <c-docket-page
      :docket="docket"
      :docket_source="docket_source"
      active_tab="entries"
      :metadata_sections="metadata_sections"
      :tabs="tabs"
      :has_alert="has_alert"
      :note_form="note_form"
    >
      <c-docket-filter
        :docket="docket"
        :form="form"
        :page_obj="docket_entries"
        :sort_order_asc="sort_order_asc"
        class="mb-10"
      />

      {# Docket entry rows #}
      <c-docket-entry-rows
        :docket_entries="docket_entries"
        :docket_source="docket_source"
        :filters_applied="filters_applied"
      />

      <c-pagination
        :page_obj="docket_entries"
        show_first
        show_previous
        show_page_indicator
        show_next
        show_last
      />

      <p class="text-sm text-greyscale-500 mt-6">
        {% svg "circle_question_mark" class="w-4 h-4 inline" aria_hidden="true" %}
        <c-docket-source-attribution :docket_source="docket_source" />
      </p>
    </c-docket-page>
  </div>
</div>
{% endblock %}
