{% extends "base.html" %}
{% load text_filters %}
{% load humanize %}
{% load extras %}
{% load admin_urls %}

{% block title %}Docket for {{ docket|best_case_name }} –
    CourtListener.com{% endblock %}
{% block og_title %}Docket for {{ docket|best_case_name }} -
    CourtListener.com{% endblock %}
{% block description %}Docket for {{ docket|best_case_name }}{% endblock %}
{% block og_description %}Docket for {{ docket|best_case_name }}{% endblock %}

{% block footer-scripts %}
    <script defer type="text/javascript"
            src="{{ STATIC_URL }}js/docket-utils.js"></script>
{% endblock %}


{% block content %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                {% if perms.search.change_docket %}
                    <p class="float-right">
                        <a href="{% url 'admin:search_docket_change' docket.id %}"
                           class="btn btn-primary btn-xs">Edit&nbsp;Docket&nbsp;<i
                           class="fa fa-pencil"></i>
                            {% if private and request.user.is_superuser %}
                                &nbsp;<i class="fa fa-ban" title="Blocked from Search Engines"></i>
                            {% endif %}
                        </a>
                    </p>
                {% endif %}
                <h2 class="bottom">
                    {{ docket|best_case_name|safe|v_wrapper }}
                    {% if docket.docket_number %}
                        ({{ docket.docket_number }})
                    {% endif %}
                </h2>
                {% if docket.pacer_url %}
                <p><a href="{{ docket.pacer_url }}" class="btn btn-primary btn-xs">View
                    on PACER</a>
                </p>
                {% endif %}
                <h3>{{ docket.court }}</h3>


                {% if docket.assigned_to or docket.assigned_to_str %}
                <p class="bottom">
                    <span class="meta-data-header">Assigned To:</span>
                    <span class="meta-data-value">
                        {% if docket.assigned_to %}
                            <a href="{{ docket.assigned_to.get_absolute_url }}">{{ docket.assigned_to.name_full }}</a>
                        {% elif docket.assigned_to_str %}
                            <a href="?type=r&amp;assigned_to=&quot;{{ docket.assigned_to_str }}&quot;">{{ docket.assigned_to_str }}</a>
                        {% endif %}
                    </span>
                </p>
                {% endif %}

                {% if docket.referred_to or docket.referred_to_str %}
                <p class="bottom">
                    <span class="meta-data-header">Referred To:</span>
                    <span class="meta-data-value">
                        {% if docket.referred_to %}
                            <a href="{{ docket.referred_to.get_absolute_url }}">{{ docket.referred_to.name_full }}</a>
                        {% elif docket.referred_to_str %}
                            <a href="?type=r&amp;referred_to=&quot;{{ docket.referred_to_str }}&quot;">{{ docket.referred_to_str }}</a>
                        {% endif %}
                    </span>
                </p>
                {% endif %}

                {% if docket.date_cert_granted %}
                <p class="bottom">
                    <span class="meta-data-header">Date Certiorari Granted:</span>
                    <span class="meta-data-value">{{ docket.date_cert_granted }}</span>
                </p>
                {% endif %}

                {% if docket.cert_denied %}
                <p class="bottom">
                    <span class="meta-data-header">Date Certiorari Denied:</span>
                    <span class="meta-data-value">{{ docket.date_cert_denied }}</span>
                </p>
                {% endif %}

                {% if docket.date_argued %}
                <p class="bottom">
                    <span class="meta-data-header">Date Argued:</span>
                    <span class="meta-data-value">{{ docket.date_argued }}</span>
                </p>
                {% endif %}

                {% if docket.date_reargued %}
                    <p class="bottom">
                        <span class="meta-data-header">Date Reargued:</span>
                        <span class="meta-data-value">{{ docket.date_reargued }}</span>
                    </p>
                {% endif %}

                {% if docket.date_reargument_denied %}
                    <p class="bottom">
                        <span class="meta-data-header">Date Reargument Denied:</span>
                        <span class="meta-data-value">{{ docket.date_reargument_denied }}</span>
                    </p>
                {% endif %}

                {% if docket.date_filed %}
                    <p class="bottom">
                        <span class="meta-data-header">Date Filed:</span>
                        <span class="meta-data-value">{{ docket.date_filed }}</span>
                    </p>
                {% endif %}

                {% if docket.date_terminated %}
                    <p class="bottom">
                        <span class="meta-data-header">Date Terminated:</span>
                        <span class="meta-data-value">{{ docket.date_terminated }}</span>
                    </p>
                {% endif %}

                {% if docket.date_last_filing %}
                    <p class="bottom">
                        <span class="meta-data-header">Date of Last Known Filing:</span>
                        <span class="meta-data-value">{{ docket.date_last_filing }}</span>
                    </p>
                {% endif %}

                {% if docket.cause %}
                    <p class="bottom">
                        <span class="meta-data-header">Cause:</span>
                        <span class="meta-data-value">
                            <a href="?type=r&amp;cause=&quot;{{ docket.cause }}&quot;">{{ docket.cause }}</a>
                        </span>
                    </p>
                {% endif %}

                {% if docket.nature_of_suit %}
                    <p class="bottom">
                        <span class="meta-data-header">Nature of Suit:</span>
                        <span class="meta-data-value">
                            <a href="?type=r&amp;nature_of_suit=&quot;{{ docket.nature_of_suit }}&quot;">{{ docket.nature_of_suit }}</a>
                        </span>
                    </p>
                {% endif %}

                {% if docket.jury_demand %}
                    <p class="bottom">
                        <span class="meta-data-header">Jury Demand:</span>
                        <span class="meta-data-value">
                            <a href="?type=r&amp;q=juryDemand:&quot;{{ docket.jury_demand }}&quot;">{{ docket.jury_demand }}</a>
                        </span>
                    </p>
                {% endif %}
            </div>


            {% if docket.clusters.count %}
            <div class="col-xs-6">
                <h3>Opinions Outside of RECAP Collection</h3>
                <hr>
                <ul>
                    {% for cluster in docket.clusters.all %}
                        <li>
                            <a href="{{ cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                                {{ cluster.caption|safe|v_wrapper }}
                            </a>
                            {% if perms.search.change_document %}
                                <a href="{% url 'admin:search_opinioncluster_change' cluster.pk %}"
                                   class="btn btn-primary btn-xs">Edit</a>
                            {% endif %}
                            <br/>
                            {{ cluster.date_filed }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if docket.audio_files.count %}
            <div class="col-xs-6">
                <h3>Oral Argument Recordings</h3>
                <hr>
                <ul>
                    {% for af in docket.audio_files.all %}
                        <li>
                            <a href="{{ af.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                                {{ af|best_case_name|safe|v_wrapper }}
                            </a>
                            {% if perms.audio.change_audio %}
                                <a href="{% url 'admin:audio_audio_change' af.pk %}"
                                   class="btn btn-primary btn-xs">Edit</a>
                            {% endif %}
                            <br/>
                            {{ af.docket.date_argued|default_if_none:"" }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        {% if docket.docket_entries.count %}
        <div class="row">
            <div class="col-xs-12">
                <h3>Docket Entries</h3>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Document Number</th>
                            <th>Date&nbsp;Filed</th>
                            <th colspan="2">Description</th>
                            {% if perms.search.change_docketentry %}
                                <th class="text-center">Admin</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in docket.docket_entries.all %}
                        <tr class="cursor docket-entry" data-toggle="modal"
                            data-docket-entry="{{ entry.pk }}"
                            data-target="#actions-picker"
                            id="entry-{{ entry.entry_number }}">
                            <td class="text-center">{{ entry.entry_number }}</td>
                            <td>{{ entry.date_filed|date:"DATE_FORMAT"|nbsp|default:"Unknown" }}</td>
                            <td>{{ entry.description|safe|default:"Unknown Description" }}</td>
                            <td>
                                <a href="#entry-{{ entry.entry_number }}"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="Get direct link to this row"><i class="fa fa-share-alt gray"></i></a>
                            </td>
                            {% if perms.search.change_docketentry %}
                                <td>
                                <a href="{% url 'admin:search_docketentry_change' entry.pk %}"
                                   class="btn btn-primary btn-xs">Edit DocketEntry&nbsp;<i class="fa fa-pencil"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="modal" id="actions-picker" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="large">&times;</span>
                                    </button>
                                    <h3 class="modal-title">Entries</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-responsive" id="document-table">
                                                <thead>
                                                <tr>
                                                    <th>Number</th>
                                                    <th colspan="2">Description</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tablebody">

                                                </tbody>
                                            </table>
                                        </div>
                                        <button type="button"
                                                class="btn btn-default float-right"
                                                data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
