{% extends "base.html" %}
{% load text_filters %}
{% load humanize %}

{# Shown on authorities pages. #}

{% block title %}Table of Authorities for {{ title }} – CourtListener.com{% endblock %}
{% block og_title %}Table of Authorities for {{ title }} –
    CourtListener.com{% endblock %}
{% block description %}Table of Authorities for {{ title }}{% endblock %}
{% block og_description %}Table of Authorities for {{ title }}{% endblock %}

{% block navbar-o %}active{% endblock %}

{% block sidebar %}
    <div class="col-sm-3" id="sidebar">
        <div class="sidebar-section">
            <h4 class="bottom">
                <i class="fa fa-arrow-circle-o-left gray"></i>
                <a href="{{ cluster.get_absolute_url }}?{{ request.META.QUERY_STRING }}">Back to Opinion</a>
            </h4>
        </div>
    </div>
{% endblock sidebar %}

{% block content %}
    <div class="col-sm-9">
        <h2>
            {{ cluster.caption|safe|v_wrapper }}
        </h2>

        <div id="authorities">
            <h3>This opinion cites {{ authorities_with_data|length|intcomma }} opinion{{ authorities_with_data|length|pluralize }}.</h3>
            <hr>
            {# Westlaw's metadata organization: Checkbox, Treatment, Name + citation + summary, Date, Type, Depth #}
            <ul>
                {% for authority in authorities_with_data %}
                    <li>
                        {{ authority.this_cluster_citation_count }} reference{{ authority.this_cluster_citation_count|pluralize }} to 
                        <a href="{{ authority.absolute_url }}?{{ request.META.QUERY_STRING }}">
                            {{ authority.caption|safe|v_wrapper }}
                        </a>
                        <br/>
                        {{ authority.docket.court }} |
                        {{ authority.date_filed }} |
                        {% if authority.unique_citation_count > 0 %}
                            Also cited by <a href="/?q=cites%3A({{ authority.sub_opinions.all|OR_join }})">{{ authority.unique_citation_count|add:"-1" }} other opinion{{ authority.unique_citation_count|add:"-1"|pluralize }}</a>
                        {% else %}
                            Cited by 0 other opinions
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
