{% extends "base.html" %}
{% load text_filters %}

{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block og_title %}{{ title }} – CourtListener.com{% endblock %}
{% block description %}Opinion for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}
{% block og_description %}Opinion for {{ title }} — Brought to you by Free Law Project, a non-profit dedicated to creating high quality open legal information.{% endblock %}

{% block navbar-o %}active{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for cases citing {{cluster|best_case_name|truncatewords:10}}" href="/feed/search/?q=cites:({{ cluster.sub_opinions.all|OR_join }})">
{% endblock %}

{% block footer-scripts %}
    <script defer type="text/javascript" src="{{ STATIC_URL }}js/jquery.NobleCount.min.js"></script>
    <script defer type="text/javascript" src="{{ STATIC_URL }}js/save-favorites.js"></script>
    {% if request.user.is_staff %}
        <script defer type="text/javascript" src="{{ STATIC_URL }}js/admin_tools.js"></script>
        {% if DEBUG %}
            <script src="{{ STATIC_URL }}js/jquery.bootstrap-growl.js"></script>
        {% else %}
            <script src="{{ STATIC_URL }}js/jquery.bootstrap-growl.min.js"></script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3" id="sidebar">
        {# show the admin tools if applicable #}
        {% if perms.search.change_docket or perms.search.change_opinioncluster or perms.search.change_citation %}
            <div class="sidebar-section">
                <h3><span>Admin</span></h3>
                <p>
                    {% if perms.search.change_docket %}
                        <a href="{% url 'admin:search_docket_change' cluster.docket.pk %}"
                           class="btn btn-primary btn-xs">Docket</a>
                    {% endif %}
                    {% if perms.search.change_opinioncluster %}
                        <a href="{% url 'admin:search_opinioncluster_change' cluster.pk %}"
                           class="btn btn-primary btn-xs">Cluster</a>
                    {% endif %}
                    {% if perms.search.change_opinion %}
                        {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                            <a href="{% url 'admin:search_opinion_change' sub_opinion.pk %}"
                               class="btn btn-primary btn-xs">{{ sub_opinion.type }} opinion</a>
                        {% endfor %}
                    {% endif %}
                    {% if request.user.is_superuser %}
                        {% if private %}
                            <div class="btn btn-danger btn-xs">Blocked <i
                                    class="fa fa-ban"></i></div>
                        {% else %}
                            <div class="btn btn-success btn-sm block-item"
                                 data-id="{{ cluster.pk }}"
                                 data-type="cluster">Block Cluster and Docket <i
                                    class="fa fa-ban"></i></div>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        {% endif %}

        {# show this div if it is a favorite, otherwise, put it in place, in anticipation of it becoming one. #}
        <div class="{% if not favorite_form.instance.cluster_id %}hidden{% endif %} sidebar-section" id="sidebar-notes">
            <div>
                <h3 class="inline"><span>Your Notes</span></h3>
                <p class="inline" data-toggle="modal" data-target="#modal-save-favorite">
                    (<a href="#favorite-editor">edit</a>)
                     <i class="fa fa-pencil gray pointer"></i>
                </p>
                <p id="sidebar-notes-text">
                    {{ favorite_form.instance.notes|default:"(none)" }}
                </p>
            </div>
        </div>

        {# Show cases that cite this case #}
        {% if citing_clusters.result.numFound > 0 %}
            <div id="cited-by" class="sidebar-section">
                <h3>
                    <span>Cited By ({{ citing_clusters.result.numFound }}) <a
                        href="/feed/search/?type=o&q=cites%3A({{ cluster.sub_opinions.all|OR_join }})">
                            <i class="gray fa fa-rss"
                               title="Subscribe to a feed of citations to this case."></i>
                        </a>
                    </span>
                </h3>
                <p class="bottom">This case has been cited by these opinions:</p>
                <ul>
                    {% for citing_cluster in citing_clusters %}
                        <li>
                            <a href="{{ citing_cluster.absolute_url }}?{{ request.META.QUERY_STRING }}">{{ citing_cluster.caseName|safe|truncatewords:12|v_wrapper }} ({{ citing_cluster.dateFiled|date:"Y" }})</a>
                        </li>
                    {% endfor %}
                </ul>
                <h4>
                    <a href="/?q=cites%3A({{ cluster.sub_opinions.all|OR_join }})"
                       class="btn btn-default">
                        View All Citing Opinions
                    </a>
                </h4>
            </div>
        {% endif %}

        {# Show cases this case cites #}
        {% if top_authorities %}
            <div id="authorities" class="sidebar-section">
                <h3><span>Authorities ({{ cluster.authority_count }})</span></h3>
                <p class="bottom">This opinion cites:</p>
                <ul>
                    {% for authority in top_authorities %}
                        <li>
                            <a href="{{ authority.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                                {{ authority.caption|safe|truncatewords:10|v_wrapper }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <h4>
                    <a href="{% url "view_authorities" pk=cluster.pk slug=cluster.slug %}?{{ request.META.QUERY_STRING }}"
                       class="btn btn-default">
                        View All Authorities
                    </a>
                </h4>
            </div>
        {% endif %}

        {# Recommendations #}
        {% if recommendations %}
            <div id="recommendations" class="sidebar-section">
                <h3><span>Related Opinions</span></h3>

                <p class="bottom">The following opinions cover similar topics:</p>

                {% url 'show_results' as show_results_url %}
                {% with pk_str=cluster.pk|stringformat:"s" %}
                    {% with opinions=recommendations full_list_url=show_results_url|add:"?q=related:"|add:pk_str %}
                      {% include 'includes/opinions_sidebar.html' %}
                    {% endwith %}
                {% endwith %}
            </div>
        {% endif %}

        {# Visualizations #}
        {% if cluster.top_visualizations %}
            <div id="visualizations" class="sidebar-section">
                <h3><span>Visualizations</span></h3>
                {% url "cluster_visualizations" pk=cluster.pk slug=cluster.slug as cluster_visualizations_url %}

                {% with opinions=cluster.top_visualizations|slice:":5" full_list_url=cluster_visualizations_url|add:"?q"|add:request.META.QUERY_STRING %}
                    {% include 'includes/opinions_sidebar.html' %}
                {% endwith %}
            </div>
        {% endif %}

        {% include "includes/social_links.html" %}
        {% include "includes/donate_sidebar.html" with referrer="o-donate-now" %}
    </div>
{% endblock %}


{% block content %}
    <article class="col-sm-9">
        {% with opinion_count=cluster.sub_opinions.all.count %}
            <i id="favorites-star"
               class="{% if favorite_form.instance.cluster_id %}gold fa-star{% else %}gray fa-star-o bold{% endif %} pointer fa inline"
               data-toggle="modal"
               data-target="#modal-save-favorite, #modal-logged-out"
               title="Save this record as a favorite in your profile"></i>
            <h2 class="inline">{{ cluster.caption|safe|v_wrapper }}</h2>
            {% include "includes/favorites_modal.html" %}

            <h3>{{ cluster.docket.court }}</h3>
            {% if cluster.syllabus %}
                <div class="well well-sm">
                    <h4>Summary of Opinion</h4>
                    <p>{{ cluster.syllabus }}</p>
                </div>
            {% endif %}

            <p class="bottom">
                <span class="meta-data-header">Filed{% if cluster.date_filed_is_approximate %} Approximately{% endif %}:</span>
                <span class="meta-data-value">
                    {{cluster.date_filed|date:"F jS, Y"}}
                    {% if cluster.date_filed_is_approximate %}
                        <i class="fa fa-question-circle gray cursor-help"
                           data-toggle="tooltip"
                           data-placement="right"
                           title="This filing date was gathered by an automated tool and is not exact. In general approximated dates are within a month of the correct date."></i>
                    {% endif %}
                </span>
            </p>
            <p class="bottom">
                <span class="meta-data-header">Precedential Status:</span>
                <span class="meta-data-value">
                    {{cluster.get_precedential_status_display|default:'Unknown'}}
                </span>
            </p>
            <p class="bottom">
                <span class="meta-data-header">Citations:</span>
                <span class="meta-data-value">
                    {{ cluster.citation_string|default:"None known" }}
                </span>
            </p>
            <p class="bottom">
                <span class="meta-data-header">Docket Number:</span>
                <span class="meta-data-value">
                    {{ cluster.docket.docket_number|default:"Unknown" }}
                </span>
            </p>
            {% if cluster.docket.court_id == 'scotus' %}
            <p class="bottom">
                <span class="meta-data-header">Supreme Court Database ID:</span>
                <span class="meta-data-value">
                    {% if cluster.scdb_id %}
                        <a href="http://scdb.wustl.edu/analysisCaseDetail.php?cid={{ cluster.scdb_id }}-01" target="_blank">
                        {{ cluster.scdb_id }}
                        </a><i class="gray fa fa-external-link"></i>
                    {% else %}
                        Unknown
                    {% endif %}
                </span>
            </p>
            {% endif %}
            {% if cluster.panel.all.count > 0 %}
                <p class="bottom">
                    <span class="meta-data-header">Panel:</span>
                    {% for p in cluster.panel.all %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if cluster.non_participating_judges.all.count > 0 %}
                <p class="bottom">
                    <span class="meta-data-header">Non-Participating Judges:</span>
                    {% for p in cluster.non_participating_judges.all %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if opinion_count == 1 %}
                {% with opinion=cluster.sub_opinions.all.0 %}
                {% if opinion.author %}
                    <p class="bottom">
                        <span class="meta-data-header">Author:</span>
                        <span class="meta-data-value">
                            <a href="{{ opinion.author.get_absolute_url }}">{{ opinion.author.name_full }}</a>
                        </span>
                    </p>
                {% elif opinion.author_str %}
                    <p class="bottom">
                        <span class="meta-data-header">Author:</span>
                        <span class="meta-data-value">{{ opinion.author_str }}</span>
                    </p>
                {% elif cluster.judges %}
                    <p class="bottom">
                        <span class="meta-data-header">Judges:</span>
                        <span class="meta-data-value">{{ cluster.judges }}</span>
                    </p>
                {% endif %}

                {% if opinion.joined_by.all.count > 0 %}
                <p class="bottom">
                    <span class="meta-data-header">Joined By:</span>
                    {% for p in opinion.joined_by.all %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                {% endwith %}
            {% endif %}


            {% if cluster.nature_of_suit %}
            <p class="bottom">
                <span class="meta-data-header">Nature of suit:</span>
                <span class="meta-data-value">{{ cluster.nature_of_suit }}</span>
            </p>
            {% endif %}

            {# Download original? #}
            {% if 'C' in cluster.source and has_downloads %}
                <div class="btn-group v-offset-below-3 v-offset-above-1">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Download Original <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                            {% if sub_opinion.local_path %}
                                <li>
                                    <a href="/{{ sub_opinion.local_path }}">
                                        {{ sub_opinion.get_type_display }} from
                                        our Backup
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                            {% if sub_opinion.download_url %}
                                {% if forloop.counter == 1 %}
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ sub_opinion.download_url }}"
                                       rel="nofollow">
                                        {{ sub_opinion.get_type_display }} from
                                        the Court
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <br>

            {# Only display tabs and make panels if more than one sub-opinion. #}
            {% if opinion_count > 1 %}
                <ul class="nav nav-tabs v-offset-below-1" role="tablist">
                    {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                        <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
                            <a href="#{{ sub_opinion.type }}{{ forloop.counter }}"
                               aria-controls="{{ sub_opinion.type }}{{ forloop.counter }}"
                               role="tab"
                               data-toggle="tab">{{ sub_opinion.get_type_display }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="tab-content">
                {% for sub_opinion in cluster.sub_opinions.all|dictsort:"type" %}
                    <div {% if opinion_count > 1 %}
                            role="tabpanel"
                            class="tab-pane {% if forloop.first %}active{% endif %}"
                        {% endif %}
                            id="{{ sub_opinion.type }}{{ forloop.counter }}">
                        {% if opinion_count > 1 %}
                            {% if sub_opinion.author %}
                                <p class="bottom">
                                    <span class="meta-data-header">Author:</span>
                                    <span class="meta-data-value">
                                        <a href="{{ sub_opinion.author.get_absolute_url }}">{{ sub_opinion.author.name_full }}</a>
                                    </span>
                                </p>
                            {% elif sub_opinion.author_str %}
                                <p class="bottom">
                                    <span class="meta-data-header">Author:</span>
                                    <span class="meta-data-value">{{ sub_opinion.author_str }}</span>
                                </p>
                            {% elif cluster.judges %}
                                <p class="bottom">
                                    <span class="meta-data-header">Judges:</span>
                                    <span class="meta-data-value">{{ cluster.judges }}</span>
                                </p>
                            {% endif %}

                            {% if sub_opinion.joined_by.all.count > 0 %}
                                <p class="bottom">
                                    <span class="meta-data-header">Joined By:</span>
                                    {% for p in sub_opinion.joined_by.all %}
                                        <a href="{{ p.get_absolute_url }}">{{ p.name_full }}</a>
                                        {% if not forloop.last %},
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endif %}
                        {% if sub_opinion.extracted_by_ocr %}
                            <div class="col-sm-12 alert-warning alert v-offset-above-2">
                                <p class="bottom">The text of this document was
                                    obtained by analyzing a scanned document
                                    provided by the court. As a result it may have
                                    typos, and you may prefer <a
                                            href="{{ sub_opinion.download_url }}"
                                            class="visitable">reading the
                                        original</a>.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        {% endif %}
                        {% if 'Z' in cluster.source %}
                        <div id="columbia-text" class="v-offset-above-2">
                        {% elif 'L' in cluster.source %}
                        <div id="lawbox-text" class="v-offset-above-2">
                        {% elif 'R' in cluster.source %}
                        <div id="resource-org-text" class="v-offset-above-2">
                        {% else %}
                        <div id="default-text" class="v-offset-above-2">
                        {% endif %}
                            <div id="opinion-content"> {# used by Zotero, Juris-M #}
                                {% if sub_opinion.html_with_citations %}
                                    {{ sub_opinion.html_with_citations|safe }}
                                {% elif sub_opinion.html_columbia %}
                                    {{ sub_opinion.html_columbia|safe }}
                                {% elif sub_opinion.html_lawbox %}
                                    {{ sub_opinion.html_lawbox|safe }}
                                {% elif sub_opinion.html %}
                                    {{sub_opinion.html|safe}}
                                {% else %}
                                    <pre>{{sub_opinion.plain_text}}</pre>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endwith %}
    </article>
{% endblock %}
