{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block search-form %}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h3 class="notice">This is an archived version of our policies. It was
            in effect from January 20, 2012 to May 6, 2012.</h3>

        <h2>Terms</h2>

        <H4>1. We are not your lawyers.</H4>

        <P>CourtListener.com is not intended to be or to provide legal advice.
            Any information supplied by CourtListener.com or its operators is
            intended solely as general guidance on the use of the service, and
            does not constitute professional or legal advice.</P>

        <H4>2. The service may be unreliable and might simply go away.</H4>

        <P>CourtListener.com and its operators shall not be responsible for any
            delays or interruptions of, or errors or omissions contained in,
            the service. CourtListener.com may discontinue or alter any aspect
            of this service, including, but not limited to: (i) restricting the
            time of availability, (ii) restricting the availability and/or
            scope of the service, (iii) restricting the amount of use
            permitted, at CourtListener.com's sole discretion and without prior
            notice or liability.</P>

        <H4>3. The documents on this site may be unreliably reproduced.</H4>

        <P>CourtListener.com makes no representations, warranties or covenants
            regarding, and does not guarantee, the truthfulness, accuracy,
            relevancy, or reliability of any information or other material that
            are communicated through, or posted to, the service. You
            acknowledge that any reliance on information or other material
            communicated through, or posted to, the service will be at your own
            risk.</P>

        <H4><strong>4. Disclaimer of warranty.</strong></H4>

        <P><strong>You agree that use of the service is entirely at your own
            risk. The service is provided "as is," without warranty of any kind
            whatsoever, either express or implied, to you or any other person
            relating in any way to the service, including any part thereof, or
            any Web site or other content or service that may be accessible
            directly or indirectly through the service. Without limiting the
            generality of the foregoing, CourtListener.com disclaims to the
            maximum extent permitted by law any and all (i) warranties of
            merchantability or fitness for a particular purpose, (ii)
            warranties against infringement of any third party intellectual
            property or proprietary rights, (iii) warranties relating to
            delays, interruptions, errors or omissions in the service, or any
            party thereof, (iv) warranties relating to the transmission or
            delivery of the service, and (v) warranties otherwise related to
            performance, nonperformance, or other acts or omissions by
            CourtListener.com or any third party.</strong></p>

        <h4>5. Limitations of liability.</h4>

        <p>This disclaimer of liability applies to any damages or injury caused
            by any failure or performance, error, omission, interruption,
            deletion, defect, delay in operation or transmission, computer
            virus, communication line failure, theft or destruction or
            unauthorized access to, alteration of, or use of record, whether
            for breach of contract, tortious behavior, negligence, or under any
            other cause of action. You specifically acknowledge that the risk
            of injury from the foregoing rests entirely with you. Neither
            CourtListener.com nor any of its partners, agents, executives,
            directors, employees or affiliates shall be liable for any direct,
            indirect, incidental, special or consequential damages whatsoever
            arising out of use of this service or inability to again access to
            or use this service or out of any breach of any warranty. You
            hereby acknowledge that the provisions of this section shall apply
            to all content on Courtlistener.com</p>

        End of terms.
        <p><em>Last modified: May 2, 2010</em></p>
        <hr>
        <h2 id="privacy">Privacy</h2>

        <p>CourtListener does not buy, sell, or share your data in any way. We
            do not allow any form of third-party tracking, and instead use the
            open source <a href="http://piwik.com">Piwik web analytics tool</a>
            to collect information about site traffic and usage.</p>

        <p>We temporarily collect the following standard technical information
            about our visitors in our logs:</p>
        <ul>
            <li>The website that referred you to our site (via the <a
                    href="http://en.wikipedia.org/wiki/HTTP_referrer">HTTP
                Referer</a> field)
            </li>
            <li>The browser software you use and the plugins it supports, your
                operating system, and your monitor's resolution
            </li>
            <li>What country you are from, and what network provider you use.
                In the case of some very large organizations, this may mean
                that we may know that a visitor from your organization visited
                our site.
            </li>
            <li>The first nine digits of the Internet protocol (IP) address of
                the computer you are using or network you are on. The last four
                digits are removed to increase your anonymity.
            </li>
            <li>Any queries that you made in our search, alert or Atom feeds
            </li>
        </ul>

        <p>The information we collect is kept primarily to assist us in
            diagnosing technical problems and defending against attacks on the
            site, and we delete our logs automatically every 12 weeks.</p>

        <p>We do not collect personal information about our visitors unless
            they register an account. We will store account information unless
            you ask us to delete your account or delete it yourself.</p>

        <p>We support the <a href="http://donottrack.us/">Do Not Track</a>
            standard through the Piwik DoNotTrack plugin.</p>

        <p>Please contact us if you have any complaints or concerns about our
            privacy policy, or notify the FTC via their <a
                    href="http://www.ftccomplaintassistant.gov">online
                Complaint Assistant</a>.</p>

        <p><em>Last modified: March 16, 2011</em></p>
        <hr>
        <h2 id="removal">Removal policy</h2>

        <p>CourtListener believes that there is a compelling public interest in
            making the law broadly available to all, and that is why we have
            poured our energies into making the best free legal research tool
            that we can. We recognize however, that there are occasionally
            competing privacy interests of individuals and organizations. This
            policy describes the balance that we attempt to strike when
            thinking about this conflict of interests, and describes our policy
            for accepting and working with removal requests.</p>

        <p>If you would like a case removed from the results of the major
            search engines, please send us a written request to the address on
            the <a href="{% url "contact" %}">contact page</a>. Upon receiving this
            request, we will generally block search engines from indexing pages
            on our site by using the robots HTML meta tag and the x-robots-tag
            HTTP header. We will not remove any public document from our
            database without a court order. If you want information deleted
            from our site, your only recourse is to get it deleted from the
            public record by contacting the courts that issued the opinion, or
            to otherwise obtain a court order. In such a case, you should
            likely contact the court directly.</p>

        <p>After we have blocked the pages, they will eventually be removed
            from all search engines, however, as is mentioned above, your case
            is a public document, and there may be other copies of it on the
            Internet &ndash; Although <em>we</em> will have blocked the search
            engines from finding your case, there may be other websites that
            have copies of it. In addition, we have no control over any search
            engine, and they may not remove your case from their results for
            many months, if at all.</p>

        <p>If, after reading the above, you would still like to have a case
            blocked, so it is not found by search engines, please send your
            written request to the address on our contact page. You may also
            attempt to contact us via email, but we do not guarantee receipt of
            email communications.</p>

        <p>We might change this policy in the future and make no guarantees
            that we will keep blocked records in place. Further, all removals
            are at our sole discretion.</p>

        <p>This policy is very similar to the policies of other major sources
            of free online court opinions, and we hope that we have struck a
            reasonable balance between both your interests and the public's
            interest in your case.</p>

        <hr>
        <h2>Previous versions</h2>

        <p class="bottom">Previous versions of these policies can be found in
            the following locations:</p>
        <ul>
            <li><a href="/terms/v/1/">Prior to February 17, 2011</a></li>
            <li><a href="/terms/v/2/">Between February 17, 2011 to March 16,
                2011</a></li>
            <li><a href="/terms/v/3/">Between March 16, 2011 to January 20,
                2012</a></li>
        </ul>
    </div>
{% endblock %}
