{% extends "base.html" %}

{% block title %}Create a New Citation Network – CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer-scripts %}
    {% if DEBUG %}
        <script src="{{ STATIC_URL }}js/typeahead.bundle.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}js/scotus_map.mlr.js"></script>

    <script type="application/javascript">
        var last_year = "{{ SCDB_LATEST_CASE }}";
    </script>
{% endblock %}

{% block content %}
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">
        <h2>Create a New Citation Network</h2>
        <!-- <h3 class="gray v-offset-above-1"Citation networks between Supreme Court cases</h3> -->
        <p class="v-offset-above-3">Select any two Supreme Court cases and see what citation network connects them.
        </p>
        
        <p>Once created, your network will be saved to your user profile and can be edited and shared.
        </p>
    </div>
    <div class="col-xs-2"></div>

    <form role="form"
          action=""
          method="post"
          id="visualization-form">
        {% csrf_token %}
        <div class="col-xs-12" id="starting-cluster">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p class="bottom">There were errors with your
                        submission.</p>
                </div>
            {% endif %}
            <h3>First Case</h3>

            <p class="gray">Enter all or part of a case name to anchor the
                beginning or end of your network. Cases will be
                automatically suggested with the most relevant cases listed
                first. For example, try typing "Miranda", "Citizens United", or
                "Obergefell".
            </p>
            {% if form.cluster_start.errors %}
                <p class="help-block">
                    {% for error in form.cluster_start.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input class="form-control typeahead"
                               type="text"
                               id="starting-cluster-typeahead">
                        {{ form.cluster_start }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12" id="ending-cluster">
            <h3>Second Case</h3>

            <p class="gray">There are three ways for you to chose the second case anchoring your network. Use the "SEARCH", "CASES CITED BY" or "CASES CITING" tab.
            </p>
            
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active">
                    <a href="#search"
                       aria-controls="search"
                       role="tab"
                       data-toggle="tab">Search</a></li>
                <li role="presentation">
                    <a href="#authorities"
                       aria-controls="authorities"
                       role="tab"
                       data-toggle="tab"
                       id="authorities-tab">Cases Cited By <span
                            class="first-selection">Your First Case</span>
                        <span class="authority-count"></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#citing"
                       aria-controls="citing"
                       role="tab"
                       data-toggle="tab">Cases Citing <span
                            class="first-selection">Your First Case</span>
                    </a>
                </li>
            </ul>

            {# These tabs are empty but the active class is used #}
            <div class="tab-content v-offset-above-2">
                <div role="tabpanel"
                     class="tab-pane active"
                     id="search">
                    <p class="gray">Enter all or part of a case name
                        to connect to <span class="first-selection">your
                            first case</span>. This search works exactly like the <i>First Case</i> search above.
                    </p>
                    {% if form.cluster_end.errors %}
                        <p class="help-block">
                            {% for error in form.cluster_end.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div class="form-group">
                        <input class="form-control typeahead ending-typeahead"
                               type="text"
                               id="ending-cluster-typeahead-search">
                    </div>
                </div>
                <div role="tabpanel"
                     class="tab-pane"
                     id="authorities">
                    <p class="gray">Search the <span
                            class="authority-count"></span> Supreme Court cases that 
                         <span
                            class="first-selection">your first case</span> cites. Make one of these <i>cites</i> cases your second anchor.
                    </p>
                    {% if form.cluster_end.errors %}
                        <p class="help-block">
                            {% for error in form.cluster_end.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div class="form-group">
                        <input class="form-control typeahead ending-typeahead"
                               type="text"
                               id="ending-cluster-typeahead-authorities"
                               disabled="disabled">
                    </div>
                </div>
                <div role="tabpanel"
                     class="tab-pane"
                     id="citing">
                    <p class="gray">Search the Supreme Court cases that came after <span
                            class="first-selection">your first case</span> and cited back to it. Make one of these <i>cited by</i> cases your second anchor.
                    </p>
                    {% if form.cluster_end.errors %}
                        <p class="help-block">
                            {% for error in form.cluster_end.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div class="form-group">
                        <input class="form-control typeahead ending-typeahead"
                               type="text"
                               id="ending-cluster-typeahead-citing"
                               disabled="disabled">
                    </div>
                </div>
            </div>
            {{ form.cluster_end }}
        </div>

        <div class="col-xs-12">
            <div class="text-center v-offset-above-2" id="center-buttons">
                <a class="btn btn-default btn-lg" id="more">More Options</a>
                <button type="submit"
                        class="btn btn-primary btn-lg"
                        name="make-viz"
                        id="make-viz-button">Make this Network
                </button>
            </div>

            <div class="hidden row" id="extra-options">
                <div class="col-xs-12" id="titles">
                    <h3>Title</h3>
                    <p class="gray">Give your visualization a title. If left
                        blank, this
                        will be automatically generated using the cases you
                        selected.
                    </p>
                    {% if form.title.errors %}
                        <p class="help-block">
                            {% for error in form.title.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div class="form-group">
                        {{ form.title }}
                    </div>
                </div>

                <div class="col-xs-12" id="notes">
                    <h3>Notes</h3>

                    <p class="gray">Provide any additional comments you have
                        about this
                        visualization, explaining the story it tells or why you
                        created
                        it. <a href="{% url "markdown_help" %}">Markdown
                            syntax</a>
                        allowed, but no raw HTML. Examples: **bold**, *italics*.
                    </p>
                    {% if form.notes.errors %}
                        <p class="help-block">
                            {% for error in form.notes.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div class="form-group">
                        {{ form.notes }}
                    </div>
                </div>
                <div class="col-xs-12 pull-right v-offset-above-2">
                    <button type="submit"
                            class="btn btn-primary btn-lg pull-right"
                            name="make-viz"
                            id="make-viz-button">Make this Network
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
