{% extends "base.html" %}

{% block title %}Create a New Visualization – CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer-scripts %}
    {% if DEBUG %}
        <script src="{{ STATIC_URL }}js/typeahead.bundle.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    {% endif %}
    <script type="application/javascript">
        var last_year = new Date();
        last_year.setFullYear(last_year.getFullYear() - 1);
        var searchResults = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            identify: function(obj){
                // Return the item ID so the system can have a unique id for it
                // in its caches.
                return obj.id;
            },
            remote: {
                // This query is anything with the case name typed in...
                // ...in the supreme court...
                // ...between 1925 and a year ago that has an SCDB id... OR
                // ...in the last year, with or without an SCDB id.
                url: '/api/rest/v3/search/?' +
                  'case_name=(%QUERY) OR (%QUERY*)&' +
                  'court=scotus&' +
                  'q=(dateFiled:[1925-01-01T00:00:00Z TO ' + last_year.toISOString() + '] and scdb_id:["" TO *]) or (dateFiled:[' + last_year.toISOString() + ' TO *])',
                prepare: function(query, settings){
                    // This function is needed b/c it needs to do both a prefix
                    // search and a non-prefix search.
                    settings.url = settings.url.replace(/%QUERY/g, $.trim(query));
                    return settings;
                },
                transform: function(response){
                    return response.results
                }
            }
        });

        var typeahead = $('.typeahead');
        typeahead.typeahead({
          'hint': false,
          'highlight': true,
          'minLength': 3
        },
        {
          name: 'case-names',
          //display: 'caseName',
          display: function(obj){
              var parts = [obj.caseName];
              if (obj.dateFiled){
                  parts.push(new Date(obj.dateFiled).getUTCFullYear());
              }
              if (obj.citation){
                  parts.push(obj.citation.join(", "));
              }
              return parts.join(" ⚫ ");
          },
          limit: 20,
          source: searchResults
        });
        $('#starting-cluster-typeahead').bind(
                'typeahead:select',
                function (ev, suggestion) {
            $('#id_cluster_start').val(suggestion.id);
            $('#first-selection').text(suggestion.caseName);
        });
        $('#ending-cluster-typeahead').bind(
                'typeahead:select',
                function (ev, suggestion) {
            $('#id_cluster_end').val(suggestion.id);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">
        <h2>Create a New Visualization</h2>
        <h3 class="gray v-offset-above-1">Visualizations show citation networks between Supreme Court cases</h3>
        <p class="v-offset-above-3">To create a new visualization, select two cases and optionally
            provide a title and any notes.
        </p>
        <p>Once you've set these up, a visualization will be created and added
            to your CourtListener profile.
        </p>
        <p>You can edit the visualization after you create it, and it won't be
            published until you're ready to share it.
        </p>
    </div>
    <div class="col-xs-2"></div>

    <form role="form"
          action=""
          method="post"
          id="visualization-form">
        {% csrf_token %}
        <div class="col-xs-12" id="starting-cluster">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p class="bottom">There were errors with your
                        submission.</p>
                </div>
            {% endif %}
            <h3>First Case</h3>

            <p class="gray">Enter all or part of a case name to serve as the
                beginning or end of your visualization. Cases will be
                automatically suggested with the most relevant cases listed
                first. For example, try typing "Miranda", "Citizens United", or
                "Obergefell".
            </p>
            {% if form.cluster_start.errors %}
                <p class="help-block">
                    {% for error in form.cluster_start.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input class="form-control typeahead"
                               type="text"
                               id="starting-cluster-typeahead">
                        {{ form.cluster_start }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12" id="ending-cluster">
            <h3>Second Case</h3>

            <p class="gray">Select another case to connect to <span id="first-selection">your first case</span>.
            </p>
            {% if form.cluster_end.errors %}
                <p class="help-block">
                    {% for error in form.cluster_end.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
            <input class="form-control typeahead"
                   type="text"
                   id="ending-cluster-typeahead">
            {{ form.cluster_end }}
        </div>

        <div class="col-xs-12" id="titles">
            <h3>Title</h3>
            <p class="gray">Give your visualization a title. If left blank, this
                will be automatically generated using the cases you selected.
            </p>
            {% if form.title.errors %}
                <p class="help-block">
                    {% for error in form.title.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
            {{ form.title }}
        </div>

        <div class="col-xs-12" id="notes">
            <h4>Notes</h4>

            <p class="gray">Provide any additional comments you have about this
                visualization, explaining the story it tells or why you created
                it. <a href="{% url "markdown_help" %}">Markdown syntax</a>
                allowed, but no raw HTML. Examples: **bold**, *italics*.
            </p>
            {% if form.notes.errors %}
                <p class="help-block">
                    {% for error in form.notes.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
            {{ form.notes }}
        </div>

        <div class="col-xs-12 v-offset-above-2">
            <p>
                <button type="submit"
                        class="btn btn-primary btn-lg pull-right"
                        name="make-viz"
                        id="make-viz-button">Make this Visualization</button>
            </p>
        </div>
    </form>

{% endblock %}
