{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load text_filters %}
{% load humanize %}

{% block title %}Network Graph of {{ viz.title }} – CourtListener.com{% endblock %}
{% block description %}
    Network graph of {{ viz.title }} at CourtListener.com
{% endblock %}
{% block og_description %}
    Network graph of {{ viz.title }} at CourtListener.com
{% endblock %}
{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    {% if vis.deleted %}
        <div class="col-xs-12">
            <h2>Deleted by Owner</h2>
            <p>This visualization was deleted by the owner. If this was done in
                error, and you are the owner, you can restore it from your <a
                        href="{% url "view_visualizations" %}">profile
                    page</a>.
            </p>
        </div>
    {% else %}
        {# Not a deleted viz; make decisions on owner/anon and unpub/published #}
        {% if user != viz.user %}
            {% if not viz.published %}
                {# Not published, not deleted, accessed by anon #}
                <div class="col-xs-12">
                    <h2>This Visualization is Unpublished</h2>
                    {# Are they anonymous or just the wrong person? #}
                    {% if user.is_authenticated %}
                        <p>You don't appear to be the owner of this
                            visualization and it has not been published by its
                            owner. If you know the creator of this
                            visualization, ask them to hit the publish button
                            to make it live.
                        </p>
                    {% else %}
                        <p>You are not signed in and this an unpublished
                            visualization. If you're the creator of this
                            visualization and wish to edit it, please <a
                                    href="{% url "sign-in" %}?next={{ request.path }}">sign
                                in</a> and you will be able to access it. If you
                            are not the creator of this visualization, and you
                            know the creator, ask them to hit the publish button
                            to make it live.
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Owner of an non-deleted viz. We're in business. #}
            <div class="col-xs-12 v-offset-below-4">
                <h2 id="title" class="text-center">{{ viz.title|v_wrapper }}</h2>
                <h3 id="subtitle" class="text-center v-offset-below-3">{{ viz.subtitle }}</h3>
                <h4 class="gray text-center">Starts at <a
                        href="{{ viz.cluster_start.get_absolute_url }}">{{ viz.cluster_start.case_name|v_wrapper }}</a>,
                    and goes to <a
                            href="{{ viz.cluster_end.get_absolute_url }}">{{ viz.cluster_end.case_name|v_wrapper }}</a>
                </h4>
            </div>

            <div class="col-xs-10">
                <pre class="pre-scrollable">{{ viz.json_versions.all.0.json_data }}</pre>
                <div id="notes" class="markdown">{{ viz.notes|markdown }}</div>
            </div>

            <div class="col-xs-2">
                {% if not viz.published %}
                    <div class="sidebar-section">
                        <p><a class="btn btn-primary btn-lg">Publish</a>
                    </div>
                {% endif %}

                <div class="sidebar-section">
                    <h3><span>Created</span></h3>
                    <p>{{ viz.date_created }}</p>

                    <h3><span>Modified</span></h3>
                    <p>{{ viz.date_modified }}</p>

                    <h3><span>Views</span></h3>
                    <p>{{ viz.view_count|intcomma }}</p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
