{% extends "base.html" %}
{% load static %}
{% load text_filters %}

{% block title %}{{ title }} – CourtListener.com{% endblock %}
{% block description %}{{ title }} at CourtListener.com{% endblock %}

{# Disable standard page elements for embed #}
{% block meta %}{% endblock %}
{% block icons %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body-classes %}embed{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/plottable.css" %}"/>
{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        var opinions = {{ viz.json|safe }};
    </script>
    {% include "includes/footer-scripts.html" %}
{% endblock %}

{% block content %}
    {% if viz.deleted %}
        <div class="col-xs-12 text-center">
            <h2>Deleted by Creator</h2>
            <p>This visualization was deleted by its creator.</p>
        </div>
    {% elif not viz.published %}
        <div class="col-xs-12 text-center">
            <h2>This Visualization is Private</h2>
            <p>This visualization has not been shared by its owner.</p>
        </div>
    {% else %}
        <div class="col-xs-12">
            <h3 id="title" class="text-center">{{ viz.title|v_wrapper }}</h3>
            <div id="chart" data-height="400"></div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">
                        Created by {{ viz.user }} at
                        <a href="https://www.courtlistener.com/" target="_blank">CourtListener.com</a>.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block newsletter %}{% endblock %}
{% block social %}{% endblock %}
