{% load pacer %}
{# RECAP's extra download-source copy; caller already gated this on document.external_url. #}
{% if variant == "menu_item" %}
  <li role="separator" class="divider"></li>
  <li>
    <a href="{{ document.external_url }}"
      {% if not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
        class="open_buy_pacer_modal"
        data-toggle="modal"
        data-target="#modal-buy-pacer"
      {% endif %}
      target="_blank"
      rel="nofollow noopener noreferrer">
        {% if document.is_free_on_pacer %}From PACER{% else %}Buy on PACER{% endif %} {% if document.page_count %}(${{ document|price }}){% endif %}
    </a>
  </li>
{% elif variant == "check_availability" %}
  <button type="button"
          class="btn btn-primary toggle-disable btn-xs dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="{{ document.external_url }}"
        {% if not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
          data-toggle="modal"
          data-target="#modal-buy-pacer"
          class="open_buy_pacer_modal"
        {% endif %}
        target="_blank"
        rel="nofollow noopener noreferrer">
        <i class="fa fa-external-link"></i> Check Availability on PACER
      </a>
    </li>
  </ul>
{% elif variant == "button" %}
  <a href="{{ document.external_url }}"
    {% if not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
      class="open_buy_pacer_modal btn btn-default btn-xs"
      data-toggle="modal" data-target="#modal-buy-pacer"
    {% else %}
      class="btn btn-default btn-xs"
    {% endif %}
      target="_blank"
      rel="nofollow noopener noreferrer">Buy on PACER {% if document.page_count %}(${{ document|price }}){% endif %}
  </a>
{% endif %}
