<c-vars class=""/>

<button
  {{ attrs }}
  x-on:click="open"
  x-bind:aria-controls="dialogId"
  x-bind:aria-expanded="isOpen"
  aria-haspopup="dialog"
  type="button"
  class="min-h-13 h-fit min-w-13 w-fit flex justify-center items-center focus-visible:outline-none group {{ class }}"
>
  {# We use a span to style the button, but keep the button element larger to increase the click/touch area #}
  <span class="bg-white relative flex items-center justify-center btn-outline text-greyscale-800 rounded-[10px] p-2 group-focus-visible:ring-4 group-focus-visible:ring-greyscale-300 group-hover:bg-greyscale-100">
    {{ slot }}
  </span>
</button>
