<tr id="favorite-row-{{ favorite_form.instance.id }}">
  <td id="name-{{ favorite_form.instance.id }}">
    {% if favorite_form.instance.cluster_id %}
      <i class="fa-book fa gray" title="{{ type }}"></i>
      <a href="{{ favorite_form.instance.cluster_id.get_absolute_url }}">
        {{favorite_form.instance.name }}
      </a>
    {% elif favorite_form.instance.audio_id %}
      <i class="fa-volume-up fa grey" title="{{ type }}"></i>
      <a href="{{ favorite_form.instance.audio_id.get_absolute_url }}">
        {{ favorite_form.instance.name }}
      </a>
    {% elif favorite_form.instance.docket_id %}
      <i class="fa-list fa grey"
         title="{{ type }}"></i>
      <a href="{{ favorite_form.instance.docket_id.get_absolute_url }}">
        {{ favorite_form.instance.name }}
      </a>
    {% elif favorite_form.instance.recap_doc_id %}
      <i class="fa-file-text-o fa grey"
         title="{{ type }}"></i>
      <a href="{{ favorite_form.instance.recap_doc_id.get_absolute_url }}">
        {{ favorite_form.instance.name }}
      </a>
    {% endif %}
  </td>
  {% if type == "Dockets" %}
    <td id="date_last_filing-{{ favorite_form.instance.id }}">
      {{ favorite_form.instance.docket_id.date_last_filing|date:"M j, Y"|default:"(none)" }}
    </td>
  {% endif %}
  <td id="notes-{{ favorite_form.instance.id }}">
    {{ favorite_form.instance.notes|default:"(none)" }}
  </td>
  <td class="align-top">
    <div data-toggle="modal"
         data-target="#modal-save-favorite">
      <a class="inline edit-favorite-trigger nowrap btn btn-primary btn-sm"
         data-id="{{ favorite_form.instance.id }}"><i class="fa fa-pencil"></i> Edit / Delete
      </a>

      <div id="data-store-{{ favorite_form.instance.id }}"
           class="hidden"
           data-cluster_id="{{ favorite_form.instance.cluster_id.pk|default_if_none:"" }}"
           data-audio_id="{{ favorite_form.instance.audio_id.pk|default_if_none:"" }}"
           data-docket_id="{{ favorite_form.instance.docket_id.pk|default_if_none:"" }}"
           data-recap_doc_id="{{ favorite_form.instance.recap_doc_id.pk|default_if_none:"" }}"
           data-name="{{ favorite_form.instance.name|default_if_none:"" }}"
           data-notes="{{ favorite_form.instance.notes|default_if_none:"" }}">
      </div>
    </div>
  </td>
</tr>
