{% load text_filters %}

{# target is the noted object, resolved dual-read (get_noted_object())   #}
{# and passed in with note_form as a (form, target) tuple from            #}
{# view_notes(). type (e.g. "Opinions") comes from profile/notes.html.    #}
<tr id="note-row-{{ note_form.instance.id }}">
  <td id="name-{{ note_form.instance.id }}">
    {% if type == "Opinions" %}
      <i class="fa-book fa gray mr-2" title="{{ type }}"></i>
    {% elif type == "Oral Arguments" %}
      <i class="fa-volume-up fa grey mr-2" title="{{ type }}"></i>
    {% elif type == "Dockets" %}
      <i class="fa-list fa grey mr-2" title="{{ type }}"></i>
    {% elif type == "Documents" %}
      <i class="fa-file-text-o fa grey mr-2" title="{{ type }}"></i>
    {% endif %}
    {% if target.get_absolute_url %}
      <a href="{{ target.get_absolute_url }}{% if type == "Dockets" %}?order_by=desc{% endif %}">
        {{ note_form.instance.name }}
      </a>
    {% else %}
      {{ note_form.instance.name }}
    {% endif %}
  </td>
  {% if type == "Dockets" %}
    <td id="date_last_filing-{{ note_form.instance.id }}" data-text="{{ target.date_last_filing|date:"Ymd" }}">
      {{ target.date_last_filing|date:"M j, Y"|default:"(none)"|nbsp }}
    </td>
    <td id="docket-number-{{ note_form.instance.id }}">
      {{ target.docket_number }}
    </td>
    <td id="court-{{ note_form.instance.id }}">
      {{ target.court.citation_string }}
    </td>
  {% endif %}
  <td id="notes-{{ note_form.instance.id }}">
    {{ note_form.instance.notes|default:"(none)" }}
  </td>
  <td class="align-top">
    <div data-toggle="modal"
         data-target="#modal-save-note">
      <a class="inline edit-note-trigger nowrap btn btn-primary btn-sm"
         data-id="{{ note_form.instance.id }}"><i class="fa fa-pencil"></i> Edit / Delete
      </a>

      {# content_type/object_id come from the form (not the instance     #}
      {# directly) so a legacy-shaped Note's prefilled values (see       #}
      {# NoteForm.__init__) are what gets sent back on save, not nulls.  #}
      <div id="data-store-{{ note_form.instance.id }}"
           class="hidden"
           data-content_type="{{ note_form.content_type.value|default_if_none:"" }}"
           data-object_id="{{ note_form.object_id.value|default_if_none:"" }}"
           data-name="{{ note_form.instance.name|default_if_none:"" }}"
           data-notes="{{ note_form.instance.notes|default_if_none:"" }}">
      </div>
    </div>
  </td>
</tr>
