<form id="webhook-form" hx-post="{% url 'webhook_form' %}" method="post">{% csrf_token %}
  <div class="form-group">
    <div class="row">
      <label class="col-xs-12">Endpoint URL</label>
      <div class="col-xs-12">
        {{ webhook_form.url }}
        {% if webhook_form.url.errors %}
          <p class="help-block">
            {% for error in webhook_form.url.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <label class="col-xs-12">Event Type</label>
      <div class="col-xs-12">
        {{ webhook_form.event_type }}
        {% if webhook_form.event_type.errors %}
          <p class="help-block">
            {% for error in webhook_form.event_type.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <label class="col-xs-12">Enabled</label>
      <div class="col-xs-12">
        {{ webhook_form.enabled }}
        {% if webhook_form.url.errors %}
          <p class="help-block">
            {% for error in webhook_form.enabled.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
    <input name="pk" type="hidden" value="{{webhook_id}}"/>
  </div>
  <div class="modal-footer">
    <p>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button id="webhook-submit" class="btn btn-primary" type="submit">Create Webhook </button>
    </p>
  </div>
</form>
