{% extends "base.html" %}
{% load text_filters %}
{% load humanize %}

{% block title %}Docket for {{ docket.case_name }} - CourtListener.com{% endblock %}
{% block description %}Docket for {{ docket.case_name }}{% endblock %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
    <div class="span-24 last">
        {% if user.is_superuser %}
            <p class="float-right"><a
                    href="/admin/search/docket/{{ docket.pk }}/">Edit&nbsp;Docket&nbsp;<i
                    class="fa fa-pencil"></i></a></p>
        {% endif %}
        <h2>{{ docket.case_name|safe|v_wrapper }}</h2>

        {% if docket.documents.count %}
        <div>
            <h3>There {% if docket.documents.count == 1 %}is{% else %}are{% endif %} {{ docket.documents.count|apnumber|intcomma }} document{{ docket.documents.count|pluralize }} on this docket.</h3>
            <hr>
            <ul>
                {% for document in docket.documents.all %}
                    <li>
                        <a href="{{ document.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                            {{ document.caption|safe|v_wrapper }}
                        </a>
                        {% if user.is_superuser %}
                            &ndash;&nbsp;<a href="/admin/search/document/{{ document.pk }}/">Edit&nbsp;<i class="fa fa-pencil"></i></a>
                        {% endif %}
                        <br/>
                        {{ document.date_filed }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if docket.audio_files.count %}
        <div>
            <h3>There {% if docket.audio_files.count == 1 %}is{% else %}are{% endif %} {{ docket.audio_files.count|apnumber|intcomma }} audio file{{ docket.audio_files.count|pluralize }} on this docket.</h3>
            <hr>
            <ul>
                {% for af in docket.audio_files.all %}
                    <li>
                        <a href="{{ af.get_absolute_url }}?{{ request.META.QUERY_STRING }}">
                            {{ af.case_name|safe|v_wrapper }}
                        </a>
                        {% if user.is_superuser %}
                            &ndash;&nbsp;<a href="/admin/audio/audio/{{ af.pk }}/">Edit&nbsp;<i class="fa fa-pencil"></i></a>
                        {% endif %}
                        <br/>
                        {{ af.date_argued }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}
