{% extends "base.html" %}
{% load text_filters %}

{# Shown on document citation pages. #}

{% block title %}Opinions Citing {{ title }} - CourtListener.com{% endblock %}
{% block og_title %}Opinions Citing {{ title }} - CourtListener.com{% endblock %}
{% block description %}Opinions Citing {{ title }}{% endblock %}
{% block og_description %}Opinions Citing {{ title }}{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for opinions citing {{doc.citation.case_name|truncatewords:10}}" href="/feed/{{ doc.pk }}/cited-by/">
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3" id="sidebar">
        <div class="sidebar-section">
            <h4 class="bottom">
                <i class="fa fa-arrow-circle-o-left gray"></i>
                <a href="{{ doc.get_absolute_url }}?{{ request.META.QUERY_STRING }}">Back to Document</a>
            </h4>
        </div>
    </div>
{% endblock sidebar %}

{% block content %}
    <div class="col-sm-9">
        <h2>
            {{ doc.caption|safe|v_wrapper }}
        </h2>

        <div id="cited-by-viewer">
            <h3>Cited by {{ doc.citation_count }} opinion{{ doc.citation_count|pluralize }}</h3>
            <hr>
            {# Westlaw's metadata organization: Checkbox, Treatment, Name + citation + summary, Date, Type, Depth #}
                <ul>
                    {% for opinion in citing_opinions.object_list %}
                        {# Changing the attributes on this li may break the js above. #}
                        <li class="citing-opinion">
                            <span class="citation-name">
                                <a href="{{ opinion.get_absolute_url }}">
                                    {{ opinion.caption|safe|v_wrapper }}
                                </a>
                            </span>
                            <br/>
                            {{ opinion.docket.court }} |
                            {{ opinion.date_filed }} |
                            {% if opinion.citation_count != 0 %}
                                <a href="{{ opinion.get_absolute_url }}cited-by/">
                                    Cited {{ opinion.citation_count }} time{{ opinion.citation_count|pluralize }}
                                </a>
                            {% else %}
                                Cited 0 times
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
        </div>

        {% include "includes/pagination.html" with results=citing_opinions %}
    </div>
{% endblock %}
