{% load static svg_tags component_tags %}
{% require_script "js/alpine/components/expansion_panel.js" %}
{% require_script "js/alpine/plugins/collapse@3.14.8" defer=True %}

<c-vars size eyebrow_text title_text paragraph_text buttons image_source image_alt></c-vars>

<div class="bg-greyscale-100 border-greyscale-100 p-8 rounded-lg {{ size }}" x-data="expansionPanel">
  <div class="md:pb-8">
      <!-- Eyebrow -->
      <c-eyebrow class="normal-case m-2">{{ eyebrow_text }}</c-eyebrow>

      <!-- Title -->
      <h2 class="font-semibold m-2">{{ title_text }}</h2>

      <!-- Paragraph -->
      <p class="text-gray-700 m-2 pb-4">{{ paragraph_text }}</p>

      <!-- Buttons -->
      <div class="relative inline-flex gap-x-1">
         {% for b in buttons %}
            {% if b.options %}
                <button
                    x-id="dropdownButtonIdGroup"
                    type="button"
                    class="flex-row z-10 hover:shadow-md ms-2 {{b.style}}"
                    x-on:click="toggleExpansion"
                    x-bind:aria-expanded="isExpanded"
                    aria-controls="banner-button-menu"
                    aria-haspopup="menu"
                    aria-label="Toggle menu"
                    >
                    {{ b.name }}
                    <span
                        x-bind:class="iconClass"
                        class="transition-transform duration-200 flex justify-center items-center w-4 h-4"
                        aria-hidden="true"
                        x-cloak
                    >{% svg 'chevron' class="w-full h-full text-white" %}
                    </span>
                </button>
                <menu
                    x-bind:id="dropdownButtonMenuId"
                    class="absolute top-12 w-55 border border-greyscale-200 shadow-lg rounded-lg bg-white py-2"
                    role="menu"
                    x-show="isExpanded"
                    x-cloak
                    x-bind:area-expanded="isExpanded"
                >
                    {% for opt in b.options%}
                        <li
                            class="text-md text-greyscale-800 flex hover:bg-greyscale-50"
                        >
                            <a href="{{ opt.href }}" target="_blank" rel="noopener noreferrer" class="px-4 py-1.5 flex justify-start gap-2 w-full">
                            {% svg opt.icon class="text-greyscale-500" aria_hidden="true" %}
                            {{ opt.name }}
                            </a>
                        </li>
                    {% endfor %}
                </menu>
            {% else %}
                <a class="ms-2 {{b.style}}" href={{ b.href }}>
                    {{ b.name }}
                </a>
            {% endif %}
         {% endfor %}
      </div>
  </div>
  <!-- Image -->
   <img
      class="place-self-center hidden md:block"
      src="{{image_source}}"
      alt="{{image_alt}}"
   />
</div>

