<div class="bg-greyscale-200 border-greyscale-200 p-4 m-8 rounded-lg">
    <!-- Eyebrow -->
    <c-eyebrow class="normal-case m-2">{{ eyebrow_text }}</c-eyebrow>

    <!-- Title -->
    <h2 class="font-semibold m-2">{{ title_text }}</h2>

    <!-- Paragraph -->
    <p class="text-gray-700 m-2">{{ paragraph_text }}</p>

    <!-- Buttons -->
     {% for b in buttons %}
        {% if b.dropdown %}
            <button class={{b.style}}>
                {{ b.name }}
            </button>
        {% else %}
            <button class={{b.style}}>
                {{ b.name }}
            </button>
        {% endif %}
     {% endfor %}

    <!-- Image -->
     <img class="place-content-center" src={{image_source}}>
</div>
