{% load svg_tags static %}

<footer class="w-full pt-14 lg:pt-18 px-4 lg:px-10 flex flex-col gap-18 border-t border-greyscale-200">
  <div class="flex flex-col lg:flex-row justify-between gap-y-11">
    <div class="flex flex-col md:flex-row gap-x-4 gap-y-11 md:gap-x-11 2xl:gap-[80px]">
      {#   DONATE BANNER   #}
      <div class="p-4 banner w-full md:min-w-70 md:w-70 max-md:mx-auto h-53">
        <div class="w-5 h-5 text-primary-600">
          {% svg "donate" aria_hidden="true" %}
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="text-greyscale-800 text-md font-medium">Donate to Support Our Work</h3>
          <p class="text-greyscale-600 text-sm text-normal">
            Your generosity allows us to expand our work, helping us reach even more communities.
          </p>
        </div>
        <div>
          <a
            href="https://donate.free.law/forms/membership"
            class="py-2 btn-primary text-md text-center w-full font-medium justify-center"
            target="_blank"
          >Donate Now</a>
        </div>
      </div>

      {#   NAVIGATION LINKS   #}
      <nav class="flex flex-wrap gap-y-11 gap-x-2">
        <div class="flex flex-col w-41 lg:w-28 xl:w-42 gap-4">
          <h5 class="text-sm font-normal text-greyscale-600">Organization</h5>
          <a
            href="https://free.law/about/"
            class="text-sm font-medium"
            target="_blank"
            aria-label="About Free Law Project (opens in new tab)"
          >About Us</a>
          <a
            href="https://free.law/blog"
            class="text-sm font-medium"
            target="_blank"
            aria-label="Free Law Project blog posts (opens in new tab)"
          >Blog Posts</a>
          <a href="{% url "help_home" %}" class="text-sm font-medium">Help & FAQ</a>
          <a href="{% url "contact" %}" class="text-sm font-medium">Contact</a>
          <a href="{% url "contribute" %}" class="text-sm font-medium">Contribute</a>
        </div>
        <div class="flex flex-col w-41 lg:w-30 xl:w-42 gap-4">
          <h5 class="text-sm font-normal text-greyscale-600">Data</h5>
          <a href="{% url "coverage" %}" class="text-sm font-medium">About Our Data</a>
          <a
            href="https://free.law/data-consulting/"
            class="text-sm font-medium"
            target="_blank"
            aria-label="Data Consulting (opens in new tab)"
          >Data Consulting</a>
          <a
            href="https://free.law/recap/"
            class="text-sm font-medium"
            target="_blank"
            aria-label="Install RECAP extension (opens in new tab)"
          >Install RECAP</a>
          <a href="{% url "api_index" %}" class="text-sm font-medium">APIs & Bulk Data</a>
        </div>
        <div class="flex flex-col w-41 lg:w-28 xl:w-42 gap-4">
          <h5 class="text-sm font-normal text-greyscale-600">Legal</h5>
          <a href="{% url "terms" %}" class="text-sm font-medium">Terms & Privacy</a>
          <a href="{% url "terms" %}#removal" class="text-sm font-medium">Removal</a>
          <a
            href="https://free.law/vulnerability-disclosure-policy/"
            class="text-sm font-medium"
            target="_blank"
            aria-label="Vulnerability policies (opens in new tab)"
          >Vulnerability  Policies</a>
        </div>
      </nav>
    </div>

    {#  NEWSLETTER  #}
    <div class="flex flex-col xl:max-w-[343px] lg:max-w-72 gap-6">
      <div class="sm:block hidden">
        <img height="84" src="{% static "png/logo.png" %}" alt="CourtListener logo">
      </div>
      <p class="text-sm text-greyscale-600">Sign up to receive the Free Law Project newsletter with tips and announcements.</p>
      <a
        aria-label="Subscribe to the Free Law Project newsletter (opens in a new tab)"
        target="_blank"
        href="https://donate.free.law/np/clients/freelawproject/subscribe.jsp?subscription=9"
        class="btn-dark"
      >Subscribe</a>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row justify-between py-4 max-lg:gap-9 border-t">
    <div class="text-greyscale-600 text-sm" role="text">
      CourtListener is sponsored by the non&#8209;profit&nbsp;<a class="text-primary-600 underline" href="https://free.law" target="_blank" aria-label="Free Law Project (opens in new tab)">Free Law Project</a>.
    </div>
    <div class="gap-5 flex">
      <a
        aria-label="LinkedIn - Free Law Project (opens in a new tab)"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/company/free-law-project/"
      >{% svg "logos/linkedin" aria_hidden="true" %}</a>
      <a
        aria-label="Bluesky - Free Law Project (opens in a new tab)"
        target="_blank"
        rel="noopener noreferrer"
        href="https://bsky.app/profile/free.law"
      >{% svg "logos/bluesky" aria_hidden="true" %}</a>
      <a
        aria-label="GitHub repository (opens in a new tab)"
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/freelawproject/courtlistener"
      >{% svg "logos/github" aria_hidden="true" %}</a>
      <a
        aria-label="Subscribe to the Free Law Project newsletter (opens in a new tab)"
        target="_blank"
        href="https://donate.free.law/np/clients/freelawproject/subscribe.jsp?subscription=9"
      >{% svg "newspaper" aria_hidden="true" %}</a>
    </div>
  </div>
</footer>
