{% load static svg_tags component_tags %}
{% require_script "js/alpine/components/header.js" %}
{% require_script "js/alpine/composables/focus.js" %}
{% require_script "js/alpine/plugins/focus@3.14.8" defer=True %}

<c-vars variant class=""></c-vars>

<header x-data="header" class="relative w-full h-18 md:h-[102px] flex justify-between items-center gap-4 px-4 md:px-10 py-3 md:py-2.5 {{ class }}">
  <a href="#main" class="skip-link">Skip to main content</a>
  <a href="#footer" class="skip-link">Skip to footer</a>

  {% if variant == "homepage" %}
    <div>DONATE BUTTON</div>
  {% else %}
    {# COURTLISTENER LOGO #}
    <div class="w-[226px] min-w-[226px] flex justify-start">
      <img src="{% static "png/logo.png" %}" class="md:h-21 md:w-45 h-12 w-[106px]" alt="CourtListener Logo">
    </div>

    {# SEARCH BAR #}
    <form class="w-full relative hidden md:flex flex-row flex-nowrap h-12">
      {#  scope selector  #}
      <button
        type="button"
        x-on:click="toggleScopeMenu"
        class="btn-outline !rounded-r-none rounded-l-xl border-greyscale-200 my-[1px]"
      >
        <span class="text-sm text-greyscale-600" x-text="selected"></span>
        <span
          x-bind:class="scopeCaretClass"
          class="transition-transform duration-200 flex justify-center items-center w-4 h-4"
          aria-hidden="true"
        >{% svg 'chevron' class="w-full h-full text-greyscale-400" %}
        </span>
      </button>

      {#  scope menu  #}
      <menu
        x-show="scopeMenuExpanded"
        x-on:click.outside="closeScopeMenu"
        x-on:keyup.esc="closeProfileMenu"
        x-on:keyup.right="focusNext"
        x-on:keyup.left="focusPrevious"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="z-20 absolute left-0 top-14 w-55 border border-greyscale-200 shadow-lg rounded-lg bg-white py-2"
      >
        <template x-for="scope in searchScopes">
          <li
            x-bind:key="scope.label"
            x-on:click="selectScope"
            x-bind:data-scope="scope.label"
            class="px-4 py-1.5 text-md font-cooper text-greyscale-800 flex justify-between hover:bg-greyscale-50"
          >
            <span x-text="scope.label"></span>
            {% svg "check" x_show="isActiveScope" x_bind__data_scope="scope.label" class="text-primary-600" %}
          </li>
        </template>
      </menu>

      {#  input  #}
      <div class="[&:has(input:focus)]:ring-2 bg-greyscale-200 flex flex-row gap-2 items-center pl-4 pr-2 flex-grow">
        {% svg "magnifier" class="text-greyscale-400 flex-grow-0" %}
        <div class="bg-greyscale-200 flex-grow">
          <input class="bg-greyscale-200 placeholder:text-sm placeholder:text-greyscale-500 focus-visible:ring-0 focus-visible:outline-none bg-none" placeholder="Enter keyword(s)">
        </div>
        <button type="button" class="p-2 rounded-[10px] border border-greyscale-200 bg-white">
          {% svg "brackets" class="text-greyscale-500" %}
        </button>
      </div>
      <a href="" class="btn-primary rounded-l-none rounded-r-xl">{% svg "magnifier" class="text-white" %}</a>
    </form>
  {% endif %}

  {# ACCOUNT BUTTON(S) #}
  <div class="w-[--profile-menu-width] flex justify-end items-center relative">
    {% if request.user.is_authenticated %}
      <div>
        {#   Signed-in button   #}
        <button
          x-on:click="toggleProfileMenu"
          class="{% if variant == "homepage" %}btn bg-greyscale-200{% endif %} btn-outline text-greyscale-800 outline-greyscale-400 rounded-[10px] px-2.5 py-2 text-sm items-center"
          type="button"
        >
          {% svg "avatar" class="border-greyscale-300 border rounded-full" %}
          Profile
          <span
            x-bind:class="profileCaretClass"
            class="transition-transform duration-200 flex justify-center items-center w-4 h-4"
            aria-hidden="true"
          >{% svg "chevron" class="w-full h-full text-greyscale-400" %}
          </span>
        </button>

        {#   Signed-in menu   #}
        <nav>
          <ul
            x-data="focus"
            x-show="profileMenuExpanded"
            x-on:click.outside="closeProfileMenu"
            x-on:keyup.esc="closeProfileMenu"
            x-on:keyup.right="focusNext"
            x-on:keyup.left="focusPrevious"
            class="absolute right-0 z-10 mt-2 w-[--profile-menu-width] rounded-lg bg-white py-2 shadow-lg border border-greyscale-200 focus-visible:outline-hidden list-none pl-0"
            tabindex="-1"
            role="menu"
            aria-label="Navigation"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-100"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
          >
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <a
                href="{% url "profile_alerts" %}"
                role="menuitem"
                class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2"
              >{% svg "bell" class="text-greyscale-400" %}Alerts
              </a>
            </li>
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <a
                href="{% url "profile_notes" %}"
                role="menuitem"
                class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2"
              >{% svg "bookmark" class="text-greyscale-400" %}Notes
              </a>
            </li>
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <a
                href="{% url "tag_list" username=user.username %}"
                role="menuitem"
                class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2"
              >{% svg "tag" class="text-greyscale-400" %}Tags
              </a>
            </li>
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <a
                href="{% url 'user_prayers' user.username %}"
                role="menuitem"
                class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2"
              >{% svg "donate" class="text-greyscale-400" %}Prayers
              </a>
            </li>
            <div aria-hidden="true" class="h-1 bg-greyscale-100 my-1 w-full"></div>
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <a
                href="{% url "profile_your_support" %}"
                role="menuitem"
                class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2"
              >{% svg "donate" class="text-greyscale-400" %}Your Support
              </a>
            </li>
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <a
                href="{% url "view_settings" %}"
                role="menuitem"
                class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2"
              >{% svg "avatar_outline" class="text-greyscale-400" %}Account
              </a>
            </li>
            <li class="relative cursor-default py-[1px] select-none hover:bg-greyscale-100" role="none">
              <form id="logout-form" method="post" action="/sign-out/">
                {% csrf_token %}
                <button type="submit" class="py-2 px-2.5 text-sm text-greyscale-800 flex flex-row justify-start gap-2 w-full">
                  {% svg "sign_out" class="text-greyscale-400" %}
                  Sign out
                </button>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    {% else %}

      {#   Signed-out button   #}
      <div class="flex flex-row flex-nowrap items-center">
        {% if request.path != "/sign-out/" %}
          <a href="{% url "sign-in" %}?next={{request.path}}?{{get_string|urlencode}}{% if results %}page={{results.number}}{% endif %}" class="btn-ghost">Login</a>
        {% else %}
          <a href="{% url "sign-in" %}" class="btn-ghost">Login</a>
        {% endif %}
        <a href="{% url "register" %}?next={{request.path}}?{{get_string|urlencode}}{% if results %}page={{results.number}}{% endif %}" class="btn-grey">Sign Up</a>
      </div>
    {% endif %}
  </div>
</header>
