{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block head %}
	{% if DEBUG %}
		<link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.css" %}"/>
	{% else %}
		<link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}"/>
	{% endif %}
{% endblock %}

{% block title %}
	Advanced Legal Opinion Parenthetical Search – CourtListener.com
{% endblock %}

{% block og_title %}
	Advanced Legal Opinion Parenthetical Search – CourtListener.com
{% endblock %}

{% block footer-scripts %}
	{% include "includes/date_picker.html" %}
	<script type="text/javascript">
        $(document).ready(function () {
            $('#start-scroll').on("click", function () {
                $('html, body').animate({
                    scrollTop: $(".learn-more").offset().top
                }, 500);
            });
        });
	</script>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block navbar-o %}
	active
{% endblock %}

{% block content %}
	<div id="advanced-page" class="col-xs-12">
		<div id="above-main-query">

			<h1 class="text-center">Advanced Opinion Parenthetical Search</h1>
			<p class="text-center gray large">Search millions of opinions across
				hundreds of jurisdictions. Updated constantly.
			</p>
			<p class="text-center"><a class="btn btn-default" id="start-scroll">Learn
				More</a></p>
		</div>

		<div id="main-query-box">
			<form action="/" method="get"
				  id="search-form"
				  class="form-inline"
				  role="form">

				{% for hidden in search_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				<div id="search-container" class="text-center">
					<label class="sr-only" for="id_q">Search</label>
					<div class="input-group">
						<input class="form-control input-lg"
							   value="{{ search_form.q.value|default:'' }}"
							   name="q"
							   id="id_q"
							   autocomplete="off"
							   type="text">
						<span class="input-group-btn">
                        <button type="submit"
								class="btn btn-primary btn-lg"
								name="search"
								id="search-button"><i class="fa fa-search"></i>&nbsp;Search
                        </button>
                    </span>
					</div>
				</div>
			</form>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="btn btn-default btn-lg v-offset-above-1"
				   type="button" data-toggle="modal"
				   data-target="#court-picker">
					<span class="hidden-sm">Select </span>Jurisdictions
					<span id="jurisdiction-count"
						  class="badge">{{ court_count_human|default:"" }}</span>
				</a>
			</div>

			<div class="col-sm-3">
				{% include "includes/order_by_dropdown.html" %}
			</div>

			<div class="col-sm-3">
				{% include "fields/form_group_field.html" with field=search_form.filed_after %}
			</div>
			<div class="col-sm-3">
				{% include "fields/form_group_field.html" with field=search_form.filed_before %}
			</div>

			<div class="col-sm-3">
				{% include "fields/form_group_field.html" with field=search_form.docket_number %}
			</div>

			<div class="col-sm-3">
        <label>Precedential Status</label>
        {% for facet_field in facet_fields %}
            {% if forloop.counter == 4 %}
                <a id="show-all-statuses"
                   class="cursor">Show All Statuses&hellip;</a>
            {% endif %}
            <div class="sidebar-checkbox status-item{% if forloop.counter >= 4 %} hidden{% endif %}">
                <input
                        id="id_{{ facet_field.html_name }}"
                        type="checkbox"
                        name="{{ facet_field.html_name }}"
                        class="external-input status-checkbox left"
                        {% if facet_field.value %}checked="checked"{% endif %}>
                <label
                      for="id_{{ facet_field.html_name }}"
                      class="pointer">
                  <div>{{ facet_field.label }}&nbsp </div>
              </label>
            </div>
        {% endfor %}
    </div>


		</div>

		<div class="row learn-more" id="about-parenthetical">
		</div>

		{% include "includes/jurisdiction_picker_modal.html" %}

	</div>

{% endblock content %}

