{% extends 'base.html' %}
{% load humanize %}

{% block message %}{% endblock %}

{% block title %}
    {% if request.GET.q %}
        Search Results for {{ request.GET.q }}
    {% else %}
        Free Legal Search Engine and Alert System
    {% endif %} - CourtListener.com
{% endblock %}

{% block head %}
    {% if not error %}
        {% if get_string %}
            <link rel="alternate"
                  type="application/rss+xml"
                  title="Atom Feed for These Search Results"
                  href="/feed/search/?{{ get_string }}" />
        {% endif %}
    {% endif %}
    <link rel="alternate"
          type="application/rss+xml"
          title="Atom Feed For All Opinions"
          href="/feed/court/all/">
    <link rel="alternate"
          type="application/rss+xml"
          title="Podcast For All Oral Arguments"
          href="/podcast/court/all/">
{% endblock %}


{% block sidebar %}
{% with type=search_form.type.value %}
    <div class="col-sm-3 search-page" id="sidebar">
        <div class="sidebar-section visible-xs">
            <a class="btn btn-default" href="#search-results">Jump to
                Results</a>
        </div>
        {% include "includes/result_type_chooser.html" %}
        {% include "includes/sidebar_filters.html" %}
    </div>
{% endwith %}
{% endblock %}


{% block content %}
{% with type=search_form.type.value %}
    <div id="search-results" class="col-lg-7 col-sm-9 search-page">
        {% include "includes/messages.html" %}
        {% if type == 'o' or type == 'oa' %}
            {% if alert_form.errors %}
                <div class="alert alert-danger hidden-xs" role="alert">
                    <p class="bottom">There was an error creating your alert. Please
                        <a href="#create-alert-header">see below</a>.
                    </p>
                </div>
            {% endif %}
            {% if request.GET.edit_alert %}
                <div class="alert alert-warning" role="alert">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="bottom">You are editing your alert,
                            "<strong>{{ alert_form.name.value }}</strong>".</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-default btn-sm"
                               href="?{{ get_string_sans_alert }}">
                                Cancel Editing
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if results.paginator.count > 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <h2 id="result-count" class="bottom">
                        {% if type == 'o' %}
                            {{ results.paginator.count|intcomma }} Opinion{{ results.paginator.count|pluralize }}
                        {% elif type == 'oa' %}
                            {{ results.paginator.count|intcomma }} Oral Argument{{ results.paginator.count|pluralize }}
                        {% elif type == 'p' %}
                            {{ results.paginator.count|intcomma }} Judge{{ results.paginator.count|pluralize }}
                        {% endif %}
                        {% if type == 'o' %}
                            <a href="/feed/search/?{{ get_string }}">
                                <i class="gray fa fa-rss"
                                   title="Subscribe to a feed of these results"></i>
                            </a>
                        {% elif type == 'oa' %}
                            <a href="/podcast/search/?{{ get_string }}">
                                <i class="gray fa fa-rss"
                                   title="Subscribe to a podcast of these results"></i>
                            </a>
                        {% endif %}
                    </h2>
                    <span class="small gray top">{{ results.object_list.QTime|intcomma }}ms</span>
                </div>
                <div class="col-sm-6">
                    <div id="result-order-chooser-placeholder">
                        {% if results.paginator.count > 0 %}
                            {% include "includes/order_by_dropdown.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include "includes/search_result.html" %}
        {% else %}
            {% include "includes/no_results.html" %}
        {% endif %}

        {% include "includes/pagination.html" %}
        {% include "includes/random_tip.html" %}
        {% include "includes/jurisdiction_picker_modal.html" %}
    </div>
{% endwith %}
{% endblock %}
