{% extends "new_base.html" %}
{% load svg_tags %}

{% block title %}Non-Profit Free Legal Search Engine and Alert System – CourtListener.com{% endblock %}

{% block header %}
  <c-header
    :request="request"
    variant="homepage"
    class="bg-greyscale-100"
    only
  ></c-header>
{% endblock %}

{% block content_wrapper %}
<div class="w-full h-[100vh] bg-greyscale-100">
  <div class="flex justify-center py-5">
    <div class="md:w-[310px] md:h-35 h-20 w-44">
      {% svg "logos/courtlistener" class="bg-greyscale-800" %}
    </div>
  </div>
</div>
{% endblock %}
