<form id="webhook-form" hx-post="{% url 'webhooks-list' %}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-ext="loading-states" data-loading-states
      >
  {% include "includes/webhooks_htmx/webhooks-form-common.html" %}
  <div class="modal-footer">
    <p>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" data-loading-disable>Cancel</button>
      <button id="webhook-submit" class="btn btn-primary" type="submit" data-loading-disable>
       Create webhook
       <i data-loading class="fa fa-spinner fa-spin"></i>
      </button>
    </p>
  </div>
</form>
