<div class="row form-group">
    <label class="col-md-3">Endpoint URL: </label><p class="col-md-9">{{ webhook.url }}</p>
</div>

<div class="row form-group">
  <div class="col-xs-12">
    <label for="dummy_data">Dummy Content:</label>
    <div class="dummy-area">
      <div class="copy-text-icon" onclick="copy_text('dummy_data')"><i class="fa fa-copy"></i></div>
      <textarea readonly class="form-control" id="dummy_data" rows="4">{{ dummy_content }}</textarea>
    </div>
  </div>
</div>

{% if da_type == webhook.event_type %}
  <div class="row form-group">
    <div class="col-xs-12" hx-ext="loading-states" data-loading-states>
      <button id="webhook-send-test" class="btn btn-primary"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-post="{% url "webhooks-test-webhook" pk=webhook.id format='json' %}"
              hx-target="#webhook-test-sent"
              data-loading-target="#webhook-send-test"
              data-loading-disable
              >
            Send Webhook Test Event
            <i data-loading class="fa fa-spinner fa-spin"></i>
      </button>
      <span id="webhook-test-sent"></span>
      <a href="{% url "view_webhook_test_logs" %}" id="view-in-logs-button" type="button" class="hidden btn btn-success">Sent it, view in Test Logs</a>
      <button id="webhook-curl-command" class="btn btn-primary"
              data-toggle="collapse"
              href="#curl-command"
              >
            Show cURL Command
      </button>
    </div>
  </div>
{% endif %}

<div class="row form-group">
  <div class="col-xs-12">
    <div class="collapse" id="curl-command">
      <div class="dummy-area">
        <div class="copy-text-icon" onclick="copy_text('dummy_curl')"><i class="fa fa-copy"></i></div>
        <textarea readonly class="form-control v-offset-below-1" id="dummy_curl" rows="4">{{ dummy_curl }}</textarea>
        <label for="dummy_curl">Use this command locally to replicate this event from our servers.</label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <p>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-loading-disable>Close</button>
  </p>
</div>
