{% extends "base.html" %}

{% block title %}Delete Alert – CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
        <h2>You are about to delete this alert</h2>
        <h3 class="v-offset-below-3">Are you sure you want to do this?</h3>

        <a href="{% url "profile_alerts" %}" class="btn btn-primary">Cancel and Go
            Back</a>&nbsp;&nbsp;
        <form action="/alert/delete/{{alert_id}}/" method="post" class="float-right">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete this Alert</button>
        </form>

    </div>
    <div class="col-sm-3">&nbsp;</div>
{% endblock %}
