{% extends "base.html" %}

{% block title %}Yikes, systems are down – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6 text-center">
        <h1 class="text-center">Things are down right now, sorry :/</h1>
        <h3 class="v-offset-below-3 text-center">This is probably because we are doing maintenance. Usually things are fixed within a few minutes.</h3>
        <a href="https://twitter.com/freelawproject" class="btn btn-primary btn-lg"><i class="fa fa-twitter"></i>&nbsp;Check Twitter for Updates</a>
    </div>
    <div class="col-sm-3">&nbsp;</div>
{% endblock %}
