{% extends "base.html" %}

{% block title %} Confirm your Docket Alert {% if target_state == docket_alert.SUBSCRIPTION %} subscription {% else %} unsubscription {% endif %} – CourtListener.com{% endblock %}

{% block footer-scripts %}
  <script type="text/javascript" nonce="{{ request.csp_nonce }}">
    function onSubmit(token) {
      document.getElementById('confirmation').submit();
    }
  </script>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="text-center">
      <h1> Please confirm your {% if target_state == docket_alert.SUBSCRIPTION %} subscription {% else %} unsubscription {% endif %}</h1>
      <h3 class="gray alt">&mdash; {% if target_state == docket_alert.SUBSCRIPTION %} to {% else %} from {% endif %} &mdash;</h3>
      {% include "includes/docket_alert_case_name.html" %}
      <form id="confirmation" action="" method="post">{% csrf_token %}
        <div class="form-group">
          {{ form.hcaptcha }}
          {% if form.hcaptcha.errors %}
            <p class="help-block">
              {% for error in form.hcaptcha.errors %}
                {{ error|escape }}
              {% endfor %}
            </p>
          {% endif %}
        </div>
        <button class="h-captcha btn btn-primary btn-lg"
                data-sitekey="{{ h_captcha_site_key }}"
                data-callback="onSubmit"
                type="submit"
                >{% if target_state == docket_alert.SUBSCRIPTION %} Subscribe {% else %} Unsubscribe {% endif %}</button>
      </form>
    </div>
    {% include "includes/docket_alert_donation.html" %}
  </div>
{% endblock %}
