{% extends "base.html" %}
{% load text_filters %}

{% block title %}Your Docket Alert is now {% if enabled %} Enabled {% else %} Disabled {% endif %} – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="text-center">
      <h1>You Have {% if enabled %} Enabled {% else %} Disabled {% endif %} This Docket Alert</h1>
      <h3>You're now {% if enabled %} subscribed {% else %} unsubscribed {% endif %}</h3>
      <h3 class="gray alt">&mdash; {% if enabled %} to {% else %} from {% endif %} &mdash;</h3>
      <h2 class="v-offset-below-3">
        <a href="{{ docket_alert.docket.get_absolute_url }}"
           class="no-underline black-link">{{ docket_alert.docket|best_case_name|safe|v_wrapper }}
           {% if docket_alert.docket.docket_number %}
             ({{ docket_alert.docket.docket_number }})
           {% endif %}
        </a>
      </h2>
      <div class="row">
        <div class="col-xs-6">
          <a href="{{ docket_alert.docket.get_absolute_url }}"
             class="btn btn-primary btn-lg btn-block"><i class="fa fa-arrow-circle-o-left"></i> View Docket</a>
        </div>
        <div class="col-xs-6">
          <a href="{% url 'profile_docket_alerts' %}"
             class="btn btn-success btn-lg btn-block"><i class="fa fa-bell"
       data-enable-icon-class="fa-bell"
       data-disable-icon-class="fa-bell-slash-o"></i> Manage Alerts</a>
        </div>
      </div>
    </div>
    {% include "includes/docket_alert_donation.html" %}
  </div>
{% endblock %}
