{% extends "base.html" %}
{% load text_filters %}
{% load admin_urls %}
{% load static %}


{% block title %}{{ title }} – CourtListener.com{% endblock %}

{% block navbar-r %}active{% endblock %}

{% block footer-scripts %}
  <script src="{% static "js/jquery.bootstrap-growl.min.js" %}"></script>
  {% if request.user.is_authenticated %}
    <script defer type="text/javascript"
            src="{% static "js/toggle_settings.js" %}"></script>
  {% endif %}
  <script type="text/javascript" nonce="{{ request.csp_nonce }}">
    // Set this variable for the docket alerts script to find
    var userAlertAcount = {{ user.docket_alerts.subscriptions.count|default:"0" }};
  </script>
  <script defer type="text/javascript"
          src="{% static "js/docket_alerts.js" %}"></script>
{% endblock %}


{% block sidebar %}{% endblock %}

{% block content %}
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    {% if docket %}
      <div class="text-center">
        {% if has_alert %}
          <h1>You're Already Getting Alerts</h1>
        {% else %}
          <h1>Get Docket Alerts</h1>
        {% endif %}
        <h3 class="gray alt">&mdash; for &mdash;</h3>
        <h2 class="v-offset-below-3">
          <a href="{{ docket.get_absolute_url }}"
             class="no-underline black-link">{{ docket|best_case_name|safe|v_wrapper }}
             {% if docket.docket_number %}
               ({{ docket.docket_number }})
             {% endif %}
          </a>
        </h2>

        {% include "includes/docket_alerts_modal.html" %}
        {% include "includes/logged_out_modal.html" %}
        <div class="row">
          <div class="col-xs-6">
            <a href="{{ docket.get_absolute_url }}"
               class="btn btn-primary btn-lg btn-block"><i class="fa fa-arrow-circle-o-left"></i> View Docket</a>
          </div>
          <div class="col-xs-6">
            {% include "includes/docket_alerts_button.html" with extra_classes="btn-lg btn-block" %}
            <div class="text-right"><a href="{% url "alert_help" %}#recap-alerts">Learn more&hellip;</a></div>
          </div>
        </div>
      </div>

      {% include "includes/docket_alert_donation.html" %}
    {% else %}
      {% if not request.GET.pacer_case_id or not request.GET.court_id %}
        <h1>Invalid Request</h1>
        <h3>Sorry, we did not receive the needed parameters</h3>
        <ul>
          {% if not request.GET.pacer_case_id %}
            <li><p><code>pacer_case_id</code> is a required parameter</p></li>
          {% endif %}
          {% if not request.GET.court_id %}
            <li><p><code>court_id</code> is a required parameter</p></li>
          {% endif %}
        </ul>
        <p>
          Please correct those parameters and try again.
        </p>
      {% else %}
        {# Parameters are present, but no matching docket #}
        <div class="text-center">
          <h1>Unknown Case</h1>
          <h3 class="v-offset-below-3">Sorry, we were unable to find that case</h3>

          <p>Usually this happens when a case was recently uploaded via RECAP and we have not yet processed it.</p>
          <p>Most uploads are processed within seconds but sometimes it can take longer.</p>
          <p>Refresh the page to try again.</p>
          <p class="v-offset-above-3">
            <a class="btn btn-primary btn-xl" href="{{ request.get_full_path }}">Refresh this Page</a>
          </p>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
