{% extends "base.html" %}

{% block title %}CourtListener.com / Under maintenance{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-6">&nbsp;</div>
    <div class="span-12">
        <h1>CourtListener is currently undergoing maintenance.</h1>
        <p>We apologize for the inconvenience, but CourtListener is getting a
        scheduled upgrade. We hope to be done soon.</p>
        <p>You can monitor our progress in <a href="https://twitter.com/#!/courtlistener">
        our twitter stream</a>.</p>
    </div>
    <div class="span-6">&nbsp;</div>
{% endblock %}
