{% extends "base.html" %}

{% block title %}CourtListener.com / Stop SOPA and PIPA / Protect the Internet{% endblock %}


{% block header %}
    
    <div class="span-24 last">
    {% block logo %}
        <div class="span-4">&nbsp;</div>    
        <div class="span-16">
            <hr class="space"><hr class="space"><hr class="space">
            <img src="/media/images/png/logo-censored.png"
                 alt="CourtListener - Censored"
                 width="324"
                 height="125"/>
         </div>
    {% endblock %}
    {% block main-nav %}<hr class="space"><hr class="space"><hr class="space"><hr class="space"><hr class="space"><hr class="space">{% endblock %}
    </div>
{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}


{% block content %}
    <div class="span-4">&nbsp;</div>
    <div class="span-16">
        <h1 class="serif">Protect the Internet</h1>
        <h3>Congress is considering dangerous bills that threaten the Internet as 
        we know it, and which would hamper our efforts at freeing the law. In
        protest, we have taken down our site to show what it could be like if 
        these bills went through.</h3>
        <h3><a href="https://www.eff.org/deeplinks/2012/01/how-pipa-and-sopa-violate-white-house-principles-supporting-free-speech">Read about the bills and take action today.</a></h3>
    </div>
{% endblock %}

{% block footer %}{% endblock %}