{% extends "base.html" %}

{% block title %}Contribute – CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2 id="get-involved">Contribute</h2>
    </div>

    <div class="col-sm-9">
        <h3 id="overview">Overview</h3>

        <p>This is an open source and open data project. Its success hinges on
            the support of its users. You can help to make it better.</p>

        <p>There are many ways to help. The easiest way is to <a
                href="/contact/">give us your feedback via the contact form</a>.
            If you notice something wrong or something great, let us know.</p>

        <p>Programmers, we welcome your contributions to <a
                href="https://github.com/freelawproject/courtlistener">our
            code</a>. We've also created a virtual machine, the <a
                href="https://www.courtlistener.com/tools/free-law-machine/">Free
            Law Machine</a>, that includes everything you need to get started
            working on our code.</p>

        <p>Attorneys, if you are using this site and discover that something is
            worded wrong, looks wrong, or is just plain wrong, please let us
            know!</p>

        <p>If you do marketing, we need your help too.</p>

        <p>We're also looking for people to help with minor data cleanup and
            quality issues. If you're interested, <a href="{% url "contact" %}">drop us a
                line on the contact page</a>.</p>

        <h3 id="planning-board">Feature Planning</h3>

        <p>We do all of our planning in the open. If you want to see our
            priorities, simply look at <a href="https://trello.com/b/F3jrqway">our
                planning board</a>.</p>

        <h3 id="bugs">Bugs</h3>

        <p>If you find any problems with CourtListener at all, please let us
            know! To file a bug, please go to our bug tracker, and fill out <a
                    href="https://github.com/freelawproject/courtlistener/issues/new">this
                form</a> with as much detail about what you were doing and what
            happened when the system broke. This gives us invaluable feedback
            to keep things running properly.</p>

        <h3 id="forum">Discuss</h3>

        <p>If you're interested in talking about the site, the project, or
            anything else, please <a
                    href="https://groups.google.com/group/courtlistener-discuss">visit
                our forum</a>, and start a discussion. We're happy to hear from
            you.</p>
    </div>

    <div class="col-sm-3">
        <h3 id="quick-actions">Quick actions</h3>
        <ul class="top">
            <li><a href="https://trello.com/b/F3jrqway">See and monitor our
                planning board</a></li>
            <li>
                <a href="https://github.com/freelawproject/courtlistener/issues/new">File
                    a bug in our bug tracker</a></li>
            <li><a href="https://github.com/freelawproject/courtlistener/">Browse
                and contribute to the code</a></li>
            <li><a href="{% url "contact" %}">Contact us with your ideas</a></li>
        </ul>
    </div>
{% endblock %}
