{% extends "base.html" %}

{% block title %}Contact Us – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
  <div class="col-xs-1 col-sm-2 col-md-3"></div>
  <div class="col-sm-9 col-md-6" id="sidebar">
    <h1 class="text-center v-offset-below-2">Contact Us</h1>
    <p><strong>We do not provide legal help</strong>. You may wish to contact a qualified attorney, reach out to your local bar association to see if they operate a lawyer referral service, or try <a href="https://www.justia.com/lawyers">Justia's lawyer directory</a>. Additionally, many counties and law schools operate law libraries open to the general public, where you can conduct general legal research.
    </p>
    <p><strong>If you want something taken off of our website</strong>, please see our <a href="{% url "terms" %}#removal">removal policy</a> for how to proceed. You <em>must</em> provide a link of the item you need reviewed.
    </p>
    <p><strong>Finally</strong>, <a href="https://github.com/freelawproject/courtlistener/discussions" target="_blank">we use GitHub Discussions</a>, where you can ask questions and search past ones if you prefer to discuss your message in public.</p>

    {% if form.errors %}
      <div class="alert alert-danger">
        <p class="bottom">There were errors with your submission.</p>
      </div>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="id_name">Name</label>
        {{ form.name }}
        {% if form.name.errors %}
          <p class="help-block">
            {% for error in form.name.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_email">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
          <p class="help-block">
            {% for error in form.email.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>

      {# We use the phone_number field as the subject field to defeat spam #}
      <div class="form-group">
        <label for="id_phone_number">Subject</label>
        {{ form.phone_number }}
        {% if form.phone_number.errors %}
          <p class="help-block">
            {% for error in form.phone_number.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_message">Message</label>
        {{ form.message }}
        {% if form.message.errors %}
          <p class="help-block">
            {% for error in form.message.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.hcaptcha }}
        {% if form.hcaptcha.errors %}
          <p class="help-block">
            {% for error in form.hcaptcha.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary btn-lg pull-right">Send Message</button>
    </form>
  </div>
{% endblock %}
