{% extends "base.html" %}

{% block title %}Thank You for Your Message – CourtListener.com{% endblock %}
{% block sidebar %}{% endblock %}
{% block search-form %}{% endblock %}

{% block content %}
    <div class="col-xs-1 col-sm-2 col-md-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 well">
        <h2 class="text-center v-offset-below-2">Thank You for Your Message</h2>
        <p>Thanks for the feedback. We appreciate every message we receive and we'll get back to you as soon as we can &mdash; Usually within a few days.
        </p>
    </div>
    <div class="col-xs-1 col-sm-2 col-med-3"></div>
{% endblock %}
