{% extends "base.html" %}
{% load partition_util %}

{% block title %}Feeds – CourtListener.com{% endblock %}
{% block sidebar %}{% endblock %}

{% block head %}
    <link rel="alternate"
          type="application/rss+xml"
          title="Atom feed for all courts"
          href="/feed/court/all/">
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="row v-offset-above-3">
            <div class="hidden-xs col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h1 id="background" class="text-center">Atom Feeds with the Latest Updates&nbsp;<i class="gray fa fa-rss"></i></h1>
                <p>We have a number of <a
                        href="https://en.wikipedia.org/wiki/RSS">feeds</a> so
                    that you can easily stay up to date with the latest court documents
                  without having to visit our website each day.</p>
                <p>To subscribe to these feeds you will need an app or other program
                    that can regularly check the feed for new content. <a
                            href="https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators">Numerous
                    options</a> for this are available for almost any device.</p>
                <p>The feeds we provide require ongoing maintenance.
                    We are able to support these feeds as we receive <a
                            href="https://donate.free.law/forms/supportflp">support</a> from you.</p>
                <p><a href="https://donate.free.law/forms/supportflp" class="btn btn-danger btn-lg"><i class="fa fa-heart-o"></i> Support our Work</a></p>
            </div>
        </div>

        <div class="row v-offset-above-2">
            <div class="col-xs-4">
                <h2 id="search-feeds" class="text-center">Search Feeds</h2>
                <p>As you use the search engine, a feed is generated for
                    every search that you do. For case law, you can subscribe to these
                    feeds using a URL like:</p>
                <blockquote>
                    <code>/feed/search/?q={your-query}</code>
                </blockquote>

                <p>The best way to create these feeds is to do your search like you
                    normally do, and then click the subscribe button to
                    sign up. Another way is to click the RSS icon (<i class="gray fa fa-rss"></i>) on the
                    search results page to identify the correct link.
                </p>
            </div>
            <div class="col-xs-4">
                <h2 id="cited-by-feeds" class="text-center">New Citation Feeds</h2>
                <p>As we add items to our collection, we regularly discover new
                    citations to existing case law. If you wish to stay up to date
                    with these new citations, you can do so using a search feed.
                </p>
                <p>Citation feeds thus take the form:</p>
                <blockquote>
                    <code>/feed/search/?q=cites:({opinion_id})</code>
                </blockquote>
                <p>As with search feeds, the easiest way to create these is to
                    do a search and then click the subscribe button in your
                    browser or the RSS icon (<i class="gray fa fa-rss"></i>) on the search results page.
                </p>
                <p>By using a search query for this feed, we are also able to
                    set up <a href="{% url "faq" %}#explain-alerts">alerts</a> that notify you whenever there is a new decision citing one you
                    follow.
                </p>
            </div>
            <div class="col-xs-4">
              <h2 id="docket-feeds" class="text-center">Docket Feeds</h2>
              <p>Each day we get <a href="{% url "coverage_recap" %}">over 100,000 new items from PACER</a>. We have a sophisticated <a href="{% url "alert_help" %}">alert system</a> to send you emails about these, but some folks prefer to use RSS instead.
              </p>
              <p>If you prefer to get alerts for dockets by RSS instead, you can get a feed for a given docket with a link like:</p>
              <blockquote>
                <code>/docket/{docket-id}/feed/</code>
              </blockquote>
              <p>The easiest way to find these feeds is to find a docket you're interested in. From there, you can put its URL into your feed reader directly (and it should discover the RSS feed's link), or you can find the RSS feed's link by clicking the subscribe link in the alerts drop down.
              </p>
            </div>
        </div>

        <h2 id="opinion-feeds">Jurisdiction Feeds for Opinions</h2>
        <p>At present, the jurisdictions below get case law as it is
            published on court websites. Subscribing to the feeds listed below
            will provide you with the latest case law as it is gathered.</p>
        <div class="row">
            {% for row in opinion_courts|rows:3 %}
                <div class="col-sm-4">
                    <ul {% if not forloop.last %}class="bottom"{% endif %}>
                        {% for court in row %}
                            <li>
                                <a href="/feed/court/{{ court.pk }}/">{{ court }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <p>We also have <a href="/feed/court/all/">a feed for all
            case law</a>.</p>
    </div>
{% endblock %}
