{% extends "base.html" %}
{% load partition_util %}

{% block title %}Feeds &amp; Podcasts – CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block head %}
    <link rel="alternate"
          type="application/rss+xml"
          title="Atom feed for all courts"
          href="/feed/court/all/">
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2 id="background">Feeds &amp; Podcasts&nbsp;<i class="gray fa fa-rss"></i></h2>
        <p>We have a number of <a
                href="https://en.wikipedia.org/wiki/RSS">feeds</a> and <a
                href="https://en.wikipedia.org/wiki/Podcast">podcasts</a> so
            that you can easily stay up to date with the latest content from
            the courts without having to visit any website each day.</p>
        <p>To subscribe to these feeds you will need an app or other program
            that can regularly check the feed for new content. <a
                    href="https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators">Numerous
            options</a> for this are available for almost any device.</p>
        <p>The feeds and podcasts we provide are powered by <a
                href="https://github.com/freelawproject/juriscraper/">Juriscraper</a>.
            We are able to add and support more feeds as we receive <a
                    href="{% url "donate" %}?referrer=feeds">support</a> from you.</p>

        <div class="row">
            <div class="col-sm-6">
                <h3 id="search-feeds">Search Feeds</h3>
                <p>As you use the search engine, a feed or podcast is generated for
                    every search that you do. For opinions, tou can subscribe to these
                    feeds using a URL like:</p>
                <blockquote>
                    <code>https://www.courtlistener.com/feed/search/?q=your-query</code>
                </blockquote>
                <p>For oral arguments, a podcast is created at:</p>
                <blockquote>
                    <code>https://www.courtlistener.com/podcast/search/?q=your-query</code>
                </blockquote>
                <p>The best way to create these feeds is to do your search like you
                    always do, and then use the subscribe button in your browser to
                    or the RSS icon (<i class="gray fa fa-rss"></i>) on the
                    search results page to identify the correct link.</p>
            </div>
            <div class="col-sm-6">
                <h3 id="cited-by-feeds">Feeds for New Citations</h3>
                <p>As we add items to our collection, we regularly discover new
                    citations to existing opinions. If you wish to stay up to date
                    with these new citations, you can do so using a search feed.
                </p>
                <p>Citation feeds thus take the form:</p>
                <blockquote>
                    <code>https://www.courtlistener.com/feed/search/?q=cites:({opinion_id})</code>
                </blockquote>
                <p>As with search feeds, the easiest way to create these is to
                    do a search and then click the subscribe button in your
                    browser or the RSS icon (<i class="gray fa fa-rss"></i>) on the search results page.
                </p>
                <p>By using a search query for this feed, we are also able to
                    set up <a href="{% url "faq" %}#explain-alerts">alerts</a>, sending
                    you an email whenever there is a new opinion citing one you
                    follow.
                </p>
            </div>
        </div>

        <h3 id="opinion-feeds">Jurisdiction Feeds for Opinions</h3>
        <p>At present, the jurisdictions below get opinions as they are
            published on court websites. Subscribing to the feeds listed below
            will provide you with the latest opinions as they are written.</p>
        <div class="row">
            {% for row in opinion_courts|rows:3 %}
                <div class="col-sm-4">
                    <ul {% if not forloop.last %}class="bottom"{% endif %}>
                        {% for court in row %}
                            <li>
                                <a href="/feed/court/{{ court.pk }}/">{{ court }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <p>We also have <a href="/feed/court/all/">a feed for all of the
            opinions</a>.</p>


        <h3 id="podcasts">Podcasts for Oral Argument Jurisdictions</h3>
        <p>At present, the jurisdictions below get oral arguments as they are
            posted on the court websites. Subscribing to these podcasts will
            ensure that you stay up to date with the latest oral arguments as
            they are posted.</p>
        <div class="row">
            {% for row in oral_argument_courts|rows:3 %}
                <div class="col-sm-4">
                    <ul {% if not forloop.last %}class="bottom"{% endif %}>
                        {% for court in row %}
                            <li>
                                <a href="/podcast/court/{{ court.pk }}/">{{ court }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <p>We also have <a href="/podcast/court/all/">a podcast for all of the
            oral arguments listed above</a>.</p>
    </div>
{% endblock %}
