<div id="remindMeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="remindMeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="remindMeLabel">Get Your Quarterly Contribution Reminder</h4>
      </div>
      <div class="modal-body">
        <p>Every quarter, PACER waives the first $30 you spend. Sign up here and we'll remind you each quarter to use your allotment.</p>
        <p>Click below to sign up for email reminders.</p>
      </div>
      <div class="modal-footer">
        <a href="https://donate.free.law/np/clients/freelawproject/subscribe.jsp?subscription=32" class="btn btn-primary">Sign Up for Reminders</a>
      </div>
    </div>
  </div>
</div>