<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"{% if not user.is_authenticated %} disabled="disabled{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tags <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="list-group">
    <li class="list-group-item"><h6 class="bold">Apply tags to this item</h6></li>
    <li class="list-group-item">
      <div class="form-group">
        <input type="text" class="form-control" id="labelFilterInput" aria-describedby="labelFilterHelp" placeholder="Create a tag">
      </div>
    </li>
    <a href="{% url "tag_list" request.user %}" class="list-group-item" id="editButton">
      <i class="fa fa-pencil"></i>
      Edit Labels
    </a>
  </ul>
</div>
