schema="{{ INSTALL_ROOT.stdout }}/Solr/conf/schema.xml"
dataDir="{{ INSTALL_ROOT.stdout }}/Solr/data"
config="{{ INSTALL_ROOT.stdout }}/Solr/conf/solrconfig.xml"
loadOnStartup="true"
transient="false"
