{% extends "base.html" %}

{% block title %}CourtListener.com / Email confirmation{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-18 last">
        {% if invalid %}
            <h2>Invalid confirmation link</h2>
            <p>The link you have used to confirm your account is invalid. Please try
            again or you may request a <a href="/email-confirmation/request/">new confirmation link</a>.</p>
        {% endif %}

        {% if expired %}
            <h2>Expired confirmation link</h2>
            <p>Your confirmation link has expired. Please try again or you may
            request a <a href="/email-confirmation/request/">new confirmation link</a>.</p>
        {% endif %}

        {% if success or alreadyConfirmed %}
            <h2>Your email address has been confirmed.</h2>
            <p>Thank you for successfully confirming your email address.</p>
            <p><a href="/">Proceed to the homepage.</a></p>
        {% endif %}
    </div>
{% endblock %}
