{% extends "base.html" %}

{% block title %}Signed Out - CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-4"></div>
    <div class="col-sm-4 well">
        <h2>You have been successfully signed out</h2>
        <p class="large">
            <i class="fa fa-arrow-circle-o-right gray"></i> <a href="/">Go to the homepage</a>
        </p>
        <p class="large">
            <i class="fa fa-arrow-circle-o-right gray"></i> <a href="http://freelawproject.org">Read our blog</a>
        </p>
        <p class="large">
            <i class="fa fa-arrow-circle-o-right gray"></i> <a href="/sign-in/">Sign back in</a>
        </p>
    </div>
    <div class="col-sm-4"></div>
{% endblock %}
