{% extends "base.html" %}

{% block title %}Signed Out - CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-xs-12 box round center">
        <h2>You have successfully signed out</h2>

        <h3 class="center">
            <i class="fa fa-arrow-circle-o-right gray"></i> <a href="/">Go to the homepage</a>
        </h3>

        <h3>
            <i class="fa fa-arrow-circle-o-right gray"></i> <a href="http://freelawproject.org">Read our blog</a>
        </h3>

        <h3>
            <i class="fa fa-arrow-circle-o-right gray"></i> <a href="/sign-in/">Sign back in</a>
        </h3>

    </div>
{% endblock %}
