{% extends "base.html" %}

{% block title %}CourtListener.com / Forgot password{% endblock %}

{% block content %}
    <div class="span-18 colborder" id="content">
        <h2>Reset your password</h2>
        
        {% if form.errors %}
            <div class="span-18">
                <div class="span-10 error">
                    <p class="bottom">That e-mail address doesn't have an associated user account.<br>Are you sure you've registered?</p>
                </div>
                <div class="span-7 last">&nbsp;</div>
            </div>
        {% endif %}
        
        <form action="" method="post">{% csrf_token %}
            <p class="bottom">
                <label for="id_email">Enter your email address and we will email you instructions for resetting your password</label><br>
                <input id="id_email" type="text" name="email" maxlength="75" class="title"/>
                {# No need for errors block, since there is only one possible error, which is indicated above #}
            </p>
          <button type="submit" class="button">Reset password</button>
        </form>
        <br><p>If you are unable to reset your account, please <a href="/contact/">contact us</a> for assistance.</p>
    </div>
{% endblock %}
