{% extends "base.html" %}

{% block title %}CourtListener.com / Forgot password{% endblock %}

{% block head %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
		    $('.auto-focus:first').focus();
	    });
     </script>
{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-24 last" id="content">
        {% if validlink %}
            <hr class="space">
            <hr class="space">

            <div class="prepend-9 span-7 last">
                <div class="box round">
                    <h2>Enter new password</h2>
                    {% if form.errors %}
                        <div class="span-5 error">
                            <p class="bottom">There were errors in your submission.</p>
                        </div>
                    {% endif %}

                    <form action="" method="post">{% csrf_token %}
                        <p>
                            <label for="id_new_password1">New password</label>
                            {% if form.new_password1.errors %}
                                <span class="errortext">
                                    {% for error in form.new_password1.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </span>
                            {% endif %}<br>
                            <input type="password" id="id_new_password1" name="new_password1" class="auto-focus span-6">
                        </p>

                        <p>
                            <label for="id_new_password2">Confirm password</label>
                            {% if form.new_password2.errors %}
                                <span class="errortext">
                                    {% for error in form.new_password2.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </span>
                            {% endif %}<br>
                            <input type="password" id="id_new_password2" name="new_password2" class="span-6">
                        </p>

                      <button type="submit" class="button last">Change my password</button>
                    </form>
                </div>
            </div>
            <hr class="space">
            <hr class="space">

        {% else %}
            <h2>Password reset unsuccessful.</h2>
            <p>The password reset link was invalid, possibly because it has already
                been used.  Please <a href="/reset-password/">try again</a> or
                <a href="/contact/">contact us</a> for assistance.</p>
        {% endif %}
    </div>
{% endblock %}
