{% extends "base.html" %}

{% block title %}CourtListener.com / Forgot password{% endblock %}

{% block headers %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
		    $('.auto-focus:first').focus();
	    });
     </script>
{% endblock %}

{% block content %}
    <div class="span-24 last" id="content">
        <h2>Reset your sign in credentials</h2>
        
        {% if form.errors %}
            <div class="span-18">
                <div class="span-10 error">
                    <p class="bottom">That e-mail address doesn't have an associated user account.<br>Are you sure you've registered?</p>
                </div>
                <div class="span-7 last">&nbsp;</div>
            </div>
        {% endif %}
        
        <p>Enter your email address and we will send you the username on the account and instructions for resetting your password.</p>
        
        <form action="" method="post">{% csrf_token %}
            <p class="bottom">
                <label for="id_email">Your email address</label><br>
                <input id="id_email" type="text" name="email" maxlength="75" class="wide-title auto-focus"/>
                {# No need for errors block, since there is only one possible error, which is indicated above #}
            </p>
          <button type="submit" class="button">Submit</button>
        </form>
        <br><p>If you are unable to reset your account, please <a href="/contact/">contact us</a> for assistance.</p>
    </div>
{% endblock %}
