{% extends "base.html" %}

{% block title %}Registration Complete - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-24 last" id="content">
        <h2>Registration Complete &ndash; Welcome to CourtListener</h2>
        <p>We have sent you an email to confirm your email address. In order to log in, please follow the directions
            in that email within five days to confirm your account.</p>
        <p>If you are unable to confirm your email address, please <a href="/contact/">contact us</a> for assistance.</p>
    </div>
{% endblock %}
