{% extends "base.html" %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-24 last" id="content">
        <h2>Registration complete</h2>
        <p>Welcome to CourtListener.com!</p>
        <p>You are now signed in and we have sent you a confirmation email.
            Please check your email within five days to confirm your account.</p>
        <p><a href="{{redirect_to}}">Continue where you left off.</a></p>
    </div>
{% endblock %}
