{% extends "base.html" %}

{% block title %}Email Confirmation Sent - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-xs-12">
            <h2>Email Confirmation Sent</h2>
            <p>We have sent a confirmation message to your email address. To log in, please verify your email address
                within five days.</p>
            <hr class="space">
            <p>If you are unable to confirm your email address or have any questions, please
                <a href="/contact/">contact us</a> for help.</p>
    </div>
{% endblock %}
