{% extends "base.html" %}
{% load honeypot %}


{% block title %}Send Email Confirmation - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript">
	    $(document).ready(function() {
		    $('.auto-focus:first').focus();
	    });
     </script>
{% endblock %}

{% block content %}
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <h2>Request Email Confirmation Link</h2>
        <form action="" method="post">{% csrf_token %}
            {% render_honeypot_field "skip_me_if_alive" %}
            <div class="form-group">
                <label for="id_email">Your email address</label><br>
                <input id="id_email" type="text" name="email" maxlength="75" class="form-control auto-focus"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br><p>If you are unable to confirm your email address, please <a href="/contact/">contact us</a> for assistance.</p>
    </div>
    <div class="col-xs-3"></div>
{% endblock %}
