{% extends "base.html" %}

{% block title %}CourtListener.com / Send email confirmation{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/media/js/jquery-1.6.2.min.js"><\/script>')</script>
    <script type="text/javascript">
	    $(document).ready(function() {
		    $('.auto-focus:first').focus();
	    });
     </script>
{% endblock %}

{% block content %}
    <div class="span-17 last" id="content">
        {% if alreadyConfirmed %}
            <div class="span-17 last">
                <h2>Already confirmed</h2>
                <p class="bottom">That email address is already confirmed.
                    <a href="/profile/settings/">Proceed to your account</a>.
                </p>
            </div>
        {% else %}
            <div class="span-17 last">
                <h2>Email confirmation sent</h2>
                <p>We have sent a confirmation message to your email address.
                    To continue receiving emails, please verify your email address within five days.</p>
            </div>
        {% endif %}

        <br><p>If you are unable to confirm your email address, please
            <a href="/contact/">contact us</a> for assistance.</p>
    </div>
{% endblock %}
