{% if DEBUG %}
  <script defer type="application/javascript"
          src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% else %}
  <script defer type="application/javascript"
          src="{{ STATIC_URL }}js/bootstrap-datepicker.min.js"></script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker({
      autoclose: true,
      assumeNearbyYear: true,
      forceParse: false,
      maxViewMode: "decades",
      startDate: "01/01/1600",
      templates: {
        leftArrow: '<i class="fa fa-long-arrow-left"></i>',
        rightArrow: '<i class="fa fa-long-arrow-right"></i>'
      },
      todayHighlight: true,
    });
  });
</script>
