{% load humanize %}

{% if results.has_previous or results.has_next %}
<div class="well v-offset-above-3 hidden-print">
  <div class="row">
    <div class="col-xs-2 col-sm-3">
      {% if results.has_previous %}
        <div class="text-left">
            <button id="webhooks-paginator"
               hx-get="{% url 'webhook_events-list' format="html" %}?debug={{debug}}&page={{ results.previous_page_number }}&webhook__event_type={{ type_filter }}&event_status={{ status_filter }}"
               hx-target="#webhook_table_body"
               rel="prev"
               class="btn btn-default">
              <i class="fa fa-caret-left no-underline"></i>
              <span class="hidden-xs hidden-sm">Previous</span>
              <span class="hidden-xs hidden-md hidden-lg">Prev.</span>
            </button>
        </div>
      {% endif %}
    </div>
    <div class="col-xs-8 col-sm-6">
      <div class="text-center large">
        <span class="hidden-xs">Page </span>{{ results.number|intcomma }} of {{ results.paginator.num_pages|intcomma }}
      </div>
    </div>
    <div class="col-xs-2 col-sm-3">
      {% if results.has_next %}
        <div class="text-right">
            <button id="webhooks-paginator"
               hx-get="{% url 'webhook_events-list' format="html" %}?debug={{debug}}&page={{ results.next_page_number }}&webhook__event_type={{ type_filter }}&event_status={{ status_filter }}"
               hx-target="#webhook_table_body"
               rel="next"
               class="btn btn-default">
              <span class="hidden-xs">Next</span>
              <i class="fa fa-caret-right no-underline"></i>
            </button>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
