{% load humanize %}
<div id="modal-introducing-notes"
     class="modal hidden-print text-left"
     role="dialog"
     aria-hidden="true"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title"><i class="fa fa-bookmark-o gray"></i> Introducing Notes</h2>
      </div>
      <div class="modal-body">
        <p>You can use the <i class="fa fa-bookmark-o black"></i> <strong>Notes</strong> feature to save Dockets, RECAP Documents, Opinions, and Oral arguments to the <a href="{% url 'profile_notes' %}">Notes tab</a> in your account. Notes help you remember why an item was important to you, and will appear in any alerts we send you about a case.</p>
        <p>Notes replace the old Favorites feature, but don't worry, all your old favorites are still in your account in the <i class="fa fa-bookmark-o black"></i> <strong>Notes</strong> tab</p>
      </div>
      <div class="modal-footer">
        <p>
          <a href="{% url 'tag_notes_help' %}#notes"
          class="btn btn-success">Learn More&hellip;</a>
          <button class="btn btn-primary" data-dismiss="modal">
          <i class="fa fa-check"></i> Got  it</button>
        </p>
      </div>
    </div>
  </div>
</div>
