{% load static %}

{% if DEBUG %}
  <script defer type="application/javascript"
          src="{% static "js/select2.js" %}"></script>
{% else %}
  <script defer type="application/javascript"
          src="{% static "js/select2.min.js" %}"></script>
{% endif %}
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {

    $.each(array_forms, function(i, item) {
      call_ajax(item[0], item[1], item[2]);
    });

    function call_ajax(endpoint, classname, field) {
      $('.select2'+classname).select2({
          ajax: {
            url: endpoint,
            dataType: "json",
            delay: 250,
            data: function(params) {
              let term_search = field + '__icontains';
              let query = {
                [term_search]: params.term,
                order_by: field,
                page: params.page || 1
              };
              return query;
            },
            processResults: function(data, params){
              params.page = params.page || 1
              return {
                results: data.results.map(function(result){return {
                  id: result.id,
                  text: result[field],
                }}),
                pagination: {
                  more: !!data.next,
                }
              }
            }
          }
        });
    }
  });
</script>
