<div class="sidebar-section">
    <h3><span>Share this {{ title_type }}</span></h3>

    <div id="share-links">
        <a href="mailto:?subject={{ title|urlencode }}%20at%20CourtListener.com&body={{ request.build_absolute_uri }}"
           title="Email this Link to a Friend or Colleague">
            <i class="fa fa-envelope-o fa-lg gray"></i>
        </a>&nbsp;
        <a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}&t={{ title }} at CourtListener.com"
           target="_blank"
           title="Share on Facebook">
            <i class="fa fa-facebook-square fa-lg gray"></i>
        </a>&nbsp;
        <a href="http://twitter.com/home?status={{ request.build_absolute_uri }}"
           target="_blank"
           title="Share on Twitter">
            <i class="fa fa-twitter-square fa-lg gray"></i>
        </a>&nbsp;
        <input type="text"
               readonly="readonly"
               id="copy-input"
               value="{{ request.build_absolute_uri }}"/>
    </div>
</div>
