import os
import sys

ADMINS = (
    ('Admin Name', 'admin@example.com'),
    ('Admin2 Name2', 'admin2@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'courtlistener',                      # Or path to database file if using sqlite3.
        'USER': 'django',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/Los_Angeles'


##################
# Debug settings #
##################
DEBUG = True
TEMPLATE_DEBUG = DEBUG
# DEBUG can be set to True on any machine, but this is used to tune down resource consumption (SOLR, queryset iterator
# size, etc) on dev machines.
DEVELOPMENT = True
INTERNAL_IPS = ('127.0.0.1',)
DEBUG_TOOLBAR_CONFIG = {'INTERCEPT_REDIRECTS': False}
INSTALLED_APPS.extend([
    'debug_toolbar',
])
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
SESSION_COOKIE_SECURE = False
SESSION_COOKIE_DOMAIN = '127.0.0.1'


##########
# CELERY #
##########
# Celery settings for production sites
#BROKER_URL = 'amqp://celery:password@localhost:5672//celery'
#CELERYD_CONCURRENCY = 24

# In a development machine, these setting make a broker (like RabbitMQ) unnecessary
CELERY_ALWAYS_EAGER = True
CELERY_EAGER_PROPAGATES_EXCEPTIONS = True


##################
# Test speed-ups #
##################
SOUTH_TESTS_MIGRATE = False
if 'test' in sys.argv:
    # Does DB in memory during tests
    DATABASES['default'] = {'ENGINE': 'django.db.backends.sqlite3'}


###############
# Directories #
###############
# this setting helps with settings elsewhere...include a trailing slash!
INSTALL_ROOT = '/var/www/court-listener/'
MEDIA_ROOT = os.path.join(INSTALL_ROOT, 'alert/assets/media/')

# Static files configuration...
STATIC_URL = '/static/'
STATIC_ROOT = os.path.join(INSTALL_ROOT, 'alert/assets/static/')
STATIC_FILES_DIRS = (os.path.join(INSTALL_ROOT, 'alert/assets/static-global/'),)

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http
ADMIN_MEDIA_PREFIX = '/media/adminMedia/'

# Where should the data dumps be stored?
DUMP_DIR = os.path.join(INSTALL_ROOT, 'alert/assets/media/dumps/')

TEMPLATE_DIRS = (
    # Don't forget to use absolute paths, not relative paths.
    os.path.join(INSTALL_ROOT, 'alert/assets/templates/'),
)
