{% if request.user.is_authenticated %}
  <form id="pray_{{document_id}}" hx-post="{% if prayer_exists %}{% url 'delete_prayer' document_id %}{% else %}{% url 'create_prayer' document_id %}{% endif %}"
    hx-swap="none" class="flex" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' {% if should_swap %}hx-swap-oob="true"{% endif %}>
    <input type="hidden" name="regular_size" value="{% if regular_size %}{{ regular_size }}{% endif %}">
    <button type="submit"
            class="btn {% if regular_size %}btn-sm{% else %}btn-xs{% endif %} {% if prayer_exists %}btn-primary{% else %}btn-default{% endif %}"
            data-document-id="{{ document_id }}"
            title="{% if prayer_exists %}Click to remove your request.{% else %}Click to request this document.{% endif %}"
            >
    <span id="counter_{{ document_id }}">{{count}}</span> 🙏
    </button>
    {% if daily_limit_reached %}
    &nbsp;
    <span id='daily_limit_tooltip' class="flex align-items-center" data-toggle="tooltip" data-placement="left" title="You have reached your daily request limit.">
      <i class="fa fa-lg fa-exclamation-circle red" aria-hidden="true"></i>
    </span>
    {% endif %}
    {% if first_prayer %}
      <div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="tutorialModalLabel">Congratulations on making your first document request!</h5>
            </div>
            <div class="modal-body">
              <p>By clicking 🙏, you requested that this document be purchased for everyone to read. It will show up on a <a href="{% url "top_prayers" %}">leaderboard</a> for the community to crowdsource.</p>
              <p><a href="{% url "pray_and_pay_help" %}">Learn more about the Pray and Pay project.</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </form>
{% else %}
  <button
    class="btn btn-default btn-xs"
    data-toggle="modal"
    data-target="#modal-logged-out"
    title="Sign in to request document."
    >
    {{count}} 🙏
  </button>
{% endif %}
