{% extends "base.html" %}

{% block title %}You're an FLP Supporter – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
  <div class="hidden-xs col-sm-2 col-md-3">&nbsp;</div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h1 class="text-center">Thank You for Being an FLP Supporter&nbsp;<i
      class="fa fa-heart red"></i></h1>
    <p class="v-offset-above-3">You'll receive an email from us shortly with a few more details about your donation.
    </p>
    <p>In the meantime, may we suggest <a
      href="https://free.law/">reading our blog</a>, <a
      href="https://free.law/newsletter/">subscribing to our newsletter</a> or returning to
      <a href="/">the homepage to resume your research</a>?
    </p>
    <p><strong>Thank you again from the Free Law Project Team.</strong></p>
  </div>
{% endblock %}
