{% extends "base.html" %}

{% block title %}Make Check Donation to Free Law Project – CourtListener.com{% endblock %}

{% block navbar-donate %}active{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="col-xs-12">
  <div class="row">
    <h2 class="col-xs-12">Input Check Donation</h2>
  </div>
</div>

<div class="col-xs-12">
  <div class="row">
    <div class="col-sm-7 v-offset-above-2">
      {% if message %}
        <div class="alert bg-danger" role="alert">
          <p class="bottom">{{ message|safe }}</p>
        </div>
      {% endif %}
      {% if donation_form.errors or user_form.errors or profile_form.errors %}
        <div class="alert alert-danger">
          {% for error in donation_form.errors %}
            {{ error|escape }}
          {% endfor %}
          {% for error in user_form.errors %}
            {{ error|escape }}
          {% endfor %}
          {% for error in profile_form.errors %}
            {{ error|escape }}
          {% endfor %}
        </div>
      {% endif %}
      <form role="form" action="" method="post"
            id="donate-form">
        {% csrf_token %}
        <div class="well" id="how-much-donate">
          <label for="id_amount_other">How much was the check for?</label>
          {{ donation_form.amount_other }}
          {% if donation_form.amount.errors %}
            <p class="help-block">
              {% for error in donation_form.amount.errors %}
                {{ error|escape }}
              {% endfor %}
            </p>
          {% endif %}
        </div>

        <div id="donor-info">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="id_first_name">First Name</label>
                {{ user_form.first_name }}
                {% if user_form.first_name.errors %}
                  <p class="help-block">
                    {% for error in user_form.first_name.errors %}
                      {{ error|escape }}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="id_last_name">Last Name</label>
                {{ user_form.last_name }}
                {% if user_form.last_name.errors %}
                  <p class="help-block">
                    {% for error in user_form.last_name.errors %}
                      {{ error|escape }}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_address1">Mailing Address 1</label>
            {{ profile_form.address1 }}
            {% if profile_form.address1.errors %}
              <p class="help-block">
                {% for error in profile_form.address1.errors %}
                  {{ error|escape }}
                {% endfor %}
              </p>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_address2">Mailing Address 2</label>
            {{ profile_form.address2 }}
            {% if profile_form.address1.errors %}
              <p class="help-block">
                {% for error in profile_form.address2.errors %}
                  {{ error|escape }}
                {% endfor %}
              </p>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_city">City</label>
            {{ profile_form.city }}
            {% if profile_form.city.errors %}
              <p class="help-block">
                {% for error in profile_form.city.errors %}
                  {{ error|escape }}
                {% endfor %}
              </p>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="form-group">
                <label for="id_state">State</label>
                {{ profile_form.state }}
                {% if profile_form.state.errors %}
                  <p class="help-block">
                    {% for error in profile_form.state.errors %}
                      {{ error|escape }}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label for="id_zip_code">Zip</label>
                {{ profile_form.zip_code }}
                {% if profile_form.zip_code.errors %}
                  <p class="help-block">
                    {% for error in profile_form.zip_code.errors %}
                      {{ error|escape }}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_email">E-Mail Address</label>
              <input id="id_email"
                     class="form-control"
                     name="email"
                     value="{{ user_form.email.value|default_if_none:"" }}"
                     maxlength="75"
                     type="text">
            {% if user_form.email.errors %}
              <p class="help-block">
                {% for error in user_form.email.errors %}
                  {{ error|escape }}
                {% endfor %}
              </p>
            {% endif %}
          </div>

          <div id="annual-reminder" class="checkbox">
            <label for="{{ donation_form.send_annual_reminder.id_for_label }}">
              {{ donation_form.send_annual_reminder }} {{ donation_form.send_annual_reminder.label }}
            </label>
          </div>
          <div class="v-offset-above-2">
            {{ donation_form.hcaptcha }}
          </div>

          {{ donation_form.referrer }}
          <button type="submit"
                  class="btn btn-primary btn-lg"
                  name="donate"
                  id="donate-button">Donate to Free Law Project
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
