{% extends "base.html" %}

{% block title %}Donate to Free Law Project - CourtListener.com{% endblock %}
{% block description %}
    CourtListener is an initiative of Free Law Project, a Federal
    501(c)(3) non-profit. Your donations make our work possible and support
    our lean staff.
{% endblock %}
{% block og_description %}
    CourtListener is an initiative of Free Law Project, a Federal
    501(c)(3) non-profit. Your donations make our work possible and support
    our lean staff.
{% endblock %}


{% block footer-scripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('{{ stripe_public_key }}');

    var stripeResponseHandler = function(status, response) {
        var $form = $('#donate-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function($) {
        $('#donate-form').submit(function(e) {
            if ($('input[name=payment_provider]:checked', '#donate-form').val() == 'cc'){
                // Only proceed if this is a credit card payment
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            }
        });
    });

    // Set up the "Other" box so we don't have to do it via Django.
    $(".radio-list li:last-child label").after("<input id=\"id_amount_other\" type=\"text\" name=\"amount_other\"></input>");
    $("#id_amount_other").click(function(){
        // Make the "Other amount" input box select the "Other" radio input.
        $(".radio-list li:last-child input[type=radio]").prop('checked', true);
    });

    // Make the buttons happen
    var payment_price = $("#payment-price");
    var donor_info = $("#donor-info");
    var check_info = $("#check-info");
    var cc_info = $("#cc-info");

    // Hide check and cc info by default
    check_info.hide();
    cc_info.hide();

    $("#id_payment_provider_0").parent("label").click(function(){
        // PayPal
        donor_info.show("fast");
        check_info.hide();
        cc_info.hide();
        payment_price.text("PayPal charges us 2.2% + 30¢ on all donations.")
    });
    $("#id_payment_provider_1").parent("label").click(function(){
        // Credit Card
        donor_info.show("fast");
        check_info.hide();
        cc_info.show();
        payment_price.text("We are charged 2.9% + 30¢ on all credit card donations.")
    });
    $("#id_payment_provider_2").parent("label").click(function(){
        // Check
        donor_info.hide();
        check_info.show("fast");
        cc_info.hide();
        payment_price.text("Checks are free for us to process!")
    });

    Modernizr.load({
        // Sets up HTML5 input placeholders in browsers that don't support them.
        test: Modernizr.placeholder,
        nope: '/static/js/placeholder-1.8.6.min.js',
        complete: function () { $('input, textarea').placeholder(); }
    });
    </script>
{% endblock %}

{% block search-form %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2>Support Free Law Project</h2>
    </div>
    <div class="col-sm-7 v-offset-above-2">
        {% if message %}
            <div class="alert bg-danger" role="alert">
                <p class="bottom">{{ message|safe }}</p>
            </div>
        {% endif %}
        <form role="form" action="/donate/" method="post" id="donate-form">
            {% csrf_token %}
            {% if donation_form.non_field_errors or user_form.non_field_errors or profile_form.non_field_errors %}
                <span class="alert alert-danger">
                    {% for error in donation_form.non_field_errors %}
                        {{ error|escape }}
                    {% endfor %}
                    {% for error in user_form.non_field_errors %}
                        {{ error|escape }}
                    {% endfor %}
                    {% for error in profile_form.non_field_errors %}
                        {{ error|escape }}
                    {% endfor %}
                </span>
            {% endif %}
            <div class="well" id="how-much-donate">
                <h3 class="top">How Much Would You Like to Contribute?</h3>
                {% if donation_form.amount.errors %}
                    <p class="help-block">
                        {% for error in donation_form.amount.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </p>
                {% endif %}
                <div class="radio-list" id="how-much-donate-choices">
                    {{  donation_form.amount }}
                </div>
            </div>

            <div id="how-donate">
                <h3>How Would You Like to Donate?</h3>
                {% if donation_form.payment_provider.errors %}
                    <p class="help-block">
                        {% for error in donation_form.payment_provider.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </p>
                {% endif %}
                <div id="payment-provider-radio" class="btn-group btn-group-justified" data-toggle="buttons">
                    <label for="id_payment_provider_0" class="btn btn-default">
                        <input type="radio"
                               id="id_payment_provider_0"
                               value="paypal"
                               name="payment_provider" />PayPal</label>
                    <label for="id_payment_provider_1" class="btn btn-default">
                        <input type="radio"
                               id="id_payment_provider_1"
                               value="cc"
                               name="payment_provider" />Credit Card</label>
                    <label for="id_payment_provider_2" class="btn btn-default">
                        <input type="radio"
                               id="id_payment_provider_2"
                               value="check"
                               name="payment_provider" />Check</label>
                </div>
            </div>

            <div id="donor-info">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id_first_name">First Name</label>
                            {{ user_form.first_name }}
                            {% if user_form.first_name.errors %}
                                <p class="help-block">
                                    {% for error in user_form.first_name.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id_last_name">Last Name</label>
                            {{ user_form.last_name }}
                            {% if user_form.last_name.errors %}
                                <p class="help-block">
                                    {% for error in user_form.last_name.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_address1">Mailing Address 1</label>
                    {{ profile_form.address1 }}
                    {% if profile_form.address1.errors %}
                        <p class="help-block">
                            {% for error in profile_form.address1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_address2">Mailing Address 2</label>
                    {{ profile_form.address2 }}
                    {% if profile_form.address1.errors %}
                        <p class="help-block">
                            {% for error in profile_form.address2.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_city">City</label>
                    {{ profile_form.city }}
                    {% if profile_form.city.errors %}
                        <p class="help-block">
                            {% for error in profile_form.city.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="id_state">State</label>
                            {{ profile_form.state }}
                            {% if profile_form.state.errors %}
                                <p class="help-block">
                                    {% for error in profile_form.state.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="id_zip_code">Zip</label>
                            {{ profile_form.zip_code }}
                            {% if profile_form.zip_code.errors %}
                                <p class="help-block">
                                    {% for error in profile_form.zip_code.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email">E-Mail Address</label>
                    {# Disabled fields are what we show to the user, but they aren't submitted. Thus, we have to have #}
                    {# a disabled and a hidden field, or a regular field, depending on how the field is populated. #}
                    {% if request.user.email %}
                        <input type="text"
                               class="form-control"
                               disabled=""
                               value="{{ request.user.email }}"
                               maxlength="75">
                        <input type="hidden"
                               id="id_email"
                               name="email"
                               value="{{ request.user.email }}">
                    {% else %}
                        <input id="id_email"
                               class="form-control"
                               name="email"
                               value="{{ user_form.email.value|default_if_none:"" }}"
                               maxlength="75"
                               type="text">
                    {% endif %}
                    {% if user_form.email.errors %}
                        <p class="help-block">
                            {% for error in user_form.email.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>

                <div id="cc-info">
                    <!-- Stripe's custom form, sans name attributes -->
                    <p>
                        <span class="payment-errors help-block"></span>
                    </p>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Card Number</label>
                                <input class="form-control" type="text" size="20" data-stripe="number"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>CVC</label>
                                <input class="form-control" type="text" size="4" data-stripe="cvc"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="cc-month-field">Exp Month</label>
                                <input class="form-control" id="cc-month-field" type="text" data-stripe="exp-month" placeholder="MM"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div form-group>
                                <label for="cc-year-field">Year</label>
                                <input class="form-control" id="cc-year-field" type="text" data-stripe="exp-year" placeholder="YYYY"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="annual-reminder" class="checkbox">
                    <label for="{{ donation_form.send_annual_reminder.id_for_label }}">
                        {{ donation_form.send_annual_reminder }} {{ donation_form.send_annual_reminder.label }}
                    </label>
                </div>
                {# Only show the newsletter question to people who aren't getting it already (this is not an opportunity to opt out). #}
                <div class="checkbox" {% if profile_form.wants_newsletter.value %}class="hidden"{% endif %}>
                    <label for="{{ profile_form.wants_newsletter.id_for_label }}">
                        {{ profile_form.wants_newsletter }} {{ profile_form.wants_newsletter.label }}
                    </label>
                </div>
                {{ donation_form.referrer }}
                <button type="submit"
                        class="btn btn-primary"
                        name="donate"
                        id="donate-button">Donate to Free Law Project</button>
            </form>

        </div>
        <div id="check-info">
            <p>To pay by check, simply make out a check to the "Free Law
                Project", and send it to the address on our <a
                        href="/contact/">contact page</a>.
            </p>
            <p class="bold">We cannot accept starter checks, unnumbered checks or
                non-personalized checks.
            </p>

            <p>Thanks so much for your donation.</p>
        </div>
    </div>



    <div class="col-sm-5">
        <h3>The Big Goals</h3>
        <p>CourtListener is a project of Free Law Project. Free Law Project
            is a federally-recognized 501(c)(3) public charity and a California
            non-profit public benefit corporation whose purposes are to:
        </p>
        <ul>
            <li>Create powerful tools for legal research</li>
            <li>Provide free, public and permanent access to primary legal
                materials</li>
            <li>Foster an open ecosystem for legal research and
                development</li>
            <li>Support academic research on related technologies and legal
                systems</li>
        </ul>
        <p>We provide legal tools and services to more than 100,000 people
            every month, and our API is used more than 10,000 times per day. We
            have a small full-time staff developing new features and creating
            enhanced data.
        </p>
        <p>Your support allows us to pay our staff a living wage so they can
            spend more time creating great tools and open legal data instead of
            pursuing the next grant or donation. Advertising currently provides
            less than 10% of our revenue.
        </p>

        <p>For more information, check out Free Law Project <a
                href="http://freelawproject.org" target="_blank">blog</a>, <a
                href="http://freelawproject.org/about/"
                target="_blank">about</a> page, and <a
                href="http://freelawproject.org/non-profit-documents/"
                target="_blank">non-profit filings</a>.
        </p>

        <h3 id="testimonials">What People Are Saying</h3>
        <blockquote>
            <p>CourtListener is a worthy project to contribute to on every
                level.
            </p>
            <footer><a
                    href="http://sunlightfoundation.com/blog/2012/10/12/law-via-the-internet/">Sunlight
                Foundation Blog</a></footer>
        </blockquote>
        <blockquote>
            <p>Your site gave me the needed shot in the arm, the boost of
                energy I needed to again aggressively pursue my case.
            </p>
            <p>It is so very difficult to find the information in depth that
                you are providing. There are also no words to express my
                gratitude for your undertaking.
            </p>
            <footer>Linda, a user</footer>
        </blockquote>
        <blockquote>
            <p>This is a great site and I'm recommending it to my students.</p>
            <footer>Pam, a user</footer>
        </blockquote>


        <h3>Data Donation</h3>
        <p>We happily accept data donations from a variety of sources. If you
            are interested in sharing data with us that is free from copyright
            restrictions, please get in touch on our <a
                    href="/contact/">contact form</a> or simply send the data
            on a USB drive to the address on the <a href="/contact/">contact
                page</a>.
        </p>
        <p>We are not interested in copyrighted data, as it is a liability for
            the work we do. If you are at all uncertain about this aspect of
            your data, please refrain from sending it to us or get in touch for
            further discussion.
        </p>
    </div>
{% endblock %}
