{% extends "base.html" %}

{% block title %}Donation Complete – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block navbar-donate %}active{% endblock %}

{% block content %}
  <div class="hidden-xs col-sm-2 col-md-3">&nbsp;</div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    {% if error %}
      {% if error == 'user_cancelled' %}
        <h1 class="text-center">Donation Cancelled</h1>
        <p>You have cancelled your donation, but your support means the world to us.
        </p>
      {% elif error == "insufficient_funds" %}
        <h1 class="text-center">Payment Method Declined</h1>
        <p>Your donation method didn't have sufficient funds, but your support means the world to us.
        </p>
      {% elif error == "declined" %}
        <h1 class="text-center">Payment Method Declined</h1>
        <p>For some reason, your donation method was declined, but your support means the world to us.
        </p>
      {% else %}
        <h1 class="text-center">Oops. Unexpected Error!</h1>
        <p>For some reason we haven't seen before, your donation didn't work, but your support means the world to us.
        </p>
      {% endif %}

      <p>Would you like to try again, or just go back to the homepage?</p>

      <p class="v-offset-above-2">
        <a href="https://donate.free.law/forms/membership"
           class="btn btn-lg btn-primary">Try Donating Again</a>
        <a href="/"
           class="btn btn-lg btn-default float-right">Go to the Homepage</a>
      </p>

    {% else %}
        <h1 class="text-center">Thank You for Your Donation&nbsp;<i
          class="fa fa-heart red"></i></h1>
        <p>Thank you for your donation to Free Law Project and for supporting CourtListener and RECAP. Your contribution helps fund our staff and ongoing operations.
        </p>
        <p>You will be receiving an email from us shortly with a few more details about your contribution.
        </p>
        <p>In the meantime, may we suggest <a href="https://free.law/">reading our blog</a>, <a href="https://free.law/newsletter/">subscribing to our newsletter</a> or returning to <a href="/">the homepage to resume your research</a>?
        </p>
        <p><strong>Thank you again from the Free Law Project Team.</strong></p>
    {% endif %}
  </div>
{% endblock %}
