{% extends "payment_base.html" %}
{% load partition_util %}

{% block title %}Donate to Free Law Project – CourtListener.com{% endblock %}
{% block description %}
  CourtListener is an initiative of Free Law Project, a Federal
  501(c)(3) non-profit. Your donations make our work possible and support
  our staff.
{% endblock %}
{% block og_description %}
  CourtListener is an initiative of Free Law Project, a Federal
  501(c)(3) non-profit. Your donations make our work possible and support
  our staff.
{% endblock %}

{% block navbar-donate %}active{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    // Make the buttons happen
    let donor_info = $("#donor-info");
    let check_info = $("#check-info");
    let cc_info = $("#cc-info");
    let bitcoin_info = $("#bitcoin-info");

    // Monthly/one-time handling
    $("#id_frequency_1").parent("label").click(function () {
      // Credit card
      $("#annual-reminder").hide();
      $("#how-donate label[for=id_payment_provider_0], " +
        "#how-donate label[for=id_payment_provider_2], " +
        "#how-donate label[for=id_payment_provider_3]")
        .addClass('disabled')
        .removeClass('active');

      $("#how-donate input[value=cc]").prop('checked', true);
      $("#how-donate label[for=id_payment_provider_1]").addClass('active');
      donor_info.show("fast");
      check_info.hide();
      cc_info.show();
      bitcoin_info.hide();
    });
    $("#id_frequency_0").parent("label").click(function () {
      $("#annual-reminder").show("fast");
      $("#how-donate label[for=id_payment_provider_0], " +
        "#how-donate label[for=id_payment_provider_2], " +
        "#how-donate label[for=id_payment_provider_3]")
        .removeClass('disabled');

      $("#how-donate input[value=paypal]").prop('checked', true);
      $("#how-donate label[for=id_payment_provider_0]").addClass('active');
      $("#how-donate label[for=id_payment_provider_1]").removeClass('active');
      cc_info.hide();
    });


    // Hide check and bitcoin info by default
    check_info.hide();
    bitcoin_info.hide();

    $("#id_payment_provider_0").parent("label").click(function () {
      // PayPal
      donor_info.show("fast");
      check_info.hide();
      cc_info.hide();
      bitcoin_info.hide();
    });
    $("#id_payment_provider_1").parent("label").click(function () {
      // Credit Card
      donor_info.show("fast");
      check_info.hide();
      cc_info.show();
      bitcoin_info.hide();
    });
    $("#id_payment_provider_2").parent("label").click(function () {
      // Check
      donor_info.hide();
      check_info.show("fast");
      cc_info.hide();
      bitcoin_info.hide();
    });
    $("#id_payment_provider_3").parent("label").click(function () {
      // Bitcoin
      donor_info.hide();
      check_info.hide();
      cc_info.hide();
      bitcoin_info.show("fast");
    });
  </script>
{% endblock %}


{% block donate_header %}
<div id="heading" class="text-center v-offset-below-3">
  <h1>Donate to Free Law&nbsp;Project</h1>
</div>
<p class="lead">Support our efforts to make high quality legal data widely available. Help us reform and enhance the legal ecosystem.
</p>
<p class="lead">CourtListener and RECAP are run by Free Law Project, a U.S. 501(c)(3) non-profit, tax id #{{ EIN_SECRET }}.
</p>
<p class="text-right">
  <a href="{% url "donation_help" %}" class="btn btn-default">Donation FAQs</a>
</p>
{% endblock %}


{% block donation_frequency %}
<h3 class="top">Donation Frequency:</h3>
<div id="donate-frequency">
  <div id="frequency-radio" class="btn-group btn-group-justified v-offset-below-3"
       data-toggle="buttons">
    {% for radio in donation_form.frequency %}
      <label for="{{ radio.id_for_label }}"
             class="btn btn-default {% if radio.data.value == donation_form.frequency.value %} active{% endif %}">
        {{ radio.tag }} {{ radio.choice_label }}
      </label>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block donation_how_much %}
<div id="how-much-donate">
  <h3>Donation Amount:</h3>
  {% if donation_form.amount.errors %}
    <p class="help-block">
      {% for error in donation_form.amount.errors %}
        {{ error|escape }}
      {% endfor %}
    </p>
  {% endif %}
  <div class="radio-list" id="how-much-donate-choices">
    <div class="row">
      {% for row in donation_form.amount|rows:2 %}
        <div class="col-xs-6">
          <ul>
            {% for radio in row %}
              <li>
              {% if forloop.parentloop.last and forloop.last %}
                <div class="form-group">
                  <label for="{{ radio.id_for_label }}">
                    {{ radio.tag }} {{ radio.choice_label }}
                  </label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {{ donation_form.amount_other }}
                  </div>
                </div>
              {% else %}
                {{ radio }}
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block donation_how %}
<div id="how-donate">
  <h3>How Would You Like to&nbsp;Donate?</h3>
  {% if donation_form.payment_provider.errors %}
    <p class="help-block">
      {% for error in donation_form.payment_provider.errors %}
        {{ error|escape }}
      {% endfor %}
    </p>
  {% endif %}
  <div id="payment-provider-radio" class="btn-group btn-group-justified" data-toggle="buttons">
    {% for radio in donation_form.payment_provider %}
      <label for="{{ radio.id_for_label }}" class="btn btn-default {% if radio.data.value == donation_form.payment_provider.value %} active{% endif %}">
        {{ radio.tag }} {{ radio.choice_label|safe }}
      </label>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block donation_annual_reminder %}
<div id="annual-reminder" class="checkbox">
  <label for="{{ donation_form.send_annual_reminder.id_for_label }}">
      {{ donation_form.send_annual_reminder }} {{ donation_form.send_annual_reminder.label }}
  </label>
</div>
{% endblock %}


{% block newsletter_sign_up %}
{# Only show the newsletter question to people who aren't getting it already (this is not an opportunity to opt out). #}
<div class="checkbox {% if profile_form.wants_newsletter.value %}hidden{% endif %}">
  <label for="{{ profile_form.wants_newsletter.id_for_label }}">
      {{ profile_form.wants_newsletter }} {{ profile_form.wants_newsletter.label }}
  </label>
</div>
{% endblock %}


{% block payment_button %}
<button type="submit"
        class="btn btn-primary btn-lg"
        name="donate"
        id="donate-button"><i class="fa fa-heart"></i>&nbsp;Donate to Free Law Project
</button>
{% endblock %}


{% block donate_footer %}
  <div id="footer" class="v-offset-above-2">
    <hr>
    <p class="gray small">Online donations are considered unrestricted and will be used to support Free Law Project's various initiatives as determined by the board of directors. Please <a href="{% url "contact" %}">get in touch</a> if you wish to make a restricted donation for a particular purpose.
    </p>
  </div>
{% endblock %}


{% block check_info %}
<div id="check-info">
  {% if user.is_staff %}
    <h4>Welcome staff member</h4>
    <p>Please use the staff-only form to log check donations.</p>
    <a href="{% url "make_check_donation" %}" class="btn btn-lg btn-primary">Log Check Donation</a>
  {% else %}
    <p>For instructions on donating by check, <a
            href="{% url "contact" %}">please get in touch on our contact page</a>.
        Unfortunately, due to the nature of our work, we no longer have
        a public mailing address.
    </p>
    <p class="bold">We cannot accept starter checks, unnumbered checks
        or non-personalized checks.
    </p>
    <p>Thank you for your donation.</p>
  {% endif %}
</div>
{% endblock %}


{% block bitcoin_info %}
<div id="bitcoin-info">
  <p class="v-offset-below-2">To donate to Free Law Project using <strong>Bitcoin</strong>, please use the address or QR code below.</p>
  <img src="{{ STATIC_PREFIX }}png/bitcoin-qr-code.png"
       width="200"
       height="200"
       class="img-responsive center-block"
       alt="QR code for Bitcoin">
  <p class="text-center"><a href="bitcoin:19FBmVguf86kaxEM7air6EDrtq5bJSo8qs">19FBmVguf86kaxEM7air6EDrtq5bJSo8qs</a></p>

  <p class="v-offset-below-2">To donate to Free Law Project using <strong>Bitcoin Cash</strong>, please use the address or QR code below.</p>
  <img src="{{ STATIC_PREFIX }}png/bitcoin-cash-qr-code.png"
       width="200"
       height="200"
       class="img-responsive center-block"
       alt="QR code for Bitcoin Cash">
  <p class="text-center"><a href="bitcoincash:qz29895afcv6g3ycktsz8645vzldanqvpq3zyvdeyc">qz29895afcv6g3ycktsz8645vzldanqvpq3zyvdeyc</a></p>

  <p class="v-offset-below-2">To donate to Free Law Project using <strong>Ethereum</strong>, please use the QR code below.</p>
  <img src="{{ STATIC_PREFIX }}png/ethereum-qr-code.png"
       width="200"
       height="200"
       class="img-responsive center-block"
       alt="QR code for Ethereum">

  <p class="text-center v-offset-above-2 lead">Thank you for your donation.</p>
</div>
{% endblock %}
