{% extends "base.html" %}

{% block title %}Donation Complete – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}
{% block search-form %}{% endblock %}

{% block content %}
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        {% if error == 'User Cancelled' %}
            <h2>Donation Cancelled</h2>
            <p>It appears you have cancelled the donation you were about to make. Your support means the world to us.</p>
            <p>Would you like to try again, or just go back to the homepage?</p>
            <form action="{% url "donate" %}" method="get" class="inline">
                <button type="submit" class="btn btn-default">Try Donating Again</button>
                &nbsp;&nbsp;<a href="/">Go to the homepage</a>
            </form>
        {% else %}
            <h2>Thanks for Your Donation</h2>
            <p>Thanks for your donation to Free Law Project and for supporting CourtListener. Your contribution
                really helps our progress move along. You will be receiving an email from us shortly with a few more
                details about your contribution.</p>
            <p>In the meantime, may we suggest reading in more depth about <a href="https://free.law/about/">
                our projects</a> or perhaps resuming your research from <a href="/">the homepage</a>?</p>
            <p><strong>Thanks again from the Free Law Team.</strong></p>
        {% endif %}
    </div>
    <div class="col-sm-2">&nbsp;</div>
{% endblock %}
