# supervisord service for systemd (CentOS 7.0+)
# by ET-CS (https://github.com/ET-CS)
# from: https://github.com/Supervisor/initscripts/blob/master/centos-systemd-etcs
[Unit]
Description=Supervisor daemon

[Service]
Type=forking
ExecStart=/usr/local/bin/supervisord
ExecStop=/usr/local/bin/supervisorctl $OPTIONS shutdown
ExecReload=/usr/local/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
