/* --------------------------------------------------------------------------

Sets up all the overrides or additional CSS that the site will use.

---------------------------------------------------------------------------*/

.inline {
    display: inline;
}

.container {
    padding: 0px 10px;
}

.navigation > ul {
    display: inline;
    padding: 0;
}

.navigation > ul > li {
    list-style: none outside none;
    padding: 0em 0.7em 0em 0.7em;
    white-space: nowrap;
    text-align: center;
    display: inline;
}

.round {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
}

.round-bottom {
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
}

.pointer {
    cursor: pointer;
    cursor: hand;
}

.help {
    cursor: help;
}

a:link, a:visited {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
    color: #009;
}

.error a, .notice a, .success a {
    text-decoration: underline;
}

.error a:focus, .error a:hover {
    color: #8A1F11;
}

.notice a:focus, .notice a:hover, .success a:focus, .success a:hover {
    color: #514721;
}

.errortext {
    color: #8a1f11;
}

.header > h1 > a {
    text-decoration: none;
    color: black;
}

/* for the nav in the settings pages*/
.header > h3 > a {
    color: black;
}

input.wide-title {
    width: 390px;
    padding: 5px;
    font-size:1.5em;
}

fieldset.collapsed {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 0px;
    padding: 0em;
}

fieldset.collapsed > legend {
    font-size: 100%;
}
