{% extends "base.html" %}

{% block title %}Registration Complete - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <h2>Registration Complete</h2>
        <h3>Welcome to CourtListener</h3>
        <p>We have sent you an email to confirm your email address. In order to log in, please follow the directions
            in that email within five days to confirm your account.</p>
        <p>If you are unable to confirm your email address, please <a href="/contact/">contact us</a> for assistance.</p>
    </div>
    <div class="col-xs-3"></div>
{% endblock %}
