#nav, #charts {
    display: inline-block;
    margin: 5px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background:#666;

}

#nav li {
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#nav li:hover {
    background: #1874CD;
}

#nav li.selected {
    background: #1874CD;
}

#nav a {
    color: #fff;
    cursor: pointer;
    display:block;              
    text-decoration:none;
    margin-left: 8px;
    margin-right: 8px;
}