{% extends "base.html" %}

{% block title %}About - CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-9 append-2">
        <h2 id="the-site">About</h2>

        <p>Started in 2010, CourtListener is a core project of the <a href="http://freelawproject.org/">Free Law
            Project</a>, a California Non-Profit corporation. Free Law Project seeks to provide free access to primary
            legal materials, develop legal research tools, and support academic research on legal corpora. CourtListener
            embodies all of these efforts, as the primary free repository of all the court opinions we have collected,
            as the platform on which we deploy legal research tools, and as the source of bulk downloads that enable
            academic researchers to study our collection.</p>

        <p>We collect legal opinions from court websites and from data donations, and are aiming to have the best, most
            complete data on the open Web within the next couple years. We are slowly expanding to provide search and
            awareness tools for as many state courts as possible, and we already have tools for all of the Federal
            Appeals Courts. For more details on which jurisdictions we support, see our <a href="/coverage/">coverage
                page</a>. If you're able to help us acquire more cases, please <a href="/contact/">get in touch</a>.</p>

        <hr class="space">
        <h3 id="contribute">You Make CourtListener.</h3>

        <p>CourtListener is a community project and we enthusiastically welcome contributions. There are many ways to
            contribute, which are detailed on our <a href="/contribute/">contribute page</a>.

        <p>We are thankful for the hard work of our past contributors:</p>
        <ul>
            <li>Karen Rustad &amp; Rowyn McDonald for creating our citator, cross-linker and coverage graphs.</li>
            <li>Bo Jin (Krist) for creating the heart of our relevance engine.</li>
            <li>Josh de-Larios Heiman for his pro-bono legal expertise.</li>
            <li>Siddharth Agrawal &amp; Andrew McConachie for their research on keyword identification.</li>
            <li>Sarah Tyler for her research into search relevance and user interfaces.</li>
            <li>Peter Nguyen for his design work for the jurisdiction picker.</li>
            <li>Ben Cassidy, Commetric, Inc., Bo Jin (Krist), Deb Linton, Matt Meiske, Andrew McConachie, Taliah B.
                Mirmalek, David Zvenyach for their work on the Juriscraper scraper framework.
            </li>
        </ul>
        <p>We've also had generous support from a handful of organizations including
            <a href="http://casetext.com">CaseText</a>,
            <a href="http://www.fastcase.com">FastCase</a>,
            <a href="http://justia">Justia</a>,
            <a href="http://lawboxapps.com/">Lawbox, Inc.</a>,
            <a href="https://plainsite.org">PlainSite</a>, and
            <a href="http://resource.org">Resource.org</a>.
        </p>
    </div>

    <div class="span-13 last">
        <h2 id="Team">Team</h2>

        <div class="span-7">
            <img src="{{ STATIC_URL }}jpeg/brian.jpeg" height="270" width="270">
        </div>
        <div class="span-6 last">
            <p>Brian W. Carver is the Co-Founder of the non-profit <a href="http://freelawproject.org">Free Law
                Project</a>, and an Assistant Professor at the <a href="http://ischool.berkeley.edu">University of
                California, Berkeley School of Information</a>. He researches and teaches about intellectual property
                law and cyberlaw and is also engaged in efforts to increase the public's access to the law.</p>
        </div>
        <hr class="space">
        <div class="span-13 last">
            <div class="span-7">
                <img src="{{ STATIC_URL }}jpeg/mike.jpeg" height="270" width="270">
            </div>
            <div class="span-6 last">
                <p>Michael Lissner is the Lead Developer and Co-Founder of the non-profit
                    <a href="http://freelawproject.org">Free Law Project</a>. Before founding the Free Law Project, he
                    spent several years working in the enterprise search and e-discovery fields, building bespoke search
                    systems. He is a graduate of the <a href="http://ischool.berkeley.edu">University of California,
                        Berkeley School of Information</a> and a long-distance walker, crossing both the
                    <a href="http://pcta.org">United States</a> and <a href="http://www.teararoa.org.nz/">New
                        Zealand</a> on foot.</p>
            </div>
        </div>
    </div>
{% endblock %}
