{% extends "base.html" %}

{% block title %}Under maintenance - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-24">
        <div class="span-6">&nbsp;</div>
        <div class="span-12">
            <h1><i class="fa fa-wrench gray"></i> CourtListener is currently
                undergoing maintenance.
            </h1>
            <p>We apologize for the inconvenience, but CourtListener is getting a
            scheduled upgrade. We hope to be done soon.</p>
            <p>You can monitor our progress in <a
                    href="https://twitter.com/#!/courtlistener">our twitter
                stream</a>.
            </p>
            <p>If you want something to read while you wait for things to come back
                up, perhaps you'll find something interesting on the <a
                        href="http://freelawproject.org">Free Law Project
                    homepage</a>.
            </p>
        </div>
        <div class="span-6">&nbsp;</div>
    </div>
{% endblock %}
