<script nonce="{{ request.csp_nonce }}">
const ACTIVE_TAB_CLASSES = 'bg-greyscale-100';
const INACTIVE_TAB_CLASSES = 'bg-greyscale-50';

document.addEventListener('alpine:init', () => {
  Alpine.data('tabsComponent', () => ({
    activeTab: '',
    tabs: [],
    registerTab() {
        this.tabs.push(this.$el.dataset?.tabId);
    },
    setActiveTab() {
        this.activeTab = this.$el.dataset?.tabId;
    },
    handleChange(event) {
      this.activeTab = event.target.value;
    },
    init() {
        this.$watch('tabs', (newVal) => this.activeTab = newVal[0])
    },
  }));
  Alpine.data('tabComponent', () => ({
    get isActive() {
      return this.$el.dataset?.tabId === this.activeTab;
    },

    get tabClass() {
      return this.isActive ? ACTIVE_TAB_CLASSES : INACTIVE_TAB_CLASSES;
    },
  }));
});
</script>

<div
  x-data="tabsComponent"
  class="w-full"
>
  <div class="w-full gap-1 hidden md:flex">
    <template x-for="tab in tabs">
      <div x-data="tabComponent">
        <button
          x-on:click="setActiveTab"
          x-bind:class="tabClass"
          x-bind:data-tab-id="tab"
          x-text="tab"
          role="tab"
          class="px-5 py-3 text-sm font-normal rounded-t-2xl text-greyscale-600"
        >
        </button>
      </div>
    </template>
  </div>
  <div class="bg-greyscale-100 rounded-t-2xl md:hidden pt-3 px-4">
    <select @change="handleChange" class="w-full">
      <template x-for="tab in tabs">
        <option
          x-text="tab"
          class="appearance-none"
        ></option>
      </template>
    </select>
  </div>
  <div class="w-full bg-greyscale-100 text-greyscale-900 p-4 rounded-b-2xl md:rounded-tr-2xl rounded-tl-none">
    {{ slot }}
  </div>
</div>
