{% load component_tags %}
{% require_script "js/alpine/components/tabs.js" %}

<div
  x-data="tabsComponent"
  class="w-full"
>
  <div class="w-full gap-1 hidden md:flex">
    <template x-for="tab in tabs">
      <div x-data="tabComponent">
        <button
          x-on:click="setActiveTab"
          x-bind:class="tabClass"
          x-bind:data-tab-id="tab"
          x-text="tab"
          role="tab"
          class="px-5 py-3 text-sm font-normal rounded-t-2xl text-greyscale-600"
        >
        </button>
      </div>
    </template>
  </div>
  <div class="bg-greyscale-100 rounded-t-2xl md:hidden pt-3 px-4">
    <select @change="handleChange" class="w-full">
      <template x-for="tab in tabs">
        <option
          x-text="tab"
          class="appearance-none"
        ></option>
      </template>
    </select>
  </div>
  <div class="w-full bg-greyscale-100 text-greyscale-900 p-4 rounded-b-2xl md:rounded-tr-2xl rounded-tl-none">
    {{ slot }}
  </div>
</div>
