{% load humanize %}

<div class="sidebar-section hidden-xs">
    {% if user.profile.total_donated_last_year > 0 %}
        <h3><span>Thank You! <i class="fa fa-heart-o red"></i></span></h3>
        <p>Last year you donated <strong>${{ user.profile.total_donated_last_year|intcomma }}</strong>. This support allows us to begin new initiatives and support users like
            you.
        </p>
        <p>
            <a href="{% url "donate" %}?referrer={{ referrer }}"
               class="btn btn-danger btn-lg">Donate Again Now</a>
        </p>
    {% else %}
        <h3><span>Support FLP <i class="fa fa-heart-o red"></i></span></h3>
        <p class="v-offset-above-1">
            CourtListener is a project of <a
                href="https://free.law" target="_blank">Free
            Law Project</a>, a federally-recognized 501(c)(3) non-profit. We
            rely on donations for our financial security.
        </p>
        <p>Please support our work with a donation.</p>
        <p>
            <a href="{% url "donate" %}?referrer={{ referrer }}"
               class="btn btn-danger btn-lg">Donate Now</a>
        </p>
    {% endif %}
</div>
