{% extends "profile/nav.html" %}
{% load humanize %}

{% block title %} {{ page_title }} &ndash; CourtListener.com{% endblock %}

{% block nav-api %}active{% endblock %}

{% block content %}
  {# Navigation Tabs #}
  {% include "includes/developer-tabs.html" %}

  <div class="hidden-xs col-sm-1 col-md-3"></div>
  <div class="col-xs-12 col-sm-10 col-md-6 text-center">

    {% if page == "api_info" %}
      <h1>Developer Tools</h1>
      <h3 class="caps gray">REST APIs and Bulk Data for Developers</h3>
      <p>The CourtListener API is a powerful, first-of-its-kind tool that programmers can use to access the contents of the CourtListener database. By allowing programmers and researchers to access this data, we hope to fulfill our mission of stimulating legal innovation.
      </p>
      <p class="v-offset-above-2"><a href="{{ WIKI_API_URL }}" class="btn btn-primary btn-lg">Read the API Documentation</a></p>
    {% elif page == "api_token" %}
      <h3 class="v-offset-above-2">Your API Token</h3>
      <p>To get started, you need an API token. Keep this private. Yours is:</p>
      <h4><code>{{ user.auth_token }}</code></h4>
      <p class="v-offset-above-2 text-center">
        If you believe your token has been exposed, you can reset it. Your
        old token will stop working immediately, and any scripts or
        services using it will need to be updated with the new value.
      </p>
      <a href="{% url "reset_api_token" %}" class="btn btn-danger">
        <i class="fa fa-refresh"></i>&nbsp;Reset API Token
      </a>
    {% elif page == "api_usage" %}
      <h3 class="v-offset-above-2" id="usage">Your API Recent Usage</h3>
      {% with counts=user.profile.recent_api_usage %}
        {% if not counts %}
          <p>No usage yet.</p>
        {% else %}
          <p>Showing usage counts for past 14 days (days without usage omitted)</p>
          <table class="table settings-table">
            <thead>
            <tr>
              <th>Date</th>
              <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% for date, count in counts.items %}
                <tr>
                  <td><p class="bottom text-left">
                    {% if not forloop.last %}
                      <code>{{ date }}</code>
                    {% else %}
                      <strong>{{ date|capfirst }}</strong>
                    {% endif %}
                  </p></td>
                  <td><p class="bottom text-left">{{ count }}</p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endwith %}

      {% if throttle_rates %}
        <h3 class="v-offset-above-3" id="access-level">Your Access Level</h3>
        <div class="row">
          {% for num, period in throttle_rates %}
            <div class="col-xs-{% widthratio 1 throttle_rates|length 12 %}">
              <h2 class="bottom"><strong>{{ num|intcomma }}</strong></h2>
              <p class="text-muted small">
                Request{{ num|pluralize }} per {{ period }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% with total=user.profile.total_api_usage %}
        <h3 class="v-offset-above-3" id="total">Your Total API Usage</h3>
        {% if total %}
          <div class="v-offset-above-2 flex justify-content-between align-items-center">
            <p>
              You've made <strong>{{ total|intcomma }}</strong>
              API request{{ total|pluralize }} all-time.
            </p>
            <a href="https://donate.free.law/forms/supportflp"
              class="btn btn-primary">
              <i class="fa fa-heart"></i>&nbsp;Donate
            </a>
          </div>
        {% else %}
          <p class="text-muted">No API usage yet.</p>
        {% endif %}
      {% endwith %}
    {% endif %}
  </div>
  <div class="hidden-xs col-sm-1 col-md-3"></div>
{% endblock %}
