{% extends "base.html" %}

{% block title %}Delete Account – CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
        <h2>You Are About to Delete Your Account</h2>
        <h3>This <em>cannot</em> be undone.</h3>
        <p>We hope that you will have no need to delete your account, but we
            understand that sometimes people want a clean slate.</p>

        <p class="v-offset-below-3">After you press the button below, your data
            will be deleted and resurrecting your account will not be
            possible.
        </p>

        <a href="{% url "view_settings" %}" class="btn btn-primary">Cancel and Go
            Back</a>&nbsp;&nbsp;
        <form action="" method="post" class="float-right">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete My Account Now</button>
        </form>

    </div>
    <div class="col-sm-3">&nbsp;</div>
{% endblock %}

