{% extends "profile/nav.html" %}
{% load static %}
{% load humanize %}

{% block title %}Donations – CourtListener.com{% endblock %}

{% block nav-account %}active{% endblock %}
{% block footer-scripts %}
  {% if DEBUG %}
    <script src="{% static "js/jquery.bootstrap-growl.js" %}"></script>
  {% else %}
    <script src="{% static "js/jquery.bootstrap-growl.min.js" %}"></script>
  {% endif %}
  <script defer type="text/javascript"
          src="{% static "js/toggle_settings.js" %}"></script>
{% endblock %}

{% block content %}
  {# Navigation Tabs #}
  {% include "includes/account-tabs.html" %}

  <div class="flex flex-row justify-content-center col-xs-12">
    <div class="col-xs-12 col-sm-10 col-md-6">
      {% if user.profile.is_member %}
      <h1 class="text-center v-offset-above-2">
        Thank you for being a member of Free Law Project! <i class="fa fa-heart red"></i>
      </h1>
      <p class="v-offset-above-2">
        Your ongoing membership fuels our passion to keep developing these and other features that make the judiciary more equitable.
      </p>
      {% else %}
      <h1 class="text-center v-offset-above-2">
        Thank You for Your Support <i class="fa fa-heart red"></i>
      </h1>
      {% endif %}
      <p class="v-offset-above-2">
        Your generosity deserves transparency. We use Neon Pay to handle donations and you can create an account in their system to access your detailed donation list, including one-time and monthly contributions. See how you're making a difference.
      </p>
      <p class="text-center v-offset-above-2"><a href="https://donate.free.law/login"
        class="btn btn-lg btn-primary">Log in to your Neon Dashboard</a>
      </p>
      <p class="text-center v-offset-above-2">
        If you have any questions, please get in touch <a href="mailto:donate@free.law">donate@free.law</a>. We'd be happy to hear from you.
      </p>
    </div>
  </div>
{% endblock %}
