{% extends "profile/nav.html" %}
{% load static %}

{% block title %}Notes – CourtListener.com{% endblock %}

{% block nav-favorites %}active{% endblock %}
{% block footer-scripts %}
    <script defer type="text/javascript"
            src="{% static "js/save-favorites.js" %}"></script>
    <script defer type="text/javascript"
            src="{% static "js/jquery.NobleCount.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/custom_table_sorter.css" %}" />
    <script defer type="text/javascript"
            src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script defer type="text/javascript"
            src="{% static "js/jquery.tablesorter.widgets.min.js" %}"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".edit-favorite-trigger").on("click", function (event) {
          event.preventDefault();
          var pk = $(this).data("id");
          var ds = $("#data-store-" + pk);
          $("#id_cluster_id").val(ds.data("cluster_id"));
          $("#id_audio_id").val(ds.data("audio_id"));
          $("#id_docket_id").val(ds.data("docket_id"));
          $("#id_recap_doc_id").val(ds.data("recap_doc_id"));
          $("#save-favorite-notes-field").val(ds.data("notes"));
          $("#save-favorite-name-field").val(ds.data("name"));
          $("#modal-save-favorite").data("id", pk);
        });
      });

      $(function() {
        $("table").tablesorter({
          headerTemplate: '{content} {icon}',
          sortInitialOrder: 'desc',
          cssIconAsc: 'fa-sort-asc',
          cssIconDesc: 'fa-sort-desc',
          cssIconNone: 'fa-sort',
          cssIcon: 'fa'
        })
      });
    </script>
{% endblock %}

{% block content %}
  <div class="col-xs-12 v-offset-above-2">
    {% if user.favorites.exists %}
      {# Set up the pills #}
      <ul class="nav nav-pills">
      {% for type, typed_favorite_forms in favorite_forms.items %}
        <li class="{% if forloop.first %}active{% endif %} medium">
          <a href="#{{ type|slugify }}" data-toggle="tab">{{ type }} <span class="badge">{{ typed_favorite_forms|length }}</span></a>
        </li>
      {% endfor %}
      </ul>
      <hr>

      {# Set up the tab contents #}
      <div class="tab-content">
        {% for type, typed_favorite_forms in favorite_forms.items %}
          <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ type|slugify }}">
            {% if typed_favorite_forms %}
              <div class="table-responsive">
                <table class="table settings-table tablesorter-bootstrap">
                  <thead>
                  <tr>
                    <th>Name</th>
                    {% if type == "Dockets" %}
                      <th>Last&nbsp;Filing</th>
                    {% endif %}
                    <th class="sorter-false">Notes</th>
                    <th class="sorter-false">
                      {% if type == "Dockets" %}
                        <a class="btn btn-default" href="{{ docket_search_url }}" role="button">
                      {% elif type == "Oral Arguments" %}
                        <a class="btn btn-default" href="{{ oral_search_url }}" role="button">
                      {% elif type == "RECAP Documents" %}
                        <a class="btn btn-default" href="{{ recap_search_url }}" role="button">
                      {% elif type == "Opinions" %}
                        <a class="btn btn-default" href="{{ opinion_search_url }}" role="button">
                      {% endif %}
                      <i class="fa fa-search"></i> Search Notes</a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for favorite_form in typed_favorite_forms %}
                    {% include "includes/favorites-row.html" %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <h4 class="gray caps v-offset-below-3">You haven't notes for any <code>{{ type }}</code> yet.</h4>
            {% endif %}
          </div>
        {% endfor %}
        {# modal & data storage #}
        {% include "includes/favorites_modal.html" with favorite_form=blank_favorite_form edit=True%}
      </div>
    {% else %}
      {# No favorites yet #}
      <div class="row">
        <div class="hidden-xs col-sm-1 col-md-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-6 text-center">
          <h1><i class="fa fa-bookmark gold"></i>&nbsp;CourtListener Notes</h1>
          <h3 class="gray caps">You Have Not Saved Any&nbsp;Notes</h3>
          <p>Notes can help you keep track of cases and opinions</p>
          <p>To save a favorite, click the gold star next to the title of an opinion, docket, RECAP document, or oral argument. From there you can give it a title and make a note.
          </p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
