{% extends "base.html" %}

{% block sidebar %}{% endblock %}

{% block nav %}
    <div class="col-xs-12 v-offset-below-2 v-offset-above-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="{% block nav-alerts %}inactive{% endblock %}">
                <a href="/profile/alerts/"><i class="fa fa-bell-o gray"></i>&nbsp;Alerts</a>
            </li>
            {% if perms.visualizations.has_beta_access %}
            <li class="{% block nav-visualizations %}inactive{% endblock %}">
                <a href="{% url "view_visualizations" %}"><i
                        class="fa fa-line-chart gray"></i>&nbsp;Visualizations</a>
            </li>
            {% endif %}
            <li class="{% block nav-favorites %}inactive{% endblock %}">
                <a href="/profile/favorites/"><i class="fa fa-star-o gray"></i>&nbsp;Favorites</a>
            </li>
            <li class="{% block nav-donations %}inactive{% endblock %}">
                <a href="/profile/donations/"><i class="fa fa-money gray"></i>&nbsp;Donations</a>
            </li>
            <li class="{% block nav-account %}inactive{% endblock %}">
                <a href="{% url "view_settings" %}"><i class="fa fa-user gray"></i>&nbsp;Account</a>
            </li>
            <li class="{% block nav-password %}inactive{% endblock %}">
                <a href="/profile/password/change"><i class="fa fa-lock gray"></i>&nbsp;Password</a>
            </li>
            <li class="{% block nav-api%}inactive{% endblock %}">
                <a href="/profile/api/"><i class="fa fa-code gray"></i>&nbsp;API</a>
            </li>
        </ul>
    </div>
{% endblock %}
