{% extends "base.html" %}
{% load waffle_tags %}

{% block sidebar %}{% endblock %}

{% block nav %}
    <div class="col-xs-12 v-offset-below-2 v-offset-above-3">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="{% block nav-alerts %}inactive{% endblock %}" role="presentation">
                <a href="{% url "profile_alerts" %}">
                  <i class="fa fa-bell-o gray"></i>&nbsp;Alerts
                </a>
            </li>
            <li class="{% block nav-notes %}inactive{% endblock %}" role="presentation">
                <a href="{% url "profile_notes" %}">
                  <i class="fa fa-bookmark-o gray"></i>&nbsp;Notes
                </a>
            </li>
            <li class="{% block nav-visualizations %}inactive{% endblock %}" role="presentation">
              <a href="{% url "view_visualizations" %}">
                <i class="fa fa-line-chart gray"></i>&nbsp;Visualizations
              </a>
            </li>
            <li class="{% block nav-api%}inactive{% endblock %}" role="presentation">
                <a href="{% url "view_api" %}">
                  <i class="fa fa-code gray"></i>&nbsp;Developer Tools
                </a>
            </li>
            <li class="{% block nav-account %}inactive{% endblock %}" role="presentation">
                <a href="{% url "view_settings" %}">
                  <i class="fa fa-user gray"></i>&nbsp;Account
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
