{% extends "profile/nav.html" %}

{% block title %}Password Update – CourtListener.com{% endblock %}

{% block nav-account %}active{% endblock %}

{% block content %}
  {# Navigation Tabs #}
  {% include "includes/account-tabs.html" %}

  <div class="col-sm-3"></div>
  <div class="col-xs-12 col-sm-6">
    {% if form.errors %}
      <div class="alert alert-danger">
        <p class="bottom">There were errors with your submission.</p>
      </div>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_old_password">Current password</label>
        {{ form.old_password }}
        {% if form.old_password.errors %}
          <ul class="help-block outdent">
            {% for error in form.old_password.errors %}
              <li>{{ error | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_new_password1">New password</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
          <ul class="help-block outdent">
            {% for error in form.new_password1.errors %}
              <li>{{ error | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_new_password2">Verify new password</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <ul class="help-block outdent">
            {% for error in form.new_password2.errors %}
              <li>{{ error | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary btn-lg float-right">Update Password</button>
    </form>
  </div>
  <div class="col-sm-3"></div>
{% endblock %}
