{% extends "base.html" %}

{% block title %}Create a Data Export Request – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
      <h1><i class="fa fa-download gray"></i>&nbsp;Request Your Data</h1>
      <p>We believe that our users have a general right to access their data and to export it from CourtListener.
      </p>
      <p>To create an export request, please press the button below, and we will generate a file with your data and email it to the address that is associated with your account.
      </p>
      <p>Typically, export files will include things like your notes, alerts, and visualizations.
      </p>
      <p>Generating exports typically takes 2&dash;5 days. If you delete your account during this time, we will not be able to generate your export.</p>

      <div class="v-offset-above-2">
        <form action="" method="post" class="float-right">{% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Request a Data Export</button>
        </form>
        <a href="{% url "view_settings" %}"><i class="fa fa-arrow-circle-o-left gray"></i>&nbsp;Cancel and go
          back&hellip;</a>
      </div>
    </div>
    <div class="col-sm-3">&nbsp;</div>
{% endblock %}
