{% extends "base.html" %}

{% block title %}Export Started – CourtListener.com{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
        <h1><i class="fa fa-download gray"></i>&nbsp;Export Started</h1>
        <p>We have begun creating your export and will email it to you soon.</p>

        <p>If you have any questions or concerns, please let us know via our <a href="{% url "contact" %}">contact form</a>.</p>

        <p>Thank you for your patience.</p>
    </div>
    <div class="col-sm-3">&nbsp;</div>
{% endblock %}
