{% extends "profile/nav.html" %}
{% load static %}
{% load waffle_tags %}

{% block title %} Developer Tools &ndash; CourtListener.com{% endblock %}

{% block nav-api %}active{% endblock %}
{% block footer-scripts %}
  {% if DEBUG %}
    <script src="{% static "js/htmx.js" %}"></script>
    <link href="{% static "css/bootstrap4-toggle.css" %}" rel="stylesheet">
  {% else %}
    <script src="{% static "js/htmx.min.js" %}"></script>
    <link href="{% static "css/bootstrap4-toggle.min.css" %}" rel="stylesheet">
  {% endif %}
  <script>
    // htmx event handlers
    htmx.on("htmx:afterSwap", (e) => {
      //Load the form over the modal
      let webhook_submit = document.getElementById("webhook-submit");
      let webhook_form = document.getElementById("webhooks-body");
      if (e.detail.target.id == "webhooks-body") {
        //Change submit button text according to the action performed
        if (e.detail.requestConfig.parameters.hasOwnProperty('update')) {
          webhook_submit.innerHTML = "Update Webhook";
        }
        // If user has reached the max number of webhooks, show a message.
        let event_type_options = document.getElementById("id_event_type").options.length;
        if(event_type_options == 0){
          webhook_form.innerHTML = "<b class='text-center'>You've reached the maximum number of webhooks. Please delete one before adding another.</b>";
        }
        //Toggle form modal
        $('#webhook-modal').modal('toggle');
      }
    })
    htmx.on("htmx:beforeSwap", (e) => {
      //After submitting the POST request, toggle the modal back to hidden
      if (e.detail.target.id == "webhook-form" && !e.detail.xhr.response) {
        $('#webhook-modal').modal('toggle');
        e.detail.shouldSwap = false;
      }
    })
  </script>
{% endblock %}

{% block content %}
  {# Navigation Tabs #}
  {% include "includes/developer-tabs.html" %}
  {% flag "user-webhooks" %}
    <div class="hidden-xs col-sm-1 col-md-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 text-center">
      <div class="row text-left">
        <div class="col-xs-12">
          <div class="panel panel-default webhooks">
            <div class="panel-heading">
              <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-8">
                 <h3 class="panel-title">Webhooks</h3>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-4 text-right">
                 <button id="add-webhook" class="btn btn-primary btn-xs"
                         hx-get="{% url 'webhook_form' %}"
                         hx-target="#webhooks-body">
                   <i class="fa fa-plus"></i>&nbsp;Add Webhook</button>
               </div>
             </div>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table settings-table">
                  <thead>
                  <tr class="active">
                    <th>Event&nbsp;Type</th>
                    <th>Status</th>
                    <th>URL</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody
                    hx-trigger="load, webhooksListChanged from:body"
                    hx-get="{% url 'view_webhooks_list' %}"
                    hx-target="this">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/webhooks-modal.html" %}
      <p>Webhooks let you send a signal to your server whenever certain events happen on our website. To create a webhook, use the form below.</p>
      <p class="v-offset-below-2"><a href="{% url "api_index" %}#webhooks" class="btn btn-default btn-lg">Read the Webhook Documentation</a></p>
    </div>
  {% endflag %}
  <div class="hidden-xs col-sm-1 col-md-2"></div>
{% endblock %}
