{% extends "base.html" %}
{% load extras %}
{% load text_filters %}

{% block title %}Tags for: {{ requested_user }} – CourtListener.com{% endblock %}
{% block og_title %}Tags for: {{ requested_user }} – CourtListener.com{% endblock %}
{% block description %}CourtListener lets you tag and share legal information. View the tags for {{ requested_user }}.{% endblock %}
{% block og_description %}CourtListener lets you tag and share legal information. View the tags for {{ requested_user }}.{% endblock %}
{% block og_image %}{% get_full_host %}{{ STATIC_URL }}png/og-image-tag-300x300.png{% endblock %}


{% block sidebar %}{% endblock %}
{% block content %}
  <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
  <div class="col-xs-12 col-md-10 col-lg-8">
    {% if is_page_owner %}
      <h1><i class="fa fa-tags gray"></i>&nbsp;Your tags</h1>
    {% else %}
      <h1><i class="fa fa-tags gray"></i>&nbsp;Tags for {{ requested_user }}</h1>
    {% endif %}
    {% for tag in tags %}
      {% if forloop.first %}
        <div class="table-responsive">
          <table class="table settings-table tablesorter-bootstrap">
            <thead>
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Created</th>
              <th>Views</th>
              {% if is_page_owner %}
                <th>Published</th>
              {% endif %}
            </tr>
            </thead>
            <tbody>
      {% endif %}

      {# Normal row #}
      <tr>
        <td><a href="{% url "view_tag" requested_user tag.name %}" class="black-link"><span class="tag">{{ tag.name }}</span></a></td>
        <td>{{ tag.title }}</td>
        <td>{{ tag.date_created|date:"M j, Y"|nbsp }}</td>
        <td>{{ tag.view_count }}</td>
        {% if is_page_owner %}
          <td>{{ tag.published|yesno|capfirst }}</td>
         {% endif %}
      </tr>
      {% if forloop.last %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% empty %}
      {# XXX DO THIS BETTER #}
      {% if is_page_owner %}
        <h3>You do not have any tags.</h3>
      {% else %}
        <h3>{{ requested_user }} has not shared any tags.</h3>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
