{% extends "base.html" %}
{% load extras %}
{% load text_filters %}
{% load static %}


{% block title %}RECAP Requests – CourtListener.com{% endblock %}
{% block og_title %}RECAP Requests – CourtListener.com{% endblock %}

{% block description %}Lorem Ipsum on CourtListener.{% endblock %}
{% block og_description %}Lorem Ipsum on CourtListener.{% endblock %}

{% block content %}
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="settings-table table">
        <thead>
            <tr>
              <th>User Preference</th>
              <th>Document Description</th>
              <th>Document Number</th>
              <th>PACER Doc ID</th>
              <th>Document Court</th>
            </tr>
        </thead>
        <tbody>
            {% for prayer in top_prayers %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ prayer.description }}</td>
              <td>{{ prayer.document_number }}</td>
              <td>{{ prayer.pacer_doc_id }}</td>
              <td>{{ prayer.docket_entry.docket.court_id }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No document requests open. Consider making one!</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
