{% extends "base.html" %}
{% load extras %}
{% load text_filters %}
{% load static %}
{% load pacer %}
{% load humanize %}

{% block title %}Most Wanted PACER Documents — CourtListener.com{% endblock %}
{% block og_title %}Most Wanted PACER Documents — CourtListener.com{% endblock %}

{% block description %}CourtListener lets you request the purchase of legal documents. View the community's most wanted documents.{% endblock %}
{% block og_description %}CourtListener lets you request the purchase of legal documents. View the community's most wanted documents.{% endblock %}

{% block content %}
  <div class="col-xs-12">
    <h1 class="text-center v-offset-below-3">Community's Most Wanted PACER Documents</h1>
    <h3 class="text-center"><b>{{ granted_stats.prayer_count|intcomma }}</b> {{ granted_stats.prayer_count|pluralize:"prayer,prayers" }} granted totaling <b>${{ granted_stats.total_cost }}</b>.</h3>
    <h3 class="text-center"><b>{{ waiting_stats.prayer_count|intcomma }}</b> {{ waiting_stats.prayer_count|pluralize:"prayer,prayers" }} pending totaling at least <b>${{ waiting_stats.total_cost }}</b>.</h3>
  </div>

  <div class="col-xs-12">
    <div class="well well-sm">
      <p>{% if user.is_authenticated %}
      <a href="{% url 'user_prayers' user.username %}">View your prayers</a>
      {% else %}
        <a href="{% url 'sign-in' %}?next={% url 'top_prayers' %}">Sign in to view your prayers</a>
      {% endif %}</p>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="settings-table table">
        <thead>
            <tr>
              <th>Court</th>
              <th>Case Name</th>
              <th>Document Number</th>
              <th>Document Description</th>
              <th>Buy on Pacer</th>
            </tr>
        </thead>
        <tbody>
            {% for prayer in top_prayers %}
            <tr>
              <td>{{ prayer.docket_entry.docket.court.citation_string }}</td>
              {% with docket=prayer.docket_entry.docket %}
              <td>
                <a href="{% url "view_docket" docket.pk docket.slug %}">
                  {{ prayer.docket_entry.docket|best_case_name|safe|v_wrapper }} ({{ prayer.docket_entry.docket.docket_number }})
                </a>
              </td>
              <td>
                <a href="{% url "view_recap_document" docket.pk prayer.docket_entry.entry_number docket.slug %}">
                  {{ prayer.document_number }}
                </a>
              </td>
              {% endwith %}
              <td>{{ prayer.description }}</td>
              <td><a href="{{ prayer.pacer_url }}"
                {% if not request.COOKIES.buy_on_pacer_modal and not request.COOKIES.recap_install_plea %}
                  class="open_buy_pacer_modal btn btn-default btn-xs"
                  data-toggle="modal" data-target="#modal-buy-pacer"
                {% else%}
                  class="btn btn-default btn-xs"
                {% endif %}
                  target="_blank"
                  rel="nofollow">Buy on PACER {% if prayer.page_count %}(${{ prayer|price }}){% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No document requests open. Consider making one!</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block footer-scripts %}
  <script defer type="text/javascript"
            src="{% static "js/buy_pacer_modal.js" %}"></script>
  {% include "includes/buy_pacer_modal.html" %}
{% endblock %}
