{% extends "base.html" %}
{% load extras %}
{% load text_filters %}
{% load static %}
{% load pacer %}
{% load tz %}
{% load humanize %}

{% block title %}{% if is_page_owner %}Your PACER document Prayers{% else %}PACER Document Requests for: {{ requested_user }}{% endif %} – CourtListener.com{% endblock %}
{% block og_title %}{% if is_page_owner %}Your PACER document Prayers{% else %}PACER Document Requests for: {{ requested_user }}{% endif %} – CourtListener.com{% endblock %}
{% block description %}CourtListener lets you request the purchase of legal documents. View the documents requested by {{ requested_user }}.{% endblock %}
{% block og_description %}CourtListener lets you request the purchase of legal documents. View the documents requested by {{ requested_user }}.{% endblock %}

{% block content %}

  <div class="col-xs-12">
    <ul class="prayer-top-buttons nav navbar-nav navbar-right">
      {% if is_page_owner %}
      <li><a href="{% url "user_prayers" user.username %}">Pending Requests</a></li>
      {% endif is_page_owner %}
      {% include 'includes/remind_me_modal.html' %}
      <li class="hidden-xs">
        <a href="#" class="donate" data-toggle="modal" data-target="#remindMeModal">
          <i class="fa fa-heart-o"></i>&nbsp;Remind Me to Help
        </a>
      </li>
      <li>
        <a href="{% url "top_prayers" %}"><div class="fa gray fa-fw">
          {% include "includes/hand-holding-heart.svg" %}
        </div> Leaderboard</a>
      </li>
      <li><a href="{% url "pray_and_pay_help" %}">Learn More</a></li>
    </ul>
  </div>

  <div class="col-xs-12">
    <h1 class="text-center v-offset-below-3">{% if is_page_owner %}Your PACER Document Prayers{% else %}PACER Document Requests for: {{ requested_user }}{% endif %}</h1>
    {% if is_page_owner %}<h3 class="text-center v-offset-below-3"><b>{{ user_history.prayer_count|intcomma }}</b> {{ user_history.prayer_count|pluralize:"prayer,prayers" }} granted totaling <b>${{ user_history.total_cost }}</b> (<b>{{ num_remaining }}</b> remaining today).</h3>{% endif %}
  </div>

  <div class="col-xs-12" id="prayer_summary" hx-swap-oob="true"
    {% if request.user.is_authenticated %}
    hx-get="{% url 'user_prayers' request.user.username %}"
    hx-trigger="prayersListChanged from:body" hx-swap="none"
    {%endif %}
  >
  </div>

  {% if rd_with_prayers_granted %}
    <h2 class="text-center v-offset-below-3">Granted Requests</h2>
    <div class="col-xs-12" id="prayer_list_granted" hx-swap-oob="true">
      <div class="table-responsive">
        <table class="settings-table table">
          <thead>
              <tr>
                <th>Court</th>
                <th>Case Name</th>
                <th>Document Number</th>
                <th>Document Description</th>
                <th>Requested On</th>
                <th>Download</th>
              </tr>
          </thead>
          <tbody>
              {% for rd in rd_with_prayers_granted %}
              <tr>
                <td>{{ rd.docket_entry.docket.court.citation_string }}</td>
                {% with docket=rd.docket_entry.docket %}
                <td>
                  <a href="{% url "view_docket" docket.pk docket.slug %}">
                    {{ docket|best_case_name|safe|v_wrapper }} ({{ docket.docket_number }})
                  </a>
                </td>
                <td>
                  <a href="{% url "view_recap_document" docket.pk rd.docket_entry.entry_number docket.slug %}">
                    {{ rd.document_number }}
                  </a>
                </td>
                {% endwith %}
                <td>{{ rd.description }}</td>
                <td>{{ rd.prayer_date_created|date:"M j, Y" }}</td>
                <td>
                  <div class="btn-group hidden-xs col-sm-4 col-md-3 hidden-print flex">
                    {% if rd.filepath_local %}
                      <a href="{{ rd.filepath_local.url }}"
                          rel="nofollow"
                          role="button"
                          class="btn btn-primary btn-xs"
                              {% if rd.date_upload %}
                          title="Uploaded {{ rd.date_upload|datetime_in_utc }}"
                              {% endif %}>
                        Download PDF
                      </a>
                      <button type="button"
                              class="btn btn-primary btn-xs dropdown-toggle"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{{ rd.filepath_local.url }}" rel="nofollow">From
                            CourtListener</a>
                        </li>
                        {% if rd.filepath_ia %}
                          <li>
                            <a href="{{ rd.filepath_ia }}"
                                rel="nofollow">From
                              Internet Archive</a>
                          </li>
                        {% endif %}
                      </ul>
                      {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% if rd_with_prayers_granted.has_other_pages %}
    <div class="col-xs-12" >
      {% include "includes/pagination.html" with page_obj=rd_with_prayers_granted %}
    </div>
    {% endif %}

  {% endif %}

{% endblock %}

{% block footer-scripts %}
  <script defer type="text/javascript"
            src="{% static "js/buy_pacer_modal.js" %}"></script>
  {% if DEBUG %}
    <script src="{% static "js/htmx.js" %}"></script>
    <script src="{% static "js/fix-toolbar-for-htmx.js" %}"></script>
  {% else %}
    <script src="{% static "js/htmx.min.js" %}"></script>
  {% endif %}
  {% include "includes/buy_pacer_modal.html" %}
{% endblock %}
