{% extends "user_prayers_list.html" %}
{% load extras %}
{% load text_filters %}
{% load static %}
{% load pacer %}
{% load tz %}
{% load humanize %}

{% block nav-prayer-granted %}active{% endblock %}
{% block prayer_list %}
  <div class="col-xs-12" id="prayer_list_granted" hx-swap-oob="true">
    <div class="table-responsive">
      <table class="settings-table table">
        <thead>
            <tr>
              <th>Court</th>
              <th>Case Name</th>
              <th>Document Number</th>
              <th>Document Description</th>
              <th>Requested On</th>
              <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for rd in rd_with_prayers_granted %}
            <tr>
              <td>{{ rd.docket_entry.docket.court.citation_string }}</td>
              {% with docket=rd.docket_entry.docket %}
              <td>
                <a href="{% url "view_docket" docket.pk docket.slug %}">
                  {{ docket|best_case_name|safe|v_wrapper }} ({{ docket.docket_number }})
                </a>
              </td>
              <td>
                <a href="{{ rd.get_absolute_url }}" rel="nofollow">
                  {% if rd.attachment_number %}
                    {{ rd.document_number }}-{{ rd.attachment_number }}
                  {% else %}
                    {{ rd.document_number }}
                  {% endif %}
                </a>
              </td>
              {% endwith %}
              <td>{{ rd.description }}</td>
              <td>{{ rd.prayer_date_created|date:"M j, Y" }}</td>
              <td>
                <div class="btn-group hidden-xs col-sm-4 col-md-3 hidden-print flex">
                  {% if rd.filepath_local %}
                    <a href="{{ rd.filepath_local.url }}"
                        rel="nofollow"
                        role="button"
                        class="btn btn-primary btn-xs"
                            {% if rd.date_upload %}
                        title="Uploaded {{ rd.date_upload|datetime_in_utc }}"
                            {% endif %}>
                      Download PDF
                    </a>
                    <button type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{{ rd.filepath_local.url }}" rel="nofollow">From
                          CourtListener</a>
                      </li>
                      {% if rd.filepath_ia %}
                        <li>
                          <a href="{{ rd.filepath_ia }}"
                              rel="nofollow">From
                            Internet Archive</a>
                        </li>
                      {% endif %}
                    </ul>
                    {% endif %}
                </div>
              </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No document requests granted. Consider making one!</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if rd_with_prayers_granted.has_other_pages %}
  <div class="col-xs-12" >
    {% include "includes/pagination.html" with page_obj=rd_with_prayers_granted %}
  </div>
  {% endif %}


{% endblock %}
