{% extends "base.html" %}

{% block title %}CourtListener.com / Server Error 500{% endblock %}

{% block content %}
<div class="span-24 last">
    <h2>Woah. What happened?</h2>
    <p>It appears the site is broken. This is strange, and we're working to resolve it.</p>
    <p class="bottom"> In the mean time, you have some options, if you like:</p>
    <ul>
        <li>Wait a bit, and come back later (not great, we know)</li>
        <li>File a <a href="/contribute#bugs">bug</a> if you think we may not know about this error</li>
        <li>Try something else, like a new <a href="/search">search</a> or <a href="/contact">sending us a message</a></li>
    </ul>
        
    <p>Sorry about this. If you continue having problems, please do let us know.</p>
</div>
{% endblock %}

