{% extends "base.html" %}

{% block privacy %}{% endblock %}
{% block title %}Server Error 500 - CourtListener.com{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2>Woah. What happened?</h2>
        <p>It appears the site is having an error. We've been automatically alerted,
        and we will work to resolve it as soon as possible.</p>
        <p class="bottom"> In the mean time, you have some options, if you like:</p>
        <ul>
            <li>Wait a bit, and come back later (not great, we know)</li>
            <li>File a <a href="/contribute#bugs">bug</a> if you think we may not know about this error,
            or if you have more details to share with us</li>
            <li>Try something else, like a new <a href="/search">search</a> or <a href="/contact">sending us a message</a></li>
        </ul>

        <p>Sorry about this. If you continue having problems, please do let us know.</p>
    </div>
{% endblock %}

