<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">
        <link rel="stylesheet" href="/media/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    </head>

    <body>
        <div class="container">
            {% block header %}
                <div class="span-18" id="header">
                    <h1>CourtListener</h1>                
                </div>
            {% endblock %}            


            {% block headerLinks %}            
                <div class="span-6 last">
                    <p>test</p>
                </div>
            {% endblock %}
            
            <hr>
            
            
            
            {% block content %}
                <div class="span-24 last" id="content">
                    <p>Your content seems to be missing!</p>
                </div>
            {% endblock %}
            
            {% block footer %}
                <div class="span-24 last small quiet" id="footer">
                    <div class="span-24">
                        <hr>
                    </div>
                    <div class="span-3 prepend-3">
                        <a href="/about">About</a>
                    </div>
                    <div class="span-3">
                        <a href="/privacy">Privacy</a>
                    </div>
                    <div class="span-3">
                        <a href="/license">License</a>
                    </div>
                    <div class="span-3">
                        <a href="/sitemap">Sitemap</a>
                    </div>
                    <div class="span-3">
                        <a href="/contribute">Contribute</a>
                    </div>
                    <div class="span-3 last">
                        <a href="/contact">Contact</a>
                    </div>
                </div>
            {% endblock %}
            
        </div>
    </body>
</html>
