<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/css/override.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/css/fancy-type.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/css/buttons.css" type="text/css" media="screen, projection">
    </head>
    <body style="background-color: orange;">
        <div class="container">
	        <h2 class="alt">Your browser is too old.</h2>
	        <p>We do not support this browser, and suggest you upgrade immediately. A newer browser is faster, more secure and makes the Web more interesting for all of us.</p>
	        <p class="bottom">If you continue using this browser, CourtListener will not work for you and you'll continue seeing this hideous warning. Please install one of the following free options:</p>
	        <ul>
	            <li><a href="https://www.google.com/chrome" target="_top">Google Chrome</a></li>
	            <li><a href="http://getfirefox.com" target="_top">Mozilla Firefox</a></li>
	            <li><a href="http://www.google.com/chromeframe" target="_top">Google Chrome Frame</a></li>
	        </ul>
        </div>
    </body>
</html>