{% extends "base.html" %}

{% block title %}CourtListener.com / Browse / {{ title }}{% endblock %}

{% block headers %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for all courts" href="/feed/court/all/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the First Circuit" href="/feed/court/ca1/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Second Circuit" href="/feed/court/ca2/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Third Circuit" href="/feed/court/ca3/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Fourth Circuit" href="/feed/court/ca4/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Fifth Circuit" href="/feed/court/ca5/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Sixth Circuit" href="/feed/court/ca6/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Seventh Circuit" href="/feed/court/ca7/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Eighth Circuit" href="/feed/court/ca8/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Ninth Circuit" href="/feed/court/ca9/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Tenth Circuit" href="/feed/court/ca10/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Eleventh Circuit" href="/feed/court/ca11/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the D.C. Circuit" href="/feed/court/cadc/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Federal Circuit" href="/feed/court/cafc/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Supreme Court of the U.S." href="/feed/court/scotus/">
    {% if docs %}
        {% with docs|first as doc %}
            <link rel="canonical" href="{{doc.get_absolute_url}}">
        {% endwith %}
    {% endif %}    
{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        {% if docs|length > 0 %}
            {# if we have hits, display what we know #}
            {% for doc in docs %}
                <h2>{{ doc.citation.caseNameFull }}, {{ doc.citation.caseNumber }}</h2>
                <h3>{{court}}</h3>
                {% if doc.dateFiled %}
                    <h3 class="alt">{{doc.dateFiled|date:"l, F jS, Y"}}</h3>
                {% else %}
                    <h3 class="alt">Unknown date</h3>
                {% endif %}
                <p>
                    <strong>Status: </strong>
                        {% if doc.documentType %}
                            {{doc.get_documentType_display}}<br>
                        {% else %}
                            Unknown<br>
                        {% endif %}
                    {% if doc.downloadURL or doc.local_path %}
                        <strong>Download PDF: </strong>
                        {% if doc.download_URL %}
                            <a href="{{doc.download_URL}}">From the court</a>
                        {% endif %}
                        {% if doc.download_URL and doc.local_path %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        {% endif %}
                        {% if doc.local_path %}
                            <a href="/{{doc.local_path}}">Our backup</a>
                        {% endif %}<br>
                    {% else %}
                        No downloadable versions.<br>
                    {% endif %}
                    <strong>SHA1:</strong> {{doc.documentSHA1}}
                </p>
                <br>
                <h4>Document text</h4>
                {% if doc.source == "C" or doc.source == "M" %}
                    <pre>{{doc.documentPlainText}}</pre>
                {% endif %}
                {% if doc.source == "R" %}
                    {{doc.documentHTML|safe}}
                {% endif %}
            {% endfor %}            
                
        {% else %}
            {# No documents found, tell the user, apologize. #}
            <h2>No documents found</h2>
            
            <p>We looked in the <strong>{{ court }}</strong>, but were unable to find anything that 
            had the case name or number of <strong>{{ title }}</strong>.</p>
            
            <p class="bottom">Sorry about that. Would you like to try a different approach:</p>
            <ul>
                <li>You can try a <a href="/search/">search</a> for what you're looking for.</li>
                <li>You can <a href="/contact/">let us know</a> that something is wrong or missing.</li>
                <li>If you think you have found a bug, you can <a href="/contribute#bugs">file a bug</a>.</li>
            </ul>
            <p>Sorry about this. If you continue having problems, do let us know.</p>
        
        {% endif %}
    </div>
{% endblock %}


{% block sidebar %}
    {% if user.is_superuser and docs %} 
        <div class="span-5 last" id="sidebar">
            <h3>Admin</h3>
            
            {% for doc in docs %}
                <a href="/admin/alertSystem/document/{{doc.documentUUID}}/">Edit {{doc.citation.caseNameFull}}</a><br>
            {% endfor %}
        </div>            
    {% else %}
        <div class="span-5 last" id="sidebar">
        </div>
    {% endif %}
{% endblock %}
