{% extends "base.html" %}

{% block title %}CourtListener.com / Home{% endblock %}

{% block headers %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/collapsible.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
		    $("fieldset.collapsible").collapse();
		    $("fieldset.collapsed").collapse( { closed: true } );
	    });
     </script>
     <link rel="search" type="application/opensearchdescription+xml" title="Court Listener" href="/media/xml/opensearch.xml">
{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        <h2>Create alerts. Search for opinions. Browse our corpus.</h2>
        <h3 class="alt">We follow the courts so you don't have to.</h3><br><br>
        {% if form.errors %}
            {# there is only one possible error #}
            <div class="span-8">
                <div class="error">
                    <p class="bottom">Please be sure to make a query</p>
                </div>
            </div>
            <div class="span-10 last">&nbsp;</div>
        {% endif %}
        <div class="span-17 last">
            <h4 class="bottom">Search our corpus of circuit court opinions:</h4>
            <form action="" method="get">
                <input class="title" name="q" id="search">&nbsp;&nbsp;
                <button type="submit" class="button title" name="search">Search</button>
                <button type="submit" class="button title" name="alert">Preview alert</button>
            </form>
        </div>
        <div class="span-10 last">
            <fieldset class="collapsed">
                <legend>Advanced</legend>
                <table>
                    <tr>
                        <td>-</td>
                        <td>Excludes words</td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>Searches either word</td>
                    </tr>
                    <tr>
                        <td>( )</td>
                        <td>Can be used to group queries</td>
                    </tr>
                    <tr>
                        <td>@court</td>
                        <td>Filters to a certain court</td>
                    </tr>
                    <tr>
                        <td>" "</td>
                        <td>Creates a phrase to search</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>Creates a wildcard search</td>
                    </tr>
                    <tr>
                        <td>~10</td>
                        <td>Limits distance to 10 words</td>
                    </tr>
                    <tr>
                        <td>/10</td>
                        <td>Creates a quorum</td>
                    <tr>
                        <td><<</td>
                        <td>Defines an order</td>
                    </tr>
                    <tr>
                        <td>=</td>
                        <td>Defines an exact form of a word</td>
                    </tr>
                </table>
                <a href="/search/advanced-techniques/" class="bottom">More details</a>
            </fieldset>
            <p></p>
        </div>
    </div>
{% endblock %}
