{% extends "base.html" %}

{% block title %}CourtListener.com / Home{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        <h2>Create alerts. Search for opinions. Browse our corpus.</h2>
        <h3 class="alt">We follow the courts so you don't have to.</h3><br><br>
        {% if form.errors %}
            {# there is only one possible error #}
            <div class="span-8">
                <div class="error">
                    <p class="bottom">Please be sure to make a query</p>
                </div>
            </div>
            <div class="span-10 last">&nbsp;</div>
        {% endif %}
        <div class="span-17">
            <h4 class="bottom">Search our corpus of circuit court opinions:</h4>
            <form action="" method="get">
                <input class="title" name="q" id="search">&nbsp;&nbsp;
                <button type="submit" class="button title" name="search">Search</button>
                <button type="submit" class="button title" name="alert">Preview alert</button>
            </form>
            <NOTES>: I need to implement the html fieldset that I want to view so that it can be 
            hidden when the page is loaded. Then, I'll set jQuery up to show this when the link is clicked.
            Tutorial here comes very close, except animation would be nice: http://docs.jquery.com/Tutorials:jQuery_For_Designers#</NOTES>
            
            <a href="/search/advanced-techniques/" class="bottom">More details</a><p></p>
        </div>
    </div>
{% endblock %}
