{% extends "base.html" %}
{% load humanize %}
{% load cache %}

{% block title %}Non-Profit Free Legal Search Engine and Alert System - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block main-nav %}{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_q').focus();
        });
        // Initialize popovers (required because they're "opt-in for performance reasons")
        $("[data-toggle='popover']").popover();
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.courtlistener.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.courtlistener.com/?q={search_term}",
        "query-input": "required name=search_term"
      }
    }
</script>
{% endblock %}

{% block logo %}
    <img src="{{ STATIC_PREFIX }}png/logo-large.png"
         alt="CourtListener logo"
         width="364"
         height="40"/>
{% endblock %}

{% block sign-in %}
    {% if user.is_authenticated %}
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/about/" tabindex="300">About</a></li>
                <li><a href="/faq/" tabindex="301">FAQ</a></li>
                <li><a href="/coverage/" tabindex="302">Coverage</a></li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       tabindex="303">Profile&nbsp;<i class="gray fa fa-user"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile/alerts/"
                               tabindex="304">Alerts</a></li>
                        <li><a href="/profile/favorites/"
                               tabindex="305">Favorites</a></li>
                        <li><a href="/profile/donations/"
                               tabindex="306">Donations</a></li>
                        <li><a href="/profile/"
                               tabindex="307">Account</a></li>
                        <li><a href="/sign-out/"
                               tabindex="308">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% else %}
        <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="" class="tour-link">Tour</a></li>
            <li><a href="/coverage/">Coverage</a></li>
        {% if request.path != "/sign-out/" %}
            <li>
                <a href="{% url "sign-in" %}?next={{ request.path }}?
                        {{ get_string|urlencode }}{% if results %}page={{ results.number }}{% endif %}">
                    Sign in / Register
                </a>
            </li>
        {% else %}
            <li><a href="{% url "sign-in" %}">Sign in / Register</a></li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="homepage" class="col-xs-12">

    <div id="above-main-query">
        <p class="text-center x-large bottom">Search millions of opinions by case name, topic,&nbsp;or&nbsp;citation.</p>
        <p class="text-center large gray">{{ court_count }} Jurisdictions. Sponsored by the Non-Profit Free&nbsp;Law&nbsp;Project.</p>
    </div>

    <div class="row" id="main-query-box">
        {% include "includes/main_query_box.html" with homepage=True %}
    </div>

    <div id="advanced-search-inputs" class="hidden row">
        {#  Modal is at bottom of results, so it loads last. #}
        <div id="extra-sidebar-fields" class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pointer"
                                 data-toggle="modal"
                                 data-target="#court-picker">
                                <label class="bottom pointer">
                                    Select Jurisdictions <i class="gray fa fa-external-link"></i>
                                </label>

                                <p class="top"><span id="jurisdiction-count">{{ court_count }}</span>
                                    jurisdictions selected</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ search_form.order_by.label_tag }}
                                {{ search_form.order_by }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ search_form.case_name.label_tag }}
                                {{ search_form.case_name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ search_form.judge.label_tag }}
                                {{ search_form.judge }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Precedential Status</label>
                    {% for status in status_facets %}
                        {% if forloop.counter == 4 %}
                            <a id="show-all-statuses"
                               class="cursor">Show All Statuses&hellip;</a>
                        {% endif %}
                        <div class="sidebar-checkbox status-item{% if forloop.counter >= 4 %} hidden{% endif %}">
                            <input
                                    id="id_{{ status.1 }}"
                                    type="checkbox"
                                    name="{{ status.1 }}"
                                    class="external-input status-checkbox left"
                                    {% if status.3 %}checked="checked"{% endif %}
                                    tabindex="{{ status.5 }}">
                            <label
                                    for="id_{{ status.1 }}"
                                    class="pointer {% if status.2 == 0 %}gray{% endif %}">
                                <div>{{ status.0 }}&nbsp;<span
                                        class="gray small">({{ status.2|intcomma }})</span></div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ search_form.filed_after.label_tag }}
                        {{ search_form.filed_after }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ search_form.filed_before.label_tag }}
                        {{ search_form.filed_before }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                {{ search_form.cited_gt.label_tag }}
                                {{ search_form.cited_gt }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                {{ search_form.cited_lt.label_tag }}
                                {{ search_form.cited_lt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ search_form.citation.label_tag }}
                        {{ search_form.citation }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ search_form.neutral_cite.label_tag }}
                        {{ search_form.neutral_cite }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ search_form.docket_number.label_tag }}
                        {{ search_form.docket_number }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            {% include "includes/operators_quick_list.html" %}
            <a class="text-right" href="/search/advanced-techniques/">More details&hellip;</a>
        </div>
    </div>
    {# Jurisdiction modal is at the bottom so it loads last #}

    <div id="advanced-search-starter" class="row">
        <p class="text-center large alt gray top bottom">&ndash; or &ndash;</p>
        <p class="text-center large">
            <a href="#" tabindex="200">Advanced Search</a>
        </p>
    </div>

    <div class="row lg-v-offset-below-3">
        <div class="col-sm-6">
            <h3>About CourtListener</h3>
            <p>CourtListener is a free legal research website containing millions of legal opinions from federal and
                state courts. With CourtListener, lawyers, journalists, academics, and the public can research an
                important case, stay up to date with new opinions as they are filed, or do deep analysis using our
                raw data.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>About Free Law Project</h3>
            <p><a href="http://freelawproject.org">Free Law Project</a> seeks to provide free access to primary
                legal materials, develop legal research
                tools, and support academic research on legal corpora. We work diligently with volunteers to expand
                our efforts at building an open source, open access, legal research ecosystem. Currently Free Law
                Project sponsors the development of <a
                        href="https://github.com/freelawproject/courtlistener">CourtListener</a>,
                <a
                        href="https://github.com/freelawproject/juriscraper">Juriscraper</a>, and <a
                        href="https://www.recapthelaw.org">RECAP</a>.
            </p>
        </div>
    </div>
    <div class="row lg-v-offset-below-3">
        <div class="col-sm-6">
            <h3>Latest Opinions&nbsp;<i class="gray fa fa-file-text-o"></i></h3>
            <p>We download opinions from many jurisdictions on an ongoing basis. Here are the most recent ones.
            </p>
            {% include "includes/search_result.html" with results=results type_override="o" simple=True %}
            <p>
                <a href="/?order_by=dateFiled+desc"
                   class="btn btn-default v-offset-above-2">See Recent Opinions</a>
            </p>
        </div>

        <div class="col-sm-6">
            <h3>Latest Oral Arguments&nbsp;<i class="gray fa fa-volume-up"></i>
            </h3>

            <p>We download oral arguments from many jurisdictions on an
                ongoing basis. Here are the most recent ones.
            </p>
            {% include "includes/search_result.html" with results=results_oa type_override="oa" simple=True %}
            <p>
                <a href="/?order_by=dateArgued+desc&type=oa"
                   class="btn btn-default v-offset-above-2">See Recent Oral Arguments</a>
            </p>
        </div>
    </div>
    {% cache 21600 stat-num-days-of-oa %}
        <div class="row lg-v-offset-below-3">
            <div class="col-sm-6">
                <h3>The Numbers&nbsp;<i class="gray fa fa-pie-chart"></i></h3>

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold"
                              id="stat-num-precedential-opinions">{{ results.paginator.count|intcomma }}</span>
                    </div>
                    <div class="col-xs-9">
                        <p>Number of <a href="/?order_by=dateFiled+desc">precedential
                            opinions</a> in CourtListener.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold"
                              id="stat-num-days-of-oa">{{ days_of_oa|intcomma }}</span>
                    </div>
                    <div class="col-xs-9">
                        <p>Duration of all <a href="/?type=oa">oral arguments</a>
                            in CourtListener, in days.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold"
                              id="stat-num-opinions-in-last-ten">{{ opinions_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p>Opinions added in last ten days.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold"
                              id="stat-num-oa-in-last-ten">{{ oral_arguments_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p>Oral arguments added in last ten
                        days.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold"
                              id="stat-num-q-in-last-ten">{{ queries_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p>Number of queries made in last ten
                        days.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold"
                              id="stat-num-alerts-in-last-ten">{{ alerts_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p>Number of <a
                            href="/faq/#explain-alerts">alerts</a> sent in last ten
                        days.</p>
                    </div>
                </div>


                {% if bulk_in_last_ten > 0 %}
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <span class="homepage-stat bold">{{ bulk_in_last_ten|intcomma }}</span>
                        </div>
                        <div class="col-xs-9"><p>Times the <a
                                href="/api/bulk-info/">bulk data</a> has been
                            downloaded in the last ten days.</p>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold">{{ api_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p><a href="/api/">API calls</a> made
                        against our system in last ten days.</p>
                    </div>
                </div>


                {% if user.is_superuser %}
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <span class="homepage-stat bold">{{ users_in_last_ten|intcomma }}</span>
                        </div>
                        <div class="col-xs-9"><p>New users signed up in last ten
                            days. <i class="gray fa fa-lock pointer"
                                     title="admin only"></i></p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endcache %}

    {% include "includes/jurisdiction_picker_modal.html" %}
    </div>
{% endblock %}
