{% extends "base.html" %}
{% load humanize %}

{% block title %}Non-Profit Free Legal Search Engine and Alert System - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block main-nav %}{% endblock %}

{% block footer-scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_q').focus();
        });
        // Initialize popovers (required because they're "opt-in for performance reasons")
        $("[data-toggle='popover']").popover();
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.courtlistener.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.courtlistener.com/?q={search_term}",
        "query-input": "required name=search_term"
      }
    }
</script>
{% endblock %}

{% block logo %}
    <img src="{{ STATIC_PREFIX }}png/logo-large.png"
         alt="CourtListener logo"
         width="364"
         height="40"/>
{% endblock %}

{% block sign-in %}
    {% if not user.is_authenticated %}
        <form action="/sign-in/" method="post" class="navbar-form form-inline navbar-right" role="form">{% csrf_token %}
            <a href="/register/" class="small">Want to sign up?</a>
            <a href="/reset-password/" class="small">Need help?</a>
            <div class="form-group form-group-sm">
                <label for="username" class="sr-only">Username</label>
                <input type="text"
                       name="username"
                       value=""
                       id="username"
                       placeholder="User Name"
                       class="form-control"
                       tabindex="2">
            </div>
            <div class="form-group form-group-sm">
                <label for="password" class="sr-only">Password</label>
                <input type="password"
                       name="password"
                       value=""
                       id="password"
                       placeholder="Password"
                       class="form-control"
                       tabindex="3">
            </div>
            <button type="submit" class="btn btn-default btn-sm" tabindex="4">Sign In</button>
        </form>
    {% else %}
        <div class="navbar-right">
            <a href="/profile/">Profile&nbsp;<i class="gray fa fa-user"></i></a>
            <a href="/sign-out">Sign Out&nbsp;<i class="gray fa fa-sign-out"></i></a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="homepage" class="col-xs-12">

    <p class="text-center large bottom">Search millions of opinions by case name, topic, or citation.</p>
    <p class="text-center large gray">{{ court_count }} Jurisdictions. Sponsored by the Non-Profit Free Law Project.</p>

    <div class="row" id="main-query-box">
        {% include "includes/main_query_box.html" with homepage=True %}
    </div>

    <div id="advanced-search-inputs" class="hidden row">
        <div id="extra-sidebar-fields">
            {#  Modal is at bottom of results, so it loads last. #}
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="pointer"
                                     data-toggle="modal"
                                     data-target="#court-picker">
                                    <h4 class="bottom">
                                        Select Jurisdictions <i class="gray fa fa-external-link"></i>
                                    </h4>

                                    <p class="bottom"><span id="jurisdiction-count">{{ court_count }}</span>
                                        jurisdictions selected</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h4 class="bottom">Result Ordering</h4>
                                {{ search_form.order_by }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="bottom">Case Name</h4>
                                {{ search_form.case_name }}
                            </div>
                            <div class="col-sm-6">
                                <h4 class="bottom">Judge</h4>
                                {{ search_form.judge }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="bottom">Precedential Status</h4>
                        {% for status in status_facets %}
                            <div class="sidebar-checkbox">
                                <input
                                        id="id_{{ status.1 }}"
                                        type="checkbox"
                                        name="{{ status.1 }}"
                                        class="external-input status-checkbox left"
                                        {% if status.3 %}checked="checked"{% endif %}>
                                <label
                                        for="id_{{ status.1 }}"
                                        class="pointer {% if status.2 == 0 %}gray{% endif %}">
                                    <div>{{ status.0 }}&nbsp;<span
                                            class="gray small">({{ status.2|intcomma }})</span></div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="bottom">Filed After</h4>
                        {{ search_form.filed_after }}
                    </div>
                    <div class="col-sm-4">
                        <h4 class="bottom">Filed Before</h4>
                        {{ search_form.filed_before }}
                    </div>
                    <div class="col-sm-4">
                        <h4 class="bottom">Citation Count</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="bottom">minimum</h5>
                                {{ search_form.cited_gt }}
                            </div>
                            <div class="col-xs-6">
                                <h5 class="bottom">maximum</h5>
                                {{ search_form.cited_lt }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="bottom">Citation</h4>
                        {{ search_form.citation }}
                    </div>
                    <div class="col-sm-4">
                        <h4 class="bottom">Neutral Citation</h4>
                        {{ search_form.neutral_cite }}
                    </div>
                    <div class="col-sm-4">
                        <h4 class="bottom">Docket Number</h4>
                        {{ search_form.docket_number }}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                {% include "includes/operators_quick_list.html" %}
                <a class="text-right" href="/search/advanced-techniques/">More details&hellip;</a>
            </div>
        </div>
    </div>
    {# Jurisdiction modal is at the bottom so it loads last #}

    <div id="advanced-search-starter" class="row">
        <p class="text-center large alt gray bottom">&ndash; or &ndash;</p>
        <p class="text-center large">
            <a href="#">Advanced Search</a>
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>About CourtListener</h3>
            <p>CourtListener is a free legal research website containing millions of legal opinions from federal and
                state courts. With CourtListener, lawyers, journalists, academics, and the public can research an
                important case, stay up to date with new opinions as they are filed, or do deep analysis using our
                raw data.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>About Free Law Project</h3>
            <p><a href="http://freelawproject.org">Free Law Project</a> seeks to provide free access to primary
                legal materials, develop legal research
                tools, and support academic research on legal corpora. We work diligently with volunteers to expand
                our efforts at building an open source, open access, legal research ecosystem. Currently Free Law
                Project sponsors the development of <a
                        href="https://bitbucket.org/mlissner/search-and-awareness-platform-courtlistener/">CourtListener</a>,
                <a
                        href="https://bitbucket.org/mlissner/juriscraper/">Juriscraper</a>, and <a
                        href="https://www.recapthelaw.org">RECAP</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Latest Opinions&nbsp;<i class="gray fa fa-file-text-o"></i></h3>
            <p>We download opinions from many jurisdictions on an ongoing basis. Here are the most recent ones.
            </p>
            {% include "includes/search_result.html" with results=results source_override="o" simple=True %}
            <div class="right">
                <a href="/?order_by=dateFiled+desc">See all recent opinions&hellip;</a>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Latest Oral Arguments&nbsp;<i class="gray fa fa-volume-up"></i>
            </h3>

            <p>We download oral arguments from many jurisdictions on an
                ongoing basis. Here are the most recent ones.
            </p>
            {% include "includes/search_result.html" with results=results_oa source_override="oa" simple=True %}
            <div class="right">
                <a href="/?order_by=dateArgued+desc&source=oa">See all recent
                    oral arguments&hellip;</a>
            </div>
        </div>
    </div>

    <div class="row">
        {% comment %}
            <div class="col-sm-6">
                <h3>Learn About CourtListener&nbsp;<i class="gray fa fa-youtube-play"></i></h3>
                <iframe width="270" height="203" src="//www.youtube.com/embed/txqiwrbYGrs" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            {% endcomment %}

        <div class="col-sm-6">
            <h3>The Numbers&nbsp;<i class="gray fa fa-pie-chart"></i></h3>

            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="homepage-stat bold">{{ results.paginator.count|intcomma }}</span>
                </div>
                <div class="col-xs-9">
                    <p>Number of <a href="/?order_by=dateFiled+desc">precedential
                        opinions</a> in CourtListener.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="homepage-stat bold">{{ opinions_in_last_ten|intcomma }}</span>
                </div>
                <div class="col-xs-9"><p>Opinions added in last ten
                    days.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="homepage-stat bold">{{ oral_arguments_in_last_ten|intcomma }}</span>
                </div>
                <div class="col-xs-9"><p>Oral arguments added in last ten
                    days.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="homepage-stat bold">{{ queries_in_last_ten|intcomma }}</span>
                </div>
                <div class="col-xs-9"><p>Number of queries made in last ten
                    days.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="homepage-stat bold">{{ alerts_in_last_ten|intcomma }}</span>
                </div>
                <div class="col-xs-9"><p>Number of <a
                        href="/faq/#explain-alerts">alerts</a> sent in last ten
                    days.</p>
                </div>
            </div>


            {% if bulk_in_last_ten > 0 %}
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold">{{ bulk_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p>Times the <a
                            href="/api/bulk-info/">bulk data</a> has been
                        downloaded
                        in the last ten days.</p>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="homepage-stat bold">{{ api_in_last_ten|intcomma }}</span>
                </div>
                <div class="col-xs-9"><p><a href="/api/">API calls</a> made
                    against our system in last ten days.</p>
                </div>
            </div>


            {% if user.is_superuser %}
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <span class="homepage-stat bold">{{ users_in_last_ten|intcomma }}</span>
                    </div>
                    <div class="col-xs-9"><p>New users signed up in last ten
                        days. <i class="gray fa fa-lock pointer"
                                 title="admin only"></i></p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include "includes/jurisdiction_picker_modal.html" %}
    </div>
{% endblock %}
