{% extends "base.html" %}

{% block title %}CourtListener.com / Opinions / {{ title }}
{% if documents.paginator.num_pages %}
 / Page / {{ documents.number }} of {{documents.paginator.num_pages}}
 {% endif %}{% endblock %}

{% block headers %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for all courts" href="/feed/court/all/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the U.S. Supreme Court" href="/feed/court/scotus/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the First Circuit" href="/feed/court/ca1/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Second Circuit" href="/feed/court/ca2/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Third Circuit" href="/feed/court/ca3/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Fourth Circuit" href="/feed/court/ca4/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Fifth Circuit" href="/feed/court/ca5/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Sixth Circuit" href="/feed/court/ca6/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Seventh Circuit" href="/feed/court/ca7/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Eighth Circuit" href="/feed/court/ca8/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Ninth Circuit" href="/feed/court/ca9/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Tenth Circuit" href="/feed/court/ca10/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Eleventh Circuit" href="/feed/court/ca11/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the D.C. Circuit" href="/feed/court/cadc/">
    <link rel="alternate" type="application/rss+xml" title="Atom feed for the Federal Circuit" href="/feed/court/cafc/">
{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        <h2>{{ title }}</h2>
        <h3>Recent opinions, page {{ documents.number }} of {{ documents.paginator.num_pages }}</h3>
        {% for doc in documents.object_list %}
            <h3 class="alt bottom"><a href="{{doc.get_absolute_url}}">{{ doc.citation.caseNameFull }}, {{doc.citation.caseNumber}} ({{doc.court.courtShortName}})</a></h3>
            <p>{{doc.dateFiled|date:"l, F jS, Y"}}<br>
                <strong>Status:</strong> {{doc.get_documentType_display}}<br>
                {% if doc.downloadURL or doc.local_path %}
                    <strong>Download PDF: </strong>
                    {% if doc.download_URL %}
                        <a href="{{doc.download_URL}}">From the court</a>
                    {% endif %}
                    {% if doc.download_URL and doc.local_path %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    {% if doc.local_path %}
                        <a href="/{{doc.local_path}}">Our backup</a>
                    {% endif %}<br>
                {% else %}
                    No downloadable versions.<br>
                {% endif %}
        {% endfor %}
        
        <h3>
            {% if documents.has_previous %}
                    <a href="{{request.path}}?page=1">« first</a>&nbsp;&nbsp;
                    <a href="{{request.path}}?page={{ documents.previous_page_number }}">‹ previous</a>&nbsp;&nbsp;
            {% endif %}
            Page {{ documents.number }} of {{ documents.paginator.num_pages }}</p>
            {% if documents.has_next %}
                    &nbsp;&nbsp;<a href="{{request.path}}?page={{ documents.next_page_number }}">next ›</a>
                    &nbsp;&nbsp;<a href="{{request.path}}?page={{ documents.paginator.num_pages }}">last »</a>
            {% endif %}
        </h3>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="span-5 last" id="sidebar">
        <h3>Browse other courts</h3>
        <p>
            <a href="/opinions/all/">All opinions</a><br>
            <a href="/opinions/scotus/">U.S. Supreme Court</a><br>
            <a href="/opinions/ca1/">First circuit</a><br>
            <a href="/opinions/ca2/">Second circuit</a><br>
            <a href="/opinions/ca3/">Third circuit</a><br>
            <a href="/opinions/ca4/">Fourth circuit</a><br>
            <a href="/opinions/ca5/">Fifth circuit</a><br>
            <a href="/opinions/ca6/">Sixth circuit</a><br>
            <a href="/opinions/ca7/">Seventh circuit</a><br>
            <a href="/opinions/ca8/">Eighth circuit</a><br>
            <a href="/opinions/ca9/">Ninth circuit</a><br>
            <a href="/opinions/ca10/">Tenth circuit</a><br>
            <a href="/opinions/ca11/">Eleventh circuit</a><br>
            <a href="/opinions/cadc/">D.C. circuit</a><br>
            <a href="/opinions/cafc/">Federal circuit</a><br>
        </p>
    </div>
{% endblock %}
