{% extends "base.html" %}
{% load humanize %}

{% block title %}CourtListener.com / Opinions / {{ title }}
    {% if documents.paginator.num_pages %}
        / Page / {{ documents.number|intcomma }} of {{documents.paginator.num_pages|intcomma}}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Atom feed for all Federal Courts of Appeal" href="/feed/court/all/">
    {% for court in courts %}
        <link rel="alternate" type="application/rss+xml" title="Atom feed for the {{ court.get_courtUUID_display }}" href="/feed/court/{{court.courtUUID}}/">
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="span-5 append-1" id="sidebar">
        <h3>Browse by court</h3>
        <p>
            <a href="/opinions/all/">All courts</a><br>
            <a href="/opinions/scotus/">U.S. Supreme Court</a><br>
            <a href="/opinions/ca1/">First Circuit</a><br>
            <a href="/opinions/ca2/">Second Circuit</a><br>
            <a href="/opinions/ca3/">Third Circuit</a><br>
            <a href="/opinions/ca4/">Fourth Circuit</a><br>
            <a href="/opinions/ca5/">Fifth Circuit</a><br>
            <a href="/opinions/ca6/">Sixth Circuit</a><br>
            <a href="/opinions/ca7/">Seventh Circuit</a><br>
            <a href="/opinions/ca8/">Eighth Circuit</a><br>
            <a href="/opinions/ca9/">Ninth Circuit</a><br>
            <a href="/opinions/ca10/">Tenth Circuit</a><br>
            <a href="/opinions/ca11/">Eleventh Circuit</a><br>
            <a href="/opinions/cadc/">D.C. Circuit</a><br>
            <a href="/opinions/cafc/">Federal Circuit</a><br>
            <a href="/opinions/ccpa/">Customs and Patent Appeals</a><br>
            <a href="/opinions/cfc/">Court of Federal Claims</a><br>
            <a href="/opinions/eca/">Emergency Court of Appeals</a>
        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="span-18 last">
        {% if not over_limit %}
            <h2>{{ title }}</h2>
            <h3>Recent documents, page {{ documents.number|intcomma }}</h3>
            {% for doc in documents.object_list %}
                <h3 class="bottom alt">
                    <a href="{{doc.get_absolute_url}}">
                        {{ doc.citation.caseNameFull }},
                        {% if doc.citation.westCite != '' and doc.citation.westCite != None %}
                            {{doc.citation.westCite}}
                        {% else %}
                            {{doc.citation.docketNumber}}
                        {% endif %}
                        ({% if doc.court.shortName != 'SCOTUS' %}{{doc.court.shortName}}&nbsp;{% endif %}{{doc.dateFiled|date:"Y"}})
                    </a>
                </h3>
                <p class="bottom">
                    {% if doc.download_URL or doc.local_path %}
                        <strong>View Original: </strong>
                        {% if doc.download_URL and result.source != 'R' %}
                            <a href="{{doc.download_URL}}">From the court</a>
                        {% endif %}
                        {% if doc.download_URL and result.source != 'R' and doc.local_path %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        {% endif %}
                        {% if doc.local_path %}
                            <a href="/{{doc.local_path}}">Our backup</a>
                        {% endif %}
                    {% else %}
                        No downloadable versions.
                    {% endif %}
                </p>
                <p class="bottom">
                    <strong>Date Filed:</strong>
                    {% if doc.dateFiled %}
                        {{doc.dateFiled|date:"l, F jS, Y"}}
                    {% else %}
                        Unknown date
                    {% endif %}
                </p>
                <p class="bottom">
                    <strong>Status: </strong>
                    {% if doc.documentType %}
                        {{doc.get_documentType_display}}
                    {% else %}
                        Unknown
                    {% endif %}
                </p>
                <p>
                    {% if doc.citation.westCite != '' and doc.citation.westCite != None and doc.citation.docketNumber %}
                        <strong>Docket Number: </strong>
                        {{ doc.citation.docketNumber }}
                    {% endif %}
                </p>
            {% endfor %}

            <h3>
                {% if documents.has_previous %}
                        <a href="{{request.path}}?page=1">« first</a>&nbsp;&nbsp;
                        <a href="{{request.path}}?page={{ documents.previous_page_number }}">‹ previous</a>&nbsp;&nbsp;
                {% endif %}
                Page {{ documents.number|intcomma }} of {{ documents.paginator.num_pages|intcomma }}
                {% if documents.has_next %}
                        &nbsp;&nbsp;<a href="{{request.path}}?page={{ documents.next_page_number }}">next ›</a>
                        &nbsp;&nbsp;<a href="{{request.path}}?page={{ documents.paginator.num_pages }}">last »</a>
                {% endif %}
            </h3>
        {% else %}
            {# We have exceeded the page number limit #}
            <h2>Limit exceeded</h2>
            <p>Sorry, but CourtListener does not return more than 1000 results for any query.</p>
            <p class="bottom">Would you like to try a different approach:</p>
            <ul>
                <li>You can try a <a href="/search/">search</a> for what you're looking for.</li>
                <li>You can <a href="/contact/">let us know</a> that something is wrong or missing.</li>
                <li>If you think you have found a bug, you can <a href="/contribute/#bugs">file a bug</a>.</li>
            </ul>
            <p>Sorry about this. If you continue having problems, <a href="/contact/">please let us know</a>.</p>
        {% endif %}
    </div>
{% endblock %}
