{% extends "base.html" %}

{% block title %} CourtListener.com / Email testing results{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        <h2>
            {{queryType|title}} results
        </h2>

        {% if not results %}
            <h3 class="alt">Your {{ queryType }} yielded no results.</h3>
        {% endif %}

        {% for result in results%}
            <h3 class="alt bottom"><a href="{{result.get_absolute_url}}">{{ result.citation.caseNameShort }}, {{result.citation.caseNumber}} ({{result.court.courtShortName}})</a></h3>
            <p> {{result.dateFiled|date:"l, F jS, Y"}}<br>
                {# Print the whether the document is precedential #}
                {% ifequal result.documentType "U" %}
                    <strong>Status:</strong> Non-precedential/Unpublished<br>
                {% endifequal %}
                {% ifequal result.documentType "P" %}
                    <strong>Status:</strong> Precedential/Published<br>
                {% endifequal %}
                {% ifequal result.documentType "E" %}
                    <strong>Status:</strong> Errata<br>
                {% endifequal %}

                <strong>Download PDF: </strong><a href="{{ result.download_URL }}">From the court</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://courtlistener.com/{{result.local_path}}">Our backup</a></p><br>
        {% endfor %}
    </div>
{% endblock %}

