name: black

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'master'

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2-beta
      - name: Black Code Formatter
        uses: lgeiger/black-action@master
        with:
          args: ". --check"
