name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          # Once codebase is updated, this can easily be changed to any specific version.
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "0.9.x"

      - uses: pre-commit/action@v3.0.1

      - name: Install dependencies
        run: uv sync

      - name: Debug paths
        run: |
          pwd
          ls -al

      # Add modules here as they're ready (remove them from the file-by-file
      # checker below as you do so).
      - name: mypy Static Type Checker (packages)
        run: |
          uv run mypy \
          --follow-imports=skip \
          --exclude 'migrations/*' \
          -p cl.alerts \
          -p cl.audio \
          -p cl.citations \
          -p cl.corpus_importer \
          -p cl.lib \
          -p cl.opinion_page \
          -p cl.recap_rss \
          -p cl.settings \
          -p cl.simple_pages

      # Add files here as they're ready
      - name: mypy Static Type Checker (files)
        run: |
          uv run mypy \
          --follow-imports=skip \
          --exclude 'migrations/*' \
          cl/api/admin.py \
          cl/api/api_permissions.py \
          cl/api/factories.py \
          cl/api/management/commands/cl_retry_webhooks.py \
          cl/api/management/commands/notify_bad_api_filter_users.py \
          cl/api/models.py \
          cl/api/routers.py \
          cl/api/tasks.py \
          cl/api/tests.py \
          cl/api/urls.py \
          cl/api/utils.py \
          cl/api/views.py \
          cl/api/webhooks.py \
          cl/tests/utils.py \
          cl/users/email_handlers.py \
          cl/users/forms.py \
          cl/users/management/commands/cl_account_management.py \
          cl/users/management/commands/cl_delete_old_emails.py \
          cl/users/management/commands/cl_retry_failed_email.py \
          cl/users/tasks.py \
          cl/recap/admin.py \
          cl/recap/constants.py \
          cl/recap/factories.py \
          cl/recap/filters.py \
          cl/recap/management/commands/clean_up_docket_judges.py \
          cl/recap/management/commands/delete_document_from_ia.py \
          cl/recap/management/commands/import_idb.py \
          cl/recap/management/commands/monitor_pacer_websites.py \
          cl/recap/management/commands/remove_appellate_entries_with_long_numbers.py \
          cl/recap/management/commands/reprocess_recap_dockets.py \
          cl/recap/utils.py \
          cl/recap/views.py \
          cl/search/management/commands/cl_index_parent_and_child_docs.py \
          cl/search/management/commands/sweep_indexer.py \
          cl/search/management/commands/pacer_bulk_fetch.py \
          cl/search/management/commands/generate_opinion_embeddings.py \
          cl/search/management/commands/llm_clean_docket_number_daemon.py \
          cl/search/docket_number_cleaner.py \
          cl/search/management/commands/clean_docket_number_raw.py \
          cl/scrapers/admin.py \
          cl/scrapers/DupChecker.py \
          cl/scrapers/exceptions.py \
          cl/scrapers/factories.py \
          cl/scrapers/management/commands/back_scrape_dockets.py \
          cl/scrapers/management/commands/cl_back_scrape_citations.py \
          cl/scrapers/management/commands/cl_back_scrape_opinions.py \
          cl/scrapers/management/commands/cl_back_scrape_oral_arguments.py \
          cl/scrapers/management/commands/cl_scrape_oral_arguments.py \
          cl/scrapers/management/commands/refresh_scrapers_status_view.py \
          cl/scrapers/views.py \
