name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          # Once codebase is updated, this can easily be changed to any specific version.
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: "0.7.x"

      - uses: pre-commit/action@v3.0.1

      - name: Install dependencies
        run: uv sync

      - name: Debug paths
        run: |
          pwd
          ls -al

      # Add modules here as they're ready (remove them from the file-by-file
      # checker below as you do so).
      - name: mypy Static Type Checker (packages)
        run: |
          uv run mypy \
          --follow-imports=skip \
          --exclude 'migrations/*' \
          -p cl.alerts \
          -p cl.audio \
          -p cl.citations \
          -p cl.corpus_importer \
          -p cl.lib \
          -p cl.opinion_page \
          -p cl.recap_rss \
          -p cl.settings \
          -p cl.simple_pages

      # Add files here as they're ready
      - name: mypy Static Type Checker (files)
        run: |
          uv run mypy \
          --follow-imports=skip \
          --exclude 'migrations/*' \
          cl/api/api_permissions.py \
          cl/api/management/commands/cl_retry_webhooks.py \
          cl/api/models.py \
          cl/api/routers.py \
          cl/api/tasks.py \
          cl/api/tests.py \
          cl/api/utils.py \
          cl/api/views.py \
          cl/api/webhooks.py \
          cl/tests/utils.py \
          cl/users/email_handlers.py \
          cl/users/forms.py \
          cl/users/management/commands/cl_account_management.py \
          cl/users/management/commands/cl_delete_old_emails.py \
          cl/users/management/commands/cl_retry_failed_email.py \
          cl/users/tasks.py \
          cl/recap/management/commands/remove_appellate_entries_with_long_numbers.py \
          cl/recap/utils.py \
          cl/search/management/commands/cl_index_parent_and_child_docs.py \
          cl/search/management/commands/sweep_indexer.py \
          cl/search/management/commands/pacer_bulk_fetch.py \
          cl/search/management/commands/generate_opinion_embeddings.py
