name: Semgrep
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  schedule:
    # Execute every day at 2:00
    - cron: '0 2 * * *'

jobs:
  semgrep:
    runs-on: ubuntu-latest
    name: Check
    container:
      image: returntocorp/semgrep
    steps:
      - uses: actions/checkout@v4
      - run: semgrep ci
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
