name: sentry-release

on:
  push:
    branches: [master, ]

jobs:
  createSentryRelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Create a Sentry.io release
        uses: tclindner/sentry-releases-action@v1.2.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: freelawproject
          SENTRY_PROJECT: courtlistener
        with:
          tagName: ${{ github.sha }}
          environment: prod
