{% load static %}{% get_static_prefix as STATIC_PREFIX %}{% load humanize %}{% load widget_tweaks %}{% load extras %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="language" content="en_us"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    {% block meta %}
    <meta name="description" content="{% block description %}Create alerts, search for and browse the latest court opinions. Updated automatically with the latest court documents. An initiative of Free Law Project.{% endblock %}"/>
    <link rel="author" href="/humans.txt" type="text/plain"/>

    {# Open Search Plugin #}
    <link rel="search"
          type="application/opensearchdescription+xml"
          title="CourtListener"
          href="{{ STATIC_PREFIX }}xml/opensearch.xml" />

    {# MS Application Icons #}
    <meta name="application-name" content="CourtListener"/>
    <meta name="msapplication-tooltip" content="Create alerts, search for and browse the latest court opinions."/>
    <meta name="msapplication-starturl" content="https://www.courtlistener.com"/>
    <meta name="msapplication-navbutton-color" content="#6683B7"/>

    {# Twitter #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@freelawproject">
    <meta name="twitter:site" content="@courtlistener">

    {# Facebook #}
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% block og_title %}CourtListener{% endblock %}"/>
    <meta property="og:description"
          content="{% block og_description %}Create alerts, search for and browse the latest court opinions.{% endblock %}">
    <meta property="og:url" content="{% get_full_host %}{{ request.path }}"/>
    <meta property="og:site_name" content="CourtListener"/>
    <meta property="og:image"
          content="{% block og_image %}{% get_full_host %}{{ STATIC_URL }}png/og-image-300x300.png{% endblock %}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="{% block og_image_width %}300{% endblock %}"/>
    <meta property="og:image:height" content="{% block og_image_height %}300{% endblock %}"/>
    {% endblock %}

    {% block icons %}
    {# Apple Touch Icons, from https://mathiasbynens.be/notes/touch-icons#sizes #}
    <link rel="icon" sizes="192x192" href="/touch-icon-192x192.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="/apple-touch-icon-precomposed.png">
    {% endblock %}

    {% if DEBUG %}
        <link href="{{ STATIC_PREFIX }}css/font-awesome.min.css"
              rel="stylesheet">
    {% else %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
              rel="stylesheet">
    {% endif %}
    {% block privacy %}
        {% if private %}
            <meta name="robots" content="noindex, noodp, noarchive, noimageindex" />
        {% elif private == None %}
            <!-- This bit of invalid HTML is to give developers a loud warning. -->
            <h1>You did not supply the "private" variable to your template.
                Please indicate if it is True or False to remove this
                awful message.</h1>
        {% endif %}
    {% endblock %}
    <title>{% block title %}CourtListener.com{% endblock %}</title>
    {% block head %}{% endblock %}
    {% if DEBUG %}
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css"
              type="text/css"
              media="screen, projection">
    {% else %}
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css"
              type="text/css"
              media="screen, projection">
    {% endif %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/hopscotch.css" type="text/css"
          media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/override.css" type="text/css"
          media="screen, projection">
    {% if DEBUG %}
        <!--<script src="{{ STATIC_PREFIX}}js/bootlint.min.js"></script>-->
    {% endif %}
</head>

<body class="{% block body-classes %}{% endblock %}">
<div class="container round-bottom">
    {% block header %}
    <header class="row">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-xs" href="/">
                        {% block logo %}
                            <img src="{{ STATIC_PREFIX }}png/logo.png"
                                 alt="CourtListener Logo"
                                 width="260"
                                 height="29"
                                 tabindex="1"/>
                        {% endblock %}
                    </a>
                    <a class="navbar-brand visible-xs-block" href="/">
                        <img src="{{ STATIC_PREFIX }}png/logo-initials-only.png"
                             alt="CourtListener Logo"
                             width="67"
                             height="40"
                             tabindex="1"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    {% block main-nav %}
                        {% if user.is_authenticated %}
                            <ul class="nav navbar-nav">
                                <li><a href="{% url "about" %}" tabindex="300">About</a></li>
                                {% if perms.visualizations.has_beta_access %}
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       tabindex="301"
                                       data-toggle="dropdown">Visualizations&nbsp;<span
                                            class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{% url "viz_gallery" %}"
                                               tabindex="301">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="{% url "mapper_homepage" %}"
                                               tabindex="301">SCOTUS Networks</a>
                                        </li>
                                        <li>
                                            <a href="{% url "new_visualization" %}"
                                               tabindex="301">New Network</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li><a href="{% url "faq" %}" tabindex="301">FAQ</a></li>
                                <li><a href="{% url "coverage" %}" tabindex="302">Coverage</a></li>
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       tabindex="303"
                                       data-toggle="dropdown">Profile&nbsp;<i class="gray fa fa-user"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url "profile_alerts" %}"
                                               tabindex="304">Alerts</a></li>
                                        {% if perms.visualizations.has_beta_access %}
                                        <li>
                                            <a href="{% url "view_visualizations" %}"
                                               tabindex="306">Visualizations</a>
                                        </li>
                                        {% endif %}
                                        <li><a href="{% url "profile_favorites" %}"
                                               tabindex="305">Favorites</a></li>
                                        <li><a href="/profile/donations/"
                                               tabindex="307">Donations</a></li>
                                        <li><a href="{% url "view_settings" %}"
                                               tabindex="308">Account</a></li>
                                        <li><a href="/sign-out/"
                                               tabindex="309">Sign out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav">
                                <li><a href="{% url "about" %}">About</a></li>
                                <li><a href="{% url "faq" %}">FAQ</a></li>
                                <li><a href="" class="tour-link">Tour</a></li>
                                <li><a href="{% url "coverage" %}">Coverage</a></li>
                                {% if request.path != "/sign-out/" %}
                                    <li>
                                        <a href="{% url "sign-in" %}?next={{request.path}}?{{get_string|urlencode}}{% if results %}page={{results.number}}{% endif %}">
                                            Sign in / Register
                                        </a>
                                    </li>
                                {% else %}
                                    <li><a href="{% url "sign-in" %}">Sign in / Register</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% endblock %}
                    <ul class="nav navbar-nav navbar-right">
                        {% block search-form %}
                            {% include "includes/main_query_box.html" with homepage=False %}
                        {% endblock %}
                        {% block sign-in %}{% endblock %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div><!-- navbar -->
    </header>
    {% endblock %}

    {% block messages %}
        {% include "includes/messages.html" %}
    {% endblock %}

    <div class="row content">
        {% block sidebar %}
            <div class="col-sm-3" id="sidebar"></div>
        {% endblock %}

        {# for the settings pages #}
        {% block nav %}{% endblock %}

        {% block content %}
            <p>Your content seems to be missing! This is never good.</p>
        {% endblock %}
    </div>

    {% block footer %}
    <footer class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-sm-6 no-gutter">
                        <div class="footer-item">
                            <a href="{% url "about" %}">About</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "mapper_homepage" %}">Visual&shy;izations</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "faq" %}">FAQ</a>
                        </div>
                        <div class="footer-item">
                            <a href="" class="tour-link">Tour</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "donate" %}?referrer=footer-link">Donate</a>
                        </div>
                    </div>

                    <div class="col-sm-6 no-gutter">
                        <div class="footer-item">
                            <a href="{% url "citation_redirector" %}">Citation Lookup</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "coverage" %}">Coverage</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "api_index" %}">APIs and Bulk Data</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "feeds_info" %}">Feeds &amp; Podcasts</a>&nbsp;<i class="gray fa fa-rss inline"></i>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "court_index" %}">Jurisdictions</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="col-sm-6 no-gutter">
                        <div class="footer-item">
                            <a href="https://free.law">Blog</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "contact" %}">Contact</a>
                        </div>
                        <div class="footer-item">
                            <a href="{% url "contribute" %}">Contribute</a>
                        </div>
                    </div>

                    <div class="col-sm-6 no-gutter">
                        <div class="footer-item">
                            <a href="{% url "terms" %}">Terms &amp; Privacy</a>
                        </div>
                        <div class="footer-item">
                            <a href="/removal/">Removal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-right" id="donate-image">
            <a href="{% url "donate" %}?referrer=footer-button">
                <img src="{{ STATIC_PREFIX }}png/donate-button.png"
                     alt="Donate to support our work"
                     height="75"
                     width="227">
            </a>
        </div>
        <div class="col-sm-12" id="by-line">
            <p>CourtListener is sponsored by the non-profit <a href="https://free.law">Free Law Project</a>.</p>
        </div>
    </footer>
    {% endblock %}
</div>

{% block social %}
    <div class="text-center" id="social-container">
        <a href="https://twitter.com/courtlistener" class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x gray"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://www.facebook.com/freelawproject" class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x gray"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://www.linkedin.com/company/free-law-project" class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x gray"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://plus.google.com/u/0/b/101318679730088826987/101318679730088826987/about"
           class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x gray"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://github.com/freelawproject/courtlistener"
           class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x gray"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </a>
    </div>
{% endblock %}

<script type="text/javascript"
        src="{{ STATIC_PREFIX }}js/jquery-1.11.1.min.js"></script>
<script>
    window.jQuery || document.write(
            '<script src="{{ STATIC_PREFIX }}js/jquery-1.11.1.js"><\/script>'
    );
</script>
{% if DEBUG %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/hopscotch.js"></script>
{% else %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/hopscotch.min.js"></script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
<script type="text/javascript">
    var totalDonatedLastYear = parseFloat({{ user.profile.total_donated_last_year|safe}}),
        priceRtAlerts = parseFloat({{ MIN_DONATION.rt_alerts }});
</script>

{# Allows your own scripts in the footer. #}
{% block footer-scripts %}{% endblock %}

{% if not user.is_superuser  %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//www.courtlistener.com/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//www.courtlistener.com/piwik/piwik.php?idsite=1"
                      style="border:0;" alt=""/></p></noscript>
    <!-- End Piwik Code -->

{% endif %}
<!--[if lt IE 10 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'inline', url:'/bad-browser/', cssText: 'width: 100%; height: 200px;' })})</script>
<![endif]-->
</body>
</html>
