{% load static %}{% load humanize %}{% load widget_tweaks %}{% load extras %}{% load waffle_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Language" content="en"/>
  <meta name="language" content="en_us"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>

  {% block meta %}
  <meta name="description" content="{% block description %}Create alerts, search for and browse the latest court opinions, PACER documents, judges, and oral arguments. Updated automatically with the latest court documents. An initiative of Free Law Project.{% endblock %}"/>

  {# Open Search Plugin #}
  <link rel="search"
        type="application/opensearchdescription+xml"
        title="CourtListener"
        href="{% static "xml/opensearch.xml" %}" />

  {# MS Application Icons #}
  <meta name="application-name" content="CourtListener"/>
  <meta name="msapplication-tooltip" content="Create alerts, search for and browse the latest court opinions."/>
  <meta name="msapplication-starturl" content="https://www.courtlistener.com"/>
  <meta name="msapplication-navbutton-color" content="#6683B7"/>

  {# Twitter #}
  <meta name="twitter:card" content="{% block twitter_card_type %}summary{% endblock %}">
  <meta name="twitter:creator" content="@freelawproject">
  <meta name="twitter:site" content="@courtlistener">

  {# Facebook #}
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{% block og_title %}CourtListener{% endblock %}"/>
  <meta property="og:description"
        content="{% block og_description %}Create alerts, search for and browse the latest court opinions, PACER documents, judges, and oral arguments. Updated automatically with the latest court documents. An initiative of Free Law Project.{% endblock %}">
  <meta property="og:url" content="{% get_full_host %}{{ request.path }}"/>
  <meta property="og:site_name" content="CourtListener"/>
  <meta property="og:image"
        content="{% block og_image %}{% static "png/og-image-300x300.png" %}{% endblock %}"/>
  <meta property="og:image:type" content="{% block og_image_type %}image/png{% endblock %}"/>
  <meta property="twitter:image:alt"
        content="{% block og_image_alt %}The CourtListener logo{% endblock %}"/>
  <meta property="og:image:width" content="{% block og_image_width %}300{% endblock %}"/>
  <meta property="og:image:height" content="{% block og_image_height %}300{% endblock %}"/>
  {% endblock %}

  {% block icons %}
  <link rel="icon" href="{% static "ico/favicon.ico" %}">
  {# Apple Touch Icons, from https://mathiasbynens.be/notes/touch-icons#sizes #}
  <link rel="icon" sizes="192x192"
        href="{% static "png/touch-icon-192x192.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="180x180"
        href="{% static "png/apple-touch-icon-180x180-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="{% static "png/apple-touch-icon-152x152-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{% static "png/apple-touch-icon-144x144-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="{% static "png/apple-touch-icon-120x120-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{% static "png/apple-touch-icon-114x114-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="76x76"
        href="{% static "png/apple-touch-icon-76x76-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{% static "png/apple-touch-icon-72x72-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed"
        href="{% static "png/apple-touch-icon-precomposed.png" %}">
  {% endblock %}

  <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">

  {% block privacy %}
    {% if private %}
      <meta name="robots" content="noindex, noodp, noarchive, noimageindex" />
    {% elif private == None %}
      <!-- This bit of invalid HTML is to give developers a loud warning. -->
      <h1>You did not supply the "private" variable to your template.
          Please indicate if it is True or False to remove this
          awful message.</h1>
    {% endif %}
  {% endblock %}
  <title>{% block title %}CourtListener.com{% endblock %}</title>
  {% block head %}{% endblock %}
  {% block canonical %}{% endblock %}
  {% if DEBUG %}
    <link rel="stylesheet" href="{% static "css/bootstrap/3.3.0/bootstrap.css" %} "
          type="text/css">
  {% else %}
    <link rel="stylesheet" href="{% static "css/bootstrap/3.3.0/bootstrap.min.css" %}"
          type="text/css">
  {% endif %}
  <link rel="stylesheet" href="{% static "css/override.css" %}" type="text/css"
        media="screen, projection">
</head>

<body class="{% block body-classes %}{% endblock %}">
<div class="container round-bottom">
  {% block header %}
  <header class="row">
    <!-- Donate Banner -->
    {% if FUNDRAISING_MODE and not request.COOKIES.no_banner %}
    <div class="navbar navbar-default subnav alert-danger alert-dismissible" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-10">
            <div class="navbar-text lead">
              <p>CourtListener is hosted by Free Law Project, a small non-profit that punches way above its weight. We host some of the largest open legal databases on the planet, but we need your support to do our work. Please make a charitable donation today.
              </p>
              <p>In 2022, Free Law Project served nearly 200 million documents and sent more than 1.3 million alerts to our users. We <a href="https://twitter.com/FreeLawProject/status/1588664445609267200">added</a> millions of opinions to our database and <a href="https://free.law/2022/03/17/summarizing-important-cases/">summarized</a> over a million opinions. We launched <a href="{% url "recap_email_help" %}">@recap.email</a> and <a href="{% url "webhooks_docs" %}">legal webhooks</a>. In a few days, we will add appellate court support to the RECAP extension.</p>
              <p>On the policy side, we <a href="https://ross.house.gov/media/press-releases/president-biden-signs-law-ross-bill-enhance-judicial-ethics-and-transparency">helped</a> pass a law to publish judicial financial disclosures to eliminate conflicts of interest. We <a href="https://twitter.com/FreeLawProject/status/1601011543344152577">opposed</a> unconstitutional efforts to censor our website. We are working with others to develop a FOIA-like law for the judiciary.
              </p>
              <p>To learn more about our accomplishments and our goals for 2023, please read our annual letter. Once you do, we hope you will support our work with a charitable gift. The more you give, the more we can do.
              </p>
              <p>Thank you.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 col-lg-2">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="close"
                        data-cookie-name="no_banner"
                        data-duration="5"
                        aria-label="Close">
                    <span aria-hidden="true"
                          class="x-large">&times;</span></button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="right">
                  <a href="{% url "donate" %}?referrer=navbar-banner#heading"
                     class="btn btn-danger btn-lg v-offset-above-1"><i class="fa fa-heart-o"></i>&nbsp;Donate Now</a>
                  <a href="https://free.law/fundraiser/2022/"
                     target="_blank"
                     class="btn btn-default btn-lg v-offset-above-1">Annual Report</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Broken Email Banner -->
    {% if EMAIL_BAN_REASON %}
      <div class="navbar navbar-default subnav  alert-danger alert-dismissible broken-email-banner" role="navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <p class="navbar-text lead">
                <i class="fa fa-warning"></i>
                {% if EMAIL_BAN_PERMANENT %}
                  We are currently unable to send emails to you. Please update your email address to continue receiving emails.
                {% else %}
                  We are having difficulty sending emails to you, but we're continuing to try. If this problem persists, our servers will automatically stop sending you messages.
                {% endif %}
                </br>
                <a href="{% url 'broken_email_help' %}"
                  class="btn btn-default v-offset-above-1 pull-right">Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs" href="/">
            <img src="{% static "png/logo-large.png" %}"
                 alt="CourtListener logo"
                 width="364"
                 height="40"
                 tabindex="1"/>
          </a>
          <a class="navbar-brand visible-xs-block" href="/">
            <img src="{% static "png/logo-initials-only.png" %}"
                 alt="CourtListener Logo"
                 width="67"
                 height="40"
                 tabindex="1"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          {% block main-nav %}
            {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://free.law/about/" tabindex="200">About</a></li>
                <li><a href="{% url "faq" %}" tabindex="201">FAQ</a></li>
                <li class="dropdown">
                  <a href="#"
                     class="dropdown-toggle"
                     tabindex="202"
                     data-toggle="dropdown">Profile&nbsp;<i class="gray fa fa-user"></i> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url "profile_alerts" %}"
                           tabindex="203"><i class="fa fa-bell-o gray fa-fw"></i>&nbsp;Alerts</a></li>
                    <li><a href="{% url "profile_notes" %}"
                           tabindex="205"><i class="fa fa-bookmark-o gray fa-fw"></i>&nbsp;Notes</a></li>
                    <li><a href="{% url "tag_list" username=user.username %}"
                           tabindex="205"><i class="fa fa-tags gray fa-fw"></i>&nbsp;Tags</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "profile_donations" %}"
                           tabindex="206"><i class="fa fa-money gray fa-fw"></i>&nbsp;Donations</a></li>
                    <li><a href="{% url "view_settings" %}"
                           tabindex="207"><i class="fa fa-user gray fa-fw"></i>&nbsp;Account</a></li>
                    <li><a href="/sign-out/"
                           tabindex="208"><i class="fa fa-sign-out gray fa-fw"></i>&nbsp;Sign out</a></li>
                  </ul>
                </li>
              </ul>
            {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://free.law/about/" tabindex="200">About</a></li>
                <li><a href="{% url "faq" %}" tabindex="201">FAQ</a></li>
                <li class="visible-xs">
                  <a href="{% url "donate" %}?referrer=navbar"
                     tabindex="203">Donate</a>
                </li>
                <li><a href="{% url "sign-in" %}"
                       tabindex="205">Sign in / Register</a></li>
              </ul>
            {% endif %}
          {% endblock %}
        </div><!--/.nav-collapse -->
        <div class="col-sm-12 hidden-xs">
          <p>From <a href="https://free.law">Free Law Project</a><span class="hidden-xs">, a 501(c)(3) non-profit</span>.</p>
        </div>
      </div><!--/.container-fluid -->
    </div><!-- navbar -->

    <!--Secondary navbar -->
    <div class="navbar navbar-default subnav white-background" role="navigation">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li class="dropdown {% block navbar-o %}inactive{% endblock %}"
                id="navbar-o">
              <a href="#"
                 class="dropdown-toggle"
                 tabindex="100"
                 data-toggle="dropdown">Opinions&nbsp;<span
                class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{% url "advanced_o" %}" tabindex="101">Advanced Search</a>
                </li>
                <li>
                  <a href="{% url "citation_homepage" %}"
                     tabindex="102">Citation Look Up</a>
                </li>
                <li>
                  <a href="{% url "mapper_homepage" %}" tabindex="102">Citation Visualizations</a>
                </li>
              </ul>
            </li>
            <li class="{% block navbar-r %}inactive{% endblock %}" id="navbar-r">
              <a href="{% url "advanced_r" %}" tabindex="103">RECAP Archive</a>
            </li>
            <li class="{% block navbar-oa %}inactive{% endblock %}" id="navbar-oa">
              <a href="{% url "advanced_oa" %}" tabindex="104">Oral Arguments</a>
            </li>
            <li class="{% block navbar-p %}inactive{% endblock %}" id="navbar-p">
              <a href="{% url "advanced_p" %}" tabindex="105">Judges</a>
            </li>
              <li class="{% block navbar-fd %}inactive{% endblock %}" id="navbar-fd">
                <a href="{% url "advanced_fd" %}" tabindex="106">Financial Disclosures</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li
              class="{% block navbar-donate %}inactive{% endblock %} hidden-xs">
              <a href="{% url "donate" %}?referrer=navbar-v2"
                 tabindex="109"
                 class="donate"><i class="fa fa-heart-o"></i>&nbsp;Donate</a>
            </li>
          </ul>
        </div>
      </div><!--/.container-fluid -->
    </div>
  </header>
  {% endblock %}

  {% block messages %}
    {% include "includes/messages.html" %}
  {% endblock %}

  <div class="row content">
    {% block sidebar %}
      <div class="col-sm-3" id="sidebar"></div>
    {% endblock %}

    {# for the settings pages #}
    {% block nav %}{% endblock %}

    {% block content %}
      <p>Your content seems to be missing! This is never good.</p>
    {% endblock %}
  </div>

  {% block newsletter %}
    {% if user.is_anonymous or user.is_authenticated and not user.profile.wants_newsletter %}
    <div class="row base-newsletter hidden-print">
      <div class="col-sm-6">
        <p class="bold bottom">Newsletter</p>
        <p>Sign up to receive the Free Law Project newsletter with tips and announcements.</p>
      </div>
      <div class="col-sm-6 right">
        <form action="https://freelawproject.m-pages.com/free-law-project-newsletter"
          method="get" target="_blank" class="form-inline">
          <div class="form-group">
            <input name="EMAIL" class="form-control" id="mce-EMAIL"
                   type="email" placeholder="Email Address"
                   value="{{ user.email|default:"" }}">
          </div>
          <!-- Honey pot -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input name="b_4ea266fe7d0d074abd3f6a2ae_ba547fa86b" tabindex="-1"
                   value="" type="text">
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-newspaper-o"></i>&nbsp;Subscribe</button>
        </form>
      </div>
    </div>
    {% endif %}
  {% endblock %}

  {% block footer %}
  <footer class="row hidden-print">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-6">
          <div class="col-sm-6 no-gutter">
            <div class="footer-item">
              <a href="https://free.law/about/">About</a>
            </div>
            <div class="footer-item">
              <a href="{% url "help_home" %}">Help</a> &amp; <a href="{% url "faq" %}">FAQ</a>
            </div>
            <div class="footer-item">
              <a href="{% url "donate" %}?referrer=footer-link">Donate</a>
            </div>
          </div>

          <div class="col-sm-6 no-gutter">
            <div class="footer-item">
              <a href="{% url "citation_homepage" %}">Citation Lookup</a>
            </div>
            <div class="footer-item">
              <a href="{% url "coverage" %}">Coverage</a>
            </div>
            <div class="footer-item">
              <a href="{% url "api_index" %}">APIs and Bulk Data</a>
            </div>
            <div class="footer-item">
              <a href="{% url "feeds_info" %}">Feeds</a> <span
              class="alt">&amp;</span>
              <a href="{% url "podcasts" %}">Podcasts</a>&nbsp;<i
              class="gray fa fa-podcast inline"></i>
            </div>
            <div class="footer-item">
              <a href="{% url "court_index" %}">Jurisdictions</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="col-sm-6 no-gutter">
            <div class="footer-item">
              <a href="https://free.law">Blog</a> <span
              class="alt">&amp;</span>
              <a href="https://free.law/newsletter/">Newsletter</a>
            </div>
            <div class="footer-item">
              <a href="{% url "contact" %}">Contact</a>
            </div>
            <div class="footer-item">
              <a href="https://free.law/data-consulting/">Data Services</a>
            </div>
            <div class="footer-item">
              <a href="{% url "contribute" %}">Contribute</a>
            </div>
          </div>

          <div class="col-sm-6 no-gutter">
            <div class="footer-item">
              <a href="{% url "terms" %}">Terms &amp; Privacy</a>
            </div>
            <div class="footer-item">
              <a href="{% url "terms" %}#removal">Removal</a>
            </div>
            <div class="footer-item">
              <a href="https://free.law/vulnerability-disclosure-policy/">Vulnerability Policies</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-right" id="donate-image">
      <a href="{% url "donate" %}?referrer=footer-button">
        <img src="{% static "png/donate-button.png" %}"
             alt="Donate to support our work"
             height="75"
             width="227">
      </a>
    </div>
    <div class="col-sm-12" id="by-line">
      <p>CourtListener is sponsored by the non-profit <a
        href="https://free.law">Free Law Project</a>.</p>
    </div>
  </footer>
  {% endblock %}
</div>

{% block social %}
<div class="text-center hidden-print" id="social-container">
  <a href="https://free.law/" class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x gray"></i>
    <i class="fa fa-link fa-stack-1x fa-inverse"></i>
  </a>
  <a href="https://twitter.com/freelawproject"
     rel="noreferrer"
     class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x gray"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </a>
  <a href="https://free.law/newsletter/" class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x gray"></i>
    <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
  </a>
  <a href="https://github.com/freelawproject/courtlistener"
     rel="noreferrer"
     class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x gray"></i>
    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
  </a>
</div>
{% endblock %}

{% if DEBUG %}
<script type="text/javascript"
        src="{% static "js/jquery/jquery-3.4.1.js" %}"></script>
{% else %}
<script type="text/javascript"
        src="{% static "js/jquery/jquery-3.4.1.min.js" %}"></script>
{% endif %}

{% if DEBUG %}
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
{% else %}
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
{% endif %}
<script type="text/javascript" src="{% static "js/base.js" %}"></script>
<script type="text/javascript">
  {# Default values are to ensure JS parsing even if 500 error thrown #}
  var totalDonatedLastYear = parseFloat({{ user.profile.total_donated_last_year|safe|default:0}}),
      userAlertCount = {{ user.docket_alerts.subscriptions.count|default:"0" }},
      priceRtAlerts = parseFloat({{ MIN_DONATION.rt_alerts|default:0 }}),
      maxFreeDocketAlerts = {{ MAX_FREE_DOCKET_ALERTS|default:0 }},
      recapBonusAlerts = {{ DOCKET_ALERT_RECAP_BONUS|default:0 }};

</script>

{# Allows your own scripts in the footer. #}
{% block footer-scripts %}{% endblock %}

{# Record stats for non-superusers 1/10 times to save money #}
{% if not user.is_superuser  %}
  {% random_int 0 9 as rand %}
  {% if rand == 0 %}
    <script
      defer
      data-domain="courtlistener.com"
      src="https://plausible.io/js/plausible.js"></script>
  {% endif %}
{% endif %}

{% if user.is_authenticated and not request.COOKIES.introducing_notes %}
  {% include "includes/introducing_notes_modal.html" %}
  <script>
    $(document).ready(function(){
      $("#modal-introducing-notes").modal();
      let date = new Date();
      date.setTime(date.getTime() + 10 * 24 * 60 * 60 * 1000); //10 days
      let expires = '; expires=' + date.toGMTString();
      document.cookie = 'introducing_notes=true' + expires + '; path=/';
    });
  </script>
{% endif %}
</body>
</html>
