<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/override.css" type="text/css" media="screen, projection">
</head>
<body>
<div class="container" style="background-color: #d3d3d3;">
    <h2 class="alt">Your browser is pretty old.</h2>

    <p>Unfortunately, we've stopped supporting this browser so that we can focus our energy on
        users with a more modern browser. A newer browser is faster, more secure and
        makes the Web more interesting for all of us.</p>

    <p class="bottom">If you continue using this browser, CourtListener may not work well for you and
        you'll continue seeing this warning. Please upgrade Internet Explorer to one of the two latest versions
        or install and use one of the following <strong>FREE</strong> options before you continue:</p>
    <ul>
        <li><a href="http://getfirefox.com" target="_top">Mozilla Firefox</a></li>
        <li><a href="https://www.google.com/chrome" target="_top">Google Chrome</a></li>
    </ul>
</div>
</body>
</html>
