{% extends "profile/nav.html" %}

{% block title %}Alerts - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}

{% block nav-alerts %}active{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="row">
            {% if messages %}
                <div class="com-sm-6">
                    {% for message in messages %}
                        <p class="bottom {{message.tags}}">{{message|safe}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if user.profile.alert.all %}
            <div class="table-responsive">
                <table class="table settings-table">
                    <thead>
                        <tr>
                            <th>Query&nbsp;name</th>
                            <th>Frequency</th>
                            <th>Last&nbsp;hit</th>
                            <th colspan="3">RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alert in alerts %}
                        <tr>
                            <td>
                                <p class="bottom">
                                    {% if alert.type == 'o' %}
                                        <i class="fa-file-text-o fa gray"
                                           title="Opinion Alert"></i>
                                    {% elif alert.type == 'oa' %}
                                        <i class="fa-volume-up fa gray"
                                           title="Oral Argument Alert"></i>
                                    {% endif %}
                                    <a href="/?{{ alert.alertText }}">{{ alert.alertName }}</a>
                                </p>
                            </td>
                            <td>{{ alert.get_alertFrequency_display }}</td>
                            <td>{{ alert.lastHitDate|date:"D, n/j/Y"|default:"Never" }}</td>
                            <td>
                                {% if alert.type == 'o' %}
                                    <a href="/feed/search/?{{ alert.alertText }}"
                                       title="Atom feed for this alert">
                                        <i class="fa fa-rss gray"></i>
                                    </a>
                                {% elif alert.type == 'oa' %}
                                    <a href="/podcast/search/?{{ alert.alertText }}"
                                       title="Podcast for this alert">
                                        <i class="fa fa-rss gray"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td><a href="/?{{ alert.alertText }}&edit_alert={{ alert.pk }}">Edit</a></td>
                            <td><a href="/alert/delete/confirm/{{ alert.pk }}">Delete&hellip;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>You have not made any alerts.</h3>
                    <form action="/" method="get">
                        <button type="submit" class="btn btn-primary">Make New Alert</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
