{% extends "base.html" %}

{% block title %}CourtListener.com / Goodbye{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="span-17 last">
        <h2>We're sorry to see you go</h2>
        <p>Thank you for your time with our site, and goodbye for now. While we
        are concerned with every user that we lose, we do hope you have found
        something else to suit your needs.</p>

        <p>If you haven't had a chance to tell us about your experience, please
        do so at your earliest convenience via our <a href="/contact/">contact
        form</a>. This will allow us to improve the system.</p>

        <p>Goodbye one last time, and fare thee well,</p>
        <p><em>~~The CourtListener Team~~</em></p>
    </div>
{% endblock %}

