{% extends "base.html" %}

{% block title %}Delete Account - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2>You are about to delete your account</h2>
        <h3>This <em>is</em> forever.</h3>
        <p>While we hope that you will have no need to delete your account, we
            understand that it may at times be necessary.</p>

        <p>After you press the button below, your data will be deleted, and
            resurrecting your account will not be possible.</p>

        <form action="" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-primary">I'm sure I want to do this.
                Delete my account now.</button>
        </form>
    </div>
{% endblock %}

