{% extends "base.html" %}

{% block title %}Delete Alert - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h2>You are about to delete this alert</h2>
        <h3>Are you sure you want to do this?</h3>

        <form action="/alert/delete/{{alert_id}}/" method="post" class="inline">{% csrf_token %}
        <button type="submit" class="btn btn-default">Yes, please delete this alert</button></form>&nbsp;&nbsp;
        <form action="/profile/alerts/" method="post" class="inline">{% csrf_token %}
        <button type="submit" class="btn btn-default">No, please take me back to my alerts</button></form>
    </div>
{% endblock %}
