{% extends "profile/nav.html" %}
{% load humanize %}

{% block title %}Donations - CourtListener.com{% endblock %}

{% block search-form %}{% endblock %}

{% block nav-donations %}active{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {% if user.profile.donation.all %}
            <div class="table-responsive">
                <table class="table settings-table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Payment Method</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donation in user.profile.donation.all %}
                        <tr>
                            <td>${{ donation.amount|intcomma }}</td>
                            <td>{{ donation.date_created|date:"n/j/Y" }}</td>
                            <td>{{ donation.get_payment_provider_display }}</td>
                            <td>{{ donation.get_status_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-xs-12 col-sm-9 col-md-10">
                    <h2>Thank You for Your Support</h2>
                    <p>Your support <em>truly</em> makes a difference. If you
                        would like to change a donation or if you have any
                        questions, please get in touch with us at <a
                                href="mailto:donate@freelawproject.org">donate@freelawproject.org</a>.
                        We'd be happy to hear from you.</p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 well">
                    <h4>Total Donations</h4>
                    <p class="bold">This Year: ${{ user.profile.total_donated_last_year|intcomma }}</p>
                    <p class="bold">All Time: ${{ user.profile.total_donated|intcomma }}</p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>Make a Donation to Support the Free Law Project</h3>
                    <p>CourtListener is a part of the <a
                            href="http://freelawproject.org">Free Law
                        Project</a> and is supported in part by people like
                        you. We run a very lean budget and your donations go
                        towards paying our full time developers, server costs
                        and fund raising efforts.</p>
                    <p>To learn more or support our cause, visit <a
                            href="/donate?referrer=profile">our donations
                        page</a>.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
