{% extends "profile/nav.html" %}

{% block title %}CourtListener.com / Profile / Alerts / Edit{% endblock %}

{% block head %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.NobleCount.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#save-favorite-notes-field').NobleCount('#characters-remaining',{
                // set up the char counter
                //on_negative: 'errortext',
                on_negative: function(t_obj, char_area, c_settings, char_rem){
                    $('#characters-remaining').addClass("errortext");
                    $('#saveFavorite').attr('disabled', 'disabled');
                },
                on_positive: function(t_obj, char_area, c_settings, char_rem){
                    $('#characters-remaining').removeClass("errortext");
                    $('#saveFavorite').removeAttr('disabled');
                },
                max_chars: '500'
            });
            $("#save-favorite-delete").click(function() {
                // Send a post that deletes the favorite from the DB, and if successful
                // remove the notes and tags from the sidebar, and toggle the star icon
                // to be blanked out.
                var csrf   = $("input[name=csrfmiddlewaretoken]").val();
                var doc_id = $("input#id_doc_id").val();
                var dataString = 'csrf=' + csrf + '&doc_id=' + doc_id + "&message=True";
                $.ajax({
                    type: "POST",
                    url: "/favorite/delete/",
                    data: dataString,
                    success: function(){
                        window.location = '/profile/favorites/';
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}

{% block nav-favorites %}active{% endblock %}

{% block content %}
    <div class="span-18" id="content">
        {% if form.errors %}
            <div class="span-10 error">
                <p class="bottom">There were errors with your submission.</p>
            </div>
            <div class="span-7 last">&nbsp;</div>
        {% endif %}

        <div class="span-10">
            <h3 class="bottom alt">
                    <a href="{{doc.get_absolute_url}}">
                        {{ doc.citation.caseNameFull }},
                        {% if doc.citation.westCite != '' and doc.citation.westCite != None %}
                            {{doc.citation.westCite}}
                        {% else %}
                            {{doc.citation.docketNumber}}
                        {% endif %}
                        ({% if doc.court.shortName != 'SCOTUS' %}{{doc.court.shortName}}&nbsp;{% endif %}{{doc.dateFiled|date:"Y"}})
                    </a>
                </h3>
                <p class="bottom">
                    <strong>Date Filed:</strong>
                    {% if doc.dateFiled %}
                        {{doc.dateFiled|date:"l, F jS, Y"}}
                    {% else %}
                        Unknown date
                    {% endif %}
                </p>
                <p class="bottom">
                    <strong>Status: </strong>
                    {% if doc.documentType %}
                        {{doc.get_documentType_display}}
                    {% else %}
                        Unknown
                    {% endif %}
                </p>
                <p>
                    {% if doc.citation.westCite != ''  and doc.citation.westCite != None and doc.citation.docketNumber %}
                        <strong>Docket Number: </strong>
                        {{ doc.citation.docketNumber }}
                    {% endif %}
                </p>
            <form action="" method="POST">{% csrf_token %}
                {{ favorite_form.doc_id }}
                <p class="bottom">
                    <label for="id_name">Name</label>
                    {% if favorite_form.name.errors %}
                        <br><span class="errortext">
                            {% for error in favorite_form.name.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </span>
                    {% endif %}<br>
                    {{ favorite_form.name }}
                </p>
                <p class="bottom">
                    <label for="id_favorite_notes">Notes</label>
                    {% if favorite_form.notes.errors %}
                        <br><span class="errortext">
                            {% for error in favorite_form.notes.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </span>
                    {% endif %}<br>
                    {{ favorite_form.notes }}
                    <p class="top right"><span id="characters-remaining"></span> characters remaining</p>
                </p>

                <button type="submit" class="button title save-favorite-button" name="saveFavorite" id="saveFavorite" tabindex='3'>
                    Save favorite
                </button>
                <p id="save-favorite-delete" class="bottom fake-link inline" tabindex="4">Delete this favorite</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

