{% extends "profile/nav.html" %}

{% block title %}Password Update - CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}

{% block nav-password %}active{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {% if form.errors %}
                <div class="bg-danger">
                    <p class="bottom">There were errors with your submission.</p>
                </div>
        {% endif %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p class="bottom {{message.tags}}">{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="col-sm-12">
        <form action="" method="post">{% csrf_token %}
            <p>
                <label for="id_old_password">Current password</label>
                {% if form.old_password.errors %}
                    <span class="errortext">
                        <br>{% for error in form.old_password.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.old_password }}
            </p>


            <p>
                <label for="id_new_password1">New password</label>
                {% if form.new_password1.errors %}
                    <span class="errortext">
                        <br>{% for error in form.new_password1.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.new_password1 }}
            </p>


            <p>
                <label for="id_new_password2">Verify new password</label>
                {% if form.new_password2.errors %}
                    <span class="errortext">
                        <br>{% for error in form.new_password2.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.new_password2 }}
            </p>
          <button type="submit" class="button">Change</button>
        </form>
    </div>
{% endblock %}
