{% extends "base.html" %}

{% block title %} CourtListener.com / Settings / Password {% endblock %}

{% block content %}
    <div class="span-24 last">
        <h2>Profile / Password</h2>
        <div class="span-8 box round header">
            <h3 class="bottom">
                <a href="/profile/settings/">Account</a>&nbsp;&nbsp;&nbsp;
                <a href="/profile/alerts/">Alerts</a>&nbsp;&nbsp;&nbsp;
                <a href="/profile/favorites/">Favorites</a>&nbsp;&nbsp;&nbsp;
                <a href="/profile/password/change"><strong>Password</strong></a>
            </h3>
        </div>

        <div class="span-24 last" id="content">
            {% if form.errors %}
                    <div class="span-10 error">
                        <p class="bottom">There were errors with your submission.</p>
                    </div>
                    <div class="span-14 last">&nbsp;</div>
            {% endif %}
            {% if messages %}
                <div class="span-10">
                    {% for message in messages %}
                        <p class="bottom {{message.tags}}">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="span-14 last">&nbsp;</div>
            {% endif %}
        </div>

    <div class="span-24 last">
        <form action="" method="post">{% csrf_token %}
            <p>
                <label for="id_old_password">Current password</label>
                {% if form.old_password.errors %}
                    <span class="errortext">
                        <br>{% for error in form.old_password.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.old_password }}
            </p>


            <p>
                <label for="id_new_password1">New password</label>
                {% if form.new_password1.errors %}
                    <span class="errortext">
                        <br>{% for error in form.new_password1.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.new_password1 }}
            </p>


            <p>
                <label for="id_new_password2">Verify new password</label>
                {% if form.new_password2.errors %}
                    <span class="errortext">
                        <br>{% for error in form.new_password2.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.new_password2 }}
            </p>
          <button type="submit" class="button">Change</button>
        </form>
    </div>
    </div>
{% endblock %}
