{% extends "base.html" %}

{% block title %}CourtListener.com / Register{% endblock %}

{% block head %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
		    $('.auto-focus:first').focus();
	    });
     </script>
{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        <h2>Register a new account</h2>
        {% if form.errors %}
            <div class="span-18">
                <div class="span-10 error">
                    <p class="bottom">There were errors with your submission.</p>
                </div>
                <div class="span-7 last">&nbsp;</div>
            </div>
        {% endif %}

        <form action="" method="post">{% csrf_token %}
            <p>
                <label for="id_username">Username*</label>
                {% if form.username.errors %}
                    <br><span class="errortext">
                        {% for error in form.username.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                <input id="id_username" type="text" name="username" maxlength="30" class="auto-focus">
            </p>
            <p>
                <label for="id_email">Email address*</label>
                {% if form.email.errors %}
                    <br><span class="errortext">
                        {% for error in form.email.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.email }}
            </p>
            <p>
                <label for="id_password1">Enter password*</label>
                {% if form.password1.errors %}
                    <br><span class="errortext">
                        {% for error in form.password1.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.password1 }}
            </p>
            <p>
                <label for="id_password2">Re-enter password*</label>
                {% if form.password2.errors %}
                    <br><span class="errortext">
                        {% for error in form.password2.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.password2 }}
            </p>
            <p>
                <label for="id_first_name">First name</label>
                {% if form.first_name.errors %}
                    <br><span class="errortext">
                        {% for error in form.first_name.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.first_name }}
            </p>
            <p>
                <label for="id_last_name">Last name</label>
                {% if form.last_name.errors %}
                    <br><span class="errortext">
                        {% for error in form.last_name.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.last_name }}
            </p>
            <button type="submit" class="button" name="register">Register</button>
            <p><a href="/reset-password/">Forgot username/password?</a></p>
        </form>
    </div>
{% endblock %}
