{% extends "base.html" %}

{% block title %}CourtListener.com / Register{% endblock %}

{% block content %}
    <div class="span-18 colborder">
        <h2>Register for a new account</h2>
        {% if form.errors %}
            <div class="span-18">
                <div class="span-10 error">
                    <p class="bottom">There were errors with your submission.</p>
                </div>
                <div class="span-7 last">&nbsp;</div>
            </div>
        {% endif %}
        
        <form action"" method="post">{% csrf_token %}
            <p>
                <label for="id_username">Username</label>
                {% if form.username.errors %}
                    <br><span class="errortext">
                        {% for error in form.username.errors %}
                            {{ error|escape }}  
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.username }}
            </p>
            
            <p>
                <label for="id_password1">Enter password:</label>
                {% if form.password1.errors %}
                    <br><span class="errortext">
                        {% for error in form.password1.errors %}
                            {{ error|escape }}  
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.password1 }}
            </p>
            
            <p>
                <label for="id_password2">Re-enter password</label>
                {% if form.password2.errors %}
                    <br><span class="errortext">
                        {% for error in form.password2.errors %}
                            {{ error|escape }}  
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ form.password2 }}
            </p>
            <button type="submit" class="button">Register</button>
        </form>
    </div>
{% endblock %}
