{% extends "profile/nav.html" %}

{% block title %}Account Settings - CourtListener.com{% endblock %}
{% block search-form %}{% endblock %}

{% block nav-account %}active{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {# if their email address was just changed, tell them.#}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p class="bottom {{message.tags}}">{{message|safe}}</p>
                {% endfor %}
            </div>
        {% endif %}


        {% if user_form.errors or profile_form.errors %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="bottom error">There were errors with your submission.</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-xs-12">
        <form action="" method="post">{% csrf_token %}
            <div class="row">
                <p class="col-sm-6">
                    <label for="id_first_name">First Name</label>
                    {% if user_form.first_name.errors %}
                        <span class="errortext">
                        {% for error in user_form.first_name.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                    {% endif %}<br>
                    {{ user_form.first_name }}
                </p>
                <p class="col-sm-6">
                    <label for="id_last_name">Last Name</label>
                    {% if user_form.last_name.errors %}
                        <span class="errortext">
                        {% for error in user_form.last_name.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                    {% endif %}<br>
                    {{ user_form.last_name }}
                </p>
            </div>
            <p>
                <label for="id_email">Email*</label>
                {% if user_form.email.errors %}
                    <span class="errortext">
                        {% for error in user_form.email.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ user_form.email }}
                {% if not request.user.profile.email_confirmed %}
                    <a href="/email-confirmation/request/">
                        <img src="/static/png/exclamation.png"
                             width="16"
                             height="16"
                             title="Your email address is not confirmed."
                             alt="Your email address is not confirmed."
                             id="unconfirmed-email-warning"/>
                    </a>
                {% endif %}
            </p>
            <p>
                <label for="id_employer">Employer</label>
                {% if profile_form.employer.errors %}
                    <span class="errortext">
                        {% for error in profile_form.employer.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ profile_form.employer }}
            </p>
            <p>
                <label for="id_barmembership">Bar Memberships (hold control to select more than one)</label>
                {% if profile_form.barmembership.errors %}
                    <span class="errortext">
                        {% for error in profile_form.barmembership.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ profile_form.barmembership }}
            </p>
            <p>
                <label for="id_address1">Mailing Address 1</label>
                {% if profile_form.address1.errors %}
                    <span class="errortext">
                            {% for error in profile_form.address1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </span>
                {% endif %}<br>
                {{ profile_form.address1 }}
            </p>
            <p>
                <label for="id_address2">Mailing Address 2</label>
                {% if profile_form.address1.errors %}
                    <span class="errortext">
                        {% for error in profile_form.address2.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ profile_form.address2 }}
            </p>
            <p>
                <label for="id_city">City</label>
                {% if profile_form.city.errors %}
                    <span class="errortext">
                        {% for error in profile_form.city.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}<br>
                {{ profile_form.city }}
            </p>
            <div class="row">
                <p class="col-sm-7 bottom">
                    <label for="id_state">State</label>
                    {% if profile_form.state.errors %}
                        <span class="errortext">
                            {% for error in profile_form.state.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </span>
                    {% endif %}<br>
                    {{ profile_form.state }}
                </p>
                <p class="col-sm-5 bottom">
                    <label for="id_zip_code">Zip</label>
                    {% if profile_form.zip_code.errors %}
                        <span class="errortext">
                            {% for error in profile_form.zip_code.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </span>
                    {% endif %}<br>
                    {{ profile_form.zip_code }}
                </p>
            </div>
            <p class="">
                {{ profile_form.plaintext_preferred }}
                <label for="id_plaintext_preferred">I prefer plain text emails</label>
                {% if profile_form.plaintext_preferred.errors %}
                    <span class="errortext">
                        {% for error in profile_form.plaintext_preferred.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}

            </p>
            <p class="">
                {{ profile_form.wants_newsletter }}
                <label for="id_wants_newsletter">Send me the monthly newsletter</label>
                {% if profile_form.wants_newsletter.errors %}
                    <span class="errortext">
                        {% for error in profile_form.wants_newsletter.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </span>
                {% endif %}
            </p>
            <input type="hidden" value="{{user.username}}" name="user" id="id_user">
            <button type="submit" class="button">Save</button>
            <a href="/profile/delete">Delete my account</a> {# part of the form so that it lines up nicely. #}
        </form>


    </div>
{% endblock %}
